[2013-07-03 22:03] #2140 closed, assigned to nobody

[2013-07-05 13:53] ChrisOelmueller opened #2141 "More readable markup for InventoryOverlayComponent overlays"
This would need a new subtype of action sets, so that the directories specifying resource amount (01..05, 01..12) are not interpreted as rotation by our loaders.
Overall it should reduce noise greatly for the yaml files.
Drawbacks: More complex loader code, changing game data requires moving (binary) image files, implicit `null` overlay for amount 0.

Desired:

[code]

with

[code]

Right now:

[c

[2013-07-06 13:29] stubb opened #2142 "Enable Mipmapping and TextureFiltering"
To enable both features of FIFE (master HEAD required) simply add this settings.

[code]

It has to be figured out what the best way to handle the problems with the ground tiles.

http://s1.directupload.net/images/130705/khoc5255.png

[2013-07-06 17:27] rzetterberg opened #2143 "2013.2 crash after choosing random map with "Caught a director exception" in fife.py (Windows 7 Ultimate)"
# Specs
- OS: Windows 7 Ultimate 64-bit
- Ram: 6 GB
- Processor: Intel i5 760
# Steps to reproduce crash
- Download latest version from site (2013.2 as of today 2013-07-06)
- Install
- Start game
- Press "one player"
- Choose random map
# Resources for debugging
## Log file

[code]
## Settings file

[code]

[2013-07-06 20:07] rzetterberg opened #2144 "Unicode error in logging when using "System default" language and the language contains non-ASCII characters"
# Specs
- OS: Windows 7 Ultimate 64-bit
- Ram: 6 GB
- Processor: Intel i5 760
# Description

A UnicodeEncodeError is raised in [producer.py](https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/world/production/producer.py#L409). This happened to me after a fresh install. I did not crash the game it just spewed out the exception in the debug console. It did not show up in the

[2013-07-07 12:20] #2144 closed, assigned to nobody

[2013-07-08 18:20] SpamapS opened #2145 "Assertion error with latest snapshot"
[code]

[code]

[2013-07-12 19:36] #1382 closed, assigned to nobody

[2013-07-24 22:13] ChrisOelmueller opened #2146 "`Enter your message here` in MP lobby chat input field not disappearing on click"
It used to and is supposed to.

[2013-08-02 10:36] #1898 closed, assigned to nobody

[2013-08-02 10:48] #1954 closed, assigned to nobody

[2013-08-02 10:50] #2137 closed, assigned to nobody

[2013-08-06 09:55] #1945 closed, assigned to nobody

[2013-08-06 14:03] stubb opened #2147 "Autoupgrading savegame from 71 -> 72 fails"
[code]

savegame: http://up.unknown-horizons.org/f/?id=514&n=quicksave-1372770673.3174--2013-07-02--15-11.sqlite

[2013-08-13 18:25] #2147 closed, assigned to nobody

[2013-08-13 18:55] #2085 closed, assigned to nobody

[2013-08-13 22:02] stubb opened #2148 "Automatically update Authors from git"
Provide a possibility to update the authors file with all new contributors from the git history.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205795-automatically-update-authors-from-git?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2013-08-14 12:12] #2145 closed, assigned to nobody

[2013-08-17 14:01] #2050 closed, assigned to nobody

[2013-08-17 19:33] ChrisOelmueller opened #2149 "server.py name ambiguity"
Rename one of `server.py` and `horizons/server/server.py`, as this causes confusion pretty frequently when talking about "running server.py".

Would `run_server.py` work for the file in our main directory? We already have `run_uh` and `run_tests` as well as a shell script `run_gui_tests`.

In related news, the main server.py should probably not be stripped from our windows installer as happens cur

[2013-08-18 15:30] #2149 closed, assigned to nobody

[2013-08-19 11:39] stubb opened #2150 "Jenkins windows build slave"
Set up a build slave for jenkins generating windows builds.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205756-jenkins-windows-build-slave?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tra

[2013-08-20 22:36] ChrisOelmueller opened #2151 "MP save/load broken"
Disabled for now.

Removed in 115e5746f3e0cd67cdc76e4a6a3caee8712ffab3 and not added back in yet.

[2013-08-20 22:40] ChrisOelmueller opened #2152 "Creator leaves game in mp lobby, other players' client crashes"
Player A started a game for 4 players, player B joined, then A aborted the game and B obtained this:

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205723-creator-leaves-game-in-mp-lobby-other-players-client-crashes?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via

[2013-08-20 23:03] stubb opened #2153 "Add confirmation pop up for destroy/kill with Delete-Key"
When you click on a ship and hit Delete-Key you destroyed it without any second interaction. Since destroying with the destroy mousetool needs 2 interactions too, we should add a confirmation pop up for the destroy action.

Tested in MP

[2013-08-20 23:22] stubb opened #2154 "Only the host of a game should controll pause and game speed"
IN a multiplayer game it should be only possible for the host of the game to alter the game speed settings and pause/unpause a game.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205669-only-the-host-of-a-game-should-controll-pause-and-game-speed?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=gith

[2013-08-30 13:52] ChayaninSuatap opened #2155 "logbook bugs"
if reopen logbook in tutorial map and press "return to game" button game will exit instantly

[2013-08-30 22:34] stubb opened #2156 "Numpad keys doesnt work ingame"
If you set up Numpad keys for actions in the hotkey configuration they don't work ingame. Restarting UH doesn't help, so it looks like the keys aren't recognized.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205641-numpad-keys-doesnt-work-ingame?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)*

[2013-09-12 01:58] deadman1978 opened #2157 "Game crashes - debug info included"
Have a problem with game crashing after playing for about 5 - 10 minutes

I'm running Windows 7 Home, 2013.2, 1280x768 res, and running debug.

-- LOG --

[code]

-- END LOG --

[2013-09-19 12:43] stubb opened #2158 "Make debug starter default for windows"
Since we got a lot of crash reports from windows users without a way to reproduce or a backtrace, we should consider making the debugstarter the default one.

[2013-09-27 19:11] #2105 closed, assigned to nobody

[2013-09-27 19:12] #2089 closed, assigned to nobody

[2013-09-27 21:43] #2146 closed, assigned to nobody

[2013-10-01 02:35] ChrisOelmueller opened #2159 "Make default textfield text disappear when clicked into"
- MP game name field (default: Unnamed game)
- player name widgets in both SP/MP menu (default: Unnamed Traveler)
#2146

[2013-10-01 02:40] #2155 closed, assigned to nobody

[2013-10-02 15:14] #1791 closed, assigned to hoffi

[2013-10-02 15:31] ChrisOelmueller opened #2160 "FIFE API changes"
- fee9fcf
- 80df4f1

[2013-10-02 15:31] #2160 closed, assigned to nobody

[2013-10-02 15:33] #1630 closed, assigned to nobody

[2013-10-02 15:44] ChrisOelmueller opened #2161 "Layout consistency"
- 4d12523  Reposition ai player widget in singleplayer menu
- fc72a25 Make sure loading menu also conforms to the navigational standard
- de85f69 More button rework
- 3ed1cfe Fix singleplayer menu buttons to be properly positioned
- e22cd40 Make initial text in chat box disappear on click and be translated. Also fix some button positi
- e4e40dc Move around some buttons in the multiplayer menu for

[2013-10-02 15:44] #2161 closed, assigned to nobody

[2013-10-03 14:30] #1996 closed, assigned to nobody

[2013-10-06 05:08] ChrisOelmueller opened #2162 "Random map preview: Minimap crash after error"
- Play around in SP menu (switch between game modes)
- Repeat until random map preview gets stuck, displays 'unknown error'
- Click on radio button of any game mode again

[code]

[2013-10-06 05:10] #2162 closed, assigned to ChrisOelmueller

[2013-10-06 18:21] stubb opened #2163 "Switching from fullscreen to desktop doesn't release cursor"
Steps to reproduce:
- Start UH in fullscreenmode on windows (tested with Windows 7)
- Press Windows-key to get back to the desktop

Now the cursor is pinned to the upper left corner and not moveable anymore.

That only works with UH not with the fifengine demos.

[2013-10-06 20:25] Ragwortshire opened #2164 "Crash when loading saved game"
I'm running Windows 7 on an Intel i3 M350 processor. I downloaded the latest source code (the version displays as accdf39) for Unknown Horizons from git, and the game ran successfully for me. (However, I wasn't able to build FIFE and so had to just download the 0.3.5 release from the FIFE website.)

I played the tutorial for a bit and then saved and exited. However when I tried to load my saved ga

[2013-10-07 22:13] #2164 closed, assigned to ChrisOelmueller

[2013-10-09 20:12] ChrisOelmueller opened #2165 "Selected instance(s) re-selected after loading savegame, but no tabs open"
- Start or load a game
- Select a ship or building
- Press F5 to quicksave
- Press F9 to quickload

Expected:
- ship or building selected, tabwidget open with same tab as selected before

Actual result:
- selection effect is visible, but no tab shows up (either single instance tab with correct index, or multiselection tab)

[2013-10-11 01:28] ChrisOelmueller opened #2168 "libpng 1.6 warnings"
| when/where | what |
| --- | --- |
| Creating main screen | OpenGLVideomode 1366x768 |

"known incorrect sRGB profile" reads:
`libpng warning: iCCP: known incorrect sRGB profile`

"Interlace handling" reads:
`libpng warning: iCCP: Interlace handling should be turned on when using png_read_image`

Main menu mystery warning turned out to be the window icon that is loaded very early by FIFE.

[2013-10-11 01:33] ChrisOelmueller opened #2169 "Settlement production overview overflow"
With large settlements, the space provided there is not enough.
Should either be scrollable, or find a better way of representing the information.

![show me](https://f.cloud.github.com/assets/373440/1311664/611a90a4-3215-11e3-9e81-765fb095e434.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205559-settlement-production-overvie

[2013-10-11 23:49] #2165 closed, assigned to ChrisOelmueller

[2013-10-14 00:29] #2168 closed, assigned to ChrisOelmueller

[2013-10-16 10:46] ChrisOelmueller opened #2175 "Tabwidget refactoring that actually exists"
Things from ~That PR~ we finally merged:

b9c4ad8 Unify interface for normal and lazy loading of tab widgets
98c5b24 Specify widget,helptext,iconpath of tabs on class itself
9e71529 Remove WarehouseOverviewTabs from warehouse, storage
afcddea Add collector utilization to tab_account

[2013-10-16 10:46] #2175 closed, assigned to nobody

[2013-10-16 10:49] ChrisOelmueller opened #2176 "Inconsistencies between build menu types"
As seen in e.g. f743e07 the (currently two) different build menu definitions go out of sync rather quickly.
There's no test to check that all available buildings are enabled for each type (either in-code or as actual test in our test suite).

Note that "available building" currently defines as "is active in the per_tier buildmenu".
## <bountysource-plugin>

Want to back this issue? **[Post a bount

[2013-10-19 08:54] phaidon opened #2178 "close_d.png and ok_d.png missing"
The following error is shown in the debug mode. The files are really missing. I could not found them in the whole project.

VFS:DEBUG:Opening: content/gui/images/buttons/close_d.png
VFS:WARN:no source for content/gui/images/buttons/close_d.png found
Exception:ERROR:_[NotFound]_ , Something was searched, but not found :: content/gui/images/buttons/close_d.png
VFS:DEBUG:Opening: content/gui/images/b

[2013-10-19 14:26] #2178 closed, assigned to ChrisOelmueller

[2013-10-19 18:02] stubb opened #2179 "Render ship models"
Here is a list of models we could add to Unknown Horizons. Which ships we want to add has to be discussed. The task afterwards is rendering them.
-  [Blendswap: Cog](http://www.blendswap.com/blends/view/44725) Doesn't fit due to historical issues, was used in the 13th century
-  [Blendswap: Holk](http://www.blendswap.com/blends/view/59571) Doesn't fit due to historical issues, was used in the 13th

[2013-10-22 10:19] stubb opened #2180 "Autosave intervall doesn't work correctly"
Set autosave intervall to 1 minute and wait around ~ 3minutes till automatic saving happens.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205489-autosave-intervall-doesn-t-work-correctly?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bo

[2013-10-22 10:23] stubb opened #2181 "Improve savegame file names"
Instead of `quicksave-1372773345.0222--2013-07-02--15-55.sqlite`
where we have date + time two times in the filename, we should consider only use the human readable format, take into account that needs to be extended with seconds and tenths of seconds or milliseconds. So in the end we have something like `quicksave-2013-07-02--15-55-30-123.sqlite`.

That change should be done for quick- and autosa

[2013-10-23 15:41] ChrisOelmueller opened #2184 "New content/packages/ directory"
ad1ac180e2e0e6ac710c77dd3171b76658b83cab Win installer bmp images
adcb5f4cb413657db89d2c8f674de359d4087518 gitversion.txt
b4617c7ef23f5a0c335666684ee401f23e4c58ef desktop.in
4905c000784c99371e554c8d33a6a5721a9aa7ac uh.ico
4dcfc51d11bc92536e21692dca9afe19f468163d unknown-horizons.xpm (pixmap)
acf94c67408ff276d2985ecd719fddf3c396e2c2 unknown-horizons.6 (manpage)

[2013-10-23 15:41] #2184 closed, assigned to nobody

[2013-10-23 15:44] ChrisOelmueller opened #2185 "Preselect player ship when starting game"
f1284ab Preselect player ship on game start, move it into selection group 1 automatically. This means that hitting `1` key selects your ship and centers the camera on it as well.
db112e4 Fix some gui tests to accept preselected ships on game start

[2013-10-23 15:44] #2185 closed, assigned to ChrisOelmueller

[2013-10-27 11:51] #2181 closed, assigned to stubb

[2013-10-30 21:38] #2139 closed, assigned to nihathrael

[2013-10-30 23:20] #1877 closed, assigned to nobody

[2013-11-02 00:38] RobinBruegger opened #2188 "position_tooltip() gets called way too often"
`position_tooltip()` in tooltip.py get's called every time a `mouseMoved` event is triggered while the mouse is over a widget, even if this particular widget doesn't feature a tooltip.
If multiple widgets overlap, `position_tooltip()` is called for every of these widgets. Even mouse movement on the main menu background will trigger a position_tooltip call for every mouse movement.
There are litera

[2013-11-03 15:46] #2163 closed, assigned to nobody

[2013-11-05 00:07] #870 closed, assigned to nobody

[2013-11-05 19:51] #2158 closed, assigned to nihathrael

[2013-11-05 20:01] #1839 closed, assigned to nihathrael

[2013-11-05 20:30] #1824 closed, assigned to nihathrael

[2013-11-06 18:12] ChrisOelmueller opened #2190 "Reschedule residential check for main square in range"
Right now, this check only happens once (one month after building the tent).
It could be beneficial to reschedule [`_check_main_square_in_range`](../blob/master/horizons/world/building/settler.py#L359) either on a regular basis (performance?) or e.g. whenever a main square is destroyed in the settlement.

[2013-11-09 23:44] #1387 closed, assigned to nihathrael

[2013-11-11 23:31] ChrisOelmueller opened #2191 "'click to rename' tooltip stays visible with cityinfo hidden"
From `CityInfo.set_settlement`:

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1205404-click-to-rename-tooltip-stays-visible-with-cityinfo-hidden?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&u

[2013-11-12 14:38] ondrejkajinek opened #2192 "ImportError: No module named options when building from git code (20131112)"
After building UH from git source (commit 88d051df5fecf1591238cd85cb9d42620ce9b637), UH does not start with "ImportError: No module named options". The file options.py is not copied to any UH's directory.

Built with paludis-1.4.2 (Gentoo Linux package manager), full build-log is pasted at http://sebsauvage.net/paste/?c2e709960be0148c#C8+Rq5YnjnikqaLplC51IHA7+10kHOivM4OcTNFuSzs=

[2013-11-12 14:40] #2192 closed, assigned to ChrisOelmueller

[2013-11-14 03:50] ChrisOelmueller opened #2193 "Game crash when selecting random map"
[reported by **grimsonjr**] (http://forum.unknown-horizons.org/viewtopic.php?t=7218)

Hi!
My game crashes when just selecting the "generate random map" option in the single player menu.

[code]

Seems to have something to do with the "generate preview" function, but I don't know.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/120538

[2013-11-14 09:46] #1914 closed, assigned to ChrisOelmueller

[2013-11-14 21:49] ChrisOelmueller opened #2194 "Wrong ship preselected on game start"
- Singleplayer menu
- Change player color to anything **not red**
- Click "random map"
- Select 1 AI
- Start game (hit Enter)

Expected: player ship is selected and in selection group 1
Actual: AI1 ship is selected, selection group 1 empty

[2013-11-14 21:50] #2194 closed, assigned to ChrisOelmueller

[2013-11-15 18:50] ChrisOelmueller opened #2196 "Missing `python-brace-format` for xml-extracted strings"
With the introduction of dynamic hotkeys in tooltips (#2189) `gui/translations.py` now holds lines like this one:

[code]

and `{key}` is then substituted on runtime through `str.format()`.
This means that all translations must contain `{key}` as well (i.e. untranslated) which is not very obvious if you just edit the .po file or submit a string in Weblate.
Because of that, `.po` files support cert

[2013-11-17 00:15] stubb opened #2197 "Crash while updating settings file from 32 -> 35"
Update from Fife 0.3.4 and Unknown Horizons 2013.1b to Fifes and Unknown Horizons current master head results in a crash. Its probably related to this API change within Fife https://github.com/fifengine/fifengine/issues/819.

[code]

That is the used settingsfile, generated with Fife 0.3.4 and UH 2013.1b

[code]

[2013-11-17 00:17] #2197 closed, assigned to ChrisOelmueller

[2013-11-17 23:15] stubb opened #2198 "Game getting out of sync, caused by ship position"
The position of one ship is different by 1 point (124, 113) and (124, 112).

[code]

Possible way to reproduce:
- build ship (frigate)
- move it

[2013-11-18 11:50] woox2k opened #2199 "Add ability to manually place resources onto map in editor"
Title says pretty much everything, it would open up many new possibilities when designing a map.
Just to be clear i meant resources like forest, fish etc.

[2013-11-18 11:54] woox2k opened #2200 "Bigger brush sizes in editor"
Add bigger brush sizes into editor, it would make map making a lot easier.

[2013-11-20 20:02] ChrisOelmueller opened #2203 "Editor crash with largest brush size on map edge"
This was initially reported by @woox2k and probably caused by #2200.

[code]

[2013-11-20 21:51] #2196 closed, assigned to ChrisOelmueller

[2013-11-23 22:40] ChrisOelmueller opened #2204 "Blog post: Development summary October/November/December"
## Development summary: October/November/December
### Fertility / climate zones
- pics
### Trees and mountains

@DanielStephens
### Icons in build menu tooltips
- pics
### OS X App container

maybe new bundle sometime this/next year
### Macports

https://trac.macports.org/browser/trunk/dports/games/fife/Portfile
### Behind the scenes
- tabwidget refactoring
- libpng warnings
- auto/quicksave filen

[2013-11-26 09:21] ChrisOelmueller opened #2205 "Update AUTHORS.md to include translators from Weblate"
As briefly mentioned in #1996: Right now we're not sync'ing any data and AUTHORS is out of date by quite a bit.
Weblate itself does push changes with correct author information and separated by commits for each file.

Brief outline of what's required of an eventual script or scriptlet:
- for all commits to translation files
- that happened after the last author update
- output new contributors (in

[2013-11-27 10:43] #2205 closed, assigned to ChrisOelmueller

[2013-11-30 02:14] ChrisOelmueller opened #2206 "Pavilion produces coins"
Build one, click on it, marvel.

[2013-11-30 03:32] vgezer opened #2208 "Packaging for Ubuntu?"
I would like to ask you if you plan to package 2013.3 for Ubuntu? We are still using 2013.2 from Launchpad.

Thanks.

[2013-11-30 05:58] ChrisOelmueller opened #2209 "CC 4.0"
Doing anything with that?

[What’s New in 4.0](http://creativecommons.org/Version4)
[Release announcement](http://creativecommons.org/weblog/entry/40768)

[2013-11-30 13:25] ChrisOelmueller opened #2210 "Decommissioned buildings in savegame show wrong status icon after loading"
Reported by **Nexar** on IRC.

When loading a savegame, decomissioned buildings are reporting low productivity with exclamation marks instead of the "Zzz" status icon.

![see](http://i.imgur.com/rridQyK.jpg)

[2013-11-30 15:20] acini opened #2211 "Game resumes after entering dialogs spawned by game menu"
When I open game menu using "Esc" key, the game sets speed to 0x. But when I enter following dialog boxes, it resumes:
Save game
Load game
Settings
Cancel game

It does not resume when spawning help dialog.

Game should only resume after clicking "Return to game".

[2013-11-30 17:17] acini opened #2212 "Cannot scroll because menus are at screen edge"
These menus have borders exactly at edge of screen making it impossible to scroll using mouse. There should be gap of at least 1 pixel between:

round widget and top edge of screen
build menu and right edge of screen
![image](https://f.cloud.github.com/assets/6072881/1649125/2f05a324-59e3-11e3-88ed-82ed7c536eca.png)

[2013-12-01 14:46] acini opened #2213 "Crashed - here's log"
I think it crashes as soon as enemy ship creates a settlement. Here's log from the crash:

[code]

http://up.unknown-horizons.org/f/?id=564&n=unknown-horizons-2013-12-01_20-07-34.tar.gz

[2013-12-01 18:35] acini opened #2214 "Main square overlaps houses around it"
Bottom row of houses appears "eaten up"

![image](https://f.cloud.github.com/assets/6072881/1650944/4d5a4c6a-5ab7-11e3-95f0-8635ed2d48bb.png)
![image](https://f.cloud.github.com/assets/6072881/1650961/e5eaf0aa-5ab8-11e3-81c4-03fcd8aeb127.png)

[2013-12-01 19:16] acini opened #2215 "Reloading autosaved game blunder"
The game options were set to no pirates and no disasters. The game that was loaded from autosave showed black death icons on some buildings and some buildings downgraded.
![image](https://f.cloud.github.com/assets/6072881/1651026/019255f6-5abd-11e3-9e96-a2d0e077bacd.png)

[2013-12-01 19:53] acini opened #2216 "Suggestion: Save complete map as JPG"
This feature was there in Age of Empires II. You could save 2-3 different zoom resolutions using function keys. It saved everything on current map including terrain, player buildings and units like a screenshot but a large image file of whole map.

Just an enhancement.

[2013-12-02 01:13] #2214 closed, assigned to nobody

[2013-12-03 16:03] #2212 closed, assigned to nobody

[2013-12-04 12:25] acini opened #2217 "Fishing boats remain on coast after destroying fishing tents."
Create a fishing tent, delete it after you see a fishing boat. The fishing boat remains.

![snapshot13](https://f.cloud.github.com/assets/6072881/1673011/bd0eb1f8-5cde-11e3-825a-0aad8f525e53.png)
![snapshot14](https://f.cloud.github.com/assets/6072881/1673012/bfde9d80-5cde-11e3-869a-34ccd445580d.png)

[2013-12-04 12:39] acini opened #2218 "Misplaced 'X' on ship's trade menu."
When first 2/3 slots are filled up and 120t limit is reached, it shows compressed 'X' images in slot area.

The 'X's should be proportionally placed in remaining slots without "compressed" appearance.

![snapshot15](https://f.cloud.github.com/assets/6072881/1673069/0f0b915a-5ce0-11e3-98ba-e22f8d114d6e.png)
![snapshot11](https://f.cloud.github.com/assets/6072881/1673070/0f264d88-5ce0-11e3-9ac4-4496

[2013-12-04 13:09] acini opened #2219 "Route menu is messy"
![snapshot6](https://f.cloud.github.com/assets/6072881/1673224/9a9fba68-5ce3-11e3-86fe-64f6804ad691.png)
![snapshot12](https://f.cloud.github.com/assets/6072881/1673238/f2c56314-5ce3-11e3-8c64-cae831a53dac.png)
The route menu is not ergonomic.
1. The load/unload toggle button is confusing. It switches between 3 different states: 2 toggle states and 1 hover state. It could simply be 2 toggle states

[2013-12-04 13:23] acini opened #2220 "Keyboard shortcuts for build menu"
Build menu should have keyboard shortcuts.

For example, in sailor's view, following sequence will give user salt pond blueprint at mouse pointer:

b : 3 : 5

b: open build menu
3: switches to level 3 of build menu
5: gets item number 5 (salt pond)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2969475-keyboard-shortcuts-for-build-me

[2013-12-05 23:32] #2208 closed, assigned to siccegge

[2013-12-06 17:06] s2327259 opened #2221 "Crash when loading savegame"
As title. Game version is 2013.3
1. Execute the game.
2. Click on "Load game" icon.
3. Crash without any message or pop-up window.

System environment:

[code]

Here's the log:

[code]

[2013-12-09 01:14] #2218 closed, assigned to stubb

[2013-12-09 01:29] #2143 closed, assigned to nobody

[2013-12-09 15:38] #2217 closed, assigned to stubb

[2013-12-09 22:52] #2221 closed, assigned to stubb

[2013-12-11 15:07] ChrisOelmueller opened #2222 "Show number of affected houses in overview tabs of fire station/doctor"
Right now the doctor shows a confusing production line, and the fire station is pretty much empty.
I'd suggest a line informing about e.g.
- burning buildings in current settlement
- burning buildings in range of this fire station

and similar data for doctor.

[2013-12-12 22:20] stubb opened #2223 "Remove wooden tower test overlay images"

[2013-12-12 22:20] stubb opened #2224 "Make ground layer dynamic again"

[2013-12-12 22:21] #2223 closed, assigned to stubb

[2013-12-12 22:28] #2204 closed, assigned to stubb

[2013-12-16 20:29] #2213 closed, assigned to ChrisOelmueller

[2013-12-19 18:01] #630 closed, assigned to nobody

[2013-12-19 21:52] #631 closed, assigned to nobody

[2013-12-24 07:57] #2141 closed, assigned to nobody

[2013-12-24 10:22] #1445 closed, assigned to nobody

[2013-12-24 10:27] #2216 closed, assigned to nobody

[2013-12-24 10:33] #1222 closed, assigned to nobody

[2013-12-24 10:35] #437 closed, assigned to nobody

[2013-12-24 10:38] #2209 closed, assigned to stubb

[2013-12-24 14:13] #454 closed, assigned to ChrisOelmueller

[2013-12-24 14:38] #1076 closed, assigned to nobody

[2013-12-24 14:40] #1739 closed, assigned to nobody

[2013-12-24 14:41] #1708 closed, assigned to nobody

[2013-12-24 14:49] #1157 closed, assigned to nobody

[2013-12-24 14:56] #1537 closed, assigned to nobody

[2013-12-24 14:57] #1091 closed, assigned to nobody

[2013-12-24 15:00] #790 closed, assigned to ChrisOelmueller

[2013-12-24 15:02] #1138 closed, assigned to nobody

[2014-01-07 16:35] #2159 closed, assigned to nobody

[2014-01-07 18:56] davidak opened #2226 "Website is down"
http://www.downforeveryoneorjustme.com/http://www.unknown-horizons.org/

[2014-01-12 14:38] pinkfloyda opened #2227 "Inventory resource hovered message not dismissed"
![screenshot from 2014-01-12 22 35 11](https://f.cloud.github.com/assets/5958677/1896336/fef4ee94-7b96-11e3-8ebf-e4d6c2aff808.png)

[2014-01-16 20:50] DerDerwish opened #2230 "Crash at start"
I used this repository with a fresh installed Fedora 20: http://download.opensuse.org/repositories/games:/unknown-horizons/Fedora_20/
Unknown-horizons crashed instantly with this logfile:

Unknown Horizons has crashed.

We are very sorry for this and want to fix the underlying error.
In order to do this, we need the information from the logfile:
/home/frank/.unknown-horizons/log/unknown-horizons-2

[2014-01-18 13:13] pinkfloyda opened #2231 "Add check_connection_alive feature in Multi-player game Menu"
Currently, in MP menu, if network is unavailable, trying to create game will crash
May try create a separate thread (background) checking for network connection.

[2014-01-19 22:42] stubb opened #2233 "Settings file creation is broken"
Since f6a2488 only parts of the template are copied to the user settings file.

[code]

[2014-01-21 16:34] #2233 closed, assigned to nobody

[2014-01-21 16:52] #2224 closed, assigned to stubb

[2014-01-21 18:17] #2231 closed, assigned to nobody

[2014-01-21 18:23] #2230 closed, assigned to nobody

[2014-01-24 02:15] #2136 closed, assigned to nobody

[2014-01-26 20:05] #1450 closed, assigned to nobody

[2014-01-27 00:21] DanielStephens opened #2234 "Jenkins test fails while working locally at 2 computers"
1) the settlement_range test failed firstly on the settlement-range branch with the line:

assert new_trees == old_trees
[[full log here]](http://ci.unknown-horizons.org/job/uh-pr-tests/200/testReport/junit/tests.game/test_settlement_range/tests_game_test_settlement_range_test_settlement_decrease/)

though that line did not exist in the branch version of the test it did still exist in the master b

[2014-02-01 13:59] #2226 closed, assigned to nobody

[2014-02-01 22:39] #1817 closed, assigned to nobody

[2014-02-02 04:49] pinkfloyda opened #2235 "Tab shown delayed in selecting"
When I select ship or some building, I found the tab is not shown instantly, after 0.8 - 1 s delay, it shows. Is it designed to be like this, I think it would be better to show it instantly.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2969473-tab-shown-delayed-in-selecting?utm_campaign=plugin&utm_content=tracker%2F287396&utm_mediu

[2014-02-05 21:44] fricklerhandwerk opened #2236 "Trying to build on Mac OS Snow Leopard 10.6.8"
Trying to build on Mac OS Snow Leopard 10.6.8

Hi people, I desperately wanted to try your game on my Mac, but still no luck.

I spend a long night getting fife to build so it doesn't throw a python version mismatch when starting UH. There are a bunch of problems involved with building fife, outlined here:
http://forums.fifengine.net/index.php?topic=308.msg2068#msg2068
My own attempt to get this w

[2014-02-07 12:39] #2234 closed, assigned to nihathrael

[2014-02-07 15:12] stubb opened #2237 "https://scrollback.io/ integration, call for opinions"
I added the https://scrollback.io/ widget to all of our templates. But there are some things to figure out.
- Do we want it every where?
- With every post the username changes, why does that happen?  You have to enabled third party cookies
- There is a light and a dark theme, but it looks like it is not customizable. I prefer the light one, the dark one is harder to read in my opinion http://up.un

[2014-02-10 15:12] pinkfloyda opened #2239 "Player rename cursor mixed"
In single player menu, hover cursor in player name text field, the cursor is mixed

[2014-02-10 15:27] pinkfloyda opened #2240 "Program crashes in my saved game"
In my saved game, when I quit the session back to menu, it crashes, maybe the saved file is corrupted, but I did not do anything to it directly (all through the game). The saved game is in http://up.unknown-horizons.org/f/?id=591&n=test.sqlite, the crash message is as below:

[code]

[2014-02-10 18:33] Rybadour opened #2242 "Trade Tutorial Confusing"
This was my first time trying out the game and most of the tutorial was pretty straight forward except for the trading. The text starts off with "After selecting a particular type of good," but it didn't really explain where you're supposed to see this.

At this point in the tutorial I didn't get that you had to select the warehouse to see trade information. Similarly, it took me more time to real

[2014-02-11 13:09] #2239 closed, assigned to nobody

[2014-02-12 20:47] #1966 closed, assigned to nobody

[2014-02-14 14:37] stubb opened #2244 "Some old GL settings aren't applied"
[code]

For more context see the 2014-02-04 log of #fife

[2014-02-15 02:34] stubb opened #2245 "Create gfx and buildmenu icon for armory"
0fecfd11207b3e9fad0062d40b4cd31a69f545f3 adds an armory which produces swords.
It uses the default placeholder gfx for the building and resource. Both needs to be replaced.

[2014-02-15 12:45] #2244 closed, assigned to stubb

[2014-02-18 20:56] #2153 closed, assigned to nobody

[2014-02-20 13:02] #1716 closed, assigned to kinshuksunil

[2014-02-21 02:05] stubb opened #2247 "Improve google plus grunge icon"
I made a quick google plus icon, you can see result on http://www.unknown-horizons.org/ in the sidebar. There is space for improvement.

That my gimp source file: http://up.unknown-horizons.org/f/?id=598&n=google_plus_grunge.xcf

Or simply start from scratch: http://www.dawghousedesignstudio.com/archives/2009/create-a-realistic-grunge-peeling-sticker-in-photoshop/

Tasks:
- [x] Add some shadow
- [

[2014-02-21 02:08] #2237 closed, assigned to stubb

[2014-02-21 02:16] stubb opened #2248 "Customize scrollback.io widget"
The widget is simply copied in all themes that we use. So take that snippet (the one in the main page is the recently customized version) and finish the customisation.

Tasks are:
- [ ] Add fitting colours
- [ ] Choose a user name for our Guests
- [ ] Remove that useless animation, @ChrisOelmueller  will provide a cookie for you
- [ ] Add title to widget in the minimized state
- [ ] Disable sounds

[2014-02-21 11:50] #2016 closed, assigned to nobody

[2014-02-21 11:57] stubb opened #2250 "Implement sound for cancel action in the menus"
Right now there is only one sound used for all GUI interactions (the click.wav from #1529).

The task is to implement a different sound for the cancel actions. You could use the click2.wav from the ticket mentioned above or use another one, but keep the legal issues in mind.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2969470-imp

[2014-02-23 15:54] myrdd opened #2251 ""None Resource" in "BuySellTab" is not selectable"
In the BuySellTab of the Warehouse (horizons.gui.tabs.buyselltab), after selecting a particular slot, the "x" (in the list of resources) is not selectable. When clicking it, nothing happens and the "Select Resources:" is still present.

Clicking on the "x" should cause that the slot in the BuySellTab should get empty. This can be also achieved by right-clicking on the slot itself, though.

Here is

[2014-02-24 19:42] #2227 closed, assigned to nobody

[2014-02-26 21:47] stubb opened #2253 "Create mainmenu sound theme"
Create a sound theme thats used for the main menu. It should only be used there and there and not ingame like its done currently. We use the ingame music also for the menu.

About the theme itself, feel free to create something that fits in your opinion and ask for feedback ;-)

Some sources of inspiration:
- http://www.youtube.com/watch?v=IVM40K_vNRs
- http://www.youtube.com/watch?v=koevgSXSCak
-

[2014-02-26 22:04] stubb opened #2254 "Create diplomacy sounds"
Right now when you play with an AI or with another real player there is the possibility to configure the relationships, there are the states friend, neutral and enemy. If someone changes these state you get an notification message together with an sound, which is a ringing ship bell right now. This sound should be replaced by a fitting one for each of the three states.
## <bountysource-plugin>

Wa

[2014-02-26 22:19] stubb opened #2255 "Create more ingame sounds"
There are a lot of buildings that are missing an ingame sound
- [ ] cattle run, simply some mooing cows
- [ ] butchery, also mooing cows which are afraid of the nearing death
- [x] toolmaker, the sound of a hammer hammering on an anvil
- [x] marketplace, pitchman
- [ ] random sounds of the streets, people mumbling, children bawling etc.
- [ ] wind mill, the sound of the wings moving in the wind
##

[2014-02-27 02:24] myrdd opened #2256 "Sheep are synchronized"
The sheep on all pastures are moving exactly the same way.
It would be nice if they would move randomly or at least, if the movement could start at different times.

This is an example image:
![](http://up.unknown-horizons.org/f/?a=v&id=607&n=bug_sheep__many_sheep.jpg)

[2014-02-27 02:53] myrdd opened #2257 "keys like Shift create special characters (savegame textfield)"
Actually I know only one text field, which is for naming savegames. If the focus is in that text field, key-down-events of `Shift`, `Ctrl`, `Alt` and other modifier keys create a special characters.
In addition, pressing `backspace` or `delete` at the start or end of a text field, respectively, also leads to a special character.

When I type **Test** I get the following:
![](http://up.unknown-hori

[2014-02-27 03:45] myrdd opened #2258 "Visibility bug of persons and the fishing boat"
When in game, some _moving-objects_ – such as citizen and collectors – are not always visible when walking around. In fact, the visibility of those moving-objects depends on the _movements_; with _movement_ I mean using the arrow keys or putting the cursor at the screen borders. To explain this I have to go more in detail.

When you look at the citizen for example, they are walking from their hous

[2014-02-27 04:24] myrdd opened #2259 "Graphics Update bug at the first loaded savegame"
There's some weird graphics bug that appears when doing the following:
1. The game is closed.
2. Start the game.
3. Load a savegame. ¹

After doing so, do not move the visible area (by moving the mouse to a screen border or pressing one of the arrow keys).
If your town is outside the visible area, then move the visible area to the town, save, restart the game and load the savegame.

The **first bu

[2014-02-27 21:44] #2251 closed, assigned to myrdd

[2014-02-28 07:16] myrdd opened #2260 "game crashes when shortly after AI creates new settlement"
In a map with several islands, I have created two settlements, and the AI is about to create its second settlement (same island as me). The game crashes shortly after the creation of the settlement.

Less than a second after this screenshot the game crashes. The AI is on the left side, near the mountains.
![](http://up.unknown-horizons.org/f/?a=v&id=616&n=bug_new_settlement.jpg)

[code]

I have up

[2014-03-01 09:48] andrei-balasa opened #2261 "Image missing from content resources"
Image not found: content/gui/icons/resources/32/041.png.

This occurs when I try to build the first structure.

[2014-03-01 15:57] #1723 closed, assigned to nobody

[2014-03-01 17:03] myrdd opened #2263 "self-created map can't be played without the corresponding map file itself"
If you create your own map with the map editor, start a game with it, save that game and then delete the map file (e.g. `maps/test.sqlite`), the savegame can't be played anymore.
1. Start UH
2. Create a new map in the map editor, save and exit editor (there may be only water)
3. Create a new game (free play) and save that game.
4. Close UH
5. Delete the map (not the game!) in `UH_folder/maps/`
6.

[2014-03-01 18:18] myrdd opened #2264 "main square / road hint"
I've just figured out that the market square behaves like a road.

![](http://up.unknown-horizons.org/f/?a=v&id=623&n=issue_roadtool_main-square.jpg)

My suggestion is to get a hint (or some instruction message like in the tutorial) when someone is doing this:

![](http://up.unknown-horizons.org/f/?a=v&id=624&n=issue_roadtool_main-square_1.jpg)
![](http://up.unknown-horizons.org/f/?a=v&id=625&n=is

[2014-03-01 18:54] #2247 closed, assigned to nobody

[2014-03-04 20:22] smutkovski opened #2265 "Zoom In/Out shortcut"
Hello, while playing it would be nice to have shortcuts for Zoom In/Out, i searched in option, but not find them.
Thanks much.

[2014-03-05 03:19] #2265 closed, assigned to ChrisOelmueller

[2014-03-05 20:59] #2260 closed, assigned to nobody

[2014-03-05 21:49] #2257 closed, assigned to nobody

[2014-03-05 21:56] #2188 closed, assigned to ChrisOelmueller

[2014-03-05 22:23] #2264 closed, assigned to nobody

[2014-03-07 03:10] myrdd opened #2267 "crash when selecting farm"
it seems commit 97d3e5a (I've been running `git-bisect`) introduced the following bug:

Open any game that contains a farm. Click on the farm. The game will crash with the following traceback.

[code]

I have been testing with FIFE 0.3.5-1 (debian package) and the current master of UH.

[2014-03-07 05:20] myrdd opened #2268 "loading savegame fails – version problems (?)"
I had an error which I can't describe exactly, I guess it's because of mixed versions of savegame (?)

Well, using git, I created a game on the head of master, then checked out several different versions, and then came back to the original version. But then, when loading some of the savegames, the loading got stuck for some seconds after this message on the terminal:

[code]

Then, after some seco

[2014-03-07 20:49] #2211 closed, assigned to nobody

[2014-03-07 23:00] stubb opened #2269 "irc webhook test"
LaLiLu

[2014-03-07 23:01] #2269 closed, assigned to nobody

[2014-03-08 00:46] stubb opened #2270 "Minimap not visible only ingame"
On irc it was reported that the minimap in 2013.3 on Windows 7 doesn't show anything. But it only happens ingame and not in the map preview. The used hardware is an dell inspirion duo with an Intel® Graphics Media Accelerator 3150 GPU.
- log file: http://bpaste.net/show/nRvCnwb6SEN7OjD417uQ/
- screenshot:  http://up.unknown-horizons.org/f/?id=629&n=uhvzoa8xy1wg.png

[2014-03-13 19:12] Inyokus opened #2271 "Crash when selecting "Random map" in Singleplayer menu"
When clicking on "Random map" in the "New game -  singleplayer" menu, the game immediately crashes.

Unknown Horizons Version: 2013.3

System info and traceback:

[code]

I hope I added all necessary information, this is my first bug report on GitHub - and, of course, at Unknown Horizons.

[2014-03-18 22:20] stubb opened #2273 "active_messages list index out of range"
Originally reported in the forums http://forum.unknown-horizons.org/viewtopic.php?f=29&t=7280
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2162929-active_messages-list-index-out-of-range?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.

[2014-03-21 13:28] #2258 closed, assigned to nobody

[2014-03-26 18:28] #2267 closed, assigned to nobody

[2014-03-26 19:12] #2240 closed, assigned to nobody

[2014-03-26 20:37] #2268 closed, assigned to nobody

[2014-04-26 14:50] #2157 closed, assigned to nobody

[2014-04-26 14:54] #2271 closed, assigned to nobody

[2014-04-26 14:56] #2021 closed, assigned to nobody

[2014-05-01 17:00] stubb opened #2275 "Windows uninstaller should offer to delete all game files"
Reported by qxy on irc (01. May 2014 UTC+1):

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1935156-windows-uninstaller-should-offer-to-delete-all-game-files?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2014-05-02 15:06] M3tal-Warrior opened #2276 "Gnome3-Issues"
OS: Debian Wheezy, DE: Gnome3, fglrx-driver (non-free)
Version: Debian Wheezy repository of May 2nd 2014 (2012.1+dfsg1-1)
Graphical settings: 1366x768, 32bit, tested with OpenGL and OpenGLe

Alt + Tab not working, neither do CTRL + ALT + Arrows (for switching desktops), only CTRL + ALT + F1/2/3... works (for leaving X11, but F7 always returns to the game, so the desktops are effectively blocked by

[2014-05-02 15:18] M3tal-Warrior opened #2277 "Debian Wheezy - special keys interpreted as characters"
Whenever you press Shift in the game, it's behaving like being a character of its own, despite working as intended with other characters. What you get is something like
XM3talX_XWarrior
with X being a crossed out square.
CTRL will do the same, ALT will be Ÿ, double caps is C.

[2014-05-05 13:17] #2277 closed, assigned to nobody

[2014-05-06 12:00] VladRassokhin opened #2278 "Game crash on building from related builings tab"
Steps to reproduce:
- Load [this game](http://up.unknown-horizons.org/f/?id=646&n=quicksave-2014-05-06--17-42-28.sqlite)
- Open any tent
- Open related buildings tab
- Try to build religion building

Also [Log](http://up.unknown-horizons.org/f/?a=v&id=647&n=unknown-horizons-2014-05-06_17-52-02.log)
Also log contains many 'no source for content' errors

End of debug log:

[code]

Edit: Fixed the ur

[2014-05-07 16:55] #2190 closed, assigned to nobody

[2014-05-07 17:02] #2278 closed, assigned to nobody

[2014-05-26 20:09] #2256 closed, assigned to nobody

[2014-05-26 21:45] iqualfragile opened #2280 "Squash translation commits"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2352962-squash-translation-commits?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github).
</bountyso

[2014-06-07 14:51] #2261 closed, assigned to DanielStephens

[2014-06-22 06:01] Chewhern opened #2281 "Crash Report/log"
Unknown Horizons has crashed.

We are very sorry for this and want to fix the underlying error.
In order to do this, we need the information from the logfile:

[code]

[2014-07-07 22:44] #2236 closed, assigned to nobody

[2014-07-07 23:09] stubb opened #2282 "Evaluate if wix toolset is a alternative to our current windows build system"
http://wixtoolset.org/

[2014-07-13 17:42] stubb opened #2283 "Extend tutorial"
Change map to one with more islands & explain founding a new settlement..
or
Create a new advanced tutorial, which covers this.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3106324-extend-tutorial?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2014-07-15 11:28] asmolero opened #2284 "Random segfault"
The game has crashed a few times while playing the tutorial. I wasn't doing anything specific, the last time it crashed just a few seconds after loading the saved game. Here is my log file: https://gist.github.com/asmolero/00c31dec4254dab6805f and these are the last lines showing up in the console when run with the -d flag:

Deer(id=1000013;worldid=100298)(state=idle)(health=58) prepares job Job(<

[2014-08-03 11:03] #2270 closed, assigned to nobody

[2014-08-03 11:27] #1790 closed, assigned to nobody

[2014-08-03 13:19] stubb opened #2287 "Crash whenn clicking on ship in savegame"
How to reproduce:
Start a game, save it and load the new savegame. Click on a ship, the game will crash.

[code]

[2014-08-03 18:21] #2206 closed, assigned to nobody

[2014-08-03 18:50] #2203 closed, assigned to nobody

[2014-08-05 13:43] #2287 closed, assigned to ChrisOelmueller

[2014-08-06 20:13] helios2000 opened #2288 "It's not possible to save."
I got that Save Exception as I tried to save after two hours.

[code]

Autosave works, here is the last one http://www.file-upload.net/download-9336188/autosave-2014-08-06--21-44-38.sqlite.html.

[2014-08-09 23:13] MarkusHackspacher opened #2291 "crash while playing"
I play and click around the area und than the program crash

[code]

[2014-08-18 21:22] #2245 closed, assigned to DanielStephens

[2014-08-19 13:11] ChrisOelmueller opened #2292 "Jenkins login wants r/w access to all repositories, including private"
Triggered by clicking on `log in` top right corner at http://ci.unknown-horizons.org/
See also https://issues.jenkins-ci.org/browse/JENKINS-23324

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3806835-jenkins-login-wants-r-w-access-to-all-repositories-including-private?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issu

[2014-08-22 15:53] #2284 closed, assigned to nobody

[2014-08-27 15:05] #1077 closed, assigned to ChrisOelmueller

[2014-08-27 15:57] ChrisOelmueller opened #2294 "Text input cursor image not reset on widget exit while hovering input field, button"
* Load a game
* Press Esc, select Save
* Hover over "name" field, cursor should change now
* Press Esc

Expected: Widget closes, cursor resets to normal
Actual result: Widget closes, cursor does not reset

![](http://up.unknown-horizons.org/f/?a=v&id=662&n=2014-08-27.17-32-08.506997.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2014-08-30 09:39] pingax opened #2295 "Error when launching unknown-horizons"
Hi,
I've package uh for Frugalware. Before adding it to our source tree, I wanted to test it. However, Uh doesn't launch. You'll see below the log file generated. FYCI, I use lastest versions of fifengine and fifechan.

[code]

Regards,

Pingax

[2014-09-17 20:18] #2210 closed, assigned to nobody

[2014-10-12 13:21] #2133 closed, assigned to nobody

[2014-10-12 13:35] #2282 closed, assigned to stubb

[2014-10-12 13:36] #2215 closed, assigned to nobody

[2014-10-15 19:58] #2198 closed, assigned to nobody

[2014-10-15 21:19] #2113 closed, assigned to nobody

[2014-10-22 14:44] #2288 closed, assigned to nobody

[2014-10-30 23:30] MarkusHackspacher opened #2297 "groundunittabs.py"
A question about the file horizons/gui/tabs/groundunittabs.py
https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/gui/tabs/groundunittabs.py

The file have no .pyc. I think the file is not in use, isn´t it?

[2014-11-01 10:48] #2297 closed, assigned to nobody

[2014-11-09 23:22] #2138 closed, assigned to nobody

[2014-11-10 18:56] #2291 closed, assigned to nobody

[2014-11-10 19:02] #2281 closed, assigned to nobody

[2014-11-10 19:04] #2259 closed, assigned to nobody

[2014-11-14 18:53] #605 closed, assigned to janexx

[2014-12-05 20:38] ChrisOelmueller opened #2298 "Atlas generation: Tkinter crash on game start"
[code]

In my `.Xresources`, I'm using `*font: xft:Bitstream Vera Sans Mono`. The space apparently causes trouble, as setting the font to something with no space fixes the problem.

[2014-12-05 20:40] ChrisOelmueller opened #2299 "Atlas generation despite running with --no-atlas-generation flag"
Trying to fix #2298 temporarily, I tried running UH with the command line flag `--no-atlas-generation`. The crash did, however, **not** disappear, indicating that the game is still trying to generate atlases despite being told not to do so.

[2014-12-05 21:20] #2299 closed, assigned to nobody

[2014-12-05 21:43] stubb opened #2300 "Error. Failed to save / OperationalError: unable to open database file"
Reported by bcos within #uh.
System is Win 8.1 with release 2013.3
`horizons/util/dbreader.py` crashes at line 48 whenever I try to save a game
with the error `OperationalError: unable to open database file`
on file `C:\Users\bcos\Documents\My Games\unknown-horizons\save\ee.sqlite`
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2014-12-05 22:05] #2298 closed, assigned to nobody

[2014-12-14 21:11] janexx opened #2301 "game hang up when clicking on storage tent"
I build a the storage tent and clicked on it to see whats in. Then the game stopped. I couldnt move my mouse and so I killed the game over the console. Here is what my console said:

Image not found: content/gui/icons/resources/32/059.png
Oh my god! They killed UH.
You bastards!
Exception SystemExit: 1 in <bound method _MouseEventListener.<lambda> of <fife.extensions.pychan.events._MouseEventListe

[2014-12-16 13:01] stubb opened #2302 "Window icon not shown with awesome wm"
Using the awesome Window Manager on a Linux distro the window icon isn't shown.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7053061-window-icon-not-shown-with-awesome-wm?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2014-12-31 12:06] #2301 closed, assigned to nobody

[2014-12-31 12:08] #2295 closed, assigned to stubb

[2015-01-04 20:48] janexx commented on #1788
added a buildmenu icon with commit 7263189b6b82445aa1376244da1322e93b29ec14

[2015-01-05 18:48] qsorix opened #2303 "Building's description is truncated"
Long translation of a building's description will not be displayed. It seems like there is more room on the GUI but the text is truncated.

http://up.unknown-horizons.org/f/?id=691&n=uh-building-description-truncated.png

I've observed it with Polish translation. The text at that time was

You can compare it with the text on the screenshot and see that the last 2 words are missing.

I'm running UH

[2015-01-06 00:14] stubb opened #2304 "Update stringpreviewwidget and add some instructions how to use it to the wiki"
Currently the stringpreviewwidget is broken and need to be fixed. Also some documentation in the wiki should be provided. Whats the intended use and how can it be used.

[2015-01-06 00:29] ChrisOelmueller commented on #2304
(The previewer works here - presumably you tried to directly run the file in `development` folder instead of UH with the preview flag?)

A logbook widget that allows you to browse all translations of scenarios and reload modified yaml scenario files if you're working on their text presentation.

After you compiled the translated scenario files --todo wiki scenario-translation--,
in the main UH dir

[2015-01-06 22:08] qsorix commented on #1688
Regarding the first suggestion, I'm not sure I would like the route to auto-enable as a player. I've just accidentally loaded some food onto my ship and due to over-production, it wasn't pleasant to get it off the ship. So if a route auto-enables while it isn't finish, it may give players some headaches.

However, I agree that it should be more intuitive the "enable" button has to be clicked. High

[2015-01-09 12:13] topalavlad opened #2305 "Setting the same keystroke should not show overwrite confirmation popup"
Have a keystroke on any action - example `BUILD_TOOL - 'B'`

Left click 'B'
After "Press key..." appears press 'B'

Expected result: B remains as keystroke and no popup appears
Actual result: the "Confirmation for overwriting" popup appears even though the key is currently used for the same action we're changing.

[2015-01-09 13:54] topalavlad commented on #2305
I think this should be tagged as Starter, Gui, Bad Usability

[2015-01-09 19:08] topalavlad opened #2306 "Hotkey changes should be reset if settings dialog is closed"
Current Pause keystroke - 'P'

Set new hotkey for Pause - 'Q'
Close settings dialog from the "Discard current changes" button

Open settings dialog

Expected result: Pause keystroke is shown as 'P' and game is paused when pressing P
Actual result:      Pause keystroke is shown as 'Q' but game is still paused when pressing P

[2015-01-10 00:30] ChrisOelmueller commented on #2306
Note that discarding the current changes appears to not work for the regular (non-hotkey) settings either.

[2015-01-12 00:16] akien-mga commented on #2295
I just wanted to ask whether UH 2014.1 was compatible with fife master? I just packaged the latter and UH 2014.1 starts fine, but I can't start a map:
```RuntimeError: _[NotFound]_ , Something was searched, but not found :: content/gfx/units/ships/merchants/as_huker0/color_idle/0/0.png```

[2015-01-12 01:54] stubb commented on #2295
Yep it is. You need to enable atlas support in your settings.xml so it uses the atlas files and not single png files.

[2015-01-12 02:16] ChrisOelmueller commented on #2295
Alternatively, apply this patch to the 2014.1 sources: http://git.io/s8Ml4Q

[2015-01-12 09:07] akien-mga commented on #2295
Thanks @stubb and @ChrisOelmueller. I used the above patch and it works great, I'll go with fife master for Mageia's upcoming stable release then.

[2015-01-13 16:24] pinkfloyda opened #2308 "One point of memory leak with multi-selection of same object"
Below is a simple repro steps to demonstrate such mem leak:

Create a single user game, select the ship multiple times (wether using mouse click or hotkey select), observe that the memory usage is increasing with the times of selection (each selection consumes 3 MB or so). The same applies to selections of any buildings as well! And I suspect this is one of the reasons why the game becomes laggy a

[2015-01-13 16:52] helios2000 commented on #2308
Yea I noticed that also a wile back. A part of that problem was Pychan. I fixed the circular references here https://github.com/fifengine/fifengine/commit/3607a657713836e84b5fb6af154b688483fc25bc
But the problem in UH remains. Make sure that you use fife master if you want to track down the problem.
I think that pinkfloyda is right, somehow all the gui stuff is created again and again. It's no pro

[2015-01-18 07:03] pinkfloyda commented on #2308
After instrument using objgraph, I found out the below result (after running gc.collect()):

===============================================
(Pdb) objgraph.show_growth(50)
dict                                 493500   +422201
cell                                 297971   +283010
list                                  310898   +252431
tuple                               205077   +183697
instancemeth

[2015-01-18 07:44] pinkfloyda commented on #2308
Looks there is a long chain of circular reference, which leads to a batch of objects not released

[2015-01-19 00:39] pinkfloyda commented on #2308
Find one place can leak such memory: if there are multiple tabs in TabWidget, the non-current tab instance is created, which is added into widget_set of fife.pychan.internal.Manager, but this tab is not current active so it is not added as one of TabWidget's children, so this tab cannot be hidden when TabWidget is hidden. In this way, each time TabWidget opens up and closes, there are some non-cur

[2015-01-19 10:10] stubb commented on #2308
@pinkfloyda thanks for your investigation, iam excited to see your PR!

[2015-01-19 18:45] pinkfloyda opened #2311 "Create a pasture will cause memory increase by 1-2 MB/second"
Potatofields and sugarfields can increase memory as well, but 0.x MB/second.

[2015-01-19 22:00] stubb commented on #2311
The correct terms are pasture, potatofield and sugarfield. I will edit your post, so it can be find easier.

[2015-01-19 22:02] stubb commented on #2311
We have to check out much it increases the memory use and if this value could be valid.

[2015-01-20 04:46] pinkfloyda commented on #2308
After investigating the code for a while, I find some common cases for mem leaks.

Actually, creating a pychan widget (whether directly or through subclass init) will add it into pychan.internals.manager.allwidgets. Currently, the most common way to get widget removed is through widget.hide(), mostly called by its parent in its view hierarchy.

But somewhere in-code, such widgets are created, even

[2015-01-20 22:36] janexx commented on #1788
When I am right, there is still the resources icon missing. I made one: http://up.unknown-horizons.org/f/?id=696&n=recource.png
Are you happy with that? If so, then which dummy icon will be replaced? 046.png in /home/wally/unknown-horizons/content/gui/icons/resources/32/ ?

[2015-01-21 18:40] stubb commented on #1788
@janexx Just checked the buildmenu, its there for both buidlmenu styles.
![Image of spicefield buildmenu entry](http://up.unknown-horizons.org/f/?a=v&id=700&n=2015-01-21.19-38-41.603720.png)

[2015-01-21 18:41] stubb commented on #1788
Since everything if working as expected, we can close this issue.

[2015-01-21 23:53] LinuxDonald commented on #2142
Any news abou this bug/feature?

[2015-01-21 23:55] stubb commented on #2142
@LinuxDonald someone needs to work on this feature. Nothing happened so far.

[2015-01-22 00:35] LinuxDonald commented on #2142
https://www.bountysource.com/issues/1205873-enable-mipmapping-and-texturefiltering

Maybe add BountySource Plugin to git here?
https://www.bountysource.com/tools

[2015-01-22 09:07] stubb commented on #2142
@LinuxDonald Can't open the link without registration, what do you mean by adding a plugin? Adding such a button? [![Bountysource](https://www.bountysource.com/badge/team?team_id=9261&style=bounties_received)](https://www.bountysource.com/teams/unknown-horizons/issues?utm_source=unknown-horizons&utm_medium=shield&utm_campaign=bounties_received)

We will see if it animates someone to work on this i

[2015-01-22 14:49] LinuxDonald commented on #2142
Bountysource can be linked directly with the Ticket Bus i cant Do this because im not an member of uh on github.

[2015-01-22 17:01] helios2000 commented on #2142
Here is an good article about the problem, it's related to Unity but the most parts also apply for FIFE.
http://forum.unity3d.com/threads/white-rims-around-transparent-textures-an-analysis.168532/

[2015-01-29 19:06] janexx commented on #1788
I finally added the condiments icon in color and grayscale with commit b6b7d8d3ec3a909b7bd9bc4f21e4bc6acaf712bb
Now its all finished. Close this issue?

[2015-01-30 16:09] stubb commented on #1788
Yep, this issue is fixed! Thanks a lot. Only one task left before finishing all buildings for Tier 3 ;-)

[2015-01-30 16:09] #1788 closed

[2015-01-30 16:11] stubb commented on #598
Everything is done.

[2015-01-30 16:11] #598 closed

[2015-01-30 16:24] stubb opened #2312 "Cattle run"
Can be simliar to the sheep pasture.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8161273-cattle-run?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_sour

[2015-01-30 16:41] janexx commented on #629
I am thinking to work on this issue. Have you any ideas, how the blender should look like? And what size has the building?

[2015-01-30 17:30] stubb commented on #629
Cool. The size is 2x2, https://github.com/unknown-horizons/unknown-horizons/blob/master/content/objects/buildings/blender.yaml#L37. The blender could be a hand-operated mill. So a small normal building could do the job. For identifing it as blender some opened bags of condiments and a small collection of mill stones in front of the building would be neat.

[2015-01-30 18:11] janexx commented on #629
Ok, thanks. Does the name as_blender0 means, that its an animation/action set? You said "a small normal building could do the job" And which building can I take for the blender as basis?

[2015-01-30 20:58] stubb commented on #629
as_blender0 is fine, just add an idle folder inside, simliar to the winery. I had something like the bakery in mind https://github.com/unknown-horizons/unknown-horizons/blob/master/content/gfx/buildings/citizens/bakery/as_bakery0/idle/45/000.png

[2015-01-30 22:41] #986 closed

[2015-01-30 22:43] nihathrael commented on #2306
So I fixed this for the normal settings, but it is not so easy for the hotkey configuration. It will need some deeper changes to support this kind of functionality.

[2015-01-30 22:44] stubb opened #2313 "Button/Icon to represent discarding all resources currently loaded"
The trade ship overview tab has now a button to discard all resources currently being in the inventory. There is a placeholder used which should be replaced. For more details please read #986.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8169546-button-icon-to-represent-discarding-all-resources-currently-loaded?utm_campaign=plugin

[2015-01-31 13:17] #2305 closed

[2015-01-31 17:28] stubb commented on #2142
@LinuxDonald enabled bountysource now

[2015-01-31 18:01] ChrisOelmueller commented on #2263
Also see #1552 (Automatically distribute multiplayer maps and savegames to players if necessary)

[2015-01-31 18:20] LinuxDonald commented on #2142
Thats cool :)
I will add more bountys in the future :)

[2015-02-03 17:42] malkavi commented on #2295
I have the same error in OpenSuse 13.2 x64. I'm using the package from the repo, wich have the patch from @ChrisOelmueller . And atlas support is enabled in settings.xml.

[2015-02-03 18:18] stubb commented on #2295
What do you mean by same error? The one from the first post?

[2015-02-03 19:39] malkavi commented on #2295
Yes, there is the output:
[code]

[2015-02-04 01:52] stubb commented on #2295
@malkavi Sounds like the fife version is build with swig3.x instead of swig2.x. Now its necessary to inform the maintainer of the package about the problem!

[2015-02-04 20:14] malkavi commented on #2295
The spec file from the build system has the build requeriment for fife
"BuildRequires:  swig < 3.0.0"
And a comment with a link to this issue in the last change.

[2015-02-04 20:16] stubb commented on #2295
I saw that. But OBS also says the build failed. So maybe this change wasnt applied correctly?

[2015-02-05 08:12] malkavi commented on #2295
Thanks! now I can launch the game (still have to try playing). There wasn't any swig package <3.0.0 for Opensuse 13.2, I have branched the Unknown Horizons packages to my build home and a swig package version 2.0.X.

[2015-02-05 10:41] stubb commented on #2086
Is there any interest in getting such an old savegame to load? My interpretation is that this issue is about a proper handling for such olds savegames?

[2015-02-05 10:59] ChrisOelmueller commented on #2086
I'd be fine with simply refusing to load savegames past a certain revision as long as that's handled gracefully. Definitely better than a crash.
As you can see from the traceback though, the problem seems to be in savegame-upgrader code itself, which is a bit more hairy, at least in terms of fixing the crash (need to check that the upgrade code still works correctly for other saves).

Do we have s

[2015-02-05 11:06] stubb commented on #2086
Its only checked via the GUI code if a savegame is upgradeable, iterating over a list from the real savegame rev to the rev which is used for new savegames and checking if there is a upgradecode for each step. This prevents the crashing, but simply is used in the wrong placed in my opinion. Thats something that needs to be fixed.

Currently the upgradecode for the lowest rev is 49, so I think 48 w

[2015-02-09 11:51] stubb commented on #2086
2014.1 74
2013.3 73
2013.2 71
2013.1 70
2012.1a 56
2012.1 56
2011.3 43
2011.2 15
2011.1a 12
2011.1 12
2010.1 8

Not sure whats a good place to store that information, maybe in the beginning of the Changelog?

[2015-02-10 00:34] #2086 closed

[2015-02-10 00:39] stubb opened #2314 "Check which savegamerevisions are upgradeable"
Since we don't try load any savegame independent of it's revision anymore we have to check if we can lower the constant https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/constants.py#L76 to support also older savegames. To get an idea which revision was introduced with every release check the table in the beginning of the changelog.

Related to issue #2086.

<bountysource-p

[2015-02-10 20:45] stubb commented on #2314
rev 48 is upgradable to the current rev 74 http://up.unknown-horizons.org/f/?id=243&n=fife_exception_not_found.sqlite

[2015-02-10 20:55] stubb commented on #2314
auto-upgrading: 43 -> 74 fails with no such column: warehouse_builder http://up.unknown-horizons.org/f/?id=219&n=quicksave-1320032122.5115.sqlite

[2015-02-11 15:52] stubb commented on #2302
To gather some data: awesome wm with UH master HEAD + fife 0.3.5 shows the window icon, but not for the atlas creation window.

[2015-02-13 01:33] MadMac opened #2315 "Crash by clicking diplomacy button twice in a row"
I'm getting a crash everytime by clicking diplomacy button under minimap twice.

[Traceback](https://gist.github.com/MadMac/7630b6128e270ba49104)

How to reproduce:
Start any game. Click diplomacy button under minimap twice in a row.

I used FIFE installer to install FIFE because I couldn't build it with the old development kit version.

Version: 284bd4b
Windows 7 64
Python 2.7.8

<bountysource-pl

[2015-02-13 08:16] stubb commented on #2315
Thanks for reporting. Seems like that was introduced recently during some mem leak fixing.

[2015-02-14 01:01] MarkusHackspacher opened #2316 "Crash click at a ship"
uh crash, if i click at a ship
[code]

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/8567187-crash-click-at-a-ship?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=i

[2015-02-15 06:02] ChrisOelmueller commented on #2316
As far as I can tell, introduced with `2014.1-29-gd0886fc` (d0886fc1be2fc87a7992ac4a35a5af972b1c0a4f)

@stubb - should all ships receive this button?

[2015-02-15 13:57] MarkusHackspacher commented on #2316
It is only one ship in this [save game](https://github.com/MarkusHackspacher/unknown-horizons/tree/master/Issues2316), it is at the upper right.
![Screenshot](https://github.com/MarkusHackspacher/unknown-horizons/blob/master/Issues2316/uh_crach_ship.jpeg?raw=true)
I use the newest version from github, but the fife is a half year old.

[2015-02-15 18:14] #2316 closed

[2015-02-18 18:49] vgezer opened #2317 "Ubuntu packaging is out of date"
The latest version on Ubuntu repositories is 2013.3 which is old. It will be very nice if you could provide repo for utopic and vivid versions of Ubuntu.

And also 2014.1

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8689402-ubuntu-packaging-is-out-of-date?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&u

[2015-02-20 22:03] stubb commented on #2308
Seems like these changes introduced  #2315

[2015-02-22 10:30] pinkfloyda commented on #2315
OK, I see the crash when more than 1 PlayerDiplomacyTab shown in DiplomacyTab. It seems my previous pull request for mem leak fix is not good ..... (we should never hide a tab if it has not been shown before). Can pull back my previous pull request and for mem leak issue, I come up with 2 solutions:

1) Fix in fifechan side so that creating a widget should not add it into its all_widgets list, onl

[2015-02-22 20:32] stubb commented on #2315
Since there isn't any upcoming fife release, a fix within the UH code is required.

[2015-02-23 08:09] pinkfloyda commented on #2315
OK, as for TabInterface, I notice there is a class variable called lazy_loading=false by default. And for some tab classes, this has been set to be true, --> see InventoryTab for an example. Is it possible to set that lazy_loading=true by default ? Is there some performance issue for such change ?

[2015-02-23 15:32] helios2000 commented on #2315
The reason that the Widgets are added to the list on init() is because of xml loading. Without that there is no reference to the freshly loaded Widgets.

So you want to create Widgets in code and use it later?
If so a simple flag could be added to the Widget class that indicates it and prevents the Widget to be added to the manager. So the gc would remove it right after the last reference is gone.

[2015-02-23 15:54] pinkfloyda commented on #2315
@helios2000 yes, you are correct, the basic idea is to not add widget into list upon init(), do you know which flag can indicate and prevent the widget to be added to the manager? I explored the code find the manager side just add the widget into its list once inited (xml loaded) no matter how. Is it something to do with the lazy_loading concept?

[2015-02-23 16:43] helios2000 commented on #2315
Sorry, I don't know much about UHs gui code. It was just a suggestion from me, how it could be solved within Pychan. I think that lazy_loading is from UH.

The other case where it's added to the manager is on addChild(), so should the proposed flag also prevent this? And we need a name for the flag :)

[2015-02-23 16:59] pinkfloyda commented on #2315
@helios2000 ok, actually most places of addChild() are not issues for mem leak, because if the root parent widget gets hidden and reference removed, all the children gets hidden and reference removed as well. Most places the root parent widgets come from xml, which are inited() explicitly in UH. And if we can safely hide all those xml-loaded widgets, I think we can get rid of most of the mem leaks

[2015-02-23 20:44] helios2000 commented on #2315
Ok, sounds good. I think it should be no problem to call hide() for new Widgets. So the flag would be superfluous and it could be fixed on UHs side.

[2015-02-25 20:39] iganev opened #2319 "Free Play not working"
Latest release on openSUSE. When I click "Free Play" the game crashes and here's the trace:

Traceback (most recent call last):
  File "/usr/lib64/python2.7/site-packages/fife/extensions/fife_timer.py", line 125, in updateEvent
    self._callback()
  File "/usr/lib64/python2.7/site-packages/fife/extensions/pychan/tools.py", line 83, in real_callback
    callback(*args,**kwargs)
  File "/usr/lib64/

[2015-02-25 20:52] stubb commented on #2319
@iganev Do you have some selfmade maps in your local unknown horizons folder? Seems like there is one map which can't be loaded. https://github.com/unknown-horizons/unknown-horizons/wiki/FAQ#savegames There's another folder called maps in the same folder as the save folder.

[2015-02-25 22:34] iganev commented on #2319
Nope. Brand new installation, just finished the tutorial.

I have found another bug (the game crashed out of no where after 2 hours of play) but I didnt record the output, will save it if it happens again.

Great game nonetheless :)

[2015-02-25 22:36] iganev commented on #2319
And by the way... I dont know about selfmade maps, but it seems that a certain db table is missing in the database.

[2015-02-25 22:42] stubb commented on #2319
can you replace the __call__ function in the file horizons/util/dbreader.py with the following code and try again?
[code]
The main problem is, I am not able to reproduce your problem.

[2015-02-26 16:20] iganev opened #2320 "Startup crash on openSUSE"
Hello again. I have tested the game on openSUSE 13.2 (latest) and it crashes upon startup. Here is the trace:

ivan@soundreamer:~> unknown-horizons
Discovered old settings file, auto-upgrading: 1 -> 38
Traceback (most recent call last):
  File "/usr/bin/unknown-horizons", line 380, in <module>
    main()
  File "/usr/bin/unknown-horizons", line 189, in main
    ret = horizons.main.start(options)

[2015-02-26 17:15] stubb commented on #2320
Seems to be a duplicate of #2295. Fife the engine we use needs to build with Swig2.* not Swig3.*. Please inform the maintainer of the package you use!

[2015-03-10 23:22] janexx commented on #629
I want to show you my intermediate result of the bakery.
http://up.unknown-horizons.org/f/?id=705&n=blender_preview.png
I am not really satisfied. So maybe someone has ideas to make it better. I took the bakery as basis. Maybe its too similiar?

[2015-03-12 23:53] stubb commented on #629
Looks fine so far. Maybe using a different roof color, like green could help to differ more from the backery. Also adding something like a mill, for example a hand driven one like this one https://de.wikipedia.org/wiki/Handdrehm%C3%BChle could be help to identify the building. Having a person grinding the spices could be a nice work animation.

Keep up the good work!

[2015-03-14 22:50] janexx commented on #629
Ok, thanks for your hints. A person grinding spices... puh I have to think about that. Here is the new version of the blender: http://up.unknown-horizons.org/f/?id=706&n=blender.png

[2015-03-17 00:07] manuelm commented on #2320
swig2 has been added to our OBS repositories and I've triggered a rebuild. openSUSE 13.2 is still rebuilding, but after publishing this should be fixed.

[2015-03-27 10:52] Huaraz2 opened #2321 "game crashes when you ally with one of the AIs"
Here is a screenshot of my terminal when the game crashed

![screenshot from 2015-03-23 21 27 44](https://cloud.githubusercontent.com/assets/8998661/6866361/4a352338-d46f-11e4-9557-7027c06abfd2.png)

Any help on how to fix this would be greatly appeciated

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10080429-game-crashes-when-you-

[2015-04-01 00:13] gryffus commented on #2320
The issue was fixed in games:unknown-horizons repository only. I just submitted changes to games repository and UH should be working again soon.

[2015-04-01 01:35] gryffus commented on #2319
Since i am able to reproduce the issue, here is requested backtrace with suggested change:

[code]

[2015-04-01 02:40] gryffus commented on #2319
This is a packaging bug. I have checked the file content/maps/Archland-custom.sqlite and it is empty. After deletion, the error disappears. The file should not even be there. I really don't know how it get there and what source tarball is that. In the official https://github.com/unknown-horizons/unknown-horizons/releases/download/2014.1/unknown-horizons-2014.1.tar.xz there is no such file - @manue

[2015-04-01 03:55] gryffus commented on #2319
I have checked other source files and they do not contain the broken Archland-custom map. Namely: https://github.com/unknown-horizons/unknown-horizons/archive/2014.1.zip and https://github.com/unknown-horizons/unknown-horizons/archive/2014.1.tar.gz
So only broken is https://github.com/unknown-horizons/unknown-horizons/releases/download/2014.1/unknown-horizons-2014.1.tar.xz .

[2015-04-01 04:25] gryffus commented on #2320
This should be marked as fixed.

[2015-04-01 11:21] manuelm commented on #2319
@gryffus SR is accepted. Thanks for looking into this.
@iganev Can you retest with unknown-horizons-2014.1-5.1.uh please? Should be available in a few minutes.

[2015-04-01 11:22] #2320 closed

[2015-04-01 11:29] gryffus commented on #2319
@manuelm Sorry for little OT, but could you please accept https://build.opensuse.org/request/show/290829 ? Thx

[2015-04-03 21:22] janexx commented on #629
Is there a ready person already that I can use for a work animation?

[2015-04-06 15:59] stubb commented on #629
@janexx Sorry for the long delay. Inken made a bunch of person gfx in the past. They are in https://github.com/unknown-horizons/gfx/tree/master/inken/units Is something useful for a work animation?

[2015-04-06 16:02] stubb commented on #2317
Mostly fixed. There aren't any packages for Vivied yet.

[2015-04-09 15:24] janexx commented on #629
Yes, I think the inhabitant is a good basis. Should I let the person sit on the ground like in the picture at wikipedia? Or maybe I put the millstones on a kind of table like in the second wikipedia picture?
And how should the work animation looks like? Has the person just to grind or maybe also walk to the mill stone? When I look at the other animations, they all seem to be as simple as possible.

[2015-04-09 17:07] stubb commented on #629
In my opinion it looks nicer if the person stands on a table. Feel free to make the animation as complex you want. Its not necessary to keep it simple.

[2015-04-12 12:41] #2315 closed

[2015-04-12 12:42] stubb commented on #2321
Should be fixed now.

[2015-04-12 12:42] #2321 closed

[2015-04-12 12:50] stubb commented on #2319
content/maps/Archland-custom.sqlite isn't part of the git repository. So iam going to close this. Seems like everything is fine now.

[2015-04-12 12:50] #2319 closed

[2015-04-15 18:46] stubb commented on #629
@janexx Just gave it a try and fixed some small issues, like adding it to the build menu and remove the placeholder gfx (2x2) from this buildings object file, commit incoming. The only think missing is a buildmenu icon for the blender. As we use the resource icon usually we should use the icon of condiments here content/gui/icons/resources/32/047.png. Can you make a 46x46px version of it, and also

[2015-04-15 18:51] stubb commented on #629
That's the commit I was talking about in my previous comment: 82188bbf913866ddaa72b042beac55eb70155d80

[2015-04-15 23:20] janexx commented on #629
yes, I will make the 46x46px icons.

[2015-04-16 00:12] stubb commented on #629
Great thanks!

[2015-04-16 21:50] janexx commented on #629
I added the buildmenu icons with commit e13264b92705a7fdad82b14abdfa79cb4a674d8d

[2015-05-03 20:18] stubb commented on #629
Great, thanks!

[2015-05-03 20:43] siccegge commented on #2317
unknown-horizons 2014.1+ds1-2~ubuntu15.04.1 (Accepted)

Should be there in a minute

[2015-05-03 20:43] #2317 closed

[2015-05-10 14:48] daithi-coombes opened #2322 "Could not find a maching screen mode for the values given!"
Came across this error when I switched screen sizes from my latop native screen to my external monitor. Unkown Horizons was initially installed on the laptop screen.

Error:

[code]

Output from `xrandr`:

[code]

So, I had installed on `LVDS1` above and then switched monitor to `HDMI1` which caused the crash. Where would I find the config file to manually reset the screen differences for now (and

[2015-05-10 22:08] relascope opened #2323 "Building instructions... insufficient"
since you are also helping in the development of FIFE and there is no fast option to post,
here is my experience in building UH so far...

everything compiled/installed without errors.
[except that I did
sudo make install
instead of
make install
for fifechan]

when I try to run ./run_uh.py
Failed to use FIFE from <module 'fife' from '/home/dojoy/src/games/fifengine/engine/python/fife/__init__.pyc'

[2015-05-11 06:06] stubb commented on #2323
If you are using an own compiled version of fife, you need to recompile it.

[2015-05-11 06:09] stubb commented on #2322
Hey, here is the FAQ entry for the settings file https://github.com/unknown-horizons/unknown-horizons/wiki/FAQ#settings. The code which does the monitor handling is part of the engine fife. Soon, hopefully within this year the will move the code from SDL1.3 to SDL2 this will improve also the monitor handling.

[2015-05-11 21:04] stubb commented on #2323
if you installed it via the package manager apt-get you did not compiled it from source yourself ;-)
So http://www.unknown-horizons.org/download/linux/ are the correct instructions, and yes that is the preferred way.

About the libfifechan issue, please start UH with the debug flag -d and paste the output, also take a look at the fife build folder and paste the build.log file please

[2015-05-13 10:44] relascope commented on #2323
once again...
Post 1)
I tried to compile from source, since I'm a developer myself and so I can find build-issues...

for Post 2)
I tried to find the fastest way to get it running
and that was
apt-get install python-fife

now for your post (the debug...)

trying to recreate using a new Debian Jessie VM...
./setup.py build_i18n
needs intltool (should be in apt-get list...)
game "runs"... no X-Serve

[2015-05-13 10:44] #2323 closed

[2015-07-05 17:10] Clonewayx opened #2325 "Game is unstable"
Game is crashing few seconds after start of playing. On Lubuntu Wily.
http://uloz.to/x39gyfrR/unknown-horizons-2015-07-05-19-04-59-log
http://uloz.to/xQDcjLZv/uh-txt

[code]

[2015-07-06 21:40] stubb commented on #2325
Hey, sadly the crash is not visible in the log files. Can you try it again and paste the related parts please?

[2015-07-12 06:24] Clonewayx commented on #2325
This?

Traceback (most recent call last):
  File "/usr/games/unknown-horizons", line 380, in <module>
    main()
  File "/usr/games/unknown-horizons", line 189, in main
    ret = horizons.main.start(options)
  File "/usr/lib/python2.7/dist-packages/horizons/main.py", line 281, in start
    horizons.globals.fife.run()
  File "/usr/lib/python2.7/dist-packages/horizons/engine/engine.py", line 276, in

[2015-07-12 14:28] stubb commented on #2325
yeah that the traceback I was asking for, thanks!

[2015-07-18 13:57] LinuxDonald opened #2326 "Form down now for half year/fix phpbb forum theme [$15]"
Bring the Forum back online or is UH dead??
##

<bountysource-plugin>
---
There is a **[$15 open bounty](https://www.bountysource.com/issues/24553401-form-down-now-for-half-year-fix-phpbb-forum-theme?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2015-07-18 14:36] stubb commented on #2326
Since the last update the phpbb theme is broken, it need to be adopted/updated/fixed.

[2015-08-18 00:34] LinuxDonald commented on #2326
Can you please upload the theme. That an dev can fix it.

[2015-08-18 08:20] kozross opened #2327 "Asset licenses?"
What license(s) are your game's assets under?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25894642-asset-licenses?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=i

[2015-08-18 09:02] stubb commented on #2327
Its the Creative Commons Attribution Sharealike 3.0 Unported License, see for further details https://github.com/unknown-horizons/unknown-horizons/blob/master/doc/LICENSE#L135

[2015-08-18 09:03] stubb commented on #2326
Thats a task @Nightraven has to do.

[2015-08-30 21:57] siccegge commented on #2327
Guess that solves the issue?

[2015-08-30 21:57] #2327 closed

[2015-09-03 23:30] Sorunome opened #2328 "Archlinux AUR package broken"
The Archlinux AUR package is broken, it requires the dependency fife-git which requires fifechan-git which doesn't exist anymore, the non-git versions all exist, though, but they don't satisfy the PKGBUILD.

The same issue exists with the git version

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26432512-archlinux-aur-package-broke

[2015-09-04 08:21] stubb commented on #2328
Thanks for notifying us!
Have fun https://aur.archlinux.org/packages/fifechan-git/

[2015-09-04 08:21] #2328 closed

[2015-09-04 09:20] Sorunome commented on #2328
Ok, now the new fifechan-git fails to build because allegro4 is missing, which is in the official repos, so a simple fix. But somehow when doing makepkg -is it failes to install that dependency from the official repos, not a crucial thing, though.

[2015-09-22 08:23] LinuxDonald commented on #2326
https://drive.google.com/file/d/0B-E3BKmwAl-FMFJkUUJURzJFVUk/view?usp=sharing

[2015-10-31 16:01] LinuxDonald commented on #2308
Can that bug closed?

[2015-11-02 02:57] pinkfloyda commented on #2308
@LinuxDonald Yes, I think so.

[2015-11-02 02:57] #2308 closed

[2015-11-09 19:49] honzajavorek opened #2329 "Allow installation on Mac by brew cask"
I don't know how it works, but it would be nice if the game could be installed by `brew cask install unknown-horizons`.

- http://brew.sh/
- http://caskroom.io/

[2015-11-13 18:54] PhoenixRiver opened #2330 "Version from repository (2014.1+ds1-1~ubuntu14.04.1~ppa1) won't start."
I'm running 14.04 Xubuntu and it just doesn't seem to want to start, I can provide more details about my system if you'd like - here is the debug output for now though:

$ unknown-horizons --version
Unknown Horizons <unknown>

$ unknown-horizons -d
Logging to /home/willow/.unknown-horizons/log/unknown-horizons-2015-11-13_18-50-36.log and /usr/share/unknown-horizons/fife.log
Python version: sys.ver

[2015-11-13 19:03] PhoenixRiver commented on #2330
Don't worry, it was just a settings problem... might want to check it out anyway but I'm good now :)

[2015-11-13 19:03] #2330 closed

[2015-11-14 22:23] stubb commented on #2329
That would be great indeed.
Its already possible to install some dependencies for the engine via brew.
See https://github.com/fifengine/fifengine/blob/master/.travis.mac.sh#L28 for details.

[2015-11-20 16:12] Gladius1 commented on #2250
Hello, I implemented the cancel Button sound. But I don't know how to upload the changes...

[2015-11-20 17:16] stubb commented on #2250
hi Gladius1,

you have to create a git commit in your fork and make  pull request. https://help.github.com/articles/using-pull-requests/ Should help you to understand whats necessary to create the pull request. If not feel free to ask again.

[2015-11-20 19:25] Gladius1 commented on #2250
Ok, I made a pull request. But it turned out to be messy. I hope it is usable as it is.

[2015-11-21 16:39] #2250 closed

[2015-11-22 20:18] janexx opened #2336 "cocoa field (cocoa beans)"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28518302-cocoa-field-cocoa-beans?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github).
</bountysour

[2015-11-24 21:53] LinuxDonald commented on #2255
Gladius allready added some sounds. https://github.com/unknown-horizons/unknown-horizons/pull/2337

[2015-11-24 23:22] LinuxDonald commented on #2336
https://github.com/unknown-horizons/unknown-horizons/commit/d21c14f41a719d363dd229393bf31ed13841836e

[2015-11-24 23:22] LinuxDonald commented on #2336
https://github.com/unknown-horizons/unknown-horizons/commit/60ecba5a4a6b05e5605db9d74d08ba53096fac25

[2015-11-24 23:22] LinuxDonald commented on #2336
Fixed wonderful work :-)

[2015-11-25 00:02] janexx commented on #1448
close this issue?

[2015-11-25 00:05] LinuxDonald commented on #1448
Yeah let's close it. Thx for your work :-)

[2015-11-25 00:05] #1448 closed

[2015-11-25 00:06] janexx commented on #2336
maybe I should made the gui-icon for the build menu? and propably there is also the resource icon left?

[2015-11-25 00:10] LinuxDonald commented on #2336
Okay do it please

[2015-11-25 22:16] #629 closed

[2015-11-25 22:17] janexx commented on #2131
eh whats here still to do? Or can this be closed?

[2015-11-25 22:21] janexx commented on #893
The link above is damaged. Is there still something to do?

[2015-11-25 22:31] #1237 closed

[2015-11-25 22:33] LinuxDonald commented on #2300
You can reopen it when anyone will report that problem again.

[2015-11-25 22:33] #2300 closed

[2015-11-25 23:40] LinuxDonald commented on #893
i must create new tickt with more details for this.

[2015-11-25 23:40] #893 closed

[2015-11-26 18:51] LinuxDonald commented on #2075
Where is the installer source for windows?

[2015-11-28 01:25] janexx commented on #2336
Doen with commits: 9dec8df8555d5ee3b0a33c88784202dc9a30c722 , 31cc8ce006874e59ab207357264a67fd0228bcf7 and e55d16aff2de9f139d2d1ea9bc8da4933f54ec12
Is something missing?

[2015-11-28 09:56] LinuxDonald commented on #2336
I will check this later. After come back from work. Thx for your work :-)

[2015-11-28 14:40] stubb commented on #2075
Every necessary information are collected here https://github.com/unknown-horizons/unknown-horizons/wiki/Windows-installer

[2015-11-28 17:20] LinuxDonald commented on #2336
Some bugs with the field but that i can fix. It have nothing todo with you grafics :)

[2015-11-28 21:01] LinuxDonald commented on #2336
Fixed

[2015-11-28 21:01] #2336 closed

[2015-11-29 00:03] LinuxDonald commented on #2313
https://github.com/unknown-horizons/unknown-horizons/commit/de11d05135c5e3a7c6b07cf16830b75ced2ca08b https://github.com/unknown-horizons/unknown-horizons/commit/fd70beed8e3cc3d0ccaddbc782d27e79d90766d1 https://github.com/unknown-horizons/unknown-horizons/commit/59a86137810cf7f3d182f41c95c5b72abfb301ea https://github.com/unknown-horizons/unknown-horizons/commit/5a572cd57dcde54851b8ca37c9cddefb8fb11

[2015-11-29 00:03] #2313 closed

[2015-11-29 17:17] LinuxDonald commented on #1956
any news here?

[2015-11-29 17:17] LinuxDonald commented on #1609
need update here trac is lost. or can it be cloased?

[2015-11-30 00:19] LinuxDonald commented on #2253
Maybe ask him? http://soundimage.org/

[2015-12-01 14:47] stubb commented on #2329
Made a PR to add fifechan to brew https://github.com/Homebrew/homebrew/pull/46539

[2015-12-01 14:52] stubb commented on #2326
I took some time to inspect the old and the new theme. phpbb2 vs 3. The theme and templates differ in many places. Instead of hack the old theme into the format of the new we should consider adopting our theme to phpBB3. If I understood it correctly our theme inherits from the default theme named "prosilver". But instead of inherit it correctly, its a simple copy of the theme which was modified af

[2015-12-01 16:30] stubb commented on #1956
Installed OneAll Social Login for the forum and activated login via Github.

[2015-12-01 16:30] #1956 closed

[2015-12-01 19:02] Gladius1 opened #2338 "Tooltips width is not correct"
As you may know, the width of the tooltip icon is not correct. For many menu tooltips it is too big, for the building menu it is often too small. I attempted to fix it but I could use some help.
Please have a look at my implementation and give me some hints, so I can make tooltips with correct width.
I'm especially interested if it is possibe to just scale the images in the buffer or if it is poss

[2015-12-08 16:50] LinuxDonald opened #2339 "Add grafics for cannon foundry"
Grafic paths can be found here:

https://github.com/unknown-horizons/unknown-horizons/commit/0a4c640d082137acb3b3050a1953979d6ce3b661

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28953694-add-grafics-for-cannon-foundry?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-12-10 12:51] janexx commented on #2312
For what purpose should the cattle be? To produce milk or meat or both? I dont know if I should make male or female cattle or both.

[2015-12-10 17:19] LinuxDonald commented on #2312
For now I think only for meat

[2015-12-10 21:17] stubb commented on #2312
As @LinuxDonald  said its intended use is the production of meat. Feel free to create female and male gfx.

[2015-12-14 00:52] janexx commented on #2312
Here is a preview. I am still working on the animation.
![preview2](https://cloud.githubusercontent.com/assets/6216898/11770679/f5240df0-a204-11e5-93f4-ac41f50a8354.png)

[2015-12-14 01:01] LinuxDonald commented on #2312
looks very nice :)

[2015-12-14 13:26] Embeddix opened #2340 "Ressources in mountains are reseted for new mine"
A mountains has a limited amount of iron, let's say it's 400. After all of this has been digged out of the mountain there should be no ressources left. Currently yu just have to build a new mine and there again 400 iron.

Steps to reproduce:
1.) Build an iron mine on a mountain
2.) Dig out all of the iron (0 Iron left)
3.) Pull down the mine
4.) Build a new mine (again 400 iron there).

At step 4

[2015-12-15 12:14] LinuxDonald commented on #2340
I will check that in the lastet git version. But i think that bug will not get fixed up in Version 2015.1 when its still there.

[2015-12-18 23:57] LC43 opened #2341 "Move Building"
Hi everyone! congratulations on the awesome game! i've just played it twice.

i found myself placing many building on the wrong position because the game decided to place the buildings slightly off. Is there a way to move any building? Destructing a building

[2015-12-23 17:45] LinuxDonald commented on #2341
At the moment there is nothing implemented to move an building. That bug that you have comes only with settler Buildings. Sorry for the long delay with your ticket.

[2015-12-23 17:47] LC43 commented on #2341
I see, thank Thomas.

good work!

On Wednesday, December 23, 2015, Thomas Kowaliczek <notifications@github.com>
wrote:

[2015-12-23 20:54] janexx commented on #2312
finished with commits 468812ceed066f19d16e0c137fce8fe94302fcd1 and 60e6e6a8061828489f87cc2c6c742db3d0f63700

[2015-12-23 20:54] #2312 closed

[2015-12-23 20:56] janexx commented on #599
All issues are done! :)

[2015-12-23 20:56] #599 closed

[2015-12-23 21:39] janexx commented on #858
Where is the blend file for the actual sheep action set? I can't find it. I just find the file "sheepies*" from mssssm.

[2015-12-23 21:54] janexx commented on #2022
There are already graphics for a storage hut. But its not in game. Is this already the warehouse?
Or what is the difference from a storage hut to a warehouse? Are there really new graphics needed?

[2015-12-25 03:43] kozross opened #2342 "Random lagspikes while playing"
Every couple of minutes of playing the game (particularly when selecting buildings), I get lagspikes lasting a fairly considerable time (several seconds, up to five seconds sometimes). During these, I can't move the mouse or do much of anything. Don't know if this is a bug or not, but I figured I'd report it.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-12-25 11:00] stubb commented on #2022
@janexx The warehouse is the main building of the settlement. Its a warehouse accessibly by ships. The storage huts main task is extending the settlements resource capacity and providing places where the settlers can get resources.

[2015-12-25 17:59] LinuxDonald commented on #2342
Yeah that is an known bug. We hope that that bug get fixed next year.

[2015-12-26 23:48] stubb commented on #858
The current pasture gfx is made by inken. Sadly there isnt the gfx in the repo. I will ask her if she can provide the blend file.

[2015-12-27 00:05] LinuxDonald opened #2343 "Need savegame fix for that patch"
That part makes problems. Can´t load old savegame.

diff --git a/content/objects/buildings/brewery.yaml b/content/objects/buildings/brewery.yaml
index 450e6cd..511c24c 100644
--- a/content/objects/buildings/brewery.yaml
+++ b/content/objects/buildings/brewery.yaml
@@ -18,15 +18,15 @@ components:
 - HealthComponent: {maxhealth: 1000}
 - ProducerComponent:
     productionlines:
-      LIQUOR:
+

[2015-12-27 14:38] janexx commented on #858
OK. But maybe I simply take the cattle run blend file.

[2015-12-27 17:47] LinuxDonald commented on #2343
here is the branch for it https://github.com/unknown-horizons/unknown-horizons/tree/need-savegame-fix

[2015-12-28 14:09] janexx commented on #2022
... is finished with commit a5b261550a3cacc0663496c226c7c3bb6c77a39c

[2015-12-28 14:09] #2022 closed

[2015-12-28 23:30] LinuxDonald opened #2345 "Get rid of production line ids PART 2"
Based on this: https://github.com/unknown-horizons/unknown-horizons/issues/1411

Fields:
Alvearies
Cattle Run
Pigsty
Sugar Field
Tobacco Field
Vineyard

Buildings:
Bakery
Blender
Boat Builder
Brickyard
Butchery
Charcoal Burning
Clay Pit
Tavern
Tents
Tobacconist
Toolmaker
Village school
Warehouse
Weaver's Hut
Windmill
Winery

Tree

[2015-12-28 23:32] LinuxDonald commented on #2345
@ChrisOelmueller is that correct?

[2015-12-29 22:06] janexx commented on #2024
Warehouse is finished: b7556a344a251ca6ea0ceb19221cc7498b5b5c81

[2015-12-29 22:06] #2024 closed

[2015-12-29 22:07] #1735 closed

[2015-12-30 11:39] martingeiger commented on #1635
![female_gfx](https://cloud.githubusercontent.com/assets/16446328/12050244/48e5f9b8-aef2-11e5-85d1-bea0521847e4.png)

[2015-12-30 11:45] martingeiger commented on #1635
![bildschirmfoto 2015-12-30 um 02 16 17](https://cloud.githubusercontent.com/assets/16446328/12050280/1a901840-aef3-11e5-9189-42f2f9b7206f.png)
{Ingame}

[2015-12-30 11:45] martingeiger commented on #1635
Hello everyone,
I started yesterday with the female_gfx.
I don't know how detailed the texture should look,
but that's then a first preview. Any suggestions ?
Thanks

[2015-12-30 13:22] LinuxDonald commented on #1635
i Think it looks okay :) When you are done with the grafic and animation please make an Pull request.

[2015-12-30 14:40] janexx commented on #1635
It looks very nice, the textures are good, I think there are no more details needed.

[2015-12-30 17:18] LinuxDonald commented on #2311
i will check this in the next days.

[2015-12-30 17:23] pinkfloyda commented on #2342
@LinuxDonald Hi, do you know what is the previously known bug? Is there a link to that? I remembered previously (long time ago), I encountered this issue and I submit a fix already. The slowdown is due to the menu, there are so many menu items get loaded each time.

[2015-12-30 17:26] LinuxDonald commented on #2342
@pinkfloyda was that report here on git page or on the old trac bugtracker? Maybe you can find the old one. Where the patch is?

[2015-12-30 17:27] pinkfloyda commented on #2342
@LinuxDonald check this one "Tab shown delayed in selecting #2235"

[2015-12-30 17:28] pinkfloyda commented on #2342
@LinuxDonald I remembered, it is slowdown because of my memory leak, maybe this one is different to that one.

[2015-12-30 17:40] LinuxDonald commented on #2342
question is how to fix the problem.

[2015-12-31 13:13] stubb commented on #2314
Nobody requested the possibility to update such old savegames < rev 48 within the last months. So i am closing this. Feel free to open this issue again if necessary.

[2015-12-31 13:13] #2314 closed

[2015-12-31 18:38] LinuxDonald commented on #2129
splitted the code https://github.com/unknown-horizons/unknown-horizons/commit/f4694f5ef7231c9f636262c6c7d431a07ed41e21

[2016-01-03 20:59] janexx commented on #1635
is finished with commits 9a32771b0b0a5e83ad247f9b70a9ba9a08af5538 and 70290d9c616ef327ca3dcb31840db5c6ea105f20

![0](https://cloud.githubusercontent.com/assets/6216898/12080741/1f8d4e88-b265-11e5-96d1-62a184e7b395.png)

Good work Martin!

[2016-01-03 20:59] #1635 closed

[2016-01-03 21:32] stubb commented on #1635
@martingeiger great work!

[2016-01-03 21:39] janexx opened #2347 "Units are sometimes hidden from buildings"
Sometimes units are hidden behind graphics of buildings like the woman with the marketplace in this picture:

![women_behind_marketplace](https://cloud.githubusercontent.com/assets/6216898/12080885/ce7ff374-b269-11e5-9ed3-7d1868f68101.png)

The hiding happens randomly. Sometimes its all right and sometimes not.... very strange.

I use Arch Linux and nouveau as graphic driver (free driver for Nvidi

[2016-01-04 21:37] martingeiger commented on #1635
thanks a lot

[2016-01-04 21:41] martingeiger commented on #1635
![male_gfx](https://cloud.githubusercontent.com/assets/16446328/12101228/d7a76f98-b333-11e5-953a-552b523b6053.png)

I made now a male-gfx as well.
The figures are for the tent-buildings ?
Different houses, different dresses ?

[2016-01-04 21:41] martingeiger commented on #1635
And it renders now fine

[2016-01-04 21:56] LinuxDonald commented on #1635
you can make diffrent dresses when you like at the moment we have 4 steps:
Sailors
Pioneers
Settlers
Citizens

but than we need for woman to more dresses

[2016-01-04 22:16] martingeiger commented on #1635
sure, like the different society classes.
From poor to noble etc.

[2016-01-04 22:17] LinuxDonald commented on #1635
yes :)

[2016-01-04 23:01] martingeiger commented on #1635
OK. let's do this.

[2016-01-09 09:33] martingeiger commented on #1635
![bildschirmfoto 2016-01-09 um 10 28 35](https://cloud.githubusercontent.com/assets/16446328/12215416/3164f01a-b6bc-11e5-9aee-4961c99eff26.png)
![bildschirmfoto 2016-01-09 um 10 25 47](https://cloud.githubusercontent.com/assets/16446328/12215417/317b405e-b6bc-11e5-8fe9-8e709bd79ee9.png)
![bildschirmfoto 2016-01-09 um 10 27 26](https://cloud.githubusercontent.com/assets/16446328/12215418/31900a52-b

[2016-01-09 10:07] martingeiger commented on #1635
The citizens will follow tomorrow.

[2016-01-09 11:49] stubb commented on #1635
@martingeiger Great work :+1:
I don't have a suggestion, but a small question. Is it intended that the woman are pale in comparison to the men? We should check if it's difficult do differentiate the hands from the tops in the resulting ingame-renderings.

[2016-01-10 08:05] martingeiger commented on #1635
Yes that's right it just stays the same teint.

Let me try something like the inhabitants
getting paler how richer they become.

In a historical aspect we can say "aristocratic pallor".

[2016-01-10 12:31] LinuxDonald commented on #1635
We have that steps of inhabitants:

Sailors
Pioneers
Settlers
Citizens
Merchants (not ingame yet)
Aristocrats (not ingame yet)

[2016-01-10 23:34] janexx commented on #1635
@martingeiger
Thanks at first for your good work and your last 2 commits. But there went some things wrong (don't worry).

1) We store the source files (blender file, textures and ideally a licence text) in the gfx repository: https://github.com/unknown-horizons/gfx
You can compare your folder structure with folders from other graphic artists under the link above. It would be not bad, when you cou

[2016-01-11 17:14] martingeiger commented on #1635
Thank you for the points,
I change it quickly.

[2016-01-15 23:59] LinuxDonald commented on #2347
![2016-01-16 00-57-36 618265](https://cloud.githubusercontent.com/assets/1757651/12368520/60e6f68c-bbec-11e5-8973-c89fb701a236.png)
Maybe the same problem?

[2016-01-22 16:46] Elinvention opened #2349 "Click on Main Square cause a crash"
Unknown Horizons, FIFE engine and FIFEChan compiled from git.

[code]

UPDATE: This happens if I destroy a turret that expands settlement's range (don't know how to say).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30120180-click-on-main-square-cause-a-crash?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_s

[2016-01-23 01:23] LinuxDonald commented on #2349
I can reproduce the error. Its an an turrent its an signal fire. @stubb can you please take an look on it?

[2016-01-23 01:46] LinuxDonald commented on #2349
... Not signal fire I mean the lookout

[2016-01-24 09:42] Teemperor opened #2354 "AI tick cause periodic frame drops"
The ai ticks cause periodic frame drops during gameplay.
[fpsdrop.txt](https://github.com/unknown-horizons/unknown-horizons/files/102243/fpsdrop.txt) is the log of all functions that caused in the test game a noticeable framedrop.

[2016-01-24 10:38] Teemperor commented on #2354
[profile.txt](https://github.com/unknown-horizons/unknown-horizons/files/102275/profile.txt) (open with runsnakerun) shows how the ai spents the time mostly with handling all settlements. Doing less settlement updates per tick should solve this issue.

[2016-02-05 10:41] stubb commented on #2349
Iam not able to reproduce it. Tested it multiple times.

[2016-02-05 12:04] LinuxDonald commented on #2349
@stubb have you build an new lookout and than removed it and clicked on the marketplace?

[2016-02-05 12:07] stubb commented on #2349
Oh, reading the headline would have made that clear. I forgot to click on the mainsquare.

[2016-02-05 13:36] #2349 closed

[2016-02-05 13:48] LinuxDonald commented on #2343
fixed.

[2016-02-05 13:48] #2343 closed

[2016-02-23 22:10] LinuxDonald opened #2355 "Need grafic for: Stone Pit"
We need grafic for Stone pit. But Make it not yet. Because we need code for it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31195020-stone-pit?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2016-02-23 22:11] LinuxDonald opened #2356 "Need grafic for: Stonemanson"
Need grafic for it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31195049-stonemanson?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github).
</b

[2016-02-23 22:13] LinuxDonald opened #2357 "Stone deposit not works"
Stone deposit can´t be build. I think it must be implemented.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31195141-stone-deposit-not-works?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=trac

[2016-02-24 13:01] LinuxDonald commented on #2357
Maybe an workaround would be that mine produces not only one resource. With every tier the mine could be produce one more resource?

[2016-02-25 19:07] janexx commented on #2339
Should the cannon foundry have a size of 2x2 or 3x3? I have tested both options:
**Cannonfoundry 3x3:**
![cannonfoundry_3x3](https://cloud.githubusercontent.com/assets/6216898/13330870/292e71a0-dbfb-11e5-91c0-fd3dcaf9dd25.png)
**Cannonfoundry 2x2:**
![2x2](https://cloud.githubusercontent.com/assets/6216898/13330879/31a79d0c-dbfb-11e5-81c7-483b2caee52c.png)

[2016-02-27 14:26] stubb commented on #2357
Like the clay pit, the stone pit is an own resource. The resources produced by the mine are independent from the pits at all. Worth to take a look at this page http://wiki.unknown-horizons.org/w/User:Eoc/DD/BL

[2016-02-27 14:29] stubb commented on #2355
Should it be part of Tier 3 Settlers?

[2016-02-27 14:32] stubb commented on #2339
In my opinion the 3x3 looks better and fits better into the size relations at all. You have done great work again!

[2016-02-27 17:13] LinuxDonald opened #2358 "Game Crashes when i click on: Cancel game"
Here is the log:

[code]

[first.sqlite.zip](https://github.com/unknown-horizons/unknown-horizons/files/149468/first.sqlite.zip)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31375185-game-crashes-when-i-click-on-cancel-game?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties v

[2016-02-27 17:30] LinuxDonald commented on #2358
[1autosave.sqlite.zip](https://github.com/unknown-horizons/unknown-horizons/files/149450/1autosave.sqlite.zip)
Here is another savegame file from an Windows User.

[2016-02-27 19:03] LinuxDonald opened #2360 "Need grafic for stone deposit"
Need grafic for stone deposit

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31378137-need-grafic-for-stone-deposit?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=is

[2016-02-28 02:15] LinuxDonald commented on #2339
Janexx: I and stubb have talked about on irc. And have decided that I should be 3x3 :-)

[2016-02-28 02:18] LinuxDonald opened #2361 "Updated the A.I. that it use the new buildings."
The A.I. Need to get updated that it use the new buildings that we added the last month's.

[2016-02-28 16:29] janexx commented on #2339
Ok fine, I will update it later :)

[2016-02-29 01:05] LinuxDonald commented on #858
@janexx Should we close this here and make an new Issue for an new sheep farm? (For Version 2016.02 not for 2016.01)

[2016-02-29 01:07] LinuxDonald commented on #1115
@stubb can that be closed? Or is that not fixed?

[2016-02-29 01:10] LinuxDonald commented on #1540
Is that ticket up-to-date?

[2016-02-29 01:10] LinuxDonald commented on #1539
Is that ticket up-to-date?

[2016-02-29 01:17] LinuxDonald commented on #2357
https://github.com/unknown-horizons/unknown-horizons/pull/2359

[2016-02-29 01:19] LinuxDonald commented on #2360
#2359

[2016-02-29 01:19] #2360 closed

[2016-02-29 01:19] #2357 closed

[2016-02-29 01:19] LinuxDonald commented on #2356
#2359

[2016-02-29 01:19] #2356 closed

[2016-02-29 01:19] LinuxDonald commented on #2355
#2359

[2016-02-29 01:19] #2355 closed

[2016-02-29 01:20] LinuxDonald commented on #2276
@M3tal-Warrior can you please test it with lastest fife-git/fifechan-git and uh-git version? fife uses now sdl2.

[2016-02-29 11:29] janexx commented on #858
Ok, good idea!

[2016-02-29 11:29] #858 closed

[2016-02-29 11:46] janexx opened #2362 "Make a new sheep pasture"
The sheep pasture shoud be updated, see old ticket: #858

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31436837-make-a-new-sheep-pasture?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%

[2016-03-01 11:10] #2358 closed

[2016-03-10 01:31] LinuxDonald commented on #2325
@Clonewayx have you that issue too with lastest uh-git and ffe-git/fifechan-git?

[2016-03-10 01:38] LinuxDonald commented on #2322
@daithi-coombes can you please retest it with fife-git/fifechan-git it have now sdl2 support

[2016-03-10 01:43] LinuxDonald commented on #2193
For me it ist working.

[2016-03-10 01:44] LinuxDonald commented on #2179
@janexx When you and @stubb have time we can talk about this.

[2016-03-10 01:57] LinuxDonald commented on #2013
@stubb can you give me more detials what its need todo here please?

[2016-03-10 02:03] LinuxDonald commented on #1895
@ChrisOelmueller should i do an rebase of it?

[2016-03-10 02:11] LinuxDonald commented on #756
@janexx dont do this in the next months

[2016-03-10 02:12] #1755 closed

[2016-03-10 02:17] LinuxDonald commented on #1098
@stubb is that done or todo?

[2016-03-10 02:20] LinuxDonald commented on #1379
@stubb what about this issue?

[2016-03-10 11:28] Clonewayx commented on #2325
Same with lastest uh-git.
Sorry but I don't know where to find (and what to do with it) ffe-git/fifechan-git.
[run_uh.txt](https://github.com/unknown-horizons/unknown-horizons/files/167021/run_uh.txt)

[2016-03-10 12:12] LinuxDonald commented on #2325
What Linux distribution are you using?

[2016-03-10 12:52] ChrisOelmueller commented on #2325
Which version of FIFE? Obtained from your package manager or installed manually?

[2016-03-10 13:20] Clonewayx commented on #2325
Lubuntu 15.10.

fife (0.3.5-1build2) wily
If package _python-fife_ is what you meant.

[2016-03-10 13:31] LinuxDonald commented on #2325
Can you reproduce the error? and what are you doing that that crasg happens?

[2016-03-10 13:35] LinuxDonald opened #2368 "Grafic for pastryshop"
Need grafic for pastryshop

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31748822-grafic-for-pastryshop?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_so

[2016-03-10 14:12] Clonewayx commented on #2325
Clone of git crash short after start of one-player game (same for random and scenario)

Version (2014.1+ds1-2) from Ubuntu repository crash after some buildings are build.

[2016-03-10 19:16] #750 closed, assigned to LinuxDonald

[2016-03-11 17:22] janexx commented on #2339
I updated the cannon foundry: 4e1e7f3ce8d34fcedc626bea73d370fd5897a84f
Maybe it can improved a bit (move the mold with the help of the cable pull) later. For now I close this issue.

[2016-03-11 17:22] #2339 closed

[2016-03-11 17:25] stubb commented on #2325
@Clonewayx can you run Unknown HOrizons with the debug flag like:
[code]
Please search for a line simliar to: Using fife version 0.4.0, at least 0.3.4 required

[2016-03-11 18:00] LinuxDonald opened #2369 "Production Overview is broken"
![2016-03-11 18-59-56 415537](https://cloud.githubusercontent.com/assets/1757651/13710793/860122f8-e7bb-11e5-858e-017d80b284ba.png)

There is nothing showed...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31799100-production-overview-is-broken?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)**

[2016-03-11 18:17] Clonewayx commented on #2325
Using fife version 0.3.unknown, at least 0.3.4 required

So, I have installed more version of that package?

(last line: intel_do_flush_locked failed: No space left on device)

[2016-03-13 11:01] stubb commented on #2325
Your versions seems fine. But it looks like your harddrive hasn't any space left.

[2016-03-13 16:23] Gladius1 commented on #2338
I made further improvements to the tooltips. It works pretty well now, but pychans textwrapping is bugged. It would cut off words from long strings, so I used the textwrap from python. It is char based. So it wraps after n chars, but since we are NOT using a monospaced font, n chars isn't always n pixels long. So sometimes part of a word gets chopped off. I don't know a fix for this, maybe someone

[2016-03-14 10:51] Clonewayx commented on #2325
Now I have 8.7 GB free space on my HDD.

[2016-03-15 18:57] LinuxDonald opened #2371 "Pastryshop not all proc lines are visible."
The Pastryshop gui dont show alle proc line of it.

@stubb can you please take an look on it?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31920657-pastryshop-not-all-proc-lines-are-visible?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2016-03-15 18:59] LinuxDonald opened #2373 "Farm Second Tab line 3 not work correctly"
Uncomment line 195 ind game.sql and click on the second Tab on the Farm building.
Fot that you need TIER.CITIZENS.

@stubb

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31920723-farm-second-tab-line-3-not-work-correctly?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2016-03-15 19:09] LinuxDonald commented on #2373
![2016-03-15 20-01-55 578609](https://cloud.githubusercontent.com/assets/1757651/13790582/7de9438a-eae9-11e5-9754-2795af968a83.png)

[2016-03-15 19:09] LinuxDonald commented on #2371
![2016-03-15 20-07-34 059199](https://cloud.githubusercontent.com/assets/1757651/13790638/be6331a0-eae9-11e5-8f93-744c545718ab.png)

[2016-03-15 19:15] LinuxDonald commented on #2368
@janexx we need some more pastryshop icons please see:

That is correct: unknown-horizons/content/gui/icons/buildmenu/063.png
Need update: unknown-horizons/content/gui/icons/buildmenu/063_h.png
and: unknown-horizons/content/gui/icons/buildmenu/greyscale/063.png
 
 
 

[2016-03-15 19:18] janexx commented on #2368
Ok. Or maybe make  complete new one?

[2016-03-15 19:20] LinuxDonald commented on #2368
Yeah one of Janexx style made one :-)

[2016-03-15 19:36] stubb commented on #2371
Wee need to introduce a scrollbar here. For smaller screen sizes the widget will become too big
![2016-03-15 20-33-46 740645](https://cloud.githubusercontent.com/assets/373318/13791427/6100070a-eaed-11e5-8e7e-fcf832b82be3.png)

[2016-03-15 20:46] #2371 closed

[2016-03-15 22:49] #2292 closed

[2016-03-15 22:49] #2150 closed

[2016-03-15 23:03] LinuxDonald opened #2374 "Adding hunter ai code on ai-update-buildings branch."
I dont know how to added the Hunter correctly to ai. I thik the code fom lumberjack can taken for him. But must be modified.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31928503-adding-hunter-ai-code-on-ai-update-buildings-branch?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bou

[2016-03-15 23:06] LinuxDonald opened #2375 "Let the AI Build the Wooden Tower"
How we can say that ai can build Wooden Tower? because it dont produce anything.....
Have you maybe an idea Kilian?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31928564-let-the-ai-build-the-wooden-tower?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2016-03-16 19:57] janexx commented on #2368
I added the pastry shop graphics: dfd5b3aee9071788732146cac187175aea6c71b8
![063](https://cloud.githubusercontent.com/assets/6216898/13826754/635f4dd6-ebb9-11e5-9a98-8bc27462db39.png)

[2016-03-16 19:57] #2368 closed

[2016-03-29 22:04] janexx commented on #1626
The windmill looks a bit different because the original windmill was not used within the uh default Blender scene. I imported it in a new default Blendder file. And I also rendered it 128x128 instead of 128x256. When you @stubb @LinuxDonald are happy with that, the issue can be closed with commit 2538f3b36780a55cd78ed65fdb28cdff8b28fc10 .

[2016-03-29 22:39] LinuxDonald commented on #1626
Thank you for your work @janexx :) it looks nice :)

[2016-03-29 22:39] #1626 closed

[2016-03-29 22:41] LinuxDonald commented on #2193
Reopen it when it crashing again.

[2016-03-30 09:49] stubb commented on #2193
This is only hack fixed, so this issue shouldn't be closed yet.

[2016-04-04 01:39] shevegen opened #2376 "Homepage: please add very short instructions how to grab the source and compile it at http://www.unknown-horizons.org/download/linux/"
Homepage: please add very short instructions how to grab the source and compile it at http://www.unknown-horizons.org/download/linux/

I always try to compile from source first.

I am sure I will find out somehow anyway but right now I am wondering how to obtain the source (ok, I can probably download the zip from github here, but still I think a sentence should mention that on the download link).

[2016-04-04 09:10] stubb commented on #2376
Within the left sidebar are links to the instructions.

[2016-04-26 14:36] LinuxDonald commented on #2255
#2337

[2016-04-27 12:54] LinuxDonald commented on #1792
@stubb can that be closed?

[2016-04-27 15:45] stubb commented on #1792
As far as I know only a part of this behaviour is implemented right now

[2016-05-07 14:50] stubb commented on #2376
Please reopen if anything is unclear about the instructions

[2016-05-07 14:50] #2376 closed

[2016-05-15 15:28] zapashcanon opened #2381 "Game doesn't start"
Hi,

A friend of mine installed the game, using:

`apt-get install unknown-horizons`

She's running Debian Testing (amd64), I asked her to launch it from command line, here's the output:

[code]

Any idea about why it doesn't start ?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34250212-game-doesn-t-start?utm_campaign=plugin&ut

[2016-05-15 15:39] LinuxDonald commented on #2381
The Version is very old. Maybe you should uninstall it. And compile fife/fifechan and UH by your self?

[2016-05-15 15:54] Sancho-Panza commented on #2381
Hum ok.. I think it's a little bit hard for her. I just told her to install the package from Debian Stable which seems to work, but ty anyway !

Are you (upstream) in relation with the debian package maintainers ? Or should I ask them to update the package ?

[2016-05-15 16:02] LinuxDonald commented on #2381
I´m not the packager from debian. But the problem is we don´t have released an new stable Version.
Maybe you should ask the Maintainer if he can update it to the lastest git version. fife and uh.

[2016-05-15 16:11] Sancho-Panza commented on #2381
Yep' I know you're not. ;) I was talking about the version from Debian Stable, it's older than the one from Testing, but this one works.

Ok, I'll ask the maintainer, thx !

[2016-05-15 16:12] LinuxDonald commented on #2381
can you maybe link both packages here? i know an debian maintainer

[2016-05-15 16:14] Sancho-Panza commented on #2381
Not sure if it's what you're asking, but [here's the link](https://packages.debian.org/search?keywords=unknown-horizons&searchon=names&suite=all&section=all&sourceid=mozilla-search).

[2016-05-15 16:30] LinuxDonald commented on #2381
Christop will fix that when he will find time. And push an new package into experimental.

[2016-05-15 17:42] Sancho-Panza commented on #2381
Ok, nice, thanks !

[2016-05-20 11:58] LinuxDonald opened #2382 "Need irc channel rights"
I need the irc channel rights. I'm planning to make an dev blog for uh. Because I have heard that the old site will be maybe closed and I want to make an blog with two languages German and English.

@ChrisOelmueller can you make give me the rights for it please?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34420026-need-irc-channe

[2016-05-23 14:44] janexx commented on #1635
@martingeiger: Do you want to put the rendered graphics in the directory metioned above to see the inhabitants in game? They are not yet in. I think some of them must be rendered again. Or if you want I can do that too.

[2016-05-25 04:42] ChrisOelmueller commented on #2382
@LinuxDonald
To the best of my knowledge, my account holds none of the special permissions you're asking for. How did you associate me with this task?

On the other hand, I'm not sure what IRC "channel rights" are or how they relate to setting up a new website (?) or new blogs (?) so maybe I'm misunderstanding.

[2016-05-25 09:28] LinuxDonald commented on #2382
I mean that:

Topic for #unknown-horizons is: Welcome to #unknown-horizons | www.unknown-horizons.org | Read the FAQ: http://git.io/gHp13w | Get involved: http://tinyurl.com/uh-get-involved | Channel is logged! | File upload: http://up.unknown-horizons.org/ | http://bugs.unknown-horizons.org | http://translate.unknown-horizons.org
* Topic for #unknown-horizons set by ChrisOelmueller (Mon Apr  7 17

[2016-05-25 09:50] LinuxDonald commented on #1785
@hoffi have you maybe code for your work?

[2016-05-25 11:11] ChrisOelmueller commented on #2382
So you're actually asking for `+t`? Did you check who in the access list can grant that, or whether the channel is locked at all? Otherwise feel free to leave me a message/email with the new desired text and I'll stop by to set it sometime.

[2016-05-25 11:39] LinuxDonald commented on #2382
I will ask nihathrael for the rights.
Thx for your help eoc :-)

eoc when you will have time to come back into the irc?

[2016-05-27 14:33] LinuxDonald opened #2384 "Animate stone pit"
We need Animation for Stone Pit

[2016-05-27 14:34] LinuxDonald opened #2385 "Animate clay pit"
Clay Pit needs animation

[2016-05-27 14:35] LinuxDonald opened #2386 "Cannon foundry needs a little bit more animation"
Cannon foundry needs a little bit more animation

[2016-05-27 14:37] LinuxDonald commented on #1749
@stubb @ChrisOelmueller what fonts we can use here? What licence it must be?

[2016-05-27 14:42] LinuxDonald commented on #1379
@stubb in what file must the offset corrected?

[2016-05-27 21:18] LinuxDonald commented on #1357
https://github.com/unknown-horizons/unknown-horizons/commit/8acba93e3518d684b2afa24f7322b2f2571b7e9b

[2016-05-28 09:47] stubb commented on #1749
Any font which has a licence compatible with the DFSG.

The real problem is we will not find one font that has characters for all the different languages UH supports. So we need to use different fonts for different languages.

[2016-05-29 10:40] LinuxDonald opened #2388 "Settler stages grafic´s dont show up ingame"
The settler stages grafic´s dont show up ingame. Only its shows the sailer grafics.

TIER.PIONEERS: and TIER.SETTLERS: dont show up.

stubb maybe you can find an fix that Jana can render all martins grafics and add them into the game :)

https://github.com/unknown-horizons/unknown-horizons/blob/master/content/objects/units/collectors/settlercollector.yaml

<bountysource-plugin>
---
Want to back th

[2016-05-29 10:49] LinuxDonald commented on #2388
Janexx have tested it when you comment out TIER.PIONEERS: and TIER.SETTLERS: it loads the grafics as Sailors one but the are in other folders see: https://github.com/unknown-horizons/unknown-horizons/tree/master/content/gfx/units/inhabitant

I think it dont check for Tier and that is maybe the problem. That it is not implemented.

[2016-05-30 18:21] stubb commented on #2382
Should be solved.

[2016-05-30 18:21] #2382 closed

[2016-05-30 21:37] LinuxDonald opened #2389 "Make it easier to start lan games"
At the moment its not so easy making lan games.
See: https://github.com/unknown-horizons/unknown-horizons/wiki/FAQ

It would be nice when lan game could be started from ingame.

[2016-05-30 23:48] LinuxDonald opened #2390 "Create Pigsty"
Create an Pigsty

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34714232-create-pigsty?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github).
</bo

[2016-06-01 13:17] #2375 closed

[2016-06-01 13:18] #2374 closed

[2016-06-02 08:16] MarkusHackspacher opened #2392 "typo: two times import AmbientSoundComponent in ingamegui.py"
Hello,
in the file horizons/gui/ingamegui.py are two time the line
`from horizons.component.ambientsoundcomponent import AmbientSoundComponent`
in line 29 and 52

https://github.com/MarkusHackspacher/unknown-horizons/blob/master/horizons/gui/ingamegui.py#L29
https://github.com/MarkusHackspacher/unknown-horizons/blob/master/horizons/gui/ingamegui.py#L52

<bountysource-plugin>
---
Want to back this

[2016-06-02 08:28] MasterofJOKers commented on #2392
Did you check other files for duplicate imports, too? Then we could do this in one "Clean up duplicate imports" commit. Would you like to do a Pull-Request for this, then?

[2016-06-02 10:58] MarkusHackspacher commented on #2392
I use the service from https://www.quantifiedcode.com/ it is an automated code review. It found only  one time this fault.
I´m sorry, I do not want to make a pull request.

[2016-06-02 11:01] LinuxDonald commented on #2392
Thank you for the report. I will fix that :-)

[2016-06-02 11:20] #2392 closed

[2016-06-03 15:04] LinuxDonald opened #2393 "Tier 5 Todo list"
Here is the todo list for tier 5 (its not complete)

- [ ] create grafics for tier 5 settlers home building
- [ ] add grafics for tier 5 settler units/ first this need to be fixed: https://github.com/unknown-horizons/unknown-horizons/issues/2388
- [ ] create work buildings for tier 5
- [ ] update buildmenu (for tier 5)
- [ ] add new ships (for tier 5)
- [ ] add new productions lines

[2016-06-09 21:25] LinuxDonald opened #2394 "Update forum software from 3.16. to 3.1.9 please"
Update forum software from 3.16. to 3.1.9 please
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35025898-update-forum-software-from-3-16-to-3-1-9-please?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&u

[2016-06-12 01:40] LinuxDonald commented on #2362
https://github.com/unknown-horizons/unknown-horizons/commit/4062908ab2812efe8e5c52051bc78ecf6960ccbd

[2016-06-12 01:40] #2362 closed

[2016-06-26 00:38] Jeeppler opened #2396 "Publish new release"
the latest release is [2014.1](http://www.unknown-horizons.org/devblog/113/114/Unknown-Horizons-Release-2014-1/). It is over two years old.

Many new features have been developed, since 2014. None of the new features can be used by players who are not familiar with git and compiling stuff.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2016-06-26 00:41] Jeeppler opened #2397 "Why does it take so long to merge pull requests?"
There are 12 pull requests open, some of them are over three years old. Why does it take so long to merge them?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35496665-why-does-it-take-so-long-to-merge-pull-requests?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bounty

[2016-06-26 00:44] LinuxDonald commented on #2396
We have some open bugs that must be fixed before can do an new releases.
See https://github.com/unknown-horizons/unknown-horizons/milestones/2016.1

I hoped we can do an released in the next months but we need Python coders.

[2016-06-26 00:45] LinuxDonald commented on #2397
Because we don't have active Python devs at the moment and that's an big problem for us at the moment sorry

[2016-06-26 00:57] Jeeppler commented on #2381
@zapashcanon please let the debian packager know about your issue, maybe they can fix it in the stable release.

[2016-06-26 01:01] Jeeppler commented on #2396
@LinuxDonald who is managing the community around UH right now?

[2016-06-26 01:02] LinuxDonald commented on #2381
Our debian packager already know the problems and is the maintainer of the package but some packages in Debian are older versions of some libs but we need newer ones and that is the problem at the moment.

[2016-06-26 01:02] LinuxDonald commented on #2396
That's my job :-)

[2016-06-26 01:07] Jeeppler commented on #2397
There is a difference between merging pull requests and developing new features. Your comment does not answer my question. Is there anybody from the UH team active and capable of reviewing and merging new features?

Not merging work from contributors hinders new developer to participate in the UH development.

[2016-06-26 01:09] Jeeppler commented on #2381
@LinuxDonald oh, sorry he was talking about Debian Testing not stable. What would be needed to fix the problem?

[2016-06-26 01:12] Jeeppler commented on #2396
Is there any simple task which could be done to make a 2016 release possible?

[2016-06-26 01:28] LinuxDonald commented on #2396
Maybe this one: https://github.com/unknown-horizons/unknown-horizons/issues/2373

But you're can look on the bugtracker for other issues for starting to code on UH.

[2016-06-26 01:32] LinuxDonald commented on #2396
I will writer laters an list with issues that's are maybe easy to fix.

[2016-06-26 01:42] LinuxDonald commented on #2381
@MasterofJOKers is working on that. Maybe he can explain it. I don't use Debian.

[2016-06-26 01:44] LinuxDonald commented on #2397
Reviewing couldn't be done by two members. Merge can be done by me.

[2016-06-26 01:45] LinuxDonald commented on #2397
The problem on the prs that we have is that none of them are done. They need all work before they can be merged.

[2016-06-26 09:01] zapashcanon commented on #2381
@Jeeppler, to update the package of the dependencies. :p

[2016-06-26 10:01] Jeeppler commented on #2381
That sounds good :+1:

[2016-06-26 10:04] Jeeppler commented on #2397
@LinuxDonald it would be a good idea to reach out to everyone of them ask for the status and if the person who created it is still working on them, otherwise somebody else can work on them.

[2016-06-26 10:07] Jeeppler commented on #2396
@LinuxDonald it would be better to use the tags: `simple` and `help wanted` as well as assign a priority or milestone to each of them. A tag makes it easy to find the issues.

[2016-06-26 10:20] LinuxDonald commented on #2396
https://github.com/unknown-horizons/unknown-horizons/labels/starter

[2016-06-26 10:21] LinuxDonald commented on #2397
I have already done this and no one of them have time to start working on them again.

[2016-06-26 10:26] Jeeppler commented on #2396
should be mentioned in this guide: https://github.com/unknown-horizons/unknown-horizons/wiki/Getting-started

The link under ["Hacking the Code"](http://www.unknown-horizons.org/get-involved/) leads to a dead page: http://wiki.unknown-horizons.org/w/Programmers_Guide

[2016-06-26 10:34] LinuxDonald commented on #2396
Where you have found the dead link? I can't find it. The wiki page that your linked is the old one. Now we use github wiki. But I will add laters the starters tickets link to the wiki.

[2016-06-26 10:36] Jeeppler commented on #2396
You can find Hacking the Code here http://www.unknown-horizons.org/get-involved/

[2016-06-26 10:54] LinuxDonald commented on #2396
The programmer guide link is working for me. It links to github wiki.

[2016-06-26 10:56] Jeeppler commented on #2396
You can also click on the image, besides "Hacking the Code", that is the dead link. Sorry for the confusion.

[2016-06-26 11:00] LinuxDonald commented on #2396
@stubb have you access to it? Can you fix that?

[2016-06-27 16:39] stubb commented on #2396
@Jeeppler Fixed it!

[2016-06-27 17:25] LinuxDonald commented on #2397
i have added the link to the starter tasks

[2016-06-28 10:10] MasterofJOKers commented on #2388
@LinuxDonald You're right, it is not implemented for units to be updated with the tier. Should I implement this just for the inhabitants or for other units as well?

[2016-06-28 10:55] LinuxDonald commented on #2388
i think there must be an way that the game checks in the yaml file. If there are defined grafics for the tier when yes that it load it. But the game must check what tier the buildings have too and that one building get an higher tier and than only runs on streets the newer tier grafics of people.

[2016-06-28 11:01] MasterofJOKers commented on #2388
Well, I can tell you, how it is done for buildings: When a new level is reached, every building is informed about it and tryies to load a new random action_set into itself. This can also be done for the buildings' collectors, which inhabitants are - but since tents behave a little different in that they initiate the level change, there are two places to implement having different grafics for colle

[2016-07-22 15:45] LinuxDonald commented on #2338
See https://github.com/unknown-horizons/unknown-horizons/pull/2383

[2016-07-22 15:47] LinuxDonald commented on #1688
See pr: https://github.com/unknown-horizons/unknown-horizons/pull/2307

[2016-07-22 15:48] LinuxDonald commented on #2199
PR for this need to be fixed: https://github.com/unknown-horizons/unknown-horizons/pull/2293

[2016-07-22 15:49] LinuxDonald commented on #636
Reopening see PR: https://github.com/unknown-horizons/unknown-horizons/pull/2202
Need to be fixed/making it done.

[2016-07-22 15:51] LinuxDonald opened #2406 "Research interface"
See PR: https://github.com/unknown-horizons/unknown-horizons/pull/2084

[2016-07-22 15:52] LinuxDonald opened #2407 "Climate zones and island fertility"
See PR: https://github.com/unknown-horizons/unknown-horizons/pull/2080

[2016-07-22 15:53] LinuxDonald opened #2408 "Simplify map preview"
See PR: https://github.com/unknown-horizons/unknown-horizons/pull/2062

[2016-07-22 15:53] LinuxDonald opened #2409 "Fix cursor in editor"
See PR: https://github.com/unknown-horizons/unknown-horizons/pull/2272

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36265736-fix-cursor-in-editor?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conten

[2016-07-22 15:55] LinuxDonald commented on #2369
https://github.com/unknown-horizons/unknown-horizons/pull/2372

[2016-07-22 15:56] LinuxDonald commented on #2397
I have closed now the old prs. On that no one works at the momnet. Now it should looks better for new devs :)

[2016-07-22 15:56] #2397 closed

[2016-07-22 17:55] LinuxDonald opened #2410 "Create new Brewery Buildmenu icon"
Create new Brewery Buildmenu icon

Icon Number is 68

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36269181-create-new-brewery-buildmenu-icon?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tra

[2016-07-22 18:02] LinuxDonald opened #2411 "Create buildmenu icon for gravel path"
Create buildmenu icon for gravel path

Icon Number is: 43

[2016-07-22 19:25] LinuxDonald commented on #2390
Thx @janexx for this work :)

https://github.com/unknown-horizons/unknown-horizons/commit/e805a92788859fa3b564f65c7177444bdced4001
https://github.com/unknown-horizons/unknown-horizons/commit/90fb675f6ae1caa04ad765eae12aaeee7c066f33
https://github.com/unknown-horizons/unknown-horizons/commit/6c568e04bf18595d4364dfe993618913bdaaeaaf

[2016-07-22 19:25] #2390 closed

[2016-07-23 20:32] xseanl commented on #1821
Would like to do this ticket.
Since 2012 the file mentionned above  "/horizons/gui/quotes.py#L49" seems to be gone.
Gameplay tips are found in /unknown-horizons/horizons/gui/modules/loadingscreen.py now.

[2016-07-23 20:50] LinuxDonald commented on #1821
Okay than do it :-)

[2016-07-27 21:38] Jeeppler commented on #2369
Is this fixed or open?

[2016-07-27 21:45] Jeeppler commented on #2074
@DanielStephens do you still have the layout/design picture (the link is not working)? Could you upload it directly to GitHub?

[2016-07-27 21:56] Jeeppler commented on #892
@LinuxDonald the post is still active. I think @STEVEOO6 finished the task. Do you want to update or write a new forums post?

[2016-07-28 01:54] LinuxDonald commented on #2369
It's open. I only closed the pull request because that don't become finished.

[2016-07-28 16:49] LinuxDonald opened #2414 "Flag on Pirate ship shows in the wrong direction."
![2016-07-28 18-47-21 671571](https://cloud.githubusercontent.com/assets/1757651/17221384/f9b2cd3c-54f3-11e6-9709-34da8ea306f3.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36434739-flag-on-pirate-ship-shows-in-the-wrong-direction?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept

[2016-07-28 17:35] MasterofJOKers commented on #2414
Could you add a picture of how the flag should be? If I look at the sails, then the wind should be blowing from the back/side so the flag could be correct, couldn't it?

[2016-07-28 17:38] MasterofJOKers commented on #2414
If anything, the flag in the back of the ship might be wrong. It is at least not possible for this combination of flags to occur.

[2016-07-28 21:34] janexx commented on #2414
I would say the flag should be rotated around 180°? But I find the shape of the flag a bit weird anyway. Why is it so thin? Would this be right: ?
![pirateship_flag_180degree](https://cloud.githubusercontent.com/assets/6216898/17230142/ee6ed336-551a-11e6-9725-db1bd1ddcba0.png)
If not, please can show somebody how it would be right? Where can the image of the flag be found?

[2016-07-28 21:40] janexx commented on #892
I could do that, too. I am already registered at opengamart and my English is a bit better than @LinuxDonald's . :P

[2016-07-28 22:16] MasterofJOKers commented on #2414
So the wind is coming from the front, but its a sailing ship - how does it use the wind to go forward if the wind blows from the front?

[2016-07-28 22:19] janexx commented on #2414
Don't know where the wind is coming from. :) I just see that the ship moves left, so I thought the flag goes right. :) Don't know... Just say how it has to look like and I'll do it. :)

[2016-07-28 22:21] LinuxDonald commented on #2414
I see i´m wrong but that the pirate flag must be rotated by 180°

[2016-07-28 22:30] LinuxDonald commented on #892
Yeah that correct :P Do it janexx :)

[2016-07-28 22:46] janexx commented on #2414
new suggestion:
![pirateship_flag2](https://cloud.githubusercontent.com/assets/6216898/17232023/8417bb14-5525-11e6-962e-065028bb0283.png)

... And I would delete this weird long flag. Looks weird and has no special function, hasn't it?

[2016-08-03 05:24] LinuxDonald opened #2416 "Cursor isn't changed back to normal when TextWidget is hidden"
https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/engine/pychan_util.py#L196

@stubb could you maybe help to fix this one?
@MasterofJOKers maybe you could write more details here for stubb

[2016-08-03 16:03] MasterofJOKers commented on #2416
The bug is, at least on my system, reproducible: When saving a game, click into the box to change the name, leave to cursor there, write a name and press enter. Click on the opening dialog and acknowledge it. The game continues and the mouse cursor is a Textcursor and an arrow at the same time.

[2016-08-05 19:58] MasterofJOKers opened #2418 "Game Crash on AI founding settlement"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36689188-game-crash-on-ai-founding-settlement?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=

[2016-08-05 20:02] MasterofJOKers commented on #2418
I've got a savegame where this happens directly afterwards. This is probably not fixable for already broken savegames. In this savegame, the AI tries to found a settlement on a resource deposit.

[2016-08-05 20:09] MasterofJOKers opened #2419 "Game crash on resume game with --speed=0 --load-game=bla"
Steps:

1.  ./run_uh.py --game-speed=0 --load-game=ai3_unit1_6
2. Press "P"
3. Press "P"

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36689465-game-crash-on-resume-game-with-speed-0-load-game-bla?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2016-08-05 21:34] cpdef commented on #2418
I had exactly the same error.
I compiled the game yesterday from source (newest version) on gentoo linux.
I saved the game before the crash, so everytime i load the game at this point, it crash after a few seconds.

here are some additional informations:
for the build_position variable:
`
build_position.action = idle
build_position.buildable = False
build_position.position = Rect(o:(42,168),w:3,h:

[2016-08-05 21:38] MasterofJOKers commented on #2418
Did you look at the location on you map? Why can't the AI build a warehouse at that location? Is it a resource deposit, too? (You can press 'H' to show the coordinates on the map.)

[2016-08-06 02:57] LinuxDonald commented on #2418
Test it with master please maybe i got fixed that: https://github.com/unknown-horizons/unknown-horizons/commit/6a8c988d32cb85dcc2146ea638b14f5b9587ccb1

[2016-08-06 05:29] cpdef commented on #2418
Ok thx, i have copyed in the relevant sections.
Now the game has no error anymore.
At this place was a 'stonedeposit'.

Must recompile the game, if i wanna add all new changes?
Or what do u do? Only copy some folder?

[2016-08-06 05:33] LinuxDonald commented on #2418
Make:"git pull" when you use an git checkout

[2016-08-06 09:02] MasterofJOKers commented on #2418
My savegame still crashes with the latest master.

[2016-08-06 09:05] MasterofJOKers commented on #2418
But maybe @cpdef has a savegame, where the AI hasn't decided where to place the warehouse, yet. Then it might be fixed. In my savegame, the AI's ship is already moving, so it will always load the wrong planned location from the savegame.

[2016-08-06 14:21] cpdef commented on #2418
One game crashes now, the second crashed after 10 Minutes or so, i thinked at first it works.
:( sorry for telling not truth.
So i have now the same Problem as before.
But I'am not home next weeks, so i can not help to fix a bug.
But i can upload my games in a repository and add a link here, so other people can test.

[2016-08-06 14:54] LinuxDonald commented on #2418
Have you tested it with old savegames or new game?

[2016-08-06 16:21] cpdef commented on #2418
Old. So should i retest it, with a new game?
I start a new game and make like a longtime test ok.

[2016-08-06 16:24] LinuxDonald commented on #2418
That would be good :-)

[2016-08-06 17:17] MasterofJOKers commented on #2418
Old or new really shouldn't matter, as long as the AI hasn't already sent a ship to the wrong destination. Using a previous step of my savegame, the AI decides differently all the time, so sometimes it crashes as in the later savegame and sometimes it doesnt.

From digging through the code yesterday, I don't think @LinuxDonald 's commit is really related, as it doesn't touch any paths I've followe

[2016-08-06 17:18] MasterofJOKers commented on #2418
My assumption would be, that there hasn't been a ship sent, if the crash happens after 10 minutes.

@cpdef: It's not your fault, it's the randomness of decision-making, that made you assume everything worked.

[2016-08-10 16:43] janexx commented on #2414
commit a4852e32d99f858202073634fef23838f0cddbb9

[2016-08-10 16:43] #2414 closed

[2016-08-10 20:45] LinuxDonald commented on #2414
Very good work janexx :+1:

[2016-08-10 21:36] LinuxDonald commented on #1586
Janexx have this done for pirate ships.  https://github.com/unknown-horizons/unknown-horizons/commit/a4852e32d99f858202073634fef23838f0cddbb9

Only Player Ships are now left.

[2016-08-10 21:48] LinuxDonald commented on #2388
Fixed with https://github.com/unknown-horizons/unknown-horizons/commit/510fe098a7d12fdfb2fa4dd3ca0457e683d649d4

[2016-08-10 21:48] #2388 closed

[2016-08-11 19:27] janexx commented on #523
Animation of the fire of the sailors market place: commit 81814ae45dcd5cb398b215b70c916a81b52bec9d

[2016-08-11 20:46] LinuxDonald commented on #523
Good work janexx :)

[2016-08-12 17:30] LinuxDonald commented on #2242
Started to work on this: https://github.com/unknown-horizons/unknown-horizons/commit/d5c060ff3f0bd75c2193dbbf3a84cb4d47b0d8a2

@Rybadour maybe you have some feedback?

[2016-08-12 17:42] Rybadour commented on #2242
Much better. Although there are some typos:

Then click on one of the 3 slots, then select a good you want to buy or sell.

[2016-08-12 17:52] LinuxDonald commented on #2242
Thx :-) have you some more ideas or is it okay now?

[2016-08-12 19:20] janexx commented on #523
Animation of tent 1: 84e7d32358f816a69aa14b7bd645b15de3c7cbc1
All done, I close this issue.
Thx @LinuxDonald ! :)

[2016-08-12 19:20] #523 closed

[2016-08-12 19:43] Rybadour commented on #2242
Sorry it's been a long time since I tried the game out. This was the only thing I felt a need to complain about :)

[2016-08-13 09:04] jorgesumle opened #2424 "Memory corruption error"
First, I installed the game from the official repositories (I'm running Linux Mint), but after 30 seconds the program failed and closed. I didn't know which was that version.

Unknown Horizons <unknown>

So, I decided to clone and test this repository latest version: Unknown Horizons 84e7d32
But still couldn't play more than 30 seconds. I used the full-screen 1366x768 resolution.
Below is the erro

[2016-08-13 13:09] #2242 closed

[2016-08-13 13:54] LinuxDonald opened #2425 "Translations scripts problem."
I cant´t excute ./development/create_pot.sh without an error....

[linuxdonald@linuxdonald-pc unknown-horizons]$ ./development/create_pot.sh
        Warning:  Icon without name. Add unique name if desired: text="(like in the selection tabs)"
        Warning:  Icon without name. Add unique name if desired: text="$res"
        Warning:  Icon without name. Add unique name if desired: text="$res"

[2016-08-13 13:57] LinuxDonald commented on #2424
What version of fife and fifechan do you use? For UH Git version do you need lastest fife and fifechan git versions:

https://github.com/fifengine/fifengine
https://github.com/fifengine/fifechan

[2016-08-13 15:22] jorgesumle commented on #2424
I can't install fifeengine. I followed each step but it fails.

jorge@jorge-HP-Pavilion-15-Notebook-PC ~/Code/fifengine $ scons
scons: Reading SConscript files ...
Checking for vorbisfile (using pkg-config)...no
Checking for vorbisfile (using vorbisfile-config)... no
Checking for C++ library vorbisfile... yes
Checking for python2.7 (using pkg-config)...no
Checking for python2.7 (using python2.7-co

[2016-08-13 15:22] #2424 closed

[2016-08-13 15:34] janexx commented on #2424
You have to install SDL2. Please see http://www.unknown-horizons.org/download/sources/s-linux/
You need all the packages (dependencies) listed there.

[2016-08-13 16:22] LinuxDonald commented on #2425
@stubb have you maybe time? :(

[2016-08-13 21:56] MarkusHackspacher commented on #2425
I test and the first run was
[code]
I change the first line into #!/bin/bash instant of #!/bin/sh
[code]
on my side is go no version info from sh, maybe sh is not on my computer.
[code]

[2016-08-13 22:24] LinuxDonald commented on #2425
You need to install itstool see the last line from your first log.

[2016-08-13 23:45] LinuxDonald commented on #2425
I think this is now an new error :(
Now i become this error:

Traceback (most recent call last):
  File "development/extract_strings_from_objects.py", line 196, in <module>
    output = '%s%s%s' % (HEADER, '\n'.join(filesnippets), FOOTER)
  File "development/extract_strings_from_objects.py", line 194, in <genexpr>
    filesnippets = (content for content in filesnippets if content != '')
  File "de

[2016-08-13 23:55] MarkusHackspacher commented on #2425
Yes you get more UnicodeEncodeError, for this line, you add a `u`
text = u'_("{value}")'.format(value=value[2:])

u'...' is for unicode.
this works for the next fault, too.
But than you got this:
[code]
Than you have to locate the fault, add a print output[4100:4150], because for looking `position 4138`
[code]
The output like this: "Produces Cannon´s.", look for the string in the project and add a

[2016-08-14 00:21] jorgesumle commented on #2424
I've done all that and it crashes again.

[2016-08-14 00:49] LinuxDonald commented on #2424
With the same error? Have you removed the old version of fife and fifechan before you compiled the git versions?

[2016-08-14 04:14] jorgesumle commented on #2424
OK, I finally managed to install it, but got a warning:
running build_i18n
warning: _build_i18n: Can't generate desktop files, needs intltool-merge. Try installing the package 'intltool'.

Discovered old settings file, auto-upgrading: 1 -> 38
Recreating all atlases

After installing it, despite the warning, I could play without problem. But I installed it to get the language support. I think it's

[2016-08-14 10:17] #2425 closed

[2016-08-14 10:29] LinuxDonald opened #2428 "Write an new dependencies site on the github Wiki."
We need an updatet dependencies site.
We should create it here on the github wiki.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36930365-write-an-new-dependencies-site-on-the-github-wiki?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2016-08-14 10:31] LinuxDonald commented on #2424
For deps i created an issue: 2428

Because of language translation you can find it here:
https://hosted.weblate.org/projects/uh/
You can log in there with your github accout and start to review and update the translation.
It would be nice when you could bring it up to date :)

[2016-08-14 15:00] jorgesumle commented on #2424
Of course, I'm doing it right now. There are some outdated spanish translations. That's why some parts of the tutorial sounded weird for me.

[2016-08-14 15:59] jorgesumle opened #2430 "Improve english text from tutorial"
I have encountered some little things that I thing could be improved from the English text. e.g.

- From now on we'll refer to this area containing the mini-map and various buttons and tabs as the 'Overview'.
+ From now on, we'll refer to this area containing the mini-map, various buttons and tabs as the 'Overview'.
# From now on is an adverbial phrase (http://grammartips.homestead.com/adverbs1.ht

[2016-08-14 16:06] LinuxDonald commented on #2430
English text can be changed only from the dev team. Because English is the native language.

@janexx what do you think about that change?

[2016-08-14 16:15] janexx commented on #2430
The suggestion of @jorgesumle is good. I would say its correct (I am no native English speaker as well). I also don't know where to change the English text. Seems that this is not handled with weblate? @LinuxDonald, do you know where this must be changed?

[2016-08-14 16:27] LinuxDonald commented on #2430
I know how to change it. I will do it tomorrow. @jorgesumle when you find more that maybe should changed please post it here :-)

[2016-08-14 16:33] jorgesumle commented on #2430
@LinuxDonald Tell me so I can learn :)
Or can I learn simply viewing the commit?

[2016-08-14 16:38] jorgesumle commented on #2428
Why don't we just update the website? (http://www.unknown-horizons.org/download/sources/s-linux/)

[2016-08-14 16:46] janexx commented on #2428
Unforuntately the owner of the website is not active/reachable anymore. Here on github everyone has access.
By the way I recently had problems to install UH because I had not installed tinyxml. This is also not mentioned as dependency.

[2016-08-14 16:49] LinuxDonald commented on #2428
Okay thx janexx :-) and yes the website maintainer is inactive.. :-(

[2016-08-14 16:51] LinuxDonald commented on #2430
@jorgesumle you must have access to the code to change this ;-)
(Source Code of the game) only dev Team members can do that. All other languages can be translated from all user of the world on weblate.

[2016-08-14 17:13] LinuxDonald commented on #2430
@jorgesumle I will show you tomorrow how to update it :-)

[2016-08-15 14:22] #2430 closed

[2016-08-15 14:24] LinuxDonald commented on #2430
How todo:

Do your changes in: content/scenarios/tutorial_en.yaml
Excute:
sh development/create_scenario_pot.sh tutorial
./development/update_translations.py

both in the UH Main dir.

For all changes do it please with pull requests.

[2016-08-16 10:05] jorgesumle opened #2432 "update_translations.py fails when I try to update the English text from the tutorial"
$ sh development/create_scenario_pot.sh tutorial
$ ./development/update_translations.py
Traceback (most recent call last):
  File "./development/update_translations.py", line 154, in <module>
    main()
  File "./development/update_translations.py", line 116, in main
    update_authors_per_file(f)
  File "./development/update_translations.py", line 98, in update_authors_per_file
    ], stderr=subp

[2016-08-16 10:09] jorgesumle opened #2433 "Some English text little errors"
po/scenarios/es/tutorial.po, translation unit 29

two spaces between "in" and "construction"

Throughout the tutorial words like overview, tent, main square...  should be uppercase when they refer to a game element.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36983163-some-english-text-little-errors?utm_campaign=plugin&utm_conten

[2016-08-16 10:16] jorgesumle commented on #2433
po/scenarios/es/tutorial.po, translation unit 32

I think the comma before 'too' is not necessary

[2016-08-16 10:46] jorgesumle commented on #2433
It shouldn't be 'Marineros' (sailors in spanish), should be Settler Overview. Also when I hover, the word sailor isn't even translated (also shouldn't be sailor, an error inherited from the english text). That tab references Sales y
![captura de pantalla de 2016-08-16 12 40 10](https://cloud.githubusercontent.com/assets/14212780/17696467/cf50d04c-63ae-11e6-9cdb-8f9e9feac1da.png)

[2016-08-16 11:37] jorgesumle opened #2434 "Button to restart game after adjusting Settings when restart required?"
What about asking the user if he wants to restart the game, when changes need a restart? We could leave the tick icon which is already there, and add a close button.
![captura de pantalla de 2016-08-16 13 31 31](https://cloud.githubusercontent.com/assets/14212780/17697632/2c60b764-63b6-11e6-9400-30d7fe2df03e.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://

[2016-08-16 15:37] jorgesumle commented on #2434
I got it working: https://github.com/jorgesumle/unknown-horizons. However, when you mess with changing to fullscreen and restarting the game from my prompt the os resolution is messed up. Am I'm missing something? How should I close Unknown Horizons properly?
![captura de pantalla de 2016-08-16 17 34 33](https://cloud.githubusercontent.com/assets/14212780/17705253/07bcfe96-63d8-11e6-9aa1-8f440153a

[2016-08-16 15:40] LinuxDonald commented on #2434
Maybe say UH that is should close and excute run_uh.py ?
Or look how run_uh.py starts uh.

[2016-08-16 15:49] LinuxDonald commented on #2433
When you want you can do an pull request with your changes for: unknown-horizons/content/scenarios/tutorial_en.yaml

The po files i will create than until we we fixed your problem with translations.

For the GUI. I will take an look on it at the next days.

[2016-08-16 15:50] LinuxDonald commented on #2432
Could you please excute both scripts on an clean git checkout? Both script runs fine for me on Arch Linux with lastest git of uh.

[2016-08-16 17:32] LinuxDonald commented on #2432
To test if it works without any changes on it.

[2016-08-17 08:21] jorgesumle commented on #2432
Then, I get a different error message.
![captura de pantalla de 2016-08-17 10 19 51](https://cloud.githubusercontent.com/assets/14212780/17729410/5b65cce4-6464-11e6-9ae3-81e46a732164.png)

[2016-08-17 08:57] jorgesumle commented on #2434
I only have to exit fullscreen mode before restarting the game, but how do I do that?

[2016-08-17 11:15] ChrisOelmueller commented on #2432
Seems like there's an issue with the username being non-ascii in your case (the `ó`).

Guessing here, but could you try replacing the  `unicode(__file__)`  call with  `unicode(__file__, 'utf-8'))`  and see if that helps?

[2016-08-17 11:35] jorgesumle commented on #2432
Sorry for that, ignore it, I forgot to run ./setup.py build_i18n && ./run_uh.py. Anyway, tested again without changes and got the same error as before. Something wrong with translations.py

[2016-08-17 11:41] jorgesumle commented on #2432
error line 98. Line 100: #TODO Clearly the above can never fail, ever. But what if it did?
XD

[2016-08-17 11:45] jorgesumle commented on #2432
There is maybe some issue with my git version: git version 1.9.1

[2016-08-17 11:57] jorgesumle commented on #2432
Here is the output I get running the command with git.
jorge@jorge-All-Series:~/unknown-horizons$ git shortlog weblate-credits.. --committer Weblate -sn -- po/uh/lv.po
fatal: bad revision 'weblate-credits..'
jorge@jorge-All-Series:~/unknown-horizons$ echo $?
128

[2016-08-17 12:14] jorgesumle commented on #2432
OK, I figured it out, I shouldn't have used `git clone --depth`. My fault.

[2016-08-17 14:07] LinuxDonald commented on #2434
Maybe that can help you? https://github.com/fifengine/fifengine/search?utf8=%E2%9C%93&q=setFullScreen

@stubb could you maybe help here please?

[2016-08-17 14:59] LinuxDonald commented on #2434
https://github.com/fifengine/fifengine/issues/521
https://github.com/fifengine/fifengine/issues/331

maybe this helps?

[2016-08-17 16:34] jorgesumle commented on #2434
Cool, it worked. If the pull request is accepted, you can close this issue.

[2016-08-17 17:19] jorgesumle commented on #2428
Have you tried contacting him:

Or the domain owner (http://www.whois.com/whois/unknown-horizons.org):

[2016-08-17 17:28] MasterofJOKers commented on #2428
Should we really post this personal information on github? I'm sure I would not want my address to be found here.

[2016-08-17 17:33] LinuxDonald commented on #2428
Yeah that is not good to post it here. On the other side is public on our homepage.

[2016-08-17 22:06] jorgesumle commented on #2428
I see no problem, it is already public and anyone can get them in a less than a minute. Everyone that has a website knows that. Edited and just left the emails, but it makes no difference is public anyway.

[2016-08-18 06:26] MasterofJOKers commented on #2428
It makes a difference in that the whois is not indexed by google afaik but github should be. Additionally, searching on github does not reveal whois information. So yes, it is public, but it is not ours to distribute.

[2016-08-18 13:05] #2434 closed

[2016-08-18 15:16] jorgesumle commented on #1786
Where are those tabs? I don't find that clear enough.

[2016-08-18 15:31] LinuxDonald commented on #1786
Where you exactly found this?

[2016-08-18 15:39] jorgesumle commented on #2325
I also get some weird crashes from time to time.
`$ ./unknown-horizons
Violación de segmento
jorge@jorge-All-Series:~/Programas/uh2$ ./unknown-horizons
Traceback (most recent call last):
  File "./unknown-horizons", line 380, in <module>
    main()
  File "./unknown-horizons", line 189, in main
    ret = horizons.main.start(options)
  File "/home/jorge/Programas/uh2/horizons/main.py", line 281, in

[2016-08-18 15:41] LinuxDonald commented on #2428
I think we should create news Site and Forum and change our domain to our new site/blog than.

[2016-08-18 15:45] jorgesumle commented on #1786
In the section called NEW TASK: BUILD A PAVILION
![captura de pantalla de 2016-08-18 17 44 24](https://cloud.githubusercontent.com/assets/14212780/17780388/7a8bedd0-656b-11e6-9fdf-55927d562205.png)

[2016-08-18 15:46] LinuxDonald commented on #2325
RuntimeError: _[NotFound] , Something was searched, but not found :: action move_as_redd���� not found
Thats the crash problem. But for what is the"����" Have you the ���� in your console output?

[2016-08-18 15:49] jorgesumle commented on #2325
???? I don't know.
![captura de pantalla de 2016-08-18 17 49 22](https://cloud.githubusercontent.com/assets/14212780/17780577/28a58250-656c-11e6-8b3c-788ad621038d.png)

[2016-08-18 15:52] janexx commented on #1786
Maybe we can write instead:
"Still there is one demand which we have not satisfied so far. You may click on a tent of your inahbitants or the marketplace to see what they still desire."

You are welcome to improve that text suggestion.

[2016-08-18 15:55] LinuxDonald commented on #2325
I think i found it: as_reddeer0

[2016-08-18 15:58] jorgesumle commented on #1786
Sure, but first I'm trying to understand.
I click on a Tent and that works fine. But what is the marketplace. Does it refer to the Main Square? I can't find that "marketplace tab".

[2016-08-18 16:02] MasterofJOKers commented on #2325
Is that a git checkout? Could you provide the output of `git status`?

[2016-08-18 16:04] jorgesumle commented on #2325
My Shell uses UTF-8, I think I don't use nothing weird. @MasterofJOKers, I'm only changing the tutorial.
![captura de pantalla de 2016-08-18 18 03 42](https://cloud.githubusercontent.com/assets/14212780/17781105/3c4ce472-656e-11e6-9cde-4a6be1e67bed.png)

[2016-08-18 16:07] MasterofJOKers commented on #2325
Thanks. My best guess would be the engine overwriting parts of memory it shouldn't overwrite. Looks like it especially when including the older traceback which has a different part of the name overwritten.

[2016-08-18 16:10] MasterofJOKers commented on #2325
What did you change in the tutorial? Just strings? Or do you also add actions?

[2016-08-18 16:22] jorgesumle commented on #2325
Just strings.

[2016-08-18 16:24] janexx commented on #1786
I think marketplace and main square is the same. Of course it should be used only one term...
I think "marketplace tab" means the overwiew which comes on the right side when you click on the marketplace/main square. But when its called "marketplace tab then this should be the headline in this overview.

[2016-08-18 16:31] jorgesumle commented on #1786
But I can't see the demands of the inhabitants from there. I'll remove that and only leave the reference to the Tent. @janexx, thanks for the suggestion.
![captura de pantalla de 2016-08-18 18 27 54](https://cloud.githubusercontent.com/assets/14212780/17781911/7f559888-6571-11e6-8b52-80245c3152eb.png)

[2016-08-18 17:51] janexx commented on #1786
Ah ok, fine. I also know the demands only from the housings-overview (dont know how that is called). Thanks @jorgesumle!

[2016-08-19 13:30] LinuxDonald commented on #2428
I have now admin access to the site i will fix deps today on the website.

[2016-08-20 09:24] LinuxDonald commented on #2433
Is the screenshot from Main Square gui? Than it is correct. The English Version dont show an settler overview on that place.

[2016-08-20 10:13] #2433 closed

[2016-08-20 10:15] jorgesumle commented on #2433
That part was correct, because it referenced the I-Tier buildings (which correspond to sailors). I was wrong with that. The other errors have been corrected.

[2016-08-20 10:17] LinuxDonald commented on #1786
@jorgesumle maybe you intressed to work on this? ticket

[2016-08-20 11:17] jorgesumle commented on #1786
Sure, I'll see what I can do.

[2016-08-20 11:26] LinuxDonald commented on #2416
@nihathrael do you know if this is an uh or fifechan bug?

[2016-08-21 13:51] MasterofJOKers commented on #2373
FIFE doesn't seem to support automatic linebreaks in `HBox`. We could remove the grouping by one line per TIER and hard-code 4 entries per line. (We could also keep the grouping by TIER and hard-code 4 entries per line. This would mean 3 in the first line 1 in the last line instead of 4 in all three lines.) Imho it makes sense to remove the grouping as there is no indicator, that any grouping is a

[2016-08-21 20:44] LinuxDonald commented on #2373
I found an other bug when you change line: 187 , 194, 202 in game.sql from 0 to 1
you will become this problem the last icon is cuted:
![2016-08-21 22-42-20 814217](https://cloud.githubusercontent.com/assets/1757651/17839712/b6d95944-67f0-11e6-8070-8bf651f78b6b.png)

[2016-08-22 05:45] jorgesumle opened #2439 "Complete entry on Free Software Directory"
I've added Unknown Horizons to the [Free Software Directory](http://directory.fsf.org/wiki/Main_Page), so that more people can find it and hopefully we get more support from the free software community. But there is still some missing information that I don't know how to fill in. For example, the information to donate and person info (I think everyone should fill in their info personally). So if y

[2016-08-22 06:33] MasterofJOKers commented on #2373
That should be fixable by changing [this line](https://github.com/unknown-horizons/unknown-horizons/blob/master/content/gui/xml/ingame/buildmenu/related_buildings.xml#L15). Give more vertical space (height, second attribute to size) to the VBox.

[2016-08-22 06:36] MasterofJOKers commented on #2439
There's a "Donate" link on our homepage linking to [this wiki page](https://github.com/unknown-horizons/unknown-horizons/wiki/Donation-History):

[2016-08-22 06:49] MasterofJOKers commented on #2439
Should we add our dependencies there, too?

[2016-08-22 07:28] jorgesumle commented on #2439
OK, cool we should also mention bounties in that wiki page. I [edited](https://github.com/unknown-horizons/unknown-horizons/wiki/Donation-History) that.

I prefer only mentioning the dependencies here because if we change the dependencies or add any new dependency, the entry becomes outdated. But if anyone wants to also add the dependencies there, is free to do that (I think it's the Software prer

[2016-08-22 07:56] jorgesumle commented on #2439
OK, I think the entry has enough info now. We just have to wait until approval. The only incomplete thing is the person info. You can add your name and email there whenever you want. There is a wiki article [here](https://github.com/unknown-horizons/unknown-horizons/wiki/Who-is-who), but I don't want to add those people without telling them.
![captura de pantalla de 2016-08-22 09 41 36](https://cl

[2016-08-22 08:56] LinuxDonald commented on #2439
Have you an link for me that i can add me?

[2016-08-22 09:00] LinuxDonald commented on #2373
You are the best @MasterofJOKers :) could you please create an final patch please :)

[2016-08-22 09:02] LinuxDonald commented on #2396
New release is planned this year. We are talk now with the fife devs about an new fife and fifechan release.

[2016-08-22 09:05] LinuxDonald commented on #2373
i changed it to 210. I think its engouh for now. We dont have more farms for now.

[2016-08-22 09:41] jorgesumle commented on #2439
You need an account, then you can edit any entry: [https://directory.fsf.org/wiki/Unknown_horizons](https://directory.fsf.org/wiki/Unknown_horizons). I can add you if you want, I just need your Real Name, Role and Email.

[2016-08-22 09:48] LinuxDonald commented on #2439
Real Name: Thomas Kowaliczek
Role: Project Leader
E-Mail: linuxdonald@posteo.de

[2016-08-22 10:51] LinuxDonald commented on #2276
@M3tal-Warrior any feedback?

[2016-08-22 11:36] jorgesumle commented on #2439
[Added](https://directory.fsf.org/wiki?title=Unknown_horizons&diff=36122&oldid=36119) :)

[2016-08-22 15:11] jorgesumle commented on #2428
Change also the copyright year:

- © The Unknown Horizons Developers 2011
+ © The Unknown Horizons Developers 2016

[2016-08-23 09:15] janexx commented on #2439
@jorgesumle  Can you please add me too?
Real Name: Jana Weigel
Role: Graphic Artist
E-Mail: jana@gnu.de.vc

[2016-08-23 09:40] jorgesumle commented on #2439
[Added](https://directory.fsf.org/wiki?title=Unknown_horizons&diff=36127&oldid=36122) :)

[2016-08-23 15:13] jorgesumle opened #2441 "Improve README.md, it's very misleading and confusing"
The "Dependencies, Building and Running" is useless and misleading, as it only shows how to install fife engine. Also, installation instructions are very difficult to spot for new people and I found some markdown error with the links. (`http://www.unknown-horizons.org/`, should be `[http://www.unknown-horizons.org/](http://www.unknown-horizons.org/)`, it displays well because GitHub automatically

[2016-08-23 15:27] konstin opened #2442 "AttributeError with git versions"
I've followed http://www.unknown-horizons.org/download/sources/s-linux/, and here's what I get for the last step:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37205787-attributeerror-with-git-versions?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2016-08-23 16:10] jorgesumle commented on #2441
I have changed the README.md file. Please, tell me what you think. I have made a radical change, so be sure to point out any error I made. @konstin, I think is much more organized now, what do you think?

[2016-08-23 16:13] MasterofJOKers commented on #2441
I haven't looked at it (looked through my mails) and have a general advice: If you want to make radical changes, create a pull-request first to get opinions instead of chaning first and asking later.

[2016-08-23 16:15] janexx commented on #2441
Its not very radical I would say, the  changes/corrections you made are good. Thanks!

[2016-08-23 16:19] LinuxDonald commented on #2441
For me it looks good.

[2016-08-23 16:19] konstin commented on #2441
Am I missing something or is there still no link to the build guide?

[2016-08-23 16:24] LinuxDonald commented on #2441
@jorgesumle i think that should be linked to in the readme: http://www.unknown-horizons.org/download/sources/s-linux/

[2016-08-23 16:27] jorgesumle commented on #2441
Sorry for that, you're right. Next time I'll do that.

The old build guide, was incomplete and misleading: it only showed how to install fife engine, but with fifengine alone you can't play Unknown Horizons, the correct guide is here: http://www.unknown-horizons.org/download/sources/s-linux/. The link to fifengine and fifechan repos are still there, so there is no lost information.

It is, under I

[2016-08-23 16:30] jorgesumle commented on #2441
Sorry, I confused. I'll add that.

[2016-08-23 16:37] jorgesumle commented on #2441
This is my proposal for the Installation section, what do you think?

# Installation

## Simple installation

For installation instructions check the "Downloads" section on
[our website](http://www.unknown-horizons.org/download/).

## Installing from sources

If you want to get the latest version of the game, you have to
install it from source:
* [Instructions for GNU/Linux](http://www.unknown-hor

[2016-08-23 16:39] LinuxDonald commented on #2441
looks goot for me.

[2016-08-23 16:43] LinuxDonald commented on #2428
@nihathrael do you know where i can change the year?

[2016-08-23 17:37] konstin commented on #2441
What About the following:

---

## Installation

For installation instructions check the "Downloads" section on
[our website](http://www.unknown-horizons.org/download/)

## Building from source

If you want to get the latest version of the game, you have to
build it from source:

 * [Instructions for GNU/Linux](http://www.unknown-horizons.org/download/sources/s-linux/)
 * [Instructions for Windows

[2016-08-23 17:39] LinuxDonald commented on #2441
Looks good to.

[2016-08-23 18:30] janexx commented on #2441
Even better, @konstin The only thing thats not so nice, is the double beginning with "If you want to". But I have no better proposal. So I think its good.

[2016-08-23 18:34] konstin commented on #2441
The repetition is indeed not so nice. Let's just remove the first if-you-want sentence.

[2016-08-23 18:36] janexx commented on #2441
Yeah maybe just:
To get the latest version of the game, you have to build it from source:

[2016-08-23 21:01] jorgesumle commented on #2441
@konstin, I like it. With janexx suggestion

sounds really nice. Just make a pull request.

[2016-08-23 21:23] jorgesumle commented on #2442
I've installed it on Trisquel today (an Ubuntu-based distribution) and worked fine. Maybe this video helps you: https://goblinrefuge.com/mediagoblin/u/freakspot/m/instalacion-de-unknown-horizons-a-partir-del-codigo-fuente/. Tell us which fifechan and fifengine version are currently installed. `--version ` I think should output that, but I'm not sure. Maybe, you can help with this @LinuxDonald.

[2016-08-23 21:38] konstin commented on #2441
Done.

[2016-08-23 22:08] #2441 closed

[2016-08-24 04:33] LinuxDonald commented on #2442
I dont know the command for version info. What i can say is that UH Git version only runs with fife git and fifechan git version. And not with the last stable release of fife.

[2016-08-25 05:38] LinuxDonald commented on #2396
Update on Engine side: The fife Team is nearing to be done with an new SDK for Windows. When this is done we are forward an first step for an new release.

[2016-08-25 15:54] LinuxDonald commented on #2428
Fixed.

[2016-08-25 15:54] #2428 closed

[2016-08-25 16:58] jorgesumle opened #2444 "Words should be uppercase when they refer to a game element."
I started making these changes some days ago, but I found more lowercase words used when they refer to game elements. These changes require a good review so that the game doesn't mix use uppercase in a place and lowercase in another when they refer to game elements, such as the Main Square. I found this quite annoying when I first tried out the game.

<bountysource-plugin>
---
Want to back this is

[2016-08-25 17:25] MasterofJOKers commented on #2442
`python -c 'from fife import fife; print fife.getVersion()'` returns 0.4.0 for me.

On Debian, one could run `dpkg -l | grep -i fife` to see the package version if installed. If you haven't built your own package, that should return nothing. Otherwise, you probably have the old 0.3.5 version from Debian repositories.

[2016-08-25 19:31] konstin commented on #2442
Here's the output of those commands:
[code]

[2016-08-25 20:21] MasterofJOKers commented on #2442
so ... basically, the following does not work for you?
`python -c 'from fife import fife; fife.Point(0, 0)'`

Could you please run `python -c 'from fife import fife; print fife._newclass'` and tell me, if it prints `1` or `0`?

[2016-08-25 20:33] MasterofJOKers commented on #2442
Could you please open "/usr/lib/python2.7/dist-packages/fife/fife.py" and tell me, whats in line 5640 and 5641? The file generated for me should not be able to exhibit the same behaviour as yours. What version of swig did you use? (`dpkg -l | grep -i swig`)

[2016-08-25 20:59] konstin commented on #2442
[code]

Lines 5640 - 5641 for `/usr/lib/python2.7/dist-packages/fife/fife.py`:
[code]

[2016-08-25 21:23] MasterofJOKers commented on #2373
This should be fixed with 99e4d0d3.

[2016-08-25 21:23] #2373 closed

[2016-08-25 21:38] MasterofJOKers commented on #2442
This makes no sense to me. Your `AttributeError` should be catched by that `except` right there:
[code]

On the other hand, if I change my line (which is just `except:`) to yours, I get the same error.  `except BaseException:` works, too. You should probably re-build fife with the `swig2.0` package installed instead of `swig3.0`.

[2016-08-25 21:38] Jeeppler commented on #2396
That sounds great :-)

[2016-08-25 21:45] MasterofJOKers commented on #2442
So it seems to be partly fife's fault for having an own `Exception` class. https://github.com/swig/swig/pull/584 fixes this, which is in swig 3.0.9.

[2016-08-26 10:02] konstin commented on #2442
I've manually installig swig 3.0.10. The game now finally works. Though I'm not really satisfied with this solution as you normally don't want to build 4 projects from source just to play a game.

[2016-08-26 10:09] MasterofJOKers commented on #2442
Totally understandable. We are working on a new release and on nightly builds.

[2016-08-26 16:22] donaldr3 opened #2445 "Missing copy of the GPL?"
It looks like the project doesn't actually contain a copy of the GPL, even though it's clear that this is a GPLed project. Including a copy of the license is a condition of the GPL, so please make sure to include a copy of the license. I caught this when reviewing this game for inclusion in the Free Software Directory, so message me when you get it fixed so I can complete the review and get your e

[2016-08-26 16:31] LinuxDonald commented on #2445
The license file is here: https://github.com/unknown-horizons/unknown-horizons/blob/master/doc/licenses/GPL

[2016-08-26 16:54] donaldr3 commented on #2445
Thanks, the entry has been approved.

[2016-08-26 16:54] #2445 closed

[2016-08-27 14:02] LinuxDonald commented on #2439
Close this now because the article is online.

[2016-08-27 14:02] #2439 closed

[2016-08-27 17:50] jorgesumle commented on #1786
the tutorial says: "Build a Hunter and a Fisher". But the name of the building are Fisherman's Tent and Hunter's Tent according to the interface (the text that appears when I hover the mouse over its icons). According to this [wiki page](https://github.com/unknown-horizons/unknown-horizons/wiki/Tiers-1) the buildings are called Fisher and Hunter. Which one is right? I think we should only use a na

[2016-08-27 20:36] LinuxDonald commented on #1786
The tent one are correct.

[2016-08-28 09:32] CrafterSvK opened #2446 "Game is laggy"
Game is laggy through all the gameplay. Running mid-end PC.
i3-4130, GTX 650, 8Gb RAM, 7200RPM HDD

When you select building it laggs or even on scrolling
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37349975-game-is-laggy?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties

[2016-08-28 09:53] LinuxDonald commented on #2446
What version are you playing? (version of UH and fife)
And are you playing with a.i. or without?

[2016-08-28 09:56] CrafterSvK commented on #2446
I am running latest git version. But the same thing happens in 2014 version from AUR. I am playing with AI.

[2016-08-28 10:11] LinuxDonald commented on #2446
Ah okay. We know that there is an lag problem. And with a.i. it lags more. Sorry for that. We don't know if we can fix that for the next release. :-(

[2016-08-28 10:14] CrafterSvK commented on #2446
No problem. Good luck. Looking forward to it

[2016-08-28 10:22] jorgesumle commented on #2446
@CrafterSvK, I have reopened your issue, we will close it when we fix your problem.

[2016-08-28 10:51] jorgesumle commented on #2444
Sorry, I should have specified more. Not every game element should be capitalized, only those referring to menus (Overview), game buildings (Lumberjack's Tent)... There is no need to upper case common words such as beer, ship, etc.

[2016-08-28 11:22] jorgesumle commented on #1786
In the interface there is a similar problem with the Lumberjack's Tent. When I hover the mouse there is an apostrophe (') missing.
![captura de pantalla de 2016-08-28 13 16 42](https://cloud.githubusercontent.com/assets/14212780/18033348/463fa6d4-6d22-11e6-910b-71c31009ee77.png)

[2016-08-28 11:48] janexx commented on #2439
It can be found here:
http://directory.fsf.org/wiki/Unknown_horizons

[2016-08-28 12:19] janexx commented on #1468
Tier II (Pioneers) has already 3 different residential houses. So I would add only 2 additional houses for Tier II. And maybe I could improve the stone houses of Tier IV (citizens) a bit...

[2016-08-28 14:18] jorgesumle commented on #2432
I got a different error. Again, I was trying to update translations. It's a clean git repository, I had just executed `git pull` and then changed tutorial_en.yaml and tried to update translations.
[tutorial_en.yaml.txt](https://github.com/unknown-horizons/unknown-horizons/files/441154/tutorial_en.yaml.txt)

jorge@jorge-All-Series:~/Programas/unknown-horizons$ sh development/create_scenario_pot.sh

[2016-08-28 20:10] LinuxDonald commented on #2432
Maybe because we have now added sk language. I will check that later

[2016-08-28 22:00] #2432 closed

[2016-08-28 23:26] LinuxDonald commented on #1786
See: https://github.com/unknown-horizons/unknown-horizons/commit/b82905825ee90f3fc5e9840d10c826728ed5ad76

We could do an Lumberjacks Tent

[2016-08-29 01:22] jorgesumle commented on #1786
Sorry I didn't understand? Could you explain better?

[2016-08-29 02:11] #2444 closed

[2016-08-29 02:21] jorgesumle opened #2447 "We should improve the wiki"
The wiki is very outdated and there is missing information. What I mean is that we should create a more user friendly wiki, with descriptions of every building, game element... Maybe we should add also pictures of the buildings or animations. I don't know, but we must do something to improve it. What do you think?

How can I get access to http://wiki.unknown-horizons.org/w/Main_Page? I would like

[2016-08-29 02:29] LinuxDonald commented on #2447
In the future we don't want to use the old wiki. We want move all information from there to the github wiki.

[2016-08-29 02:34] LinuxDonald commented on #1786
The >>>'<<< not work it would break translation.

[2016-08-29 09:40] janexx commented on #2447
I like the idea. We also don't have this yet in the git wiki, right?

@jorgesumle If you are logged in in git, you can edit or add wiki pages in git.

By the way there is a buildings overview here: http://unknown-horizons.readthedocs.io/en/latest/buildings.html
But this one is without descriptions and also not very up to date (but I don't know how this is managed to get access).

[2016-08-29 10:00] CrafterSvK opened #2448 "Text out of its field"
Text is sometimes out of its field especially "building cost" where tools are out of its field.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37371908-text-out-of-its-field?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_

[2016-08-29 10:10] MasterofJOKers commented on #2448
Could you add a screenshot, please?

[2016-08-29 10:23] CrafterSvK commented on #2448
![unknown-horizons](https://cloud.githubusercontent.com/assets/8365659/18048598/5ed17512-6de3-11e6-913b-ca9342cdc0a4.png)
Here you are

[2016-08-29 10:59] CrafterSvK opened #2449 "Fog of war & No preview"
It would be great if player could check fog of war box and it will remove preview picture and enable fog of war so he will explore map.

[2016-08-29 11:14] CrafterSvK opened #2450 "Game seems to ignore speed up and speed down options"
Clicking + or - doesn't change game speed. Holding doesn't work also.

[2016-08-29 11:15] CrafterSvK opened #2451 "Scenario default language"
When you try to play scenario it selects first language available not the one you set in options. Would be great if it selects english as default or the one you selected in options when available.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37373629-scenario-default-language?utm_campaign=plugin&utm_content=tracker%2F287396&utm

[2016-08-29 11:15] MasterofJOKers commented on #2450
Does the Number next to + and - change?

[2016-08-29 11:17] CrafterSvK commented on #2450
No. But after rebinding to M & N works just fine. Even badly it should have limit.

[2016-08-29 11:19] MasterofJOKers commented on #2450
So you meant using the + and - keys, doesn't work, not the GUI buttons?

What do you think the limit should be? My old laptop can hardly handle 2x while my newer laptop can handle ~8x and my desktop should be able to handle even more.

[2016-08-29 11:20] MasterofJOKers commented on #2450
Does + and - work, if you re-bind the functionality to these keys? Did you use +/- from the numpad?

[2016-08-29 11:21] CrafterSvK commented on #2450
The people are teleporting on 6x speed on my desktop. i3, GTX 650, 8Gb RAM ArchLinux. I used +/- on numpad and in options it was detected. I have no other +/- on my keyboard.

[2016-08-29 11:24] jorgesumle commented on #2450
Maybe you have number keypad blocked. Is Num Lock on?

[2016-08-29 11:24] LinuxDonald commented on #2450
I think Max should be 8x or 11x

[2016-08-29 11:25] MasterofJOKers commented on #2450
Numpad +/- are not necessarily the same +/- as others - even if you don't have other +/-.

[2016-08-29 11:26] CrafterSvK commented on #2450
Yes it is. I tried with off and it doesn't work anyway. Yeah 8x is okay. More than it should freeze a lot of PCs. I have binded with them so it should work.

[2016-08-29 12:28] LinuxDonald commented on #2449
At the moment the engine dont support fog-of-war. We will implanet it later. We let this ticket open.

[2016-08-29 12:31] LinuxDonald commented on #2448
https://github.com/unknown-horizons/unknown-horizons/pull/2383

[2016-08-29 14:03] CrafterSvK opened #2452 "Translation {key} problem"
I am working on Slovak translation. So I checked few translations so I know how to do {key}, {player} and so on.
![unknown-horizons2](https://cloud.githubusercontent.com/assets/8365659/18053945/123298c0-6e02-11e6-9536-ddcd99d43638.png)
 As you can see. Translation doesn't show the key but string called {key}

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2016-08-29 14:05] LinuxDonald commented on #2452
Can you give me the link on weblate where do you found the {key} that i can take an look on it

[2016-08-29 14:07] CrafterSvK commented on #2452
This is one of them https://hosted.weblate.org/translate/uh/uh/sk/?q=%7Bkey%7D&search=substring&source=on&target=on&type=all&ignored=False

[2016-08-29 14:13] LinuxDonald commented on #2452
Good question what is going wrong here :(

[2016-08-29 14:20] jorgesumle commented on #2452
git checkout 9ecf5e5a156f30d32ad14466543856d5e6c2b824 works fine, so this is a problem with a change we've done recently.

[2016-08-29 14:21] MasterofJOKers commented on #2452
Or a local problem.

[2016-08-29 14:22] CrafterSvK commented on #2452
Could not be. UH was reinstalled instead of pulled just in case.

[2016-08-29 14:30] LinuxDonald commented on #2452
Maybe edit the String from: Zrýchliť rýchlosť hry ({key})
to: "Zrýchliť rýchlosť hry" ({key})
but dont know if that works. Or we must maybe change something UH. Maybe UTF-8 Support  (when we dont have it allready)

We will take an look at that problem :)

[2016-08-29 14:31] LinuxDonald commented on #2452
But you can work on the Translation :) the {(key)} problem we will fix it.

[2016-08-29 14:35] CrafterSvK commented on #2452
Thanks I will still work on it :)

[2016-08-29 16:16] MasterofJOKers commented on #2452
So I've tinkered with it and it does work. But it requires a restart of the game after changing the language to fill the `{key}`s.

[2016-08-29 16:51] CrafterSvK commented on #2452
Yes it works just fine. It would be great to get pop-up message after changing translation or fix this problem. :) Thanks again

[2016-08-29 17:34] CrafterSvK opened #2453 "Translation finished"
Slovak translation is finished. Can you please force wire it to the github. It was updated 27 minutes ago but it has been completed now.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37385349-translation-finished?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountyso

[2016-08-29 17:44] MasterofJOKers commented on #2452
That or even better: Initializing the translated messages correctly as done when starting the game. I prefern the second approach.

[2016-08-29 17:55] jorgesumle commented on #2453
It will be done automatically. Don't worry about that. From my experience it never takes more than two days, sometimes within minutes is up.

[2016-08-29 18:31] CrafterSvK commented on #2452
Well good luck then. :)

[2016-08-29 19:27] MasterofJOKers commented on #2452
Should be fixed in latest master.

[2016-08-29 19:27] #2452 closed

[2016-08-29 19:30] MasterofJOKers commented on #2451
I cannot reproduce that. It works for me, even if I change the language, while the game is running.

[2016-08-29 19:31] MasterofJOKers commented on #2450
Btw. the current upper bound is 20x.

[2016-08-29 19:32] MasterofJOKers commented on #2453
Your translations have now reached our repository. Thank you very much for your contribution (and the bug reports)!

[2016-08-29 19:32] #2453 closed

[2016-08-29 19:37] MasterofJOKers commented on #2450
Confirmed, that numpad +/- does not work like the other +/-, as they send different keycodes.

Regardingt he cap of speed: I'm against capping the speed, as a human should be able to tell, if its PC is capable of running at this speed or not. Having a hard cap is imho bad, because it is only correct for a small number of PCs.

[2016-08-29 19:58] CrafterSvK opened #2454 "Slovak language"
Sorry for my spamming on your issues but I have translated the whole game into slovak language. Git was updated so I grab that revision using git pull. Slovak language is not translated in the game. There is a lot of english text.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37388941-slovak-language?utm_campaign=plugin&utm_content

[2016-08-29 19:59] MasterofJOKers commented on #2454
If you grabbed it from from git, you need to run `./setup.py build_i18n` to update the translations.

[2016-08-29 20:01] CrafterSvK commented on #2450
Why is max cap good. Rapidly tap + for max speed. Don't need to count how many times you want. If you don't want to do that don't do that. But better to do it in options. So you can select uncapped and cap at 8 16 32 and so on.

[2016-08-29 20:02] CrafterSvK commented on #2454
Sure thanks for that

[2016-08-29 20:02] #2454 closed

[2016-08-29 20:02] MasterofJOKers commented on #2450
Option sound better since "max speed" is different per PC as I already said.

[2016-08-29 20:03] CrafterSvK commented on #2450
Yeah as I just think of it. :)

[2016-08-30 07:59] CrafterSvK opened #2455 "Opinion"
Sitizens are upgrading their selves without need to fill their whole needs?
AI is only on tier 2?
You can grow anything everywhere?
Politics in this game isn't polished?
There is more going on. I can make some small changes but I am mainly Java programmer.

[2016-08-30 08:05] LinuxDonald commented on #2455
Yeah I have seen that problem too but for now I don't know why..

[2016-08-30 08:07] CrafterSvK commented on #2455
And also they don't use clay pits.

[2016-08-30 08:09] LinuxDonald commented on #2455
The a.i. Don't support that for now. And don't know to why not. A.i. Code is really big.

[2016-08-30 08:10] CrafterSvK commented on #2455
I am looking at it right now. Maybe I can update that

[2016-08-30 08:19] LinuxDonald commented on #2455
That would be very nice :-)

[2016-08-30 08:41] CrafterSvK commented on #2455
That's strange. There is Clay Pit corectlly implemented even it says that it must be built on clay deposit.

[2016-08-30 08:44] janexx commented on #2455
Are you sure that clay pit doesn't work in game? I didn't noticed problems with that. Or do you mean stone pit?

[2016-08-30 08:45] CrafterSvK commented on #2455
I mean clay pit. My AI is ignoring that deposit.

[2016-08-30 09:15] LinuxDonald commented on #2455
A.i. Should work up to tier 4.

[2016-08-30 09:42] LinuxDonald commented on #1468
https://github.com/unknown-horizons/unknown-horizons/commit/1835fb3cf9c13c9f4ca33e16afed77fb89b13c28

[2016-08-30 09:44] LinuxDonald commented on #1468
@janexx could you maybe make the https://github.com/unknown-horizons/unknown-horizons/tree/master/content/gfx/buildings/citizens/residential/as_stonehouse0 house a liitle bit nicer? And one more tier 3 building and this ticket is done.

[2016-08-30 09:46] janexx commented on #1468
yep :)

[2016-08-30 09:47] LinuxDonald commented on #2451
For me it works too no problems. @CrafterSvK could you maybe recheck this?

[2016-08-30 09:55] CrafterSvK opened #2456 "Background menu"
Background is okay but not suitable for anything bigger than 1280x720.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37406605-background-menu?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tra

[2016-08-30 09:57] janexx commented on #2456
So we need a bigger background? What dimension would we need?

[2016-08-30 09:58] CrafterSvK commented on #2456
You don't need much bigger. 1920x1080 is common and you can scale it up and down for 16:9 displays