[2017-05-18 17:28] LinuxDonald commented on #2687
I will take an look on it.

[2017-05-18 18:11] kruug commented on #2679
Found this in fife.log:

Controller:LOG:Fifengine v"0.4.1"+bbd1e9bc
Controller:LOG:================== Engine initialize start =================
Controller:LOG:Time manager created
Controller:LOG:Creating VFS
Controller:LOG:Adding root directory to VFS
VFS:DEBUG:VFSDirectory created with root path ./
VFS:LOG:new provider: OS Directory
Controller:LOG:Adding zip provider to VFS
VFS:LOG:new provider:

[2017-05-18 21:12] squiddy commented on #2660
This particular issue is fixed.

[2017-05-18 21:12] #2660 closed

[2017-05-18 21:20] squiddy commented on #2658
I adjusted the fixture for the test, we're done here.

[2017-05-18 21:20] #2658 closed

[2017-05-19 05:30] squiddy commented on #2636
I think you may have mixed things up, that date might be the release date of the LTS. As of now, Travis has no immediate plans to update, see https://github.com/travis-ci/travis-ci/issues/5821

Their suggestions is:

Which seems like something worth investigating.

[2017-05-19 05:34] squiddy opened #2690 "Broken link to downloads page in repository README"
Right under *Installation*

[2017-05-19 05:50] #2637 closed

[2017-05-19 05:57] squiddy commented on #2529
No, unfortunately I didn't find the time yet.

[2017-05-19 05:59] squiddy commented on #2641
I briefly looked into this and one issue is that some parts of the code are extending enums, especially the ai IIRC.

[2017-05-19 06:00] squiddy commented on #2679
Can confirm the same problem in Windows 7, using a non-admin account.

[2017-05-20 08:56] #2690 closed

[2017-05-20 09:49] squiddy commented on #2636
Finally, seems like some GUI tests are running on Travis again.

branch: https://github.com/unknown-horizons/unknown-horizons/tree/travis-gui-tests
travis: https://travis-ci.org/unknown-horizons/unknown-horizons/builds/234278160?utm_source=github_status&utm_medium=notification

I've basically started from scratch before all the python3 stuff, and I think the current configuration is the same befor

[2017-05-20 09:59] AndyMender commented on #2636
When I was running the tests locally then, they were failing with an SDL-related error. That's the reason I switched to OpenGL to at least be able to run the tests via X11. However, if you notice it messes up the GUI tests on Travis, we can revert it :).

[2017-05-20 10:08] squiddy commented on #2636
I see. Yeah, I'm going to revert it then. We can always either fix your SDL problem or have the backend be configurable with an environment variable.

[2017-05-20 15:49] squiddy commented on #2636
@AndyMender Next time you're running GUI tests and SDL is making problems, either comment here with the traceback or open up an issue. I'd prefer to solve the underlying issue.

[2017-05-20 15:57] AndyMender commented on #2636
Got it and I will!

[2017-05-20 16:08] #2636 closed

[2017-05-20 16:10] squiddy opened #2691 "Run multiplayer tests on travis by providing enet bindings"
~~For example here: https://travis-ci.org/unknown-horizons/unknown-horizons/builds/234343626~~

~~The tests apparantly won't continue to run until Travis decides to abort the build due to inactivity.~~

See https://github.com/unknown-horizons/unknown-horizons/issues/2691#issuecomment-307438696

[2017-05-20 16:14] LinuxDonald commented on #2691
The gui test don't need the enet lib right?

[2017-05-20 17:12] squiddy commented on #2691
They do, they open up a master server and test the lobby.

[2017-05-20 17:15] LinuxDonald commented on #2691
At the moment we only provide pyenet for 64 bit linux System See: https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/network/libs/enet.txt

Pyenet git master + enet 1.3.13

[2017-05-20 18:09] LinuxDonald commented on #2691
Hm travis is 64 bit. But maybe pyenet needs to compiled on an older distro than arch linux.

[2017-05-21 18:36] squiddy commented on #2691
The game with the gui test seems to start, but get's stuck after `Preloading done`:

https://travis-ci.org/unknown-horizons/unknown-horizons/builds/234588106

[2017-05-21 19:19] squiddy commented on #2681
Going to have a look at it. Log handling in the `run_uh.py` file looks a bit messy.

[2017-05-22 04:35] LinuxDonald commented on #2691
On my local maschine the test runs fine.

[2017-05-22 04:46] LinuxDonald commented on #2687
I dont know ho to set the messange higher.

[2017-05-22 05:03] squiddy commented on #2687
Pretty sure this is caused by the label displaying the message. Look what happens when I display many lines:

![2017-05-22-070304_839x625_scrot](https://cloud.githubusercontent.com/assets/50333/26293410/ca0f4732-3ebc-11e7-9aab-8f257644119b.png)

[2017-05-22 05:46] squiddy commented on #2687
The issue is that vertical text alignment is hardcoded to be centered here: https://github.com/fifengine/fifechan/blob/master/src/widgets/label.cpp#L134

[code]

[2017-05-22 06:00] squiddy commented on #2687
See this issue to get the required functionality: https://github.com/fifengine/fifechan/issues/52

[2017-05-22 06:10] squiddy commented on #2687
@LinuxDonald I fixed the size of the message labels, so the text centering is now at least consistent and doesn't look off. I'm gonna mark this issue as nice-to-have.

[2017-05-22 06:11] squiddy commented on #2687
After fixing the message label size:

![2017-05-22-081100_1324x843_scrot](https://cloud.githubusercontent.com/assets/50333/26294726/326afc1e-3ec6-11e7-9833-dae88757f93b.png)

[2017-05-22 06:12] LinuxDonald commented on #2687
Nice fix for now :-) now we will wait what with the fifechan ticket will happen.

[2017-05-22 07:40] squiddy opened #2692 "Fix failing traderoute gui test"
[code]

I'm pretty sure one issue is that the second ship can't found a settlement, when running locally, the building was red and couldn't be placed.

[2017-05-23 05:42] squiddy commented on #2692
I'm gonna try to fix this one today evening.

[2017-05-23 05:47] squiddy commented on #2691
Next steps:

1. Figure out whether enet is loaded. Probably just a python one liner of "find_enet.
2. Find out what happens after "preloading done"

[2017-05-23 06:31] AndyMender commented on #2692
Perhaps a new savegame fixture is needed for this test?

[2017-05-23 07:12] squiddy commented on #2692
It might even just be something as simple as a tree blocking the way. Anytime the random map generation code is changed, tests using fixtures might break.

I'm toying with the idea of generating the map/fixture programmatically, like we do in game tests. I don't like the dependence on specific maps that ship with the game or the random map algorithm.

[2017-05-23 17:37] #2692 closed

[2017-05-23 17:37] squiddy commented on #2692
Copying from the commit message:

Two issues had to be fixed:

[2017-05-23 18:10] AndyMender commented on #2692
I'm afraid I might be responsible for issue 2. Apologies and good job on fixing this :).

[2017-05-28 21:13] AndyMender commented on #2623
@janexx, if that doesn't trouble you too much, could I also participate in creating the models? I do have some past experience in making armors and clothing for The Elder Scrolls Oblivion and Skyrim in Blender. I am currently re-learning the new Blender interface and I would love to put that knowledge into practice :).

[2017-05-29 07:33] janexx commented on #2623
@AndyMender No, sure you can join. :) At least one more model is needed. I am working at the moment on the second house.

[2017-05-31 09:36] AndyMender opened #2698 "Create Tier 5 Public Bath"
I would like to contribute to the graphics aspect of Unknown Horizons as well. Per discussions with @LinuxDonald, one of the new, yet not implemented tier 4 buildings is a bath house. I have experience with 3D modeling in Blender, but none insofar regarding Unknown Horizons models. Therefore, I would need some initial "hand holding" and feedback from @janexx.

This might serve as an initial inspir

[2017-06-01 20:44] LinuxDonald opened #2699 "2017.2 crashes in AI code when player/ship name contains non-ascii characters"
I have become an mail about an crash on the 2017.2 release version on Windows 10:

[code]

I created an branch from the 2017.2 release commit. Please fix the issue on this branch to.
Dont forget you need last stable fife and fifechan for it and python2.

@AndyMender @squiddy

[2017-06-01 20:50] squiddy commented on #2699
This looks like the same issue as #2130

[2017-06-01 20:53] squiddy commented on #2699
Also, just from a quick look at all the `self.log.debug` in `horizons/ai/aiplayer/behavior/behaviorcomponents.py` alone I'm pretty sure this will break everywhere, granted you choose to use non-ascii characters in the player's or ship's name.

[2017-06-01 20:55] squiddy commented on #2699
I don't think there is any need for that, we do have tags for that. https://github.com/unknown-horizons/unknown-horizons/tree/2017.2

[2017-06-02 07:20] AndyMender commented on #2699
How do we approach this then? Do we use a decoder that can handle non-ascii characters or print a warning (or pop-up widget?) that non-ascii characters are not allowed? :)

[2017-06-02 07:44] squiddy commented on #2699
I think it probably is the same fix as for #2130 which I linked: https://github.com/unknown-horizons/unknown-horizons/commit/f96b802b40e7ef293ae6ca0eaf7a36b33de3101b

[2017-06-02 07:45] squiddy commented on #2699
Honestly thought, I'd rather concentrate on getting **2017.3** out. With python3's unicode by default, problems like this shouldn't happen.

[2017-06-02 10:32] LinuxDonald commented on #2699
Version 2017.3 is planned for the end of the year. Fife the same.

[2017-06-02 11:13] squiddy commented on #2699
Do we really want to wait so long? We've completed a major change, the migration to python 3. The sooner we get feedback, the better, right?

[2017-06-02 11:14] squiddy commented on #2699
Sure, we can fix this single bug. But I don't think it's worth the time to check the whole codebase for more issues like that.

[2017-06-02 11:40] LinuxDonald commented on #2699
The Problem is that we dont have big changes. Python 3 Port is an big change but its not an big change for the gamer. The Main Problem is still the broken multiplayer for years now :(
And helios2k is not avaliable at the moment. He wanted todo some work on fife. and jakock too (he want port fife from tinyxml to pugixml)

[2017-06-02 11:47] LinuxDonald commented on #2699
I will talk with the Bug report user. To workaround this Bug. I open an new ticket for new release discuss.

[2017-06-02 11:51] LinuxDonald opened #2700 "2019.1 Release ToDos"
Fife 0.4.2 Release Date: XX.XX.2019
Fifechan 0.1.5 Release Date: XX.XX.2019
UH 2019.1 Release Date: XX.XX.2019

Issues Open for UH 2019.1:
https://github.com/unknown-horizons/unknown-horizons/milestone/29

Changelog must be updated.

[2017-06-03 14:28] AndyMender commented on #2699
I agree with squiddy. Except for the multiplayer, which doesn't work yet anyway, most of the stuff is in a good enough condition to push for 2017.3. If the unicode issue is gone with Py3, fixing it explicitly for Py2 across the entirety of the codebase might not be a good idea.

[2017-06-03 15:23] LinuxDonald commented on #2699
I cant do an release again with nothing new. We have only codebase changes. I listen only from other that we dont have anything new in our releases only small changes for years now.
I get feedback from players. And they all say they love our game. And they will be happy to see an new version. But are they happy to see an release with nothing new related to an gamer?
When you guys want i can make a

[2017-06-03 15:34] AndyMender commented on #2699
Well, we're coders so what changes mostly is the codebase. I started working in Blender again so maybe I'll be able to push in some buildings, but apart from me there is only Jana in the "content department". Perhaps we could advertise the project a bit more?

Still, that's for a separate issue, I believe.

[2017-06-03 16:11] LinuxDonald commented on #2699
We dont need new content we have enough. We have alot work that coders only can do. For example ship fight. We have already cannon balls grafics. We have alot issuse with features that needs coders to get done.

[2017-06-04 12:50] janexx commented on #2698
Nice @AndyMender ! I just find it a bit unpractical that people have to climb up in the swimming pool. Maybe better make a kind of whole in the ground, maybe with a small stair? You could also add some seats. Just my ideas... :)

[2017-06-04 13:44] AndyMender commented on #2698
Yes, this of course makes a lot more sense. I will try to make a square pool in the middle with some stairs. Would look a lot better, I'm sure!

[2017-06-04 14:30] AndyMender commented on #1095
Indeed, the slider doesn't allow resource amount changes smaller than +/- 3 in the traderoute menu. I will have a look at the underlying code to see why this is the case. @LinuxDonald should the traderoute menu sliders be replaced with up/down arrows or is adjusting the slider increment to +/- 1 sufficient?

[2017-06-04 14:39] LinuxDonald commented on #1095
Slider is better? Faster?

[2017-06-04 14:54] AndyMender commented on #1095
A slider is potentially faster, but harder to get a specific value with. I also noticed that the slider does not consider the max amount of player resources, suggesting quite ridiculous values as the maximum amount to load. This of course would require extra logic checks and apart from looking strange is not game-breaking.

[2017-06-04 15:00] LinuxDonald commented on #1095
Than make it that it works good and is easy for gamer.

[2017-06-04 15:05] AndyMender commented on #1095
As Xiong mentioned quite some time ago, the sliders are a much broader issue and concern also the warehouse and transactions with the free trader. That's a game enhancement that I believe should be discussed with other developers and resolved in a separate ticket.

The case of the traderoute menu is clearly a bug, which I tried to "fix". I'll try to make sure the fix is not game-breaking before co

[2017-06-04 18:39] janexx commented on #2698
Good! Looks better now. I would make the stairs over the whole width of the pool. I am looking forward to see the it with textures! I recommend to make preview renderings in the final image size. :)

[2017-06-04 18:43] AndyMender commented on #1971
![mouse_sensitivity](https://cloud.githubusercontent.com/assets/15969405/26764344/830f4950-4965-11e7-9fae-382cd4df37b7.png)
As @squiddy mentioned here: https://github.com/unknown-horizons/unknown-horizons/pull/2473 , mouse sensitivity can have a raw value of -0.99 to 10. This is interpreted directly by FIFE. However, upon testing it is very clear that values lower than -0.4 don't really make sense

[2017-06-04 19:17] AndyMender commented on #2698
I'll try to UV-map and texture/shade the thing and we'll see what still needs to be done. @janexx do you perhaps have custom texture sets for roof tiles and stone brick walls, used for other buildings in Unknown Horizons?

[2017-06-04 19:46] AndyMender commented on #2142
@squiddy any news on this? Should we consider adding both features as selectable by the player via an on/off tick box? :)

[2017-06-04 20:18] AndyMender commented on #1379
The buildings look alright now, though I am not sure about the ships. They seem to be able to move to designated positions and they don't *rub* against the coastline anymore. @LinuxDonald what do you think?

[2017-06-04 20:32] AndyMender commented on #2129
I created a new branch for this and will see whether I can push at least some code to it + placeholders for future features.

[2017-06-04 20:39] LinuxDonald commented on #2142
I think an on/off Box would be good. By default it should be off

[2017-06-05 02:35] LinuxDonald commented on #1379
Is this bug/problem real fixed or use we here an workaround?

[2017-06-05 06:48] AndyMender commented on #1379
It's a workaround as much as the original solution.

[2017-06-05 07:15] squiddy commented on #2142
Honestly, I don't think we should enable texture filtering, as it looks pretty bad and the graphics loose visual quality. MasterOfJOKers already said that, AndyMender agreed.

MipMapping on the other hand is nice, especially when zoomed out. We still need to fix the black borders though.

So, I'm against offering a texture filtering option, even with default off.

[2017-06-05 07:49] squiddy opened #2704 "GUI tests on CI fail without future library installed"
I was cleaning up the requirements, and as we don't need the `future` library anymore, I removed it. But now the GUI tests are failing:

https://travis-ci.org/unknown-horizons/unknown-horizons/builds/239494227

[code]

I'm not sure where the problem is. Either our debian package for fife is missing this dependency, or its missing in fifengine itself. Any ideas @LinuxDonald @MasterofJOKers ?

For n

[2017-06-05 11:21] LinuxDonald commented on #2704
As you can see in the log. It seems that pychan needs future. Have we in UH replaced future? Maybe we/Belair could do it on fife side?

[2017-06-05 11:23] LinuxDonald commented on #2698
Maybe add some flowers or something like decoration?

[2017-06-05 11:33] AndyMender commented on #2704
I think `future` was needed in the Python2 code for some Py3 features. Perhaps later, when FIFE moves completely to Python3, this will be removed. Alternatively, we could make this a conditional import in fifechan.

[2017-06-05 11:34] LinuxDonald commented on #2704
When I remember correctly future lib come with port to python3.

[2017-06-05 12:41] AndyMender commented on #1701
I'm closing this one as upon thorough investigation the collectors seem to behave normally and move without jumping tiles.

[2017-06-05 12:41] #1701 closed

[2017-06-05 12:51] MarkusHackspacher commented on #2700
Other Idea, let call UH2017 for all Version with python 2. If fix a fault in 2017.2 call it 2017.3.
And for the base with python 3 call it UH2018 and to make a release with the actual code base UH2018 beta 1.
It is because the linux distributions like Debian have a stable and a testing branch, in the moment is UH2017.1 in Debian testing, goes at 17. June in the stable branch for the next two years

[2017-06-05 12:57] LinuxDonald commented on #2700
we dont have any bug fixes for 2017.2 Version. All changes are python3 based.

[2017-06-05 13:11] LinuxDonald commented on #2704
<Beliar> LinuxDonald, it is for the compatibility between python 2 and 3

[2017-06-05 13:42] Beliaar commented on #2704
In short, it allows to use the same code in for both python 2 and 3.

[2017-06-05 13:48] MarkusHackspacher commented on #2700
Ok, if one day a bugfix goes into 2017.2 than call it 2017.2.1.
But I mean use not 2017 for the python 3 code base. In my opinion it is better to call it 2018.x.

[2017-06-05 13:49] squiddy commented on #2704
Well, yeah. I can see that. But just because pychan needs it, a installed fife debian package shouldn't require us to include that dependency when *we* don't need it.

[2017-06-05 13:50] LinuxDonald commented on #2704
@Beliaar could you maybe change that when fife gets compiled with python3 support that it dont need future?

[2017-06-05 13:53] squiddy commented on #2698
Also, the walls/roof should probably look like it was made from actual single stones / tiles. Right now, it's just a texture on top. Isn't there some magic like normal maps / bumpmapping to improve the visuals here?

[2017-06-05 13:55] squiddy commented on #2704
The idea is to support both python 2 and 3 with the same code base. Also I feel kinda misunderstood. I don't really care whether fife needs the library or not.

I'm just saying that for CI, currently we can't use the fife package (installed system-wide) **without** installing the library separately, which feels wrong.

[2017-06-05 13:55] Beliaar commented on #2704
The problem is with the extensions code, not the main module. Unless someone wants to maintain 2 versions of them it is not possible.

[2017-06-05 14:13] AndyMender commented on #2698
There is. The texture lacks a normal map, but that can be added and fed to the right shader. Alternatively, I could create the tiles in Blender entirely (using the current textures as base). This takes a bit more time for rendering afterwards, of course.

[2017-06-05 14:34] janexx commented on #2698
@AndyMender  We have already roofs. You can use and mybe modify them (copy or via append). Just look at other models with roofs, e.g. other habitant houses. For the bricks, you can try just a bump map or model the bricks yourself. Or you can use some of the stone wall:
https://github.com/unknown-horizons/gfx/blob/master/janexx/buildings/wall/wall_stone/wall_stone_BLENDER-v278.blend
Also look at th

[2017-06-05 14:39] AndyMender commented on #2698
Thank you @janexx . I will do that then :).

[2017-06-06 22:12] AndyMender commented on #2129
Some of the functionalities were already introduced, though not marked in the original post:

- [ ] weaponsmith produces swords out of iron ingots and charcoal (game test in place and working)
- [ ] barracks have a separate GUI with unit tabs and a main tab for tracking training/production progress
- [ ] the first ground unit, a swordsman, is available for training/production and can issued/queued

[2017-06-07 15:15] #2130 closed

[2017-06-08 05:11] squiddy commented on #2180
Using our `StepSlider` widget (https://github.com/unknown-horizons/unknown-horizons/blob/f24e1ddece01f8ef3cec04e0e3ad7c7f25e1070a/horizons/gui/widgets/stepslider.py) should help here.

[2017-06-08 05:52] AndyMender commented on #2698
Update: new version with hand-crafted roof tiles and bricks.
![bathhouse0001](https://user-images.githubusercontent.com/15969405/26914058-55bbf540-4c1f-11e7-824e-7b4bd661aa6e.png)

[2017-06-08 20:38] squiddy opened #2710 "Run development/create_pot.sh and fix everything that fails"
As I added new translatable strings, I tried to update the translation template, but the script failed horribly. There are lots of small issues, for the most part caused by the python3 port and various `.format` changes as far as I can see.

I've got it almost fixed locally already.

[2017-06-09 01:07] LinuxDonald commented on #2698
Maybe the roof should be in an other color? what do you think @janexx ?
And still no ground texture.
Thr floor should be gone texture maybe instand of wood.

[2017-06-09 05:00] squiddy commented on #2691
Enet can't be loaded on Travis. I recently added a check to skip mp tests on systems without enet, and that's exactly what happens.

[2017-06-09 05:03] squiddy commented on #2682
@Linuxdonald Any news on this? The next release will use the new version check, but this should still be fixed if possible.

[2017-06-09 05:20] squiddy commented on #2679
I made this issue a blocker for the next release. It is easily reproduced and we shouldn't / can't expect our players to be running admin accounts.

[2017-06-09 05:23] squiddy opened #2711 "Fix randomly failing tests.gui.test_internal.py::test_run_for_x_seconds"
The test fails sometimes on Travis CI:

[code]

A first step is to improve the assertion message and have it print out what the actual difference is. Perhaps Travis is a bit slow and we just need to adjust the delta of `0.05`.

[2017-06-09 09:55] LinuxDonald commented on #2682
For an fix we would need an backport. Then we could release an hot fix.

[2017-06-09 10:01] LinuxDonald commented on #2691
But we have an enet in master for python3 versions 3.4 and 3.6 and travis use 3.4?

[2017-06-09 10:14] squiddy commented on #2691
Yes. When attempting to import enet, we probably ignore the exception message.

Perhaps it's something as simple as libenet missing on Travis? If that library has to be installed, I'm not sure whether that's included in the python enet files.

[2017-06-09 10:15] squiddy commented on #2682
Why can't we just change the version on the existing server? You said:

Why can't we do it now one last time?

[2017-06-09 10:36] janexx commented on #2698
The roof is better now. The single roof tiles just seem a bit small? I don't know how it looks in 128x128 pixel size (or what tile size should it have @LinuxDonald ?) Please give me also the render image in final size. :)
But I also would say, that the roof and the walls should have at least a bit different colour. The whole ground could maybe get a stone texture? I guess the ground texture inside

[2017-06-09 10:40] LinuxDonald commented on #2698
Yeah @janexx is right @AndyMender please do what jana have written :)
Size should be 2x2 i think?

[2017-06-09 10:44] LinuxDonald commented on #2682
Because its very hard to get into contact with him :( Sometime it takes months

[2017-06-09 10:47] LinuxDonald commented on #2691
It should be included in the enet.so file. Because on creating the enet python lib you need the enet source files/cpython and the python version that wanted to be used.

[2017-06-09 10:56] squiddy commented on #2691
Well, that doesn't necessarily mean that the library is statically linked. You need header files to link dynamically as well. Will try this out later today, I'm pretty sure I had to install libenet a couple days ago.

[2017-06-09 10:59] janexx commented on #2698
Ehm I just want to add that are not orders, just ideas and hints. :)

[2017-06-09 11:04] LinuxDonald commented on #2698
@janexx you are the chief grafic artist :P And i like your ideas you make wonderful grafics :)

[2017-06-09 11:58] LinuxDonald commented on #2691
Yepp you are right @squiddy https://packages.debian.org/experimental/python3-enet
I have added it to travis

[2017-06-09 12:07] LinuxDonald commented on #2691
https://github.com/unknown-horizons/unknown-horizons/commit/bf1c847f5ff9255baae8636f0e23351da1ef0e72

why travis dont have yet Ubuntu 16.04 LTS version :(

[2017-06-09 14:16] squiddy commented on #2691
Travis won't switch in the foreseeable future, they said in a github issue. Switching incurs huge costs.

If we really wanted we could use their docker feature and use a newer release.

[2017-06-09 14:25] squiddy commented on #2678
Closing because we got no feedback. If you encounter new problems or have new information, please feel free to reopen this issue. We're happy to help.

[2017-06-09 14:25] #2678 closed

[2017-06-09 14:30] LinuxDonald commented on #2691
But setting up docker on travis would costs time.
Maybe We could setup docker on travis in the future or use appveyor (Windows System) for the tests.

[2017-06-09 14:43] squiddy commented on #2691
Ah no, I didn't mean to suggest to do that **now**. Was just providing extra information about why Travis doesn't switch.

To fix this, I'd rather see us build a proper enet package for debian and use that.

Running tests on appveyor **additionally** would be nice.

[2017-06-09 15:44] MasterofJOKers commented on #2691
Did I understand correctly, that "proper package" means backport of a newer package? If yes, I could take a look at that.

[2017-06-09 16:24] LinuxDonald commented on #2691
@MasterofJOKers we need python3-enet package created against Ubuntu 14.04 Because chrirstop_debian package is only for new debians.

[2017-06-09 16:39] squiddy commented on #2691
Changed the topic to keep the discussion focused. The tests running forever are caused by the missing enet bindings, I just confirmed it locally.

[2017-06-09 16:51] LinuxDonald commented on #2691
@squiddy does it on arch linux dont work too? How i can only do this one test?

[2017-06-09 16:59] squiddy commented on #2691
It does work on arch. I merely *simulated* missing enet bindings and confirmed that the multiplayer gui tests run forever. That's why this is no special problem with Travis, but with the tests & missing enet bindings.

[2017-06-09 19:41] #2710 closed

[2017-06-09 20:35] #2683 closed

[2017-06-10 11:51] LinuxDonald commented on #2679
I will test it an provide an new installer if it works :)

[2017-06-10 12:06] squiddy commented on #2679
Better keep the issue open then.

[2017-06-10 12:57] LinuxDonald commented on #2679
https://github.com/unknown-horizons/unknown-horizons/releases/download/2017.2/Unknown-Horizons-2017.2.158-Setup-VC14-x86.exe

FIXED. Windows 10 will now give an Warning at the Installation Process. Because its not an signed Installer and its install a little depper into System see: https://github.com/unknown-horizons/uh-installer/commit/94f18c0acfc475c25c74610afe5ea796cad2f885

[2017-06-10 12:57] #2679 closed

[2017-06-10 13:21] squiddy commented on #2679
Works on Windows 7. :+1:

[2017-06-10 13:26] squiddy commented on #2176
Should be easy enough to write an actual test that checks whether the set of buildings in each menu type is identical. If that surfaces inconsistencies, we can fix them.

[2017-06-10 13:32] kruug commented on #2679
Works on Windows 10. :thumbsup:

[2017-06-10 15:07] squiddy commented on #2176
Added test in 2a660ced55413224ac0b44521bc85d314c45aad7. No inconsistencies at this time.

[2017-06-10 15:07] #2176 closed

[2017-06-10 19:44] squiddy commented on #2691
Fixed in b36013da163ea6a1a73deec56f25b4ae03127f3a

Unfortunately it seems that I've broken the multiplayer a bit more, that's why the tests are failing right now.

[2017-06-10 19:44] #2691 closed

[2017-06-10 20:22] a123qwertz567 opened #2715 "Any chance to get 4k UI Scale"
Hello,
just discovered and downloaded the game. Is there any chance to get a UI scaling for 4k?

[2017-06-10 22:24] LinuxDonald commented on #2715
I think we will add this to our todo list. But i cant say if this will happen in the next release.

[2017-06-10 22:30] squiddy commented on #2715
I'd like to see that, but I have my doubts that our current UI system can handly that elegantly.

[2017-06-11 06:50] #2684 closed

[2017-06-11 06:51] squiddy commented on #2682
I see. Perhaps a backport is indeed necessary here.

[2017-06-11 07:17] squiddy commented on #1975
The extra button is tracked in #1406 already, will have a look at the chat issue.

[2017-06-11 07:49] #1975 closed

[2017-06-11 07:50] squiddy commented on #1379
So what's the status here @AndyMender, is this done?

[2017-06-11 13:31] a123qwertz567 opened #2716 "Can't create atlas files when using unknown-horizons-git from AUR"
**Edit (squiddy):** Was `ModuleNotFoundError: No module named 'run_uh'`

When I start the game to main menu I get this error. I have serious perfomance hits and lags in the scenario, too. The lags appear when I have about 200-250 population and half of the island full with production buildings.

[code]
Last part is probaly from me killing the program in the terminal :)

My setup:

- Installed git

[2017-06-12 09:59] AndyMender commented on #1379
@squiddy the offsets were adjusted and look much better now. In my opinion it's ready for shipping :). I think we can close the issue.

[2017-06-12 10:13] AndyMender commented on #2698
Yes, now that I look at it again, the roof should definitely have a different color (maybe some brighter red?). I will remove the wooden floor texture, too. Finally, I was thinking of adding some greyish plaster in-between the bricks. Will this be visible in the final render?

No ground texture was planned, but if the building is supposed to be a 2x2 and not 2x3, then I might want to add some gras

[2017-06-12 11:24] squiddy commented on #1379
Alright, cool. :)

[2017-06-12 11:24] #1379 closed

[2017-06-12 17:00] a123qwertz567 commented on #2716
The thing is, I cant find any reference in the repo to this module...can I install it by hand? Where should it me included?

[2017-06-12 17:15] LinuxDonald commented on #2716
Are you using fifechan-git/fife-git/unknown-horizons-git packages? With lastest changes?

[2017-06-12 17:18] a123qwertz567 opened #2717 "Tooltip is on wrong side of cursor"
For me, the tooltip is on the wrong side of the cursor (right side on the image). Any way to toggle the location? Would be great to know what the building costs and consumes before building it :)

![uh_tooltip1](https://user-images.githubusercontent.com/8014824/27046185-c2569642-4fa3-11e7-99bb-f387b0f255fa.png)

[2017-06-12 17:19] janexx commented on #2698
Try it out!

@LinuxDonald  Is also 2x3 possible? I think that would look good.

[2017-06-12 17:21] a123qwertz567 commented on #2716
Quick answer: I installed this with `yaourt` from AUR. I will do some digging.

[2017-06-12 17:34] LinuxDonald commented on #2698
3x3 would be better. Because eoc said to me long time ago that grafics with sizes for example: 3x2 or 4x3 and so on would be make problems. You cold make some stone or something on both sides. To fit into 3x3.

[2017-06-12 17:35] LinuxDonald commented on #2717
Yeah I have seen this bug too. We must fix that in the future.

[2017-06-12 17:51] squiddy commented on #2716
That file is contained in the root directory of this repo, `run_uh.py`. The thing is, according to it's content, the main code under `horizons` can be somewhere else in the filesystem than the launcher. Which is fine, because in `run_uh.py` we're trying to figure out where the rest of the code is.

However, once we're in the horizons code, we can't possible figure out where run_uh is..

We should

[2017-06-12 18:07] a123qwertz567 commented on #2716
Can anyone say something to this part of my post?

The game gets really unplayable. Is this normal or just my setup?

[2017-06-12 18:28] LinuxDonald commented on #2716
For testing I would need your savegame that slow down the game.

[2017-06-12 19:17] squiddy commented on #2716
@a123qwertz567 If you could re-install that package and try again, I just pushed a change that should fix the error you're seeing. If all is well, atlases should then be generated on your system, helping with performance.

[2017-06-12 19:28] #1678 closed

[2017-06-12 19:31] squiddy commented on #2711
Haven't seen that error in a while. I've added a message when the assertion fails, next time it happens we can consider increasing the threshold. Assuming that's where the problem is.

Until then, closing this one.

[2017-06-12 19:31] #2711 closed

[2017-06-12 20:20] a123qwertz567 commented on #2716
@LinuxDonald I will first try squiddys suggestion maybe this avoids some work for you

@squiddy with a reinstall I got 3 new dependencies:
`Packages (3) python2-olefile-0.43-2  python2-pillow-4.1.1-1  python2-yaml-3.12-2`
But the simple reinstall `yaourt -S unknown-horizons-git` gave a dependency cycle between `fife-git` and `fifechan-git` . I had to perform a complete uninstall and install.

Fina

[2017-06-12 20:33] squiddy commented on #2716
If you would *run* directly from git it should work. That is:

[code]

This is a weird situation: Typically users will install a regular release, and the atlas files will be included already. For developers, running from git directly will create the atlas files.

Here we're trying to run a development version of UH that has been installed systemwide. And I'm guessing it is now attempting to write

[2017-06-13 05:18] squiddy commented on #2609
What needs to be done here? Merely building new versions of pyenet that we ship with the game?

[2017-06-13 05:32] LinuxDonald commented on #2609
Need version of pyenet still for Windows for all supported python3 versions. For Linux an python3 3.5 Build? On freebsd we need to builds. Or we must talk with the maintainer that they create an python3 package.

[2017-06-13 11:14] AndyMender commented on #1971
@squiddy, can this be closed as completed or should I adjust the mouse sensitivity setting range? The related commits were already merged into master.

[2017-06-13 11:34] AndyMender commented on #2717
@a123qwertz567 I'm afraid this might be a side-effect of disallowing tooltips to reposition upon mouse hover over a highlightable widget.

[2017-06-13 12:54] squiddy commented on #1971
I'd say you can close it. There was the suggestion about using a StepSlider with discrete values, but not sure if we want to go down that path.

[2017-06-13 13:26] #1971 closed

[2017-06-14 17:04] a123qwertz567 commented on #2716
Runs without the error. I will play a little bit to check the performance.

[code]
Maybe the AUR package can create the atlases during the installation when the installer has permissions to write on `/usr/share/whatever`.

[2017-06-15 04:13] squiddy commented on #2716
Glad it works now.

Sounds like a good idea. Can we do that @LinuxDonald?

[2017-06-15 04:31] LinuxDonald commented on #2716
I will take an look at it. But I think it should work :-)

[2017-06-17 10:20] LinuxDonald commented on #2609
We need now python3-enet rebuild for python3 3.5. Debian 9 is out now an we should switch to min python 3.5 Support now?

[2017-06-17 11:41] MasterofJOKers commented on #2609
Why do we need 3.5 packages? As long as we're using 3.4 on travis, we don't have to rebuild packages. Once we only want to support 3.5, that rebuild can be done, I guess. But we should probably change to docker on travis first, as I would have to replicate the python3.5 environment available on travis to build a 3.5 package for travis, which sounds like too much effort really.

[2017-06-17 12:27] LinuxDonald commented on #2609
My plan is to change travis to python3 3.5
Maybe we should upload the enet and python3-enet to opensuse build service and build there the packages?

[2017-06-17 12:28] LinuxDonald commented on #2609
When it takes to much time to rebuild it. It can wait.

[2017-06-17 12:30] LinuxDonald opened #2718 "Change min python3 version from 3.4 to 3.5?"
We could now set python3 3.5 to min requirement because Debian 9 have now on default 3.5. And we could use than too 3.5 features.

[2017-06-17 12:48] LinuxDonald commented on #2623
Done with PR: https://github.com/unknown-horizons/unknown-horizons/pull/2701

[2017-06-17 13:17] AndyMender commented on #2718
I think it's a safe move since most of us use Python 3.5 or even Python 3.6 anyhow.

[2017-06-17 13:19] MasterofJOKers commented on #2718
"most of us" means "most of our users", right? How do we know that?

[2017-06-17 13:21] AndyMender commented on #2718
By "most of us", I meant most of us developers. Not sure about the users here.

[2017-06-17 13:27] AndyMender commented on #2698
I decided not to add a grey plaster in-between the bricks since it would not be visible anyway. The building is mostly finished and if possible, I would like to get back to working on the Python code and leave generating the renders to @janexx.
![bathhouse0001](https://user-images.githubusercontent.com/15969405/27253254-5ede2f7c-5371-11e7-9ba0-5431c216b0a1.png)
To that end, how do I upload the .bl

[2017-06-17 13:45] LinuxDonald commented on #2718
Debian should be the base. And Debian 9 is out and should be the new base. We can't wait years for an python3 version Upgrade. The next Debian Release will take again years that we can switch to 3.6

[2017-06-17 13:48] LinuxDonald commented on #2698
You have now the needed rights for uploading @AndyMender maybe @janexx could do some final work on the bath?

[2017-06-17 14:37] squiddy commented on #2718
Let's start by listing the 3.5 features we so desperately need to warrant dropping support for 3.4. ;)

[2017-06-17 14:39] LinuxDonald commented on #2718
https://docs.python.org/3/whatsnew/3.5.html the list is very long :P

[2017-06-17 14:41] squiddy commented on #2718
That's not what I was asking for though. :) Really, what's the motiviation behind this issue? We've just completed the switch to python 3.4. Python 3.5 was released already when we discussed the version we're planning to support.

[2017-06-17 14:42] squiddy commented on #2718
I mean, does it help with the release of 2017.3? Otherwise I don't think this is worth the time right now.

[2017-06-17 14:43] LinuxDonald commented on #2718
At the time we have discssed. Debian 9 was not released.
We dont must switch the python version instand but we should plan it from now that we can use someting from py3.5

[2017-06-17 14:46] squiddy commented on #2718
Sure, we can talk about things. I just doubt we'll get to ship more features / more content any quicker by switching to Python 3.5 right now.

[2017-06-17 14:53] MasterofJOKers commented on #2718
Debian 9 was released today. I don't think we have to switch right away, since users take their time to upgrade. Now oldstable (jessie) is supported for quite some time, too: https://wiki.debian.org/LTS

[2017-06-17 14:54] squiddy commented on #2717
I'll have a look at this.

[2017-06-17 15:18] janexx commented on #2698
@AndyMender  Ok, I can do the rendering. I thought you render it at least once in the final render size so that we see how it will look like. But OK, I can do that and then post it here. Is it OK for you when I do some final work then or do you want to do that yourself then?
Can you add a new folder in the gfx repository with your name and upload the blend file there?

[2017-06-17 16:09] AndyMender commented on #2698
@janexx , yes, I am perfectly fine with you doing some extra adjustments if you feel they're needed :). I don't have much experience with rendering, unfortunately. The added .blend file is here: https://github.com/unknown-horizons/gfx/commit/1ce8b205688eb6b69b8c667d9311dfb3ca4fca4d

[2017-06-17 16:13] AndyMender commented on #2718
I see it that way - if we incur a requirement on the players, they will have to update to either Debian 9 or whatever other distribution that defaults to Python 3.5 or higher. Unless we really need features from Python 3.5 that would make our work easier or the code more efficient/readable, I would not bump the in-code requirement to Python 3.5. Let's leave it at 3.4 or higher and use whichever ve

[2017-06-17 16:40] janexx commented on #2698
@AndyMender Thanks, I have it now. I adapted it so that it fits into our default szene and rendered it:
![000](https://user-images.githubusercontent.com/6216898/27254605-e0842dbe-538b-11e7-87ea-48bc8fd8b21c.png)
![000](https://user-images.githubusercontent.com/6216898/27254608-ed474b12-538b-11e7-81c0-3356774b929a.png)
In the default UH camera view now one almost can't see any water. I would propos

[2017-06-17 16:51] AndyMender commented on #2698
Maybe we should make the side entrances to the pool go through the external walls or open up part of the front with Roman-style columns?

[2017-06-17 17:40] janexx commented on #2698
Yes, that sounds nice! I haven't even noticed that there are side entrances...  :) Do you want to model that? I can do that too if you rather want to code again, but I don't want to take away your model. I could upload the current blend file with the proper settings (camera, light).

[2017-06-17 17:41] janexx commented on #2698
Also the render script is in, you would just have to press alt+P in the text editor view.

[2017-06-17 21:56] AndyMender commented on #2698
If you could upload the improved .blend. I will take care of the side entrances :). Thanks a lot for providing the script!

[2017-06-18 06:48] ejohnso9 opened #2720 "New Install on Mac OSX fails to launch:"
Found your game mentioned here: https://www.slant.co/topics/1933/~open-source-games

I am a software developer, but not in games industry. Python is sort of my favorite language - used it professionally a little bit, but not as much as I would like.  I was sort of looking for a project I might get involved with.

At any rate, I am off to a very sad start. After installing application, it fails to

[2017-06-18 13:25] squiddy commented on #2720
Hi there. :)

I'm sorry you had such a terrible experience. Unfortunately, we haven't had a macOS developer in a while. As such, we probably can not give you the solution right away, but perhaps we can figure this out together.

Judging by the traceback, you've installed the package from our website, which means it's release 2014.1. Some googling seems to suggest this is related to the Boost libra

[2017-06-18 13:36] AndyMender commented on #2698
@janexx , I added the extra doorways as we discussed: https://github.com/unknown-horizons/gfx/commit/c366e3112c6060d9b4c4bf6fe000ea312914c70f
Unfortunately, even with your script the renders don't show anything for me, because I have some nVidia related issues with the Cycles Render engine as of late.

[2017-06-18 16:22] squiddy opened #2721 "Don't offer route configuration with only one settlement"
If the player only has one settlement, it is still possible to open the route configuration menu, only to find out that one has to select at least two settlements.

Shouldn't we just disable this feature until two settlements were build?

[2017-06-18 19:22] AndyMender commented on #2721
As in, provide a pop-up widget informing the player that 2+ settlements are required to configure a route, at the time the traderoute config menu is being generated?

[2017-06-18 20:51] MasterofJOKers commented on #2721
One could grey-out the "traderoute menu icon" and provide information why in a mouseover. No need to let the user think, he/she can click it.

[2017-06-18 20:52] AndyMender commented on #2721
I think that's an even better solution, true :).

[2017-06-18 21:22] janexx commented on #2698
@AndyMender Hm OK. I would say, its not bad, but there is still some room for improvement.. :)
![000](https://user-images.githubusercontent.com/6216898/27264244-a7ade940-547a-11e7-9677-fde0b5f3e12e.png)
![000](https://user-images.githubusercontent.com/6216898/27264251-bca9a1f4-547a-11e7-8afa-94a8be837461.png)
 E.g. Colors, nicer/round entrances and windows, columns...  :D

[2017-06-18 21:58] LinuxDonald commented on #2698
Maybe Glas walls?

[2017-06-18 22:39] AndyMender commented on #2698
![bathhouse0001](https://user-images.githubusercontent.com/15969405/27264799-47f7899a-5487-11e7-9a28-1ae45316cbfb.png)
With columns. Added to the unknown-horizons/gfx repository.

[2017-06-19 03:47] ejohnso9 commented on #2720
Hi, Reiner.
Thanks for your reply.  Getting any sort of response at all is very
encouraging.

This is sort of long, but I decided to write it all in the hopes it will be
useful.

So, first of all, you are correct, I installed Unknown Horizons by just
downloading the .dmg file from here:

https://github.com/unknown-horizons/unknown-horizons/releases/download/2014.1/Unknown-Horizons-2014.1.dmg

I no

[2017-06-19 04:56] squiddy commented on #2721
Yeah, greying it out was what I was thinking of as well.

[2017-06-19 10:28] LinuxDonald commented on #2720
Uh needs python3 support. On Travis we use this command for it to build fifengine with python3 support: cmake -DPYTHON_EXECUTABLE:PATH=/usr/local/bin/python3 -DPYTHON_INCLUDE_DIR=/Library/Frameworks/Python.framework/Versions/3.6/include/python3.6m -DPYTHON_LIBRARY=/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6 ../fifengine

But it still not works there. We dont know if the paths a

[2017-06-19 18:01] ejohnso9 commented on #2720
fifengine/setup.py  already imports sys

A simple statement like this would make this Python 3 requirement both explicit and enforced:

`
if sys.version_info[0] != 3:
    print("This script requires Python version 3.x")
    sys.exit(1)
`

(how do you get Python formatted correctly here?)

https://stackoverflow.com/questions/6224736/how-to-write-python-code-that-is-able-to-properly-require-a-minima

[2017-06-19 18:07] MasterofJOKers commented on #2720
Fife supports both python3 and python2. They cannot enforce python3. UH needs python3 module for fife, though.

[2017-06-19 18:12] MasterofJOKers commented on #2720
Additionally, fife's python support is only an added feature (via swig). Fife itself is written in C++ and needs to be compiled using cmake. I don't think `python setup.py build` is enough here. You need to run cmake as shown in fife's [docs](http://docs.fifengine.net/developer-manual/en/#_compiling_fifengine).

[2017-06-19 20:03] janexx commented on #2698
@AndyMender That looks nice with the columns. Now the nice water is visible. I like that water with the white rings. Only the red brick I don't like so much and the windows. Now with the grey columns, the red bricks look even weirder for me. I just made it now like I would like it and uploaded the file. The windows are now added a bit quick and dirty... Maybe you can do something with it.
By the w

[2017-06-19 20:09] LinuxDonald commented on #2698
Good work :-) I like it

[2017-06-20 05:01] AndyMender commented on #2698
I really like the grey-yellow walls and I feel the windows look alright :). Perhaps the remaining doorway could get a similar treatment? Other than that, it's a great improvement over the initial model already.

[2017-06-20 16:16] ejohnso9 commented on #2720
Thanks for your reply, MasterofJOKers. I expect you are completely right.  I am just trying to get some sort of running installation so I can look at the game, and then start to look at buglists and see if I can do anything useful, either for UH or for FIFE, preferably UH itself.

So, I guess when you install UH from the git repository and build that using the Python setup.py, the assumption is th

[2017-06-20 18:13] AndyMender commented on #2720
Building the FIFE engine doesn't really take that much time. On a 3-year-old ultrabook the compilation takes approximately 15 min. To work on Unknown Horizons you need fifechan in addition, but that's even faster. Finally, UH itself doesn't require any building since it's pure Python :).

[2017-06-22 20:17] #2248 closed

[2017-06-22 20:19] #1389 closed

[2017-06-22 20:34] #1828 closed

[2017-06-30 13:03] krichter722 opened #2725 "Link to build instructions on page "Get involved" is dead"
The link to "install from git" instructions on http://unknown-horizons.org/get-involved/ is dead. There's no (easy) way to get to the build instructions from the home page.

Workaround: build instructions are linked in `README.md`.

[2017-06-30 13:19] LinuxDonald commented on #2725
Fixed with: https://github.com/unknown-horizons/unknown-horizons.github.io/commit/510ca4808b7a5e1f2a59d69be9d73fa14d77abe0

And thank you for your report 👍

[2017-06-30 13:19] #2725 closed

[2017-07-01 14:50] janexx opened #2728 "Offset problem"
I added the public bath in branch "public_bath". The building can't be placed properly. For example it can be placed on streets and on other buildings.
Screenshot:
![bath](https://user-images.githubusercontent.com/6216898/27763027-6c508748-5e7c-11e7-8fda-58d3e4067f68.png)
@AndyMender Can you maybe have a look on it if it's an offset problem again?

[2017-07-01 17:24] janexx opened #2729 "Create buildmenu icon for public bath"
ID: 87

[2017-07-01 17:32] AndyMender commented on #2728
@janexx, just to make sure, was the building added to the game as 2x2? I fixed all offsets for 2x2 buildings already so it might be coming from someplace else :(.

[2017-07-01 18:04] janexx commented on #2728
@AndyMender Yes, its 2x2 (128x128 Pixel). I fixed it now (commit e36a458501bb9ce2b39e481a9a3b76b43edb9cff) . The camera was too high and so there was too much empty space at the lower side of the graphics. By the way I made the ground plate a bit wider so that the building fills out the whole square.

[2017-07-01 18:04] #2728 closed

[2017-07-03 16:54] simonherrmann opened #2730 "Game telling to download the newer version despite already having it"
I've just downloaded and installed Unknown-Horizons-2017.2.158-Setup-VC14-x86.exe on Windows 10. After starting the game, it tells me that I only have 2017.1 and should get 2017.2 and it redirects me to the download site, which only offers the version I've just installed. What's wrong here?

[2017-07-03 17:11] LinuxDonald commented on #2730
Yeah that's an knowed bug. It will be fixed in the next version oh uh. Ignore the message for now.

[2017-07-07 14:33] AndyMender commented on #2718
@LinuxDonald, do we get some sort of consensus on this? I looked around a bit and at least openSUSE Leap 42.2 still uses Python 3.4.x and I'm sure they will keep on using it for longer.

[2017-07-07 14:41] AndyMender commented on #2340
@LinuxDonald, should this option be added to one of the game menu widgets and by default be set to "ON"? I could later implement a True/False trigger where the resource deposit loading bit is.

[2017-07-07 14:49] LinuxDonald commented on #2340
Yes it should be an game option. Selectable before the gamer start the game. (Free-to-play)

[2017-07-07 14:49] LinuxDonald commented on #2718
Ah okay.

[2017-07-07 14:49] #2718 closed

[2017-07-09 04:56] icyvapor opened #2731 "[support] game crash on startup with fontdef deprecatedException"
I've just installed the required dependencies .. at least as far as I understand :)

when I tried starting up the game, got deprecatedException about 'fontdef' :

Traceback (most recent call last):
  File "./run_uh.py", line 380, in <module>
    main()
  File "./run_uh.py", line 190, in main
    ret = horizons.main.start(options)
    ...
  File "/usr/lib/python2.7/dist-packages/fife/extensions/pyc

[2017-07-09 13:57] LinuxDonald commented on #2731
What version of fife and uh do you use?

[2017-07-09 18:56] icyvapor commented on #2731
Fife is v0.4.1.
Not sure where the version label is in uh, but the tar file name has '2017.2' in it

Thanks a lot!

[2017-07-09 19:18] LinuxDonald commented on #2731
What is the fifechan version? Have you compiled your self or rebuilded package?

[2017-07-09 19:49] icyvapor commented on #2731
Fifechan is  v0.1.4

I git checkout both fife and fifengine and built them locally.

[2017-07-10 00:47] LinuxDonald commented on #2731
Try fifechan git master version and recompile fife

[2017-07-10 08:49] AndyMender commented on #2731
@icyvapor, just so you know, we no longer support Python 2.7. Now it's only the Python 3.x line, starting from Python 3.4.

[2017-07-10 09:38] LinuxDonald commented on #2731
Mender27 he is using last stable version that is based on python2.

[2017-07-10 11:05] AndyMender commented on #2731
Ah, my apologies then.

[2017-07-10 19:27] icyvapor commented on #2731
Still had no luck. Both fifechan and fife were up-to-date on master.
Although when I was building fifengine, I didn't specify about Python version, so it was building for 2.7.

I'm thinking I should probably start trying to build for python3, and sounds like it's the future anyways.

And another thing I saw when building from a git-checkout was an ImportError about not finding 'fife' module. Not b

[2017-07-10 20:18] LinuxDonald commented on #2731
When you take fife master you need uh master too. And compiled fife with python3 support. Info are on the fife docs too

[2017-07-11 06:29] icyvapor commented on #2731
Finally got it!
After rebuilding uh with python3 option, and then rebuilding fifechan. Got ImportError on 'future'. Tried 'pip install future' but that only installed for python 2.7. Searched to found I need pip3 for python3.

So glad to be looking at the splash menu screen. \O/

[2017-07-11 06:29] #2731 closed

[2017-07-16 14:47] AndyMender commented on #1252
Alternatively, there could be a general statistics tab/widget that would provide the user with above mentioned information to make planning easier. Case in point, as it is now, it is difficult to intentionally finish the tutorial with a positive income as only the most up-to-date value is displayed.

[2017-07-16 16:18] AndyMender commented on #641
@LinuxDonald could you have a look at this? :)

[2017-07-18 00:37] icyvapor commented on #1937
I'd like to look into this issue.
I'll poke around the tile tool first.. this hasn't been mentioned in the tutorial, maybe I need to play more..

[2017-07-18 01:28] LinuxDonald commented on #1937
You can do it

[2017-07-19 16:07] somebodywhoisntme commented on #2529
Hey,

tried to change settings.xml like LinuxDonald mentioned but first I don't find a file in the OS X package which is called settings.xml but instead I found a file called 'settings-template.xml' where I was able to change the 2 mentioned variables to False but this didn't changed something, screen still black with no mouse.

System: Macbook 7.1 macOS 10.12.5
installed with standard *.dmg from

[2017-07-19 19:04] AndyMender commented on #2699
@LinuxDonald can be closed as "will be fixed in the next release" or should we leave it open still?

[2017-07-19 19:13] LinuxDonald commented on #2699
Maybe squidds will do an backport.

[2017-07-19 19:41] AndyMender commented on #1258
There is a couple of tickets dealing with general ship upgrades (animations, cannons as modifiers, player flags, etc.), but this here issue touches on a more pressing subject of the naval combat system. As it is right now, it's broken and needs fixing before we proceed with new ship/boat features. Also, game tests, because we need them badly.

[2017-07-21 21:58] AndyMender opened #2733 "Naval combat system is broken"
In reference to issue #1258, our naval combat system seems completely broken. While previously the issue was the inability of frigates to aim cannons, currently frigates cannot even be produced. A short list of items to tackle below:

- [ ] Reinstate/fix frigate production.

- [ ] Fix `FightingShip`'s rotation & aiming system.

- [ ] Improve naval combat.

A corresponding branch `fix-combat-system

[2017-07-22 10:39] LinuxDonald commented on #2733
For the first the combat system needs to get working again. After that we will see what changes are needed on it.

[2017-07-22 22:02] AndyMender commented on #2733
Apparently, I might have been in the wrong and frigate production actually works. Noted in first post.

[2017-07-23 17:52] AndyMender commented on #1258
@ChrisOelmueller , would limiting the number of weapons to load to a more sane number, like 10 and making it dynamic (depending on unit type) help solve this problem?

[2017-07-28 06:14] icyvapor commented on #1937
I've been looking at this problem, tested out something, but without much luck:

If I understand this issue correctly, the problem is in map editor, when we select one of the tile types, the cursor with the tile image doesn't clearly indicate where the user is currently pointing.

So I'm thinking I can either add something onto the cursor image to mark where it points to; or adding a scaled-down i

[2017-07-28 08:38] adrian5 commented on #2396
I wanted to give this game another try (always crashed last time), but from what I can see, Linux users need to build FIFE themselves, which is a fairly involved process. I assume Windows users get the _download, install and play_ experience? Otherwise what's the point of maintaining a game that only a small circle of developers will play.

[2017-07-28 13:14] LinuxDonald commented on #2396
On Linux is is the "Job" of the package Maintainers to update the Distro Linux Packages and not really our job. And we are really an small Team :( Sorry that your distro dont provide an package?

[2017-07-28 21:12] AndyMender commented on #2396
@adrian5, in theory we could provide UH packages for all/most mainstream distributions, for instance via the SUSE Open Build System. The problem is that our game requires the external FIFE and fifechan engine libraries, which are outside of our (at least my) jurisdiction.

[2017-07-28 21:16] AndyMender commented on #1937
icyvapor, did you maybe have a look at the GUI code responsible for deciding on building placement by the player? I think it should give you some pointers :). I don't know the specifics as I have not been involved with it yet, but that's where I would look.

[2017-07-28 21:20] icyvapor commented on #1937
Ah right, that'd be a good reference. Guess I haven't played the game enough yet. Thanks!

[2017-07-28 21:23] adrian5 commented on #2396
But isn't that odd, to provide the game without the necessary libraries? I've never had to build a game myself, unless I wanted to test a development version. I understand though if it's too much work, that's unfortunate.

Hmm, I see. Is baking them into the application if out of the question? These days, there are self-contained formats like AppImage, Flatpak, Snap which could serve all Linux use

[2017-07-29 18:44] AndyMender commented on #2396
A long time ago there were multiple game projects relying on the FIFE engine. New ones might appear in the future. It is possible to bundle FIFE and fifechan with Unknown Horizons, though it is my belief that it's better to retain modularity and package them separately. Also, currently FIFE supports both Python 2 and Python 3, while our primary interest is Python 3.

[2017-07-29 18:58] LinuxDonald commented on #2396
In the future it will maybe provide ubuntu packages. Because I switched over to ubuntu.

[2017-07-30 18:05] whbdupree opened #2734 "game intermittently crashes"
Below is journalctl output for latest crash.

Jul 30 14:00:29 emeraldCityKeep kernel: python2[14419]: segfault at 0 ip 00007fe7fab0f839 sp 00007fff14870850 error 4 in libfifechan.so.0.1.4[7fe7faae3000+5e000]
Jul 30 14:00:29 emeraldCityKeep systemd[1]: Started Process Core Dump (PID 14512/UID 0).
Jul 30 14:00:31 emeraldCityKeep systemd-coredump[14513]: Process 14419 (python2) of user 1000 dumped co

[2017-07-30 18:26] AndyMender commented on #2734
@whbdupree, when does it happen specifically? Were you able to pinpoint the conditions?

[2017-07-30 19:25] whbdupree commented on #2734
It happens in game. Otherwise, I don't know what makes it happen.

[2017-07-30 20:48] AndyMender commented on #2734
Unfortunately, that doesn't tell us much. Some random crashes were resolved later on and we now support Python 3 exclusively. Which GNU/Linux distribution are you using and how did you install Unknown Horizons?

[2017-07-30 22:21] whbdupree commented on #2734
archlinux, and i installed it via the AUR package. i don't know which python it is using. i will check it out tonight.

[2017-07-30 22:26] LinuxDonald commented on #2734
please use:
https://aur.archlinux.org/packages/fifechan-git/
https://aur.archlinux.org/packages/fife-git/

https://aur.archlinux.org/packages/unknown-horizons-git/

[2017-07-30 22:28] whbdupree commented on #2734
ok I used some different packages. thx

[2017-07-31 12:33] simonherrmann commented on #2730
Great, thanks

[2017-08-01 17:06] whbdupree opened #2735 "error when trying to create multiplayer game"
![image](https://user-images.githubusercontent.com/8903022/28837251-121a0942-76ba-11e7-8d9e-02151b013b3f.png)

also i get this strange output at the terminal when i check the version number
$ unknown-horizons --version
Unknown Horizons <unknown>

[2017-08-02 17:51] AndyMender commented on #2734
@whbdupree was your problem resolved in the end or are you still experiencing occasional crashes?

[2017-08-02 17:54] whbdupree commented on #2734
I installed these new packages, but I haven't had a chance to play a game.

On Wed, Aug 2, 2017 at 1:51 PM, Andrzej Bylicki <notifications@github.com>
wrote:

--
404-388-8057

[2017-08-02 18:00] AndyMender commented on #2735
@whbdupree does it report the version in the main menu properly? Also, as far as I know, multiplayer doesn't work currently.

[2017-08-02 20:27] LinuxDonald commented on #2735
Yeah multi-player is broken sorry for this :(

[2017-08-03 12:42] MarkusHackspacher opened #2736 "self._finalSetting['SDLRemoveFakeAlpha'] is not a bool"
I tested it with debian testing and python 3.5. And have the newest fifengine build.
The orginal codeline is: `self.engine_settings.setSDLRemoveFakeAlpha(self._finalSetting['SDLRemoveFakeAlpha'])`
It works with: `self.engine_settings.setSDLRemoveFakeAlpha(True)`
but not with `self.engine_settings.setSDLRemoveFakeAlpha(1)`

And `print(self._finalSetting['SDLRemoveFakeAlpha'])`give a 1 back and shou

[2017-08-03 15:10] AndyMender commented on #2736
I'll have a look at it.

[2017-08-03 15:40] whbdupree commented on #2735
The version is not reported properly in the main menu.

I am using the AUR unknown-horizons-git package.
It looks like the version number is commented out in the constants.py file on github accompanied with a comment that says "change for release"
Is there no provision to indicate a release dev, alpha, or beta that includes a version number?

[2017-08-03 15:50] whbdupree commented on #2735
ok if i navigate into the source directory and use run_uh.py, the version number appears in the main menu.

[2017-08-03 21:06] LinuxDonald commented on #2736
@MarkusHackspacher it should be an problem on your local settings.xml. Our template set: https://github.com/unknown-horizons/unknown-horizons/blob/2bac2fa8a3d50a5adf9bfd9ecf679f8688788437/content/settings-template.xml#L10

[2017-08-06 19:07] MarkusHackspacher commented on #2736
@LinuxDonald I have not a local settings.xml:
[code]

[2017-08-06 21:38] LinuxDonald commented on #2736
Your local settings.xml should be in your home folder under .unknown-horizons

[2017-08-07 09:33] MarkusHackspacher commented on #2736
Ok, I found the local setting, I delete the old file. And it works.

[2017-08-07 09:33] #2736 closed

[2017-09-10 13:38] Patsenga opened #2741 "Mined materials are not taken from mine"
I have opened several "Bergwerk"e, they work and fill up, but nothing goes to the Steinmetz or the Lager. I tried several mines, some with a path all around. The version is the latest named 7.2 (Unknown-Horizons-2017.2.158-Setup-VC14-x86) although the game pretends upon starting that there is an update 7.1. The editor does not accept :-( the file (as ZIP, 650kB, perhaps size issue)

[2017-09-10 14:08] LinuxDonald commented on #2741
Ignore the update message. It's an bug. Could you maybe provide an Screenshot that we can check if really all needed buildings are there. Please

[2017-09-12 00:59] LinuxDonald commented on #2741
@Patsenga you can attach screenshots here in github

[2017-09-15 17:31] Omaranwa opened #2742 "arabic lang"
is this game support this lang?

[2017-09-15 17:51] LinuxDonald commented on #2742
On the weekend I will look into this. I have seen your weblate request.

[2017-09-15 19:31] Omaranwa commented on #2742
ok when you do write here.
thanks

[2017-09-16 10:07] Patsenga commented on #2741
I had started the game and advanced until "IV"

![mineproblem](https://user-images.githubusercontent.com/31821721/30511368-9ab8ecfa-9ad7-11e7-84e4-89aec3ddc51b.jpg)

[2017-09-16 10:35] LinuxDonald commented on #2742
Arabic = اَللُّغَةُ اَلْعَرَبِيَّة in your language?

[2017-09-16 10:47] LinuxDonald commented on #2742
Added ar files only for now for weblate https://github.com/unknown-horizons/unknown-horizons/commit/6ed499af4679484e575fb577cfaea6cbd85bced8

[2017-09-16 10:58] LinuxDonald commented on #2742
https://github.com/unknown-horizons/unknown-horizons/commit/6e26cb20a5c3a2f30563ddd31acc60722f57493f

Added into the game.

[2017-09-16 13:03] LinuxDonald commented on #2741
On the screenshot it look fine. And your warehouse is not full with stone?

[2017-09-16 13:56] AndyMender commented on #2735
@LinuxDonald closing as "resolved"?

[2017-09-16 13:57] AndyMender commented on #2734
@whbdupree did your Unknown Horizons installation stop crashing?

[2017-09-16 13:58] AndyMender commented on #2716
@LinuxDonald still an issue or was it fixed?

[2017-09-16 13:59] LinuxDonald commented on #2716
not yet fixed

[2017-09-16 14:00] LinuxDonald commented on #2735
with next release maybe

[2017-09-16 14:36] whbdupree commented on #2734
I updated packages, and the game stopped launching. So I am unable to answer the question

[2017-09-16 14:39] LinuxDonald commented on #2734
why it dont launch?

[2017-09-16 14:42] whbdupree commented on #2734
Sorry, I looked back at the conversation, and that response could have been misleading. I installed the packages recommended by @LinuxDonald, and the game would launch. Then I updated system packages with pacman and the game stopped launching.

[2017-09-16 14:44] AndyMender commented on #2734
@whbdupree terminal output when running UH from terminal?

[2017-09-16 14:44] LinuxDonald commented on #2734
you need to rebuild fifechan and fife then :)

[2017-09-16 15:27] whbdupree commented on #2734
@LinuxDonald Thanks! The game is launching. I will try to play a game tonight and get back to y'all about these intermittent crashes.

[2017-09-16 18:42] Omaranwa commented on #2742
yes thes what they mean
 i will begin translete it soon

[2017-09-16 18:48] LinuxDonald commented on #2742
its still not avaiable on weblate i will post here if weblate has updated it. Then you can start :)

[2017-09-16 21:48] Omaranwa commented on #2742
ok waiting>>>>>

[2017-09-17 13:18] LinuxDonald commented on #2742
It will take longer time. Last Night Weblate had mantaince and now they have server problems.....

[2017-09-17 14:36] Omaranwa commented on #2742
hahaha bad luck
still waiting

[2017-09-18 00:35] LinuxDonald commented on #2742
Its now in weblate have fun on translation and thank you for your help :)

[2017-09-18 00:35] #2742 closed

[2017-09-18 07:47] Omaranwa commented on #2742
ok will do :)

[2017-09-28 14:56] LinuxDonald commented on #2734
Any news about this here?

[2017-10-15 03:58] icyvapor opened #2746 "Help with unit testing.."
Where is run_tests.py ?

I'm trying to do some unit testing before opening a pull request..
The info on the page about testing seems to be a bit out-dated?

Thanks!

[2017-10-15 10:16] LinuxDonald commented on #2746
On travis we use this command: https://github.com/unknown-horizons/unknown-horizons/blob/master/.travis.yml#L31

When you open an pull request travis run the tests too.

[2017-10-15 23:00] #2746 closed

[2017-10-21 15:27] #2623 closed

[2017-10-21 15:28] janexx commented on #2729
Done with commit e324fd815e47502212534f9e09da1f1efa8d15ac

[2017-10-21 15:28] #2729 closed

[2017-10-22 14:51] Lucki opened #2749 "Follow XDG basedir specification"
Right now a new folder for configurations and userdata is created in `$HOME/.unknown-horizons`.
To be more flexible it would be nice to implement the [XDG Base Directory Specification][1].

An easy explanation can be found in the [gnome wiki][2].

This would result in the following folders:

- `$XDG_CONFIG_HOME/unknown-horizons/<SETTINGS.XML>` defaulting to `$HOME/.config/unknown-horizons/<SETTING

[2017-10-22 20:47] LinuxDonald commented on #2749
We hope we can do this for the next release.

[2017-10-23 23:11] vmx opened #2750 "Current code doesn't work with fifengine HEAD"
I've tried to run Unknown Horizons from source with a self compiled fifengine/fifechan. I used HEAD from all of them. Due to https://github.com/fifengine/fifengine/pull/1041 UH doesn't really work anymore and also many GUI tests are failing due to:

[code]

I've tried to fix some errors with things like

[code]

But there were occurrences where I just don't know enough about the code to make the p

[2017-10-24 00:20] LinuxDonald commented on #2750
You use outdated UH code please update to last git version.

[2017-10-24 12:22] vmx commented on #2750
You are right, sorry for the noise.

[2017-10-24 12:22] #2750 closed

[2017-10-24 14:53] LinuxDonald commented on #2750
No problem :-)

[2017-10-29 20:40] icyvapor commented on #1684
I've been looking at this. I'll go with the overriding property .

[2017-11-04 11:06] KosayJabre commented on #960
I'm working on this

[2017-11-06 00:53] icyvapor commented on #1684
This is a lot more complicated to get right than I thought..
I'm thinking of rework the whole thing into a single object, which keep tracks of all the active(in_ship_map..)  ships, then it provides call like get_blocked_coords() which will iterate through the list of current ships. Thus the position and next_target stays inside a ship object..

I'll try this out.. Btw, local uh works after re-buil

[2017-11-10 02:35] frsfnrrg opened #2753 "Left/right scrolling with touchpad in main game mode crashes UH"
On Arch Linux, having just installed `unknown-horizons-git`.

When I left or right scroll using the touchpad (`xinput test #` button presses 6 or 7),
if I am in the main menu or the New-Game Single Player screen, nothing happens
as soon as a game loads, L/R scrolling immediately exits the program with error

    Traceback (most recent call last):
    RuntimeError: Caught a director exception

[2017-11-10 03:42] LinuxDonald commented on #2753
Is this the only output from the crash?

[2017-11-13 15:09] Ismoez opened #2754 "update check crashes game"
If i open the game it crashes after a couple of seconds:

The problem is in unknown-horizons/horizons/util/checkupdates.py

line 93:
`text = T("There is a more recent release of Unknown Horizons ({new_version}) "
				 "than the one you are currently using ({old_version}).").format(
				new_version=info.version,
				old_version=VERSION.RELEASE_VERSION)`

the content of info.version is a html
i uplo

[2017-11-16 17:23] juhucoding commented on #2529
I have the same problem, on

macOS 10.13.1
Unknown-Horizons-2014.1.dmg

- Having the `--debug` option on, does not return any errors.

- I found a settings.xml under

`/Applications/Unknown Horizons.app/Contents/Resources/content/gui/xml/mainmenu`

but there are no variables called "GLUseFramebuffer" or "GLUseNPOT".

Do they belong into `containers`?

Thanks for your help.

[2017-11-16 21:52] LinuxDonald commented on #2529
The settings.xml file is maybe under: /Applications/Unknown Horizons.app or maybe home/.unknown-horizons. We dont have an MacOS Maintainer at the moment and we cant really help you because of the lag of an maintainer :( sorry for this.

[2017-11-17 08:45] juhucoding commented on #2529
Thx @LinuxDonald

I found the settings.xml under `/Users/*user*/.unknown-horizons/`. However, changing the `GL*`-variables to False as suggested by you had no effect.

As before, running in debug mode did not return any problems. If you have more suggestions, let me know.

Best regards

[2017-11-17 15:09] helios2000 commented on #2529
Additional you could try to disable GLCompressImages and GLUseDepthBuffer.

[2017-11-19 19:04] EldonTheNoble opened #2756 "Main Menu Stuck On Being Oversized"
Hey Guys, so I haven't really had a chance to play the game yet. I don't know how many people are like this but when I first launch a game the first place I go to is settings. I was working with the aspect ratio for the screen output and when I chose one it made the game screen super sized and zoomed in and to where I could not select anything at all. I did not think that was a big deal so I compl

[2017-11-20 08:45] LinuxDonald commented on #2756
Have you maybe an Screenshot of the error?

[2017-11-24 14:22] FedericoStra opened #2758 "Double-firing of `keyPressed` events in `IngameKeyListener`"
The `IngameKeyListener` seems to double fire `keyPressed` events.
The net effect is that it is impossible to use hotkeys such as `B`
because the dropdown construction menu just flashes for an instant
and then closes back down immediately.

I suspect this is a deeper issue inside `fifengine`, but I am not
familiar with that so here I offer a quick fix to avoid the problem.

Here is a viable solutio

[2017-11-24 14:59] FedericoStra commented on #2758
Forgot to mention, my setup is:
- Ubuntu 14.04
- Linux 3.13.0-133-generic
- fife 0.4.1+build.6d7e692 (installed from source)
- fifechan 0.2.0 (installed from source)

[2017-11-26 20:26] stadnichenko-a-s opened #2760 "Crash on any attemption to "Build settlement"."
Crash on any attempt to "Build settlement" and other actions at game start in Linux (Mint 18.1 4.4.8-79-generic amd64). Game receive from Ubuntu repository, not downloaded from site.

Output :

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/horizons/engine/generate_atlases.py", line 64, in <module>
    from run_uh import init_environment
ImportError: No module named ru

[2017-11-27 09:41] LinuxDonald commented on #2760
What version of Uh are in the repos there?

[2017-11-27 19:49] stadnichenko-a-s commented on #2760
Package manager say 2014.1+ds1-2. Now I see it is may be too old. I will try newest.

[2017-11-27 20:16] LinuxDonald commented on #2760
Yeah this version is too old. Newest is 2017.2

[2017-11-28 04:28] stadnichenko-a-s commented on #2760
Now "Unsupported fife version 0.3.unknown, at least 0.4.0 required". There is not fife 0.4.0 in repository. There is prebuilded package ?

[2017-11-28 08:14] LinuxDonald commented on #2760
https://packages.ubuntu.com/search?keywords=python-fife

[2017-11-28 09:59] stadnichenko-a-s commented on #2760
Thanks. I will try.

[2017-12-06 19:35] UHwan opened #2761 "ImportError: No module named 'fife'"
Hello, can someone explain this to me? I have installed fifengine and tried again but still didn't work.

~/unknown-horizons $ ./run_uh.py

Traceback (most recent call last):
  File "./run_uh.py", line 385, in <module>
    main()
  File "./run_uh.py", line 114, in main
    import horizons.main
  File "/home/---/unknown-horizons/horizons/main.py", line 41, in <module>
    from fife import fife as f

[2017-12-06 22:40] LinuxDonald commented on #2761
What version of uh and fife?

[2017-12-12 16:14] UHwan commented on #2761
I just installed it, so it has to be the latest I assume.

[2017-12-12 16:23] LinuxDonald commented on #2761
How you have installed it?

[2017-12-12 18:32] UHwan commented on #2761
https://github.com/unknown-horizons/unknown-horizons/wiki/Linux

Installing Unknown-Horizons from source

    First step get git version:

git clone git://github.com/unknown-horizons/unknown-horizons.git

    Second step build the translations:

cd unknown-horizons && ./setup.py build_i18n

    Now you can run Unknown-Horizons with:

./run_uh.py   <- and when I input this line it says what I have

[2017-12-13 04:02] LinuxDonald commented on #2761
And how you have installed fifechan and fife?

[2017-12-13 18:32] UHwan commented on #2761
https://github.com/fifengine/fifengine
https://github.com/fifengine/fifechan and I downloaded it through git clone

[2017-12-15 17:23] Chickengames commented on #2761
Stop!!!😡😤

Sent from my iPad

[2017-12-15 17:41] LinuxDonald commented on #2761
Have you compiled it with python3 support?

-DPYTHON_EXECUTABLE=PATH-TO-PYTHON3

[2017-12-15 19:45] UHwan commented on #2761
No I didn't. I have found this location https://ubuntuforums.org/showthread.php?t=1906067 : /usr/bin/env to change it but still don;t know how to access that. I have changed in fifengine: setup.py  #!/usr/bin/env python  <- this line to this: #!/usr/bin/env python3 and it still didn't worked, In unknown horizons folder in setup.py it was already this: #!/usr/bin/env python3. If you want just tell

[2017-12-16 11:04] LinuxDonald commented on #2761
mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python3 ..

[2017-12-16 19:53] UHwan commented on #2761
mkdir_build; cd_build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr

mkdir_build: command not found
No command 'cd_build' found, did you mean:
 Command 'nd_build' from package 'neurodebian-dev' (universe)
cd_build: command not found
The program 'cmake' is currently not installed. You can install it by typing:
sudo apt install cmake

[2017-12-16 20:02] LinuxDonald commented on #2761
You have copyed wrong the command please use copy and paste...

mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python3

[2017-12-17 16:24] UHwan commented on #2761
mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python3
CMake Error: The source directory "/home/.../_build/_build" does not appear to contain CMakeLists.txt.
Specify --help for usage, or press the help button on the CMake GUI.

sudo apt install cmake
[sudo] password for ...:
Reading package lists... Done
Building dependency tree
Reading state informati

[2017-12-17 17:35] LinuxDonald commented on #2761
Upps my copy paste error Sorry:

mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python3 ..

Forgot the .. at the end

[2017-12-17 18:40] UHwan commented on #2761
mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python3 ..
CMake Error: The source directory "/home/.../_build/_build" does not appear to contain CMakeLists.txt.
Specify --help for usage, or press the help button on the CMake GUI.

still can't find CMakeList.txt. despite the fact that it is installed

[2017-12-17 18:44] LinuxDonald commented on #2761
i see the problem you are in the wrong folder. Delete the _build folder in your fifengine folder and excute the command again.

[2017-12-17 18:53] UHwan commented on #2761
In fifengine I have only "build" folder not "_build" and in that folder Its another one: "appveyor" and in that folder its this: copy-boost-to-includes.bat and it contains this:

@echo off

echo "=== Copy the pre-installed Boost to the includes folder"

:: create folders
mkdir C:\projects\fifengine-dependencies\includes\lib\boost
mkdir C:\projects\fifengine-dependencies\includes\include\boost

::

[2017-12-17 19:46] LinuxDonald commented on #2761
You must excute the command in the fifengine folder

[2017-12-17 21:34] UHwan commented on #2761
mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python3 ..
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is unknown
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- broken
CMake Error at /usr/share/cmake-3.5/Modules/CMakeTestCCompiler.cmake:61 (message):
  The C compiler "/us

[2017-12-17 23:36] LinuxDonald commented on #2761
Do an sudo apt-get install gcc

[2017-12-17 23:37] UHwan commented on #2761
Reading package lists... Done
Building dependency tree
Reading state information... Done
gcc is already the newest version (4:5.3.1-1ubuntu1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

[2017-12-19 06:00] LinuxDonald commented on #2761
Maybe try install sudo apt-get install libc6-dev

It seems there is something broken with your linux.

[2017-12-19 15:05] Chickengames commented on #2761
I don’t care I’m report you on github.io about email spam this is the 17 email. STOP!

Sent from my iPad

[2017-12-19 17:13] dufferzafar opened #2762 "Ubuntu PPA"
I'm on Ubuntu 16.04 where the repositories have the 2014 version of the game.

Is there a PPA with the latest game?

I've also tried downloading the source and running from there, but a bunch of dependencies caused issues. `python-fife` 4 is needed while ubuntu has 3 etc.

[2017-12-21 05:45] LinuxDonald commented on #2762
Sorry only in Ubuntu 17.04 we have the lastest version in.

[2017-12-21 05:45] #2762 closed

[2017-12-22 16:10] UHwan commented on #2761
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is unknown
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
CMake Error at CMakeLists.txt:7 (project):
  No CMAKE_CXX_COMPILE

[2017-12-22 20:26] LinuxDonald commented on #2761
Try this: sudo apt-get install -y build-essential libalsa-ocaml-dev libsdl2-dev libboost-dev libsdl2-ttf-dev libsdl2-image-dev libvorbis-dev libalut-dev python3 python3-dev libboost-regex-dev libboost-filesystem-dev libboost-test-dev swig zlib1g-dev libopenal-dev git python3-yaml libxcursor1 libxcursor-dev cmake cmake-data libtinyxml-dev libpng-dev libglew-dev

[2017-12-26 01:19] dlalinsp opened #2763 "Can't build new warehouses / lumberjack tents"
The moment I try to place a warehouse or lumberjack tent in the designated area, the _game crashes_.

[2017-12-26 01:24] LinuxDonald commented on #2763
Have you an crash log for us? And what version of uh and fife do you use?

[2017-12-29 15:05] dlalinsp commented on #2763
This is what I got when try to upgrade it to v 2017.2: 'unknown-horizons is already the newest version (2014.1+ds1-2).' on Linux Lite (based on Ubuntu 16.04).

[2017-12-29 15:06] dlalinsp commented on #2763
Can you tell me what a crash log exactly is for starters?

[2017-12-29 15:06] dlalinsp commented on #2763
And how to get it?

[2017-12-29 15:10] dlalinsp commented on #2763
[unknown-horizons-2017-12-29_20-37-44.log](https://github.com/unknown-horizons/unknown-horizons/files/1593346/unknown-horizons-2017-12-29_20-37-44.log)
Is this it?

[2017-12-29 15:57] LinuxDonald commented on #2763
How do you start uh? is there maybe an fife.log too?

[2017-12-30 07:31] dlalinsp commented on #2763
I start UH via the Lite Menu. I downloaded it via the terminal. Didn't see a file called 'fife.log'.

[2017-12-30 17:23] LinuxDonald commented on #2763
could you try to start uh in an terminal/konsole? Maybe there is an crash log then.

[2017-12-31 13:00] dlalinsp commented on #2763
This is what I got. [Download it]
[UHTC.docx](https://github.com/unknown-horizons/unknown-horizons/files/1595175/UHTC.docx)

[2017-12-31 13:42] LinuxDonald commented on #2763
What version of fife have you installed?

[2018-01-01 04:44] dlalinsp commented on #2763
I  don't know.

[2018-01-01 12:51] LinuxDonald commented on #2763
@helios2000 could you maybe take an look please?

[2018-01-06 05:54] dlalinsp commented on #2763
Thanks for your help, _LinuxDonald_. I am going to uninstall UH and wait for it to be fixed before I play it.

Cheers.

[2018-01-06 05:54] #2763 closed

[2018-01-12 01:18] nalramli opened #2767 "Consistent crash in assign_settlement() at island.py:262 build 2017.2.158"
I have a consistent, reproducible crash in assign_settlement() at [island.py:262](https://github.com/unknown-horizons/unknown-horizons/blob/2017.2/horizons/world/island.py#L262).  Load the attached saved game and let it run for 75 seconds, and the crash will happen.

[unknown-horizons-2018-01-11_20-08-08.log](https://github.com/unknown-horizons/unknown-horizons/files/1624660/unknown-horizons-2018-

[2018-01-12 01:20] LinuxDonald commented on #2767
@mender27 could you take an look please if we have the problem in master too please?

[2018-01-12 08:16] AndyMender commented on #2767
@LinuxDonald sure thing!

[2018-01-14 22:05] AndyMender commented on #2767
Unfortunately, I cannot load the savegame file with the following traceback:
[code]
@nalramli I would need additional information about your OS and Unknown Horizons installation :).

[2018-01-14 22:40] nalramli commented on #2767
Hi @AndyMender , please check the attached log file, does it have the information you need?  My OS is Windows 10 Professional.

Thanks.

[2018-01-14 22:47] AndyMender commented on #2767
Yes, my apologies. The log contains the final call prior to the game crashing:
[code]
I will investigate this. Does the game crash every time you reach that point or does it happen with only this one savegame file?

[2018-01-15 00:04] nalramli commented on #2767
I'm not sure if it always crashes at this call, but it does crash every time I load this particular saved game, after exactly 75 seconds.  I am able to play other games for many minutes without crashing.

[2018-01-15 08:44] AndyMender commented on #2767
To me this looks like an issue with settlement placement. When I try to load the savegame file, UH outright refuses to do so complaining about the coordinates of the settlement.

[2018-01-16 14:11] nalramli commented on #2767
For me the game loads fine and plays for a short period of time until it crashes.

There is one additional hint that may be related.  Just before I saved this game, I saw opponent boats heading towards the island where my settlement is, so I quickly built towers to cover the entire area and block them from building there.  They sent several boats so this happened a few times and I built towers nea

[2018-01-16 14:33] AndyMender commented on #2767
It might be related, in fact. We do have some issues with the boatbuilder tests so who knows.

[2018-01-21 10:33] LinuxDonald commented on #2698
Its already done.

[2018-01-21 10:33] #2698 closed

[2018-01-21 10:36] nihathrael commented on #2760
@stadnichenko-a-s Did that resolve the problem for you? If yes, we could close this ticket.

[2018-01-21 12:12] nihathrael opened #2771 "Server crashes on connecting to a multiplayer game"
After creating a multiplayer game the game crashes when another player joins.
[code]

[2018-01-21 12:56] #2771 closed

[2018-01-21 16:27] nihathrael commented on #2659
At least when I was still active FIFE did not support path finding for objects on different layers (ships are on a different layer than islands).

[2018-01-21 19:34] nihathrael commented on #2761
@UHwan Did you manage to get fife compiled and working with Unknown Horizons? If so, can we close this ticket?

[2018-01-23 13:37] AndyMender commented on #2447
@nihathrael Should I help with this? I enjoy writing articles and wiki/info pages :).

[2018-01-23 16:28] LinuxDonald commented on #2447
@AndyMender have fun and do it ;-) I think you are the only one who loves to write wikis/documentation :-)

[2018-01-23 16:30] janexx commented on #2447
@AndyMender I would also appreciate it. And if you want you can also work on this: https://github.com/unknown-horizons/unknown-horizons/issues/892

[2018-01-23 17:09] nihathrael commented on #2447
@AndyMender If you like, sure. Generally, I think working on the code is time better spent at the moment, if you can.

In terms of developers guide, we have the in code tutorial. It might be a good idea to walk through it and update it if necessary.

[2018-01-23 17:12] nihathrael commented on #2734
I'll close this for now. Feel free to re-open if the crashes re-appear.

[2018-01-23 17:12] #2734 closed

[2018-01-23 17:13] nihathrael commented on #2735
Multiplayer should work again, at least for the current development head. Should therefore be fixed with the next release.

[2018-01-23 17:13] #2735 closed

[2018-01-23 17:28] whbdupree commented on #2735
current development head is the master branch?

On Tue, Jan 23, 2018 at 12:13 PM, Thomas Kinnen <notifications@github.com>
wrote:

--
404-388-8057

[2018-01-23 19:50] nihathrael commented on #2735
@whbdupree yes, exactly. We had a small multiplayer session last weekend after we fixed a number of bugs and problems with the server.

[2018-01-23 20:06] whbdupree commented on #2735
Awesome. I will try to get my local crew to do this for game night, and
maybe we will score some bug reports for you.

On Jan 23, 2018 2:50 PM, "Thomas Kinnen" <notifications@github.com> wrote:

[2018-01-23 20:25] AndyMender commented on #2735
Interesting. I will have to check this on FreeBSD, because last time I tried running multiplayer tests they would get stuck, because enet required a `bytes` object and got `str` instead when creating the connector. Will post the exact traceback once I run this again.

[2018-02-12 15:40] ronnystandtke opened #2774 "no translations for destkop file"
I wanted to provide a German translation of the desktop file entries (Name and Comment) but noticed that the desktop file (content/packages/unknown-horizons.desktop.in) seems not to be picked up by the translation system. There are underline markers but nothing in the po files nor on the Weblate website...

[2018-02-21 06:36] sanchitsamuel opened #2775 "Build a flatpak, maybe?"
Are you guys planning to build and distribute as flatpak?

[2018-02-21 06:55] LinuxDonald commented on #2775
At the moment no. We don't have an maintainer for it.

[2018-02-21 13:40] UHwan commented on #2761
Actually no, I just had no time to make it work and I am telling you that someone just don't want me to play this game ;d

-- Found the following FifeChan libraries:
--   fifechan_sdl not found.
-- Could NOT find FIFECHAN (missing:  FIFECHAN_LIBRARY FIFECHAN_INCLUDE_DIR)
-- Found the following FifeChan libraries:
--   fifechan_opengl not found.
-- Could NOT find FIFECHAN (missing:  FIFECHAN_LIBRAR

[2018-02-22 07:54] LinuxDonald commented on #2761
First problem fifechan is not correctly installed. Second problem swig 3.0.8 dont work with fife because it have but you need 3.0.7 or 3.0.9+.
To disable cegui support just add an: -Dcegui=OFF

for example:
in fife folder:
mkdir _build; cd _build; cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr  -Dcegui=OFF DPYTHON_EXECUTABLE=/usr/bin/python3 ..

[2018-02-26 10:36] MasterofJOKers commented on #2704
Fixed by adding a python3-future dependency to the python3-fife package and also copying what gets installed globally for python3-future to the travis user's virtualenv.

[2018-02-26 10:36] #2704 closed

[2018-03-13 19:26] martlin2cz commented on #2767
I'm attaching mine save. The behaviour is simillar - game crashes after a few seconds. Seems like the AI tries to build something, but has no are where to place it since the map is "full".

[before-crash-save.zip](https://github.com/unknown-horizons/unknown-horizons/files/1808356/before-crash-save.zip)

[2018-03-13 19:27] LinuxDonald commented on #2767
What version of UH are you using? Have you tested it too with git master version?

[2018-03-25 11:02] jmdejong opened #2776 "buttons unclickable when moving mouse over tooltip"
When the mouse moves over a gui button (for example the button to build some building) a small information message appears describing the action.
When the mouse then moves over this information message, it disappears.
However, after that the button is not clickable anymore until the mouse is moved out and back in again.

This happens with many different types of buttons: Building buttons, the butt

[2018-03-26 00:52] jay20162016 opened #2777 "Library not loaded: @rpath/libopenal.1.dylib , No module named '_fife'"
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/fife/fife.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  Fi

[2018-03-26 12:36] LinuxDonald commented on #2777
What version of fife are you using?

[2018-03-26 14:49] jmdejong commented on #2776
I changed the title for clarity.

Where are the race conditions caused? Which functions?
It also happens when I drag slowly by the way.

Is this final solution something that can be done in UH or would it require changes in fife?

[2018-03-26 15:02] AndyMender commented on #2776
The race conditions are between individual _Tooltip/ImageButton instances. I linked the code so you can inspect it if you like :). Internally, both classes track their on/off state so that's not the problem. I don't think that can be fixed on the UH side, but anyone is welcomed to try, of course.

[2018-03-26 15:05] jmdejong commented on #2717
When close to the screen edge the tooltips are supposed to be on the left side of the cursor.

This code is responsible for that: https://github.com/unknown-horizons/unknown-horizons/blob/da560c53a786f80ed06d88b266789d28c34ac786/horizons/gui/widgets/tooltip.py#L113

Unfortunately most of the time it doesn't work because the witdht of the tooltip gui (self.gui.size[0]) is set to 0.

I haven't been

[2018-03-26 15:16] AndyMender commented on #2717
I explicitly disabled tooltip repositioning on mouse hover some time ago, because it would crash Python (and effectively the game) very often. It's unfortunate, but that was the quickest solution. Increasing the cooldown between ON and OFF states did not help back then.

Unfortunately, there is a couple of limitations in our GUI we have to live with, I think.

[2018-03-26 16:22] jmdejong opened #2778 "moving cursor into buildmenu does not end hover actions"
When hovering over a StatusIcon (or is it the building it belongs to?) it shows a tooltip explaining the problem.
This tooltip normally disappears after you move the cursor somewhere else.
However, when you move the cursor directly from the statusicon (or building?) to the build menu, the message stays there until you move the cursor out of the build menu again.

The same problem happens with navi

[2018-03-27 00:43] jay20162016 commented on #2777
I think I cloned it recently

[2018-03-27 00:56] jay20162016 commented on #2777
I think its master branch

[2018-03-27 03:47] LinuxDonald commented on #2777
How have you compiled fifechan and fife?

[2018-03-27 07:20] jmdejong commented on #2717
I have fixed this problem.

The code to position the tooltip was after the code that would set the size of the tooltip.
Turning these things around fixed it.

Since it's merged into master now I think this can be closed

[2018-03-27 11:04] jay20162016 commented on #2777
cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/Library/Frameworks/Python.framework/Versions/3.6/bin/python3 -Dcegui=OFF ..

[2018-03-27 11:25] jay20162016 commented on #2777
I think its actually:
cmake -Dbuild-library=ON DPYTHON_EXECUTABLE=/Library/Frameworks/Python.framework/Versions/3.6/bin/python3 -Dcegui=OFF ..

[2018-03-27 12:45] LinuxDonald commented on #2777
Have you compilled fifechan too before fifengine?

[2018-03-27 15:52] LinuxDonald commented on #2777
I cant get fifengine compiled for macos on travis because off problems with python. And we dont have anyone that have an Mac here :( I think we cant help you at the moment sorry.

[2018-03-27 15:54] LinuxDonald commented on #2777
Have you all deps installed? brew update && brew install swig sdl2 sdl2_image sdl2_ttf freetype openal-soft tinyxml glew libvorbis && brew upgrade python

[2018-03-28 00:07] jay20162016 commented on #2777
I use system python and python3
I installed fifechan using brew:
brew installl fifechan

[2018-03-28 02:06] LinuxDonald commented on #2777
For fife from master you need fifechan from master too.

[2018-03-28 09:24] jmdejong commented on #2778
Another slightly different version of this:
When moving the mouse into the build menu (or some other menu), and then you move the view (with the arrow keys) in such a way that the position where the cursor entered the build menu is over some statusicon, the tooltip is shown too, even though the cursor isn't actually over the building.

[2018-03-28 11:00] jay20162016 commented on #2777
does brew install from master?

[2018-03-28 11:01] LinuxDonald commented on #2777
No I think not. It will only install last Release.

[2018-03-28 12:38] LinuxDonald commented on #2777
One think is what it cant open here :( ImportError: dlopen(/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/fife/_fife.so, 2): Library not loaded: .1.dylib

[2018-03-29 21:11] jmdejong opened #2783 ""rotate minimap with map" option doesn't fix incorrectly rotated savegame"
With the "rotate minimap with map" option on it is expected that going up on the map will always make you go the same direction on the minimap (up-right by default).
However, if the game was saved without that setting and with a different rotation, the rotation between the minimap and the map that you had before keeps being used.
This can lead to going up on the map making you go down-left on the

[2018-03-29 23:34] LinuxDonald commented on #1284
@jmdejong no man power. You can work on it if you like :-)

[2018-03-30 11:26] jmdejong opened #2784 "Minimap 45 degrees rotated to map"
In the current version up in the minimap does not correspond to up in the actual map.
This is because the map is using diamond-shaped isometric presentation, while the minimap is just a square corresponding to the actual coordinates.

I have already begun working on this:
![correct_minimap_viewport](https://user-images.githubusercontent.com/7968950/38136067-463a98e8-341c-11e8-81f5-c331a2b99894.png

[2018-03-30 11:37] LinuxDonald commented on #2784
I think the minimap should rotate with the map rotation.
Standard Rotation maybe diamond?
Adapt the minimap.
An performence lost would not so good. But if the Minimap looks better its okay.

[2018-03-30 11:39] jay20162016 commented on #2777
https://travis-ci.org/jay20162016/unknown-horizons/builds/360229455
travis ci mac, from fife import fife works on this

[2018-03-30 11:44] LinuxDonald commented on #2777
@jay20162016 could you make create an pr for fifegine for travis?

[2018-03-30 12:19] jay20162016 commented on #2777
just Mac or both systems

[2018-03-30 12:41] LinuxDonald commented on #2777
Only change the part for mac.

[2018-03-30 16:07] jay20162016 commented on #2777
fife still dosen't work, and btw should this go on the fifengine issues?

[2018-03-30 16:50] LinuxDonald commented on #2777
No it is an problem that both projects have.

[2018-03-31 16:14] jmdejong opened #2785 "--start-random-map option doesn't use random seed"
The option --start-random-map will always give the same map since the seed is not randomized.
It just stays `None`.

[2018-03-31 19:17] AndyMender commented on #2785
That is intended behavior, as far as I can tell. Here "random" does not mean that the map is selected at random from the command-line, but rather that the map was initially created as a random map. Check here for details: https://github.com/unknown-horizons/unknown-horizons/blob/9fef7c19986083f25f69f70d0dc3b8e280b81f8e/horizons/util/cmdlineoptions.py#L49
https://github.com/unknown-horizons/unknown

[2018-03-31 19:48] jmdejong commented on #2785
Alright. It seems kinda ambiguous to me but it would make sense.
It just kinda reminded me of this: https://www.xkcd.com/221/

It's indeed not really a problem since `--start-specific-random-map` with some random source could be used for a unique random map.

[2018-03-31 21:29] jmdejong commented on #2784
I found that there is a command line option `--generate-minimap`.
This option seems to be only for debugging, and is not shown in the help.
Is it ok if I remove it? This function depends on some structure that I'd rather change. Also the minimap is going to look different anyways.

I want to change `iter_minimap_points` into a member function of minimap, but the `--generate-minimap` option depends

[2018-03-31 22:05] LinuxDonald commented on #2784
Yeah it's okay do it.

[2018-04-01 13:40] jay20162016 commented on #2777
python3 run_tests.py
Select test module to run:
Core tests
  0) test_dat1
  1) test_dat2
  2) test_gui
  3) test_imagepool
  4) test_images
  5) test_rect
  6) test_vfs
  7) test_zip
  8) test_sharedptr
  9) all
SWIG tests
  10) tests.swig_tests.action_tests
  11) tests.swig_tests.animation_tests
  12) tests.swig_tests.audio_tests
  13) tests.swig_tests.controller_tests
  14) tests.swig_tests.curs

[2018-04-01 13:58] LinuxDonald commented on #2777
yeah there is something wrong with fife import.
Does an python3 import fife works?

[2018-04-01 16:38] jay20162016 commented on #2777
yes, and after a few reinstalls and variation of commands,
`from fife import fife `returns this:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/fife/fife.py", line 106, in <module>
    import fifechan
ModuleNotFoundError: No module named 'fifechan'
`

[2018-04-01 16:56] LinuxDonald commented on #2777
ah it dont find fifehan. Have you removed the fifecham from brew install? And installed fifechan from git master branch?

[2018-04-01 16:56] LinuxDonald commented on #2777
And have you the fifechan build log?

[2018-04-01 17:04] jay20162016 commented on #2777
[CMakeOutput.log](https://github.com/unknown-horizons/unknown-horizons/files/1866535/CMakeOutput.log)

[2018-04-01 17:08] LinuxDonald commented on #2777
Have you maybe the output from konsole/terminal? The complete one?

[2018-04-01 17:09] LinuxDonald commented on #2777
And you have the wrong version of fifechan use this: https://github.com/fifengine/fifechan/archive/master.zip

[2018-04-01 18:11] jay20162016 commented on #2777
import fife
  import fifechan
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'fifechan'
  from fife import fife
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/fife/fife.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "/Library

[2018-04-01 19:19] LinuxDonald commented on #2777
I think fife don't find fifechan on compile. Have you the complete fife compile log?

[2018-04-01 22:41] jay20162016 commented on #2777
The system is: Darwin - 16.7.0 - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /Library/Developer/CommandLineTools/usr/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"

The C compiler identification is AppleClang, found in "/Users/jay_jayjay/Downloads/fi

[2018-04-01 23:44] jay20162016 commented on #2777
cmake -Dbuild-library=ON -DPYTHON_EXECUTABLE=/Library/Frameworks/Python.framework/Versions/3.6/bin/python3 -DCMAKE_INSTALL_PREFIX:PATH=/usr/local -Dcegui=OFF ..

== Building FIFE version 0.4.1 using build type 'Release'.
--     Source directory is '/Users/jay_jayjay/Downloads/fifengine-0.4.1'.
--     Build  directory is '/Users/jay_jayjay/Downloads/fifengine-0.4.1/_build'.
--     Installation path

[2018-04-02 01:31] LinuxDonald commented on #2777
Could you maybe update cmake to version 3.11? That fix maybe the warning of boost.
About: MACOSX_RPATH i dont now where we must set this in our CMakeLists.txt
About the warnings about swig i will take later an look on it.

try this compile command: cmake -DPYTHON_EXECUTABLE=/Library/Frameworks/Python.framework/Versions/3.6/bin/python3 -DCMAKE_INSTALL_PREFIX:PATH=/usr/local -Dcegui=OFF ..
without:

[2018-04-02 11:42] LinuxDonald commented on #2777
have you installed too: pip3 install future Pillow polib PyYAML ?

[2018-04-05 05:07] privacytoolsIO commented on #2529
Hi guys, I have the same problem.

[2018-04-05 06:42] LinuxDonald commented on #2529
At the moment we are sitting on get lastest development Version of Fife/UH to get running of MacOS.
https://github.com/unknown-horizons/unknown-horizons/issues/2777

Problem is still that we dont have an MacOS dev.
An the last Release Version for MacOS is really old.

[2018-04-05 23:52] jay20162016 commented on #2777
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/fife/fife.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  Fi

[2018-04-06 00:28] LinuxDonald commented on #2777
Hm it have problems to load fifechan...

I must see that I get fife Mac version running on travis and the tests and see if this problem occurs there too.

[2018-04-06 16:42] #2785 closed

[2018-04-06 20:40] jmdejong commented on #2784
I found out that the code for the --generate-minimap option is also used to make the minimap preview from the main menu, so I'll keep it.
Minimap is looking better now. I have also made a lot of improvements for performance and mostly readability.
![better_minimap](https://user-images.githubusercontent.com/7968950/38442265-0cb9ac2c-39e8-11e8-9b68-41d4a8c58abc.png)

For making it larger or making i

[2018-04-06 21:38] LinuxDonald commented on #2784
It looks better :-)

[2018-04-09 15:47] iluvhalo opened #2787 "UI objects prevent moving the camera"
### Intro
I'm sorry if this is a known issue, but it is something I noticed immediately after opening the game. I am on Windows 10, version 1709. The version of the game I am using is the one that the windows setup.exe from the main website sets up. The settings were all default except I changed the resolution to 1366x768 to match my native resolution and changed it to fullscreen.

### Issue
 Afte

[2018-04-09 20:41] #2776 closed

[2018-04-11 22:03] jay20162016 commented on #2777
I think it works

[2018-04-11 23:55] LinuxDonald commented on #2777
On travis? Not yet tests don't run yet on it.

[2018-04-14 15:48] jmdejong commented on #2787
I agree. I have encountered this as problem too. I think it's just a matter of setting the size of all the UI widgets.

I do think it's important to fix [issue #2778](https://github.com/unknown-horizons/unknown-horizons/issues/2778) first.
If this issue would be changed first, it would be very likely that you can start moving the viewport by moving the mouse to the edge, but it will keep moving un

[2018-04-23 00:11] jay20162016 opened #2788 "game aborts at random invertals ubuntu latest version"
I installed the game on ubuntu, and soon it crashes with the message:
`Aborted (core dumped)`

[2018-04-23 01:54] LinuxDonald commented on #2788
What version of uh? Have you tested it with last git version?

[2018-04-23 05:30] #1284 closed

[2018-04-23 20:54] jay20162016 commented on #2788
apt-get

[2018-04-23 22:10] LinuxDonald commented on #2788
2017.2? That version is "not supported" anymore but we don't have yet released an new one sorry

[2018-04-24 09:01] jmdejong commented on #2749
Seems easy enough to fix this, but what should the default folders be on windows?
Something like the suggestions from this [stackoverflow question](https://stackoverflow.com/questions/43853548/xdg-basedir-directories-for-windows)?

Also, this will make users unable to find back earlier saves.
Should there be some kind of migration check?
If these folders are empty but the $HOME/.unknown-horizons d

[2018-04-24 09:10] jmdejong commented on #2180
I just tested this and the interval seemed pretty accurate.
It does show decimal numbers now, so when it's almost 2 minutes it shows in the slider as 1.9

Is this still an issue or has it been fixed by now?

[2018-04-24 11:54] AndyMender commented on #2749
"Yes" to both of the last questions. If you want to use XDG, "$HOME/.unknown-horizons" should be a fallback directory with a notice to the user that it will be deprecated in the next release (whenever that is...).

[2018-04-24 18:44] jmdejong commented on #2450
Setting the numpad keys to change the speed is to too hard (just add `KP_PLUS` and `KP_MINUS` to the keys settings)

However, if this would be set it could not be unset from the settings menu.
There are already 2 keybindings used for speed up, and only 2 bindings are displayed in the menu.
Furthermore, the code trying to detect what key you pressed for the settings incorrectly thinks that they num

[2018-04-25 21:19] jmdejong commented on #2156
I believe that this is still a problem (at least for me on archlinux).
The numpad 5 key fires the `NUM_5` key event in the settings menu (just like the number bar 5 key), but it fires the `KP_5` event in the main game view.
`keyevent.getKey.getValue()` actually gives different (integer) keycodes for in the setting menu and the main game.
Also, related to this, the shift key doesn't work in the mai

[2018-04-25 22:12] LinuxDonald commented on #2156
Maybe an problem with fifechan?

[2018-04-26 08:32] jmdejong opened #2793 "Brickyard build icon in wrong place"
![brickyard_position](https://user-images.githubusercontent.com/7968950/39294683-a1aa18ae-493c-11e8-898a-c4d1bf83a422.png)

When being at the pioneers level (meaning the brickyard is the only workshop) and looking at the build menu ordered by type the brickyard icon shows in the second column, but the icon background shows in the first. The icon itself is clickable, the background isn't.

There co

[2018-04-26 11:09] jmdejong commented on #2778
I just found out that part of this problem is already mentioned in #1413
This is slightly more general because it also mentions the tooltips.

The underlying problem is the same: Fife stops sending mouseMoved events to the main view when the mouse is over some widget, but it does not tell the main view that it will stop firing mouseMoved events or that the mouse has entered some widget.
The main v

[2018-04-26 13:39] #2784 closed

[2018-04-26 13:48] jmdejong opened #2796 "build menu layout switch must be pressed twice"
To make the build menu switch between the ordering by tier and ordering by category you have to press the switch button twice.

It doesn't have to be immediately after each other, there can be other actions in between, but the first click doesn't switch the layout.

It does take you back to the first tab of the buildmenu though.

[2018-04-26 15:08] #2793 closed

[2018-04-26 16:46] helios2000 commented on #2156
Sure,  the related issue here: https://github.com/fifengine/fifengine/issues/981
Code that needs to be adjusted: [Fife](https://github.com/fifengine/fifengine/blob/master/engine/core/gui/fifechan/fifechanmanager.cpp#L401) and [Fifechan](https://github.com/fifengine/fifechan/blob/master/include/fifechan/key.hpp#L137)

[2018-04-26 17:55] #2796 closed

[2018-04-30 18:32] jmdejong commented on #661
This does not only happen to the main square, it happens to mines as well. I think the problem is a small building and a large building next to each other.

This seems to be a FIFE problem. The problem is with the x and y shift of an image. When an image has x and y shift (I believe that applies to all building images) the xy position of the sprite is updated, but the z position (which defines the

[2018-04-30 18:57] AndyMender commented on #661
In principle, the need to apply any sort of shifts (X, Y or Z) to the object images should not exist to begin with. We have tons of extremely hackish code to handle images of different dimensions merely to counteract this problem.

Tracking the Z position of a building vs other buildings is obviously a different ball game. Should the most recent building overshadow the others as being the most rec

[2018-04-30 21:14] jmdejong commented on #2347
@LinuxDonald I think the problem in your screenshot is different: fields are in another layer, and therefore always drawn behind other objects. You can see the difference that fields are consistenly behind other stuff, whereas the people are sometimes in front, and sometimes behind the main market.

[2018-04-30 21:27] jmdejong opened #2799 "citizen mainsquare rotated in wrong direction"
![mainsquare_1](https://user-images.githubusercontent.com/7968950/39451119-d78aed06-4ccd-11e8-9342-ef0fbc337ab2.png)
![mainsquare_2](https://user-images.githubusercontent.com/7968950/39451122-da74a660-4ccd-11e8-8550-63676115903a.png)

When rotating the screen clockwise the images for the citizen mainsquare rotate counterclockwise and vice versa.

In the first screenshot the open part is rotated to

[2018-05-01 09:53] #2799 closed

[2018-05-01 21:16] jmdejong opened #2803 "crash when selecting multiple objects"
When selecting multiple objects by dragging the mouse the game crashes with the following stacktrace:

    Traceback (most recent call last):
    File "/data/programming/uh/unknown-horizons/horizons/gui/mousetools/selectiontool.py", line 129, in mouseReleased
        self.apply_select()
    File "/data/programming/uh/unknown-horizons/horizons/gui/mousetools/selectiontool.py", line 153, in apply_se

[2018-05-02 14:11] jmdejong commented on #1379
For me the ships are still very obviously misplaced.

I'm currently working on a general solution for these offsets, without tons of if statements.
I think I'm almost done for the buildings and base tiles.
This solution also solves #661

About bottom misalignment: for grass tiles the bottom is 4 or 5 pixels higher than for other base tiles.
This seems to be done on purpose in an attempt to simulat

[2018-05-02 20:27] jmdejong opened #2805 "Offer larger font size"
Currently the font size is set, and there is no good way to change it.
This size might be hard to read for some players

For the sake of accessibility it would be good to make it possible to play the game with a larger font.

Currently most config for the font is stored in content/fonts/libertine.xml
The easiest solution would probably be to make 2 more versions of this (larger and very large).
Th

[2018-05-02 20:33] #2803 closed

[2018-05-02 20:33] LinuxDonald commented on #2803
Please retest ist :)

[2018-05-02 20:39] jmdejong commented on #2803
Traceback (most recent call last):
    File "/data/programming/uh/unknown-horizons/horizons/gui/mousetools/selectiontool.py", line 129, in mouseReleased
        self.apply_select()
    File "/data/programming/uh/unknown-horizons/horizons/gui/mousetools/selectiontool.py", line 153, in apply_select
        self.session.ingame_gui.show_multi_select_tab(selected)
    File "/data/programming/uh/unknown

[2018-05-02 20:54] jmdejong commented on #2803
when fixing the import error I get this:

    Traceback (most recent call last):
    File "./run_uh.py", line 381, in <module>
        main()
    File "./run_uh.py", line 123, in main
        ret = horizons.main.start(options)
    File "/data/programming/uh/unknown-horizons/horizons/main.py", line 255, in start
        horizons.globals.fife.run()
    File "/data/programming/uh/unknown-horizons/hor

[2018-05-02 20:55] LinuxDonald commented on #2803
:( maybe i should revert the pr...

[2018-05-03 09:53] jmdejong commented on #2749
@AndyMender What kind of notice do you mean? A popup when starting UH? A readme.txt file in "$HOME/.unknown-horizons"?

[2018-05-03 10:20] jmdejong opened #2807 "ground tiles not aligned with buildings/units"
For a tile to be drawn on the correct position, the bottom of the tile should be at the bottom of the image, and the center of the tile should be at the image bottom - image width/4.
Ground tiles don't follow this.
Beach tiles are one or 2 pixels to high, and grass tiles are 4 or 5 pixels too high.
(you have to look at the images in a separate page to see the difference)
![0](https://user-images.g

[2018-05-03 15:17] jmdejong commented on #661
This is indeed a problem in the shifts and not in FIFE.

Some shifts are always needed, because the location of the center of a tile/building on the image does not correspond to the center of the image. This is a known shift of `image.width/4-image.height/2` for all images.
We could change the sprites to make sure that these to match, but that would mean adding a lot of empty space below all sprit

[2018-05-03 15:50] #2783 closed

[2018-05-04 07:34] jmdejong commented on #661
Fun fact: this problem even seems to exist in the screenshot on the homepage of the website: https://github.com/unknown-horizons/unknown-horizons.github.io/blob/source/assets/static/homepage-screenshot.png

[2018-05-04 14:59] #2180 closed, assigned to nobody

[2018-05-04 15:28] jmdejong commented on #1095
I could fix this by limiting the slider scale to something around 40 or 50.
The problem would be that the player can not trade more than that in a single slot.
Also, it will be hard to get the mouse on the correct pixel, but it is possible

[2018-05-04 18:29] #1095 closed

[2018-05-04 22:18] jmdejong commented on #2778
I just figured out how to make Fife send mouse events when the mouse is over a widget:
Implement a subclass of Fife.IMouseFilter, and implement the isFiltered(self, event) method.
This method will be called before all mouse events on widgets.
If it returns true, the event will still be fired.

[2018-05-05 12:11] jay20162016 commented on #2788
when building from source,
`
cmake -DPYTHON_EXECUTABLE=/usr/bin/python3 -DCMAKE_INSTALL_PREFIX:PATH=/usr -Dcegui=OFF ../fifengine

  You are using SWIG v3.0.8.

                           This version doesn't work with fifengine.

                           Please upgrade SWIG.

`

[2018-05-05 12:13] AndyMender commented on #2788
@jay20162016 which version of Ubuntu are you using? Regardless, notice the swig warning. Either upgrade Ubuntu to a more recent release or use a PPA to get a more recent version of swig.

[2018-05-05 15:10] AndyMender commented on #2807
@jmdejong seeing that introducing x/y-shifts is a pain, we have the following options I believe:
- drop "simulated elevation" entirely; it's hardly visible in-game anyway.
- introduce per-tile type x/y-shifts, which frankly only enhances the original problem

[2018-05-05 17:59] AndyMender commented on #2749
Either a small Tk popup window or a `print()` to the terminal or both.

[2018-05-05 18:42] jmdejong commented on #2807
I think I would prefer dropping this simulated elevation.
Elevation could be a nice feature, but to properly implement it would require careful changes in several places of the codebase.
The challenge with dropping this is that the transition tiles would have to be flattened and re-rendered.

If we do want to go with elevation, I think it it possible to set a z position for buildings/units, so it

[2018-05-05 18:51] AndyMender commented on #2807
Another thing is that elevation would probably need to be implemented on the level of the map grid itself, a la SimCity, otherwise it only complicates object positioning and isn't really visible in-game. I would be in favor of dropping it also.

@LinuxDonald @janexx thoughts?

[2018-05-05 19:08] janexx commented on #2807
I think that should be not a very big issue. I can do that or at least test it out.

[2018-05-05 19:13] LinuxDonald commented on #2807
@janexx if you have the time do it please

[2018-05-05 23:16] #661 closed

[2018-05-06 16:07] jmdejong commented on #2767
@martlin2cz Are you using a custom map in that save? I can't seem to load it because it's missing the map file m@rtlins-1island-100.sqlite
If that's the case, could you please upload that too?

[2018-05-06 17:43] jmdejong commented on #2749
How about using symlinks instead for older installs? Something like `ln -S $HOME/.unknown-horizons $XDG_DATA_HOME/unknown-horizons/` (and similar for config)
I believe we don't need a message for cache migration by the way.

[2018-05-06 17:51] jmdejong commented on #2754
The update check code has been changed in commit 76776357cb422392838fa824835c0d72084e9f10
This should be fixed in the current development version (the current code on github

[2018-05-06 18:13] LinuxDonald commented on #2754
yeah thats an bug of the last release version. We will release an new fixed version this Summer.

[2018-05-06 18:13] #2754 closed

[2018-05-06 18:16] LinuxDonald commented on #2749
We can put an note into the Changelog. That UH uses than an new home folder.

[2018-05-06 18:59] jmdejong commented on #1698
This has mostly been worked around in #2781 and #2806
Tooltips are now shown below the buttons etc.

However, for status icons on buildings this problem still persists

[2018-05-06 20:48] jmdejong opened #2814 "When units overlap with large buildings, they can only be displayed completely in front of it or completely behind it"
When two images overlap, one always has to be shown in front, and the other one behind it.
Currently, when two images are in the same layer, it is decided by the position of the origin which is placed in front.
This works quite well when the images are small, for example with people and trees, but starts to look weird with larger images, like people on marketplaces.
![villagers_on_roof](https://us

[2018-05-06 21:07] jmdejong commented on #2347
I think the original problem is fixed with PR #2804.
@LinuxDonald the problem you mentioned can be fixed by putting fields in the OBJECTS layer instead of the FIELDS layer. The downside would be that #2814 would then also apply to fields.
https://github.com/unknown-horizons/unknown-horizons/blob/ab7c542814c5f682485ac2b901a05a8a814f7d34/horizons/world/building/nature.py#L43
Should I change it?

[2018-05-07 09:14] jmdejong commented on #2807
By the way, the biggest problem with simulating elevation in code is the transitions (slopes).
It wouldn't really be a problem if it is impossible to build on slopes, and if units can't cross slopes (eg shores/cliffs/mountains).
The main problem here is the ground-beach transition since buildings can be built on both tiles, and streets for example have to be connected.

[2018-05-07 12:31] LinuxDonald commented on #2814
I like the second one. But i dont know. I helios will do this..

[2018-05-07 12:31] LinuxDonald commented on #2347
@AndyMender what do you thing about the layer change?

[2018-05-07 17:28] AndyMender commented on #2347
I think it's alright. Fields shouldn't be treated differently anyway.

[2018-05-07 17:36] LinuxDonald commented on #2347
@jmdejong do it you have the okay :)

[2018-05-13 04:40] LinuxDonald opened #2819 "UH Crash with lastest master"
[code]

[2018-05-13 04:41] LinuxDonald commented on #2819
@jmdejong could you please take an look?

[2018-05-13 07:29] LinuxDonald commented on #2819
Starting an new game free to play

[2018-05-13 08:08] #2819 closed

[2018-05-13 10:24] jmdejong opened #2823 "Minimap Layout"
Now that the minimap is rotated like the map I have tried to change ghe dimensions and layout of the minimap area a bit:
![minimaplayout](https://user-images.githubusercontent.com/7968950/39966156-59a61418-56a7-11e8-9860-40a26904027e.png)
In code it all seems to work now, but I can't figure out what the best placement of all the overlay elements should be.
Does anyone have good suggestions on how

[2018-05-13 10:56] AndyMender commented on #2823
I think moving the main map area down would work so that the magnification value and the upper widgets don't overlap with the map area. There is lots of space under the map :).

[2018-05-13 11:24] jmdejong opened #2824 "Image Origins"
All images have a single point from which they're drawn.
Since #2804 this is the center of the ground area of the image, at location (width/2, height-width/4).
![tile_drawing](https://user-images.githubusercontent.com/7968950/39966612-33e3b5e8-56af-11e8-8d53-1f292b5cd842.png)
The red dot is the origin; the lines surround the ground area.

In order for all entities to show up on the correct positio

[2018-05-13 12:01] jmdejong commented on #2823
It somehow feels incorrect to me to not draw the map in the middle of the circle.
The circle is mainly there to hold the map, it feels like the map should be in the centre

How about moving the rotate map buttons down instead?
![minimaplayout2](https://user-images.githubusercontent.com/7968950/39967097-2851a530-56b6-11e8-8d7e-2932ec1dab69.png)

[2018-05-13 12:08] AndyMender commented on #2823
Does the "0.5x" in the top-left part of the mini-map widget indicate game speed or magnification? If the former, apologies for the confusion earlier!

The new version you proposed ("rotate map" buttons under the map) looks a lot better, I reckon.

[2018-05-13 15:52] LinuxDonald opened #2828 "Pressing MouseWheel Button Down UH crahes"
Pressing MouseWheel Button Down UH crahes.

Start new game and press MouseWheel Down.

[code]

[2018-05-13 17:04] LinuxDonald commented on #2828
@AndyMender could you test with lastest fife and uh if you have this error? Trodio cant reproduce it :(

[2018-05-14 06:45] LinuxDonald commented on #2788
@jay20162016 any news here?

[2018-05-15 11:58] jmdejong commented on #2347
fixed in #2804 and #2815

[2018-05-15 11:58] #2347 closed

[2018-05-15 14:28] stefanionescu opened #2831 "Win x64 Installation"
Hey there,

I'm a real beginner especially in Python.

I try to install fifeengine on a Win x64 machine using the Fife SDK. I saw that Fife SDK comes with Python 2.7 but I need 3.5+ to run UH.

I checked the Developer Manual but I am still not sure about how I can use a different Python version than the one in the SDK.

Can you please point me to the instructions where I can use a Python 3.5+ vers

[2018-05-15 14:51] LinuxDonald commented on #2831
I think we don't have yet an Manuel how to install UH on Windows. To use the git version. At the moment I do think have the big time to write it. But you would like to need compile fife by yourself. I will update the fife sdk this week. The best is that you wait until I'm done. I could create too an UH git version installer.

[2018-05-15 15:18] LinuxDonald commented on #2831
Our current build pre-built fife for windows can't create because of errors and lastest fife version would be needed for uh. I must first fix the fife windows compile problem.

[2018-05-15 16:29] stefanionescu commented on #2831
Got it, I'll wait for it

[2018-05-15 20:13] stefanionescu commented on #2831
Ok another noob question: can I have 32 bit version of Python working on a 64 bit windows machine?

[2018-05-15 20:20] jmdejong commented on #2831
Yes. As far as I know 64bit windows can run all 32bit programs.

[2018-05-15 20:47] stefanionescu commented on #2831
Thank you, let me test the new SDK and I'll come with feedback

[2018-05-15 22:10] LinuxDonald commented on #2831
Feedback would be nice. For the next release of UH and fifengine we plan to release 64 bit version too for Windows.

[2018-05-15 22:11] jmdejong commented on #1413
fixed in #2818

[2018-05-15 22:11] #1413 closed

[2018-05-15 22:12] jmdejong commented on #2778
fixed in #2818

[2018-05-15 22:12] #2778 closed

[2018-05-15 22:13] jmdejong commented on #2787
fixed in #2818

[2018-05-15 22:13] #2787 closed

[2018-05-15 22:17] jmdejong commented on #2823
I improved the layout in #2825
Should we close this or keep it open for improving the minimap background? Or would another layout be better?

[2018-05-16 00:15] LinuxDonald commented on #2823
Close

[2018-05-16 00:15] #2823 closed

[2018-05-16 17:24] jmdejong opened #2833 "Taking screenshot while loading crashes game"
If you press the 'take screenshot' button ('S' by default) while the map is loading, the game crashes.
It then shows the standard message that the save might be corrupted (even when generating a random map) and takes you back to the menu

Edit: Here's the traceback by the way. I started it from command line and kept mashing 'S' while the game was loading:

    $ ./run_uh.py --start-random-map

[2018-05-16 18:44] LinuxDonald commented on #2831
The sdk will be delayed by one day. I dont had enough time to make it done. Appveyor needs to long time to make builds done.

[2018-05-16 19:16] stefanionescu commented on #2831
No problem

[2018-05-16 19:37] #2156 closed

[2018-05-16 19:59] jmdejong commented on #2450
The original problem has been fixed with #2834.
Should we close this or keep it open for the 'max speed' setting?

[2018-05-16 20:03] AndyMender commented on #2450
Up to @LinuxDonald I think.

The only thing I would say is that keybindings and the actual game effect are two different things. Game speed can be changed manually without relying on specific keyboard key presses.

[2018-05-16 20:06] jmdejong commented on #2450
I thought that the original problem was that the expected keypresses did not correct the game speed?

[2018-05-16 20:06] AndyMender commented on #2833
From the traceback it seems the in-game GUI is in the process of being loaded, but the main listener already listens for key-press events. I guess an `is None` check for the GUI could address this.

[2018-05-16 20:08] jmdejong commented on #867
How much of this is still relevant? I thought that we moved away from using Fife pathfinding? @AndyMender do you know if this could still be a problem?

[2018-05-16 20:08] AndyMender commented on #2450
Yes, correct!

[2018-05-16 20:09] AndyMender commented on #867
This seems to be pretty much forsaken, so I have no idea.

[2018-05-16 20:43] #2833 closed

[2018-05-16 22:01] #2450 closed

[2018-05-16 22:04] LinuxDonald commented on #867
Maybe close it. Because really old report. And we have a lot code changes.

[2018-05-16 22:08] LinuxDonald commented on #2716
Completely forgotten this...

[2018-05-17 06:11] LinuxDonald commented on #2831
Fife SDK: https://ci.appveyor.com/api/buildjobs/ajdy50jgpf2ltcnf/artifacts/_build%2FFifeSDK-0.2.181-Setup-VC14-x86.exe

[2018-05-17 06:12] LinuxDonald commented on #2831
UH 2018.1-git Installer (includes fife and own python3 with all needed dependencies): https://ci.appveyor.com/api/buildjobs/hn80cq368yxvs052/artifacts/_build%2FUnknown-Horizons-2018.1-git.172-Setup-VC14-x86.exe

[2018-05-17 06:12] LinuxDonald commented on #2831
Both are not tested by me. Feedback is welcome :)

[2018-05-17 09:01] jmdejong commented on #2263
Ehm, this isn't fixed. The error handling might be a bit better but you still can't play a save without its map file.

[2018-05-17 09:05] jmdejong opened #2837 "Include map in save file"
Right now to play a custom map save game you need both the save file and the map.
It would be better if the map is included in the save file, so the save file has all information it needs to be loaded.
This would also make more sense in the map loading; having everything in the same place.

The disadvantage would be that the savegame files would be a bit larger, but I think that would be worth it.

[2018-05-17 09:08] jmdejong opened #2838 "tiles from player-created map incorrectly rotated when loaded"
![tile_incorrect_rotation](https://user-images.githubusercontent.com/7968950/40167873-6c856408-59c2-11e8-92d2-25f4725107b7.png)
When the map is being created in the editor it looks fine, but when a game is started on that map all tiles are incorrectly rotated.
This does not apply to the prebuilt maps.

[2018-05-17 09:12] jmdejong opened #2839 "editor brush resets when moving cursor over brush selection widget"
If you reset the cursor to the normal cursor in the editor (by right clicking), then move the cursor over the brush selector widget (without clicking anything) and then back to the main view, the cursor turns into the tilelayer brush again by itself.
This makes it somewhat harder to click buttons in another menu (like the 'save map' button).

[2018-05-17 12:13] baka0815 commented on #2263
Are there plans to change that?
Wouldn't there also be problems if you modify the map after saving?

Should the map be part of the saved game then?

[2018-05-17 12:33] jmdejong commented on #2263
I would like to change it and make the map part of the saved game (see #2837). If you then modify the map after saving, your savegame will keep using the old unmodified map.
I don't know what the others think of it.

Actually I would like to refactor a lot more of the savegame structure. Preferably all in one go, to minimize the number of savegame-incompatible versions.
This is probably more somet

[2018-05-17 12:46] stefanionescu commented on #2831
@LinuxDonald When I install Fife SDK with Python 2, python is present in the fife folder, but when I install the SDK with Python 3 the python folder is not there.

Why not also put python 3 inside the fife SDK?

[2018-05-17 17:17] LinuxDonald commented on #2263
That's listen as an good idea.

[2018-05-17 17:18] LinuxDonald commented on #2837
Bigger savegame are no problem.

[2018-05-17 17:18] LinuxDonald commented on #2831
I will add it.

[2018-05-17 21:25] jmdejong commented on #2716
I think a simple `python3 horizons/engine/generate_atlases.py 2048` could solve this.
Should it be fixed in PKGBUILD or in setup.py?

[2018-05-17 22:44] LinuxDonald commented on #2716
I think in setup.py it would be better than all Linux distros could use it.

[2018-05-18 04:59] LinuxDonald commented on #2831
Here is the newest fixed sdk. We dont provide at the moment an include python. https://ci.appveyor.com/api/buildjobs/c4wibdcxt1c8ve5i/artifacts/_build%2FFifeSDK-0.2.184-Setup-VC14-x86.exe

[2018-05-18 08:37] jmdejong opened #2841 "Update Fife in travis"
Currently gui tests fail with the message `AttributeError: 'SelectionTool' object has no attribute 'setGlobalListener'`.
This makes sense since the method `IMouseListener.setGlobalListener` was added in a recent change to the development version of Fife.
Can we update Fife in travis so that it includes this method?
Alternatively we could try to make a dummy implementation of that method.

[2018-05-18 20:57] stefanionescu commented on #2831
Ok let me have a look

[2018-05-18 23:04] LinuxDonald commented on #2841
@MasterofJOKers could you maybe update the fife packages for travis please?

[2018-05-18 23:19] #2824 closed

[2018-05-19 17:10] gokhansolak opened #2843 "Linux installation documentation is missing"
In readme.md it is written as:

However, that page doesn't contain anything about installation. Simply running run_uh.py or unknown-horizons.py with python2 gives the error "Failed to find and/or load FIFE". Can you provide an instruction for running in Linux?

My system is Ubuntu 16.04.

[2018-05-19 17:16] LinuxDonald commented on #2843
Alle Information are in the Wiki: https://github.com/unknown-horizons/unknown-horizons/wiki/Linux#installing-fife-and-fifechan-from-source

There is the link how to build the engine.

We will add an shorter version into our Wiki. For easier compiling.
Give me an Hour.

[2018-05-19 17:17] AndyMender commented on #2843
1. This is the guide to installing the game engine we're using: http://docs.fifengine.net/developer-manual/en/
2. We don't support Python 2 anymore, since we moved to Python 3.
3. Did you try using the pre-built Unknown Horizons packages for Ubuntu?

**EDIT:** @LinuxDonald ninja'd me

[2018-05-19 17:26] LinuxDonald commented on #2843
Updated the Release Notes on Github.

[2018-05-19 17:28] LinuxDonald commented on #2843
Lastest Ubuntu packages you can get too here: https://packages.ubuntu.com/bionic/unknown-horizons

[2018-05-20 14:29] LinuxDonald commented on #2831
@stefanionescu had you already time for testing?

[2018-05-21 17:42] #2749 closed

[2018-06-18 22:16] yhoyhoj commented on #2721
I'd like to try this.
I have already found the files to modify but I am not sure of the desired behaviour.

Considering the player can also trade with other players or IA, it should check the total number of warehouses on the map. Should it also check if the warehouses are allowed in a route (ie. owned by an ally) ?
And given that there are multiple reasons to grey that button out, would a tooltip

[2018-06-19 07:22] MasterofJOKers commented on #2721
Yes, please also check for allied warehouses.
Yes, that tooltip-text should be enough.

[2018-06-30 17:37] Jeeppler commented on #2554
Was this ever implemented? The Christmas tree idea is good.

[2018-06-30 17:42] LinuxDonald commented on #2554
No. We not have enough members todo this. And I think it will not happen for this x-mas. Maybe next one.

[2018-07-02 16:52] #2721 closed

[2018-07-02 16:59] yhoyhoj opened #2859 "Ships display lags behind real position or is totally wrong (master branch)"
Master branch on Archlinux.
After ordering a ship to move, it will often stay in place on the display while its position on the map changes.
The ship can then apparently keep an offset for some time. It can end up being displayed on the islands.

How to reproduce: start a game, move ship.

Screenshot 1: Ship position on the display is not the same as on the map. I believe the map is right and that

[2018-07-02 17:02] LinuxDonald commented on #2859
yeah the minimap needs to be fixed.

[2018-07-02 20:18] jmdejong commented on #2859
Weird, I've never seen this and I can't reproduce it (with the same setup).

Does anything change when you rotate, move or zoom the main map view?
Are atlases enabled?
Does UH print anything to the console when you start a game?
Does it happen in all maps you play? If not, could you share your save?
Does it also happen when you start uh with the command line option `--start-random-map`?

@LinuxDon

[2018-07-02 22:36] LinuxDonald commented on #2859
Could we not scale down all the information from the main map and load the information on the minimap?

[2018-07-03 16:21] yhoyhoj commented on #2859
No output, except : "Ship created and weapons loaded." when the game starts.
After some further investigation, it doesn't happen all the time.
It doesn't with `--start-random-map` but it does when starting a random map from the menu.
It doesn't when playing a scenario (the_Unknown or tutorial).
It does in Free Play.

Zooming or moving the ship out of view and then in will not change anything. The

[2018-07-03 18:57] yhoyhoj commented on #2859
When instructing a ship to move, it will stay stuck for a certain amount of time (a split second to several seconds) then start moving. When stuck the ship rotates, I think it is the rotation it should have if it was displayed at the right position.
During a movement, the ship will move normally (but with an offset) or it can get stuck again, increasing the offset to the real position. It sometime

[2018-07-03 19:19] yhoyhoj commented on #2859
The problem exists also with HEAD at 0280e7a758721da2ef95a4cfc85f1d4c5faadee5 which is the older I can go with my current setup.

[2018-07-10 18:44] yhoyhoj commented on #2859
Nobody is able to reproduce that with the master branch of fife ?

[2018-07-10 18:49] LinuxDonald commented on #2859
Not yet tested

[2018-07-17 11:19] CrafterSvK opened #2862 "Ships floating on an island"
![snimka obrazovky_2018-07-17_10-27-13](https://user-images.githubusercontent.com/8365659/42813779-5ed52dae-89c2-11e8-9360-ea1c87e849fa.png)
Ship floated all around an island. If I did a spiral map they went like the island was never there.

[2018-07-18 17:32] yhoyhoj commented on #2862
I think you just reproduced #2859 ! No one had yet, so thanks for reporting.
Could you give more information about your setup ? Especially what version of fife you use.

[2018-07-18 18:54] CrafterSvK commented on #2862
0.4.1.r492.gfa6ea6d2 from Archlinux AUR (fife-git) package.

[2018-07-18 19:44] yhoyhoj commented on #2862
Thanks, almost the same as mine (r491).
Do you agree it's a duplicate of #2859 ?

[2018-07-18 19:45] yhoyhoj commented on #2859
It would be interesting to have the version of fife used by people that can't reproduce this bug.
Would you mind @jmdejong ?

[2018-07-18 21:41] CrafterSvK commented on #2862
Yeah I am absolutely sorry. My bad. Closing issue.

[2018-07-18 21:41] #2862 closed

[2018-07-20 18:11] #2758 closed

[2018-07-20 18:11] LinuxDonald commented on #2761
Any news here?

[2018-07-20 18:13] LinuxDonald commented on #2682
Next release will be 2018.1 not update planed for the old release anymore.

[2018-07-20 18:13] #2682 closed

[2018-07-20 18:14] #2699 closed

[2018-07-23 15:47] jmdejong commented on #2859
I have tried to reproduce this with the latest version of UH, Fife, and Fifechan (or at least what was the latest version at that moment 20 days ago).
I have also tried a few older versions.

I have been unable to reproduce the bug or to find a likely explanations for this so far

[2018-07-28 23:53] Rootyjr commented on #2859
I got some photos and a savefile for this bug when it occurred on machine running Arch Linux. I am running fife and fifechan from git. When I encountered this I did a search and found an old issue that I thought might be worth mentioning: #1203

Notes regarding save: Ships don't float through land immediately. Just speed up the game and move your ship around a bit and after a little while a ship w

[2018-07-29 09:39] jmdejong commented on #2859
With this savefile I have been able to reproduce the problem, thanks!

I have also found the place where the problem would probably be: https://github.com/unknown-horizons/unknown-horizons/blob/458708557a72c211f8fcf208d9f9d2ecfc852497/horizons/world/units/movingobject.py#L161-L241

As far as I understand it now:

The movement and pathfinding of the ships (and other units) happens in the python cod

[2018-07-29 12:22] LinuxDonald commented on #2859
@jmdejong do you intressted to work on it/fix it?

[2018-07-29 13:06] Rootyjr commented on #2761
You need to install libsdl or whatever package provides SDL1.2. After that try rebuilding fifechan and fifengine. I had the same problem when I tried building fifechan & fifengine.

[2018-07-29 14:36] jmdejong commented on #2859
Fixing the underlying problem in a clean way would require either a lot of fife troubleshooting to make sure both pathfinders work well together, or it would require to replace the fife pathfinding with another mechanism to smooth movement.

Currently I'm not going to do that, but I can make sure that the locations sync up if they would get too far apart, effectively solving the symptoms of this p

[2018-07-29 15:49] LinuxDonald commented on #2761
Fife require sdl2

[2018-07-29 15:55] Rootyjr commented on #2761
I'm not certain but I think it requires both. I have no evidence to support this fact except that the errors say they found SDL2 and its looking for SDL and that when I personally encountered this problem I installed SDL and it started working.

[2018-07-29 17:06] Rootyjr commented on #2761
Here are several settings in CMakeLists.txt:

OPTION(ENABLE_SDL "Enable the Fifechan SDL extension"                                                ON)
OPTION(ENABLE_SDL_CONTRIB "Enable the Fifechan SDL contrib extension (SDL2_ttf)" OFF)
OPTION(BUILD_FIFECHAN_SDL_SHARED "Build the Fifechan SDL extension library as a shared library"

[2018-07-29 17:30] LinuxDonald commented on #2761
Yeah all SDL2

[2018-07-29 17:31] LinuxDonald commented on #2761
Maybe if you compile with cegui support. I dont know what cegui all require.

[2018-07-29 17:34] LinuxDonald commented on #2761
For Ubuntu/debian based distros:

http://docs.fifengine.net/developer-manual/en/#_building_fifengine_on_linux

[2018-07-29 18:58] Rootyjr commented on #2761
I see stuff about SDL2_IMAGE, SDL2_LIBRARY, etc. What's interesting is there is one library it looks for that doesn't have a 2 on it: SDL_TTF_LIBRARY. That being said I found this in the win32 section so it may not apply to linux. But that is the best evidence I have found so far.

[2018-07-29 19:03] Rootyjr commented on #2761
I'll try rebuilding it and let you know.

[2018-07-30 00:01] Rootyjr commented on #2761
Well I tested and you were right. It doesn't seem to depend on SDL which is odd because last time I installed it all my problems went away. I have no clue what the cause of this issue is.

[2018-07-30 20:44] Rootyjr commented on #2839
I think I fixed this issue, though I'm still waiting on the pull request.

[2018-08-06 14:22] tuxitop opened #2865 "Crash on start because configuration directories is not found."
When I try to open the game on a clean installation in Arch Linux I get the following error:

[code]

The solution is simply making the `~/.config/unknown-horizons` directory.
After making the directory the game launches with the following warning:
[code]
As you might guess, making the `~/.cache/unknown-horizons/` directory will fix this one too.

The game seems to have no problem making the `~/.l

[2018-08-10 02:33] Rootyjr opened #2866 "Importlib error related to issue #2667"
./run_uh.py:35: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp

Now run_uh.py won't work on Arch.

[2018-08-10 04:47] LinuxDonald commented on #2866
Are you using UH git version?

[2018-08-10 19:56] Rootyjr commented on #2866
Yeah but it is about a week and a half old.

[2018-08-10 20:38] LinuxDonald commented on #2866
What python version? Because it should already fixed for an long time.

[2018-08-10 20:46] Rootyjr commented on #2866
Python 3.7.0 (default, Jul 15 2018, 10:44:58)

[2018-08-11 01:51] LinuxDonald commented on #2839
Should be fixed with: https://github.com/unknown-horizons/unknown-horizons/pull/2864

[2018-08-11 01:51] #2839 closed

[2018-08-22 19:09] MartinX3 commented on #2700
Could you make a Release now and put the open issues into the "next milestone" box?

[2018-08-23 13:05] #2865 closed

[2018-09-13 17:18] LinuxDonald commented on #2761
Closed because of no new updates from the issue creator.

[2018-09-13 17:18] #2761 closed

[2018-09-14 09:08] MarkusHackspacher commented on #2841
See https://github.com/unknown-horizons/unknown-horizons/pull/2872
I use the new fife paket 0.4.1+git20180904-2 from debian sid.

[2018-09-14 10:41] MarkusHackspacher opened #2873 "Update polib to 1.1.0"
Hello,
is it possible update polib to version 1.1.0, in horizons/ext/ and requirements.txt?
Now is polib Version 1.0.8.
The file is in https://bitbucket.org/izi/polib/commits/branch/default

Because with that update can we use the actual isort version 4.3.4 (now 4.2.13).

[2018-09-14 15:13] LinuxDonald commented on #2841
Please fix the typo than I can merge it.

[2018-09-15 07:32] MarkusHackspacher commented on #2841
@LinuxDonald :  What you mean with fix the typo?

[2018-09-15 08:08] LinuxDonald commented on #2841
You have on one line python3.56 ;)

[2018-09-15 09:35] LinuxDonald commented on #2841
Fixed with: https://github.com/unknown-horizons/unknown-horizons/pull/2872

[2018-09-15 09:35] #2841 closed

[2018-10-06 15:40] LinuxDonald commented on #2873
If there is no api break it should be okay

[2018-10-13 04:51] #2873 closed

[2018-10-14 06:43] koutoftimer opened #2875 "Broken link on the wiki's page"
https://github.com/unknown-horizons/unknown-horizons/wiki/Coders "on our homepage" link is broken.

[2018-10-14 06:46] koutoftimer opened #2876 "Broken link on wiki's coding style page"
https://github.com/unknown-horizons/unknown-horizons/wiki/Coding-style "Nice examples on {foo}.format usage" link is broken

[2018-10-14 07:30] margoeth opened #2877 "setup.py crashes (Linux)"
When trying to run setup.py in fails with the following message

File "setup.py", line 34, in <module>
    from horizons.constants import VERSION
  File "unknown-horizons/horizons/constants.py", line 702
SyntaxError: Non-ASCII character '\xd8' in file unknown-horizons/horizons/constants.py on line 702, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

The branch used

[2018-10-14 13:40] LinuxDonald commented on #2877
@MarkusHackspacher could you maybe fix this please?

[2018-10-14 13:41] LinuxDonald commented on #2875
Removed the link.

[2018-10-14 13:41] #2875 closed

[2018-10-14 13:48] LinuxDonald commented on #2876
@MarkusHackspacher have you maybe an link that works?

[2018-10-14 15:35] koutoftimer commented on #2877
I'd like to work on it, I'm using same OS.

[2018-10-14 16:30] LinuxDonald commented on #2877
Okay than do it :-)

[2018-10-14 17:33] MarkusHackspacher commented on #2877
Please use python3.

I got the same fault if I use python2
[code]

[2018-10-14 18:32] koutoftimer commented on #2876
@MarkusHackspacher so it can be deleted?

[2018-10-15 11:35] LinuxDonald commented on #2876
Deleted

[2018-10-15 11:35] #2876 closed

[2018-10-15 11:36] LinuxDonald commented on #2877
UH need min Python3 3.5

[2018-10-25 07:49] shirishag75 opened #2878 "I am never able to complete the trade with the free trader even at 0.5x speed."
Package: unknown-horizons
Version: 2017.2+git20180906-1
Severity: normal

-- System Information:
Debian Release: buster/sid
  APT prefers testing
  APT policy: (990, 'testing'), (500, 'unstable-debug'), (500, 'testing-debug'), (500, 'unstable'), (1, 'experimental-debug'), (1, 'experimental')
Architecture: amd64 (x86_64)

Kernel: Linux 4.18.0-2-amd64 (SMP w/4 CPU cores)
Locale: LANG=en_IN, LC_CTYPE

[2018-10-25 14:16] shirishag75 commented on #2878
I built that, It's not just visible on that screenshot, let me share another.
![signal-fire](https://user-images.githubusercontent.com/727626/47506826-8a2d9980-d88e-11e8-9a45-f0e1dfb999bc.png)

[2018-10-28 14:07] shirishag75 commented on #2878
Another possibility is to click on the trading ship, maybe that can be implemented ?

[2018-10-31 19:48] LinuxDonald commented on #2878
I will check this on this weekend.

[2018-11-03 13:06] LinuxDonald commented on #2878
The Free Trader works. But you dont have set that you want buy or sell something.
![freetrader](https://user-images.githubusercontent.com/1757651/47952553-8924f800-df71-11e8-8b5c-2fb093a8aed9.jpg)

[2018-11-03 13:07] LinuxDonald commented on #2877
Closing that.

[2018-11-03 13:07] #2877 closed

[2018-11-03 13:19] LinuxDonald commented on #2767
@martlin2cz feedback?

[2018-11-03 14:56] shirishag75 commented on #2878
I am/was trying to use the tutorial to figure out how the game works. This is in the tutorial where I got stuck.

[2018-11-03 15:00] LinuxDonald commented on #2878
The code say yes: https://github.com/unknown-horizons/unknown-horizons/blob/master/content/scenarios/tutorial_en.yaml#L187 It should come after Signalfire in the Tutorial

[2018-11-03 15:10] shirishag75 commented on #2878
I was trying the same, after the signal fire. I satisfied both the conditions but it's hard to trade with the free trader or even function with the warehouse. The condition is to have 30 tools at all times in the warehouse for progress.

[2018-11-03 16:47] LinuxDonald commented on #2878
Its not hard it takes some time. You could set buy tools to maximum.

[2018-12-17 00:37] #2753 closed

[2018-12-18 21:40] tallestdavid opened #2883 "help! after like 3 minutes the game crashes every time!"
:( cant play at all.

[2018-12-18 22:07] LinuxDonald commented on #2883
Hey we need more infos. What OS? And maybe an crash log or something.

[2018-12-18 22:08] tallestdavid commented on #2883
i7 4770k gtx 1060 6GB 16GB ram 64 bit
:) the game is laggy as well :c

[2018-12-18 22:30] LinuxDonald commented on #2883
What os? Windows or Linux?

[2018-12-18 22:38] tallestdavid commented on #2883
windows 10

[2018-12-18 23:48] jmdejong commented on #2883
Which version of Unknown Horizons did you install?

Can you share the logs from the crashes?
You can find your logs in `My Games\unknown-horizons\log\`

[2018-12-19 00:14] tallestdavid commented on #2883
if I share on one drive would I give you permission to view my whole drive or that one file? I never shared anything on there since its has personal informations and passwords.

[2018-12-19 00:15] tallestdavid commented on #2883
also the current one.

[2018-12-19 11:49] baka0815 commented on #2883
Just copy & paste the log here, no need to share your one drive.
If your log is multiple MB or GB in size maybe just the last 100 lines or so are sufficient.

[2018-12-19 12:32] LinuxDonald commented on #2883
An fresh log should be max 1 or 2 MB.

[2018-12-20 13:57] Exerotris commented on #2883
Does your mouse have a horizontal click sensor on the mouse wheel, this may cause the game to crash when pressed my accident.

[2018-12-20 22:19] LinuxDonald commented on #2883
I think that but is fixed in our dev Version. But next stable release will come next year.

[2018-12-20 22:50] jmdejong commented on #2883
@tallestdavid You will probably need to build the code from source (dev version) before we can help you with any problems.
There are many improvements in the dev version that aren't in the last released version.
The codebase has changed so much since the latest release that it is not practical for us to improve on that.

Coming to think of it, I could probably still fix the horizontal scrolling is

[2018-12-21 00:14] tallestdavid commented on #2883
dang posting info of the log crashes the site for me haha xD

[2018-12-21 00:16] tallestdavid commented on #2883
Deer(id=1000013;worldid=103363)(state=working)(health=66) finished working
Production(state=producing;prodline=ProductionLineData(lineid=17)) _produce
Production(state=producing;prodline=ProductionLineData(lineid=17)) _produce Adding callback in 400 time
Deer(id=1000013;worldid=103363)(state=working)(health=66) end_job - waiting for new search_job
Deer(id=1000013;worldid=103363)(state=idle)(health

[2019-01-05 03:41] #867 closed, assigned to nobody

[2019-01-05 03:45] LinuxDonald commented on #2700
@jmdejong i have cleanup the milestone. Maybe #2222 could be done for the next release?
And #2716 should be easy to fix too. Maybe we should setup an new UH Master Server for MP because i dont have access to the old server... New version would not work with the old Server code.

[2019-01-05 05:37] Jeeppler commented on #2700
@MarkusHackspacher the next Debian version will Debian 10 "Buster". If the release can be released before the Buster release it could end up in the next Debian version.

[2019-01-05 08:11] LinuxDonald commented on #2700
The next release will be only python3. Python 2 is no longer supported for uh.

[2019-01-05 10:07] MarkusHackspacher commented on #2700
@Jeeppler please look at the date.
Now is the python3 codebase already in Debian testing, it call unknown-horizons 2017.2git20180906. https://packages.debian.org/testing/source/unknown-horizons

And python2 codebase in Debian stable call unknown-horizons 2017.1, the release file from github 2017.2 are in python2, too.
https://packages.debian.org/stable/source/unknown-horizons

[2019-01-05 11:40] LinuxDonald commented on #2700
@MarkusHackspacher have you experience with creating Deb packages or with creating ppa?

[2019-01-05 16:50] LinuxDonald commented on #2883
Should be fixed with 2019.1. Release is in around 2 weeks.

https://github.com/unknown-horizons/unknown-horizons/issues/2700

[2019-01-05 16:50] #2883 closed

[2019-01-05 16:54] LinuxDonald commented on #2700
Windows:
Fife/Fifechan/UH deps are now updated to last version
SDKs are updated.
One bug must be fixed with appveyor or cegui  must be disabled for Windows Version for the release: https://github.com/fifengine/fifengine/issues/1070
After this we should ready for release.
Linux:
Only https://github.com/unknown-horizons/unknown-horizons/issues/2716 needs to be fixed.

[2019-01-05 21:53] Jeeppler commented on #2700
@LinuxDonald can you reach out to the Debian community as a maintainer of UH and ask the maintainer of the UH Debian package to update the existing package the moment 2019.1 is released? I do not think it will be a huge issue to update an existing package to the latest release.

[2019-01-05 22:47] Jeeppler commented on #2700
@MarkusHackspacher thanks for pointing to the packages.

@LinuxDonald The `unknown-horizons 2017.2git20180906` will probably end up in Debian 10 "Buster" unless the outstanding issues can be resolved for the UH 2019.1 Release in time of the Soft Freeze (2019-02-12): https://release.debian.org/buster/freeze_policy.html. I am not a Debian maintainer.
I assume the UH code base did not change signific

[2019-01-05 23:12] shirishag75 commented on #2700
@Jeeppler and @LinuxDonald I actually echoed the same concerns in https://bugs.debian.org/918425 just a few moments ago.

Could you also look at the rest of the dependencies if any of them have changed as shared in the depends part of the wishlist bug shared above.

I also just saw the control file  to see the build-depends of the game at https://salsa.debian.org/games-team/unknown-horizons/blob/m

[2019-01-06 22:56] LinuxDonald commented on #2700
For fixing bug there is no time at the moment and no dev is available for the engine. We have at the moment only an coder for UH not for the engine. Maybe with the new versions we will find some new members.

[2019-01-06 22:56] #2716 closed

[2019-01-06 22:57] LinuxDonald commented on #2716
Should be fixed now.

[2019-01-07 10:36] o01eg commented on #2716
I get error while installing via setup.py:
[code]

[2019-01-07 10:48] jmdejong commented on #2716
Good find. I hadn't finished testing yet.
I just pushed a fix.

[2019-01-07 10:50] o01eg commented on #2716
Next error:

[code]

[2019-01-07 10:57] MartinX3 commented on #2700
We fans wish you good luck, people. :)

[2019-01-07 10:59] jmdejong commented on #2716
pushed a fix again

[2019-01-07 11:05] o01eg commented on #2716
Thanks, it works now.

[2019-01-07 11:32] LinuxDonald commented on #2716
Thank you for testing :-)

[2019-01-07 11:35] jmdejong commented on #2716
By the way, this atlas generation now happens anytime someone is running setup.py
We should make sure that releases that include the atlases do not run setup.py, or we should make an option in setup.py

[2019-01-07 11:36] LinuxDonald commented on #2716
We don't need to add atlas to release version. Now package maintainer could run setup.py. I will add that into the release notes for package maintainer.

[2019-01-07 16:58] Jeeppler commented on #2700
@LinuxDonald can you create a release based on all the changes from 2018? Just call it release 2018.1. In my opinion it is better to have a release out which people can play, instead of a release which is super, super stable. After all UH is a game, meaning it is for peoples entertainment.

One thing to keep in mind that Python2 is only supported for another 11 months [1][2]. So, if you already di

[2019-01-07 17:03] LinuxDonald commented on #2700
Our new version should be stable enough. We don't have an old branch of the python2 version of the game.

[2019-01-09 09:58] jmdejong commented on #2609
We don't ship our own version of pyenet anymore. We just have it as dependency.
We also have instructions now for [[installing-pyenet]].

I think we can close this.

[2019-01-09 09:58] #2609 closed

[2019-01-09 10:14] jmdejong opened #2887 "First time pressing Multiplayer button connects to None"
When clicking the Multiplayer button in the main menu the first time it says `[CONNECT] to server None` in the debug log.
When I close the multiplayer menu and click the button again it says `[CONNECT] to server 176.28.18.129:2002`.

This is the relevant part of the log.
first time:

	VFS:DEBUG:Opening: content/audio/sounds/click.ogg
	[CONNECT] to server None
	[CONNECT] done (session=9848d71e65004

[2019-01-09 12:51] jmdejong opened #2888 "Savegame incompatibility"
I believe that the savegame data in the latest master is incompatible with 2017.02
I'm not sure about it though.

Should we increase the savegame revision number?
Or should we try to make it compatible first?

[2019-01-09 12:59] baka0815 commented on #2888
What makes you believe that it's the case?

[2019-01-09 13:16] jmdejong commented on #2888
I can not load a savegame from the 2017.2 version with the latest master.
This doesn't surprise me since the uh code has changed a lot.
The savegame revision number is meant to be increased whenever we have a situation of incompatible savegames

[2019-01-09 15:43] jmdejong commented on #2888
Done.
I allowed upgrading savegame version 76 to 77 (even though the 2017.2 savegames with savegame version 76 don't work anymore) because otherwise we would break the savegames of everyone who has been playing the github version over the last year.

I also updated the changelog by the way

[2019-01-09 15:43] #2888 closed

[2019-01-09 22:14] LinuxDonald commented on #2513
@squiddy any news about this?

[2019-01-10 02:16] LinuxDonald commented on #2756
Closed because no feedback.

[2019-01-10 02:16] #2756 closed

[2019-01-10 02:16] #2760 closed

[2019-01-10 02:18] #2767 closed

[2019-01-11 22:46] Jeeppler commented on #2700
@LinuxDonald thanks for releasing 2019.1.

[2019-01-11 22:49] LinuxDonald commented on #2700
:) Closing this now because done.

[2019-01-11 22:49] #2700 closed

[2019-01-13 15:17] RitoonL opened #2890 "Game not starting in Windows10 X64"
Hey,

I told about the Issue on IRC ...

The game won't start on my config, i don't know if it's related to my installation or a general issue.

No log generated, here is the output after lauchnig the .bat

Tested non Admin / Admin the game still not starting

https://pastebin.com/Uc4PGTy3

I hope you will find what is wrong ...

Thanx and keep up the work !!!

[2019-01-14 16:59] baka0815 commented on #2890
[code]

[2019-01-14 17:44] LinuxDonald commented on #2890
That dont really helps because we dont see what dll cant loaded :(

[2019-01-15 09:05] baka0815 commented on #2890
Looks like it's something with the FIFE engine
[code]

[2019-01-15 11:10] jmdejong commented on #2890
Can confirm this; I tested on a windows PC now.
Since the error is the same as when zlib was missing, I suspect that this is the generic error for something wrong with fife.
My guess would be that there is another dependency that's missing.

We should find a way to make swig give more helpful error messages.

[2019-01-15 12:02] apoleon opened #2892 "2019.1: FileNotFoundError content/atlas.sql"
Hello,

I intented to upgrade UH from Debian version 2017.2+git20180906, a Git snapshot, to 2019. However when I try to start the game I get this error message:
Traceback (most recent call last):
  File "/usr/games/unknown-horizons", line 381, in <module>
    main()
  File "/usr/games/unknown-horizons", line 122, in main
    ret = horizons.main.start(options)
  File "/usr/lib/python3/dist-packages

[2019-01-15 12:34] MarkusHackspacher commented on #2892
That is not a good way, let the Debian paket as they are.
Better make a new dir in your home for ex. games.
cd games
git clone git@github.com:unknown-horizons/unknown-horizons.git
cd unknown-horizons
./run_uh.py

if you want the newest version you can update with:
git pull git@github.com:unknown-horizons/unknown-horizons.git

[2019-01-15 12:42] apoleon commented on #2892
I maintain UH for Debian.

[2019-01-15 12:56] MarkusHackspacher commented on #2892
https://github.com/unknown-horizons/unknown-horizons/wiki/Databases
try to generate 'content/atlas.sql' with development/generate_atlases.py

[2019-01-15 13:13] apoleon commented on #2892
Maybe I was not clear in my initial report. atlas.sql is not part of your source tarball distribution. It used to work with the Git snapshot from September 2018 even without this database present. I simply upgraded to 2019.1 and I expected no bahavioral change. If users are supposed to generate atlas.sql then it should be documented somehow. It also cannot be installed into the content directory b

[2019-01-15 13:39] MarkusHackspacher commented on #2892
It is the same case like:
https://github.com/unknown-horizons/unknown-horizons/issues/2716

[2019-01-15 13:52] jubalh commented on #2716
@jmdejong which was your pushed fix? a reference to the commit would be helpful

[2019-01-15 13:59] LinuxDonald commented on #2716
https://github.com/unknown-horizons/unknown-horizons/commit/eae6e39a800590e480301289a061a6c57c5ebbfc
https://github.com/unknown-horizons/unknown-horizons/commit/3bb44e64d1bc381889bc938e37d643f1786c214e
https://github.com/unknown-horizons/unknown-horizons/commit/2a964d5575aa3dc4a803b5c4e7be39a1f56f60a4

[2019-01-15 14:02] LinuxDonald commented on #2892
The atlas file was an part of the old sourcetarball for example 2017.x releases. For now setup.py create the atlas files.

[2019-01-15 14:14] jubalh commented on #2716
Thanks @LinuxDonald. It seems all those commits are part of 2019.1. So it's strange that https://github.com/unknown-horizons/unknown-horizons/issues/2892 is affected by the same issue.

[2019-01-15 14:15] apoleon commented on #2892
I run setup.py build_i18n as documented in https://github.com/unknown-horizons/unknown-horizons/wiki/Linux. The build log says:

The Python Imaging Library (PIL / Pillow) package is needed to run the atlas generator.

Ok, now I have python3-pil installed but then I get the following error message

error: can't copy 'content/gfx/atlas/010.png': doesn't exist or not a regular file

What am I missing

[2019-01-15 14:17] LinuxDonald commented on #2716
#2892 is an packing problem of debian its not complete the same problem.

[2019-01-15 14:30] LinuxDonald commented on #2892
I dont get the error in my home folder (using ubuntu)

What you could try is comment out Line 148-152: https://github.com/unknown-horizons/unknown-horizons/blob/master/setup.py#L148

And run development/generate_atlases.py from the unknown-horizons folder.

[2019-01-15 17:32] LinuxDonald commented on #2892
@jmdejong any idea?

[2019-01-15 20:40] jmdejong commented on #2892
distribute the atlases with the build anyways?

[2019-01-15 22:11] apoleon commented on #2892
I think building the atlas files from source is a good thing no matter if it is a development or release version. You will also ensure that your tooling works and your data is modifiable which is also more in spirit with your licensing terms.

I found out that my error message appears to be releated to POSIX semaphores.

https://stackoverflow.com/questions/2009278/python-multiprocessing-permission

[2019-01-15 23:27] pau1ie opened #2894 "Exception on startup on Arch Linux"
On following the simple install instructions on release 2019.1 I discovered I had to
[code]
But even then it fails:

[code]

[2019-01-16 06:35] Beliaar commented on #2890
I checked _fife.pyd with dependencies and found out that zlib.dll is missing. There is a zlib1.dll, but that seems to be the incorrect version. Using the newest version of zlib works, though.

@LinuxDonald It seems to compile with a zlib version that is not packaged with the installer. Also zlib1.dll is not being used at all.

[2019-01-16 07:47] Beliaar commented on #2890
@LinuxDonald I just made a change in the fife repository that should fix this. You will need to repackage the release once the build is finished.

[2019-01-16 10:37] jmdejong commented on #2892
Atlas generation can safely be skipped, but the game will run slower.

The easiest way to fix the multiprocessing error is to just remove the multiprocessing entirely. All it does is speed up the install a little bit. It looks like it can safely be done synchronously.

[2019-01-16 15:42] Beliaar commented on #2890
What exactly does it not fix? If i use the new installer the game starts normally for me.

[2019-01-16 15:51] LinuxDonald commented on #2890
the libfife zip dont have the zlib.dll still only zlib1.dll

[2019-01-16 16:06] Beliaar commented on #2890
Hmm, the UH installer does install the correct zlib.dll for me.

[2019-01-16 16:08] LinuxDonald commented on #2890
Yeah because i have created an fife zip with the dll

[2019-01-16 18:48] yakotsar commented on #2890
Unknown Horizons has crashed.

We are very sorry for this and want to fix the underlying error.
In order to do this, we need the information from the logfile:
C:\Users\kotsa\Documents\My Games\unknown-horizons\log\unknown-horizons-2019-01-16_21-34-55.log
Please give it to us via IRC or our forum, for both see http://unknown-horizons.org .
rizons\\python\\lib\\site-packages']
PATHSEP: ";" SEP: "\"

[2019-01-16 20:09] jmdejong commented on #2890
I just asked someone else to try it too on windows and there was also an error popup.
The text in the popup translates to `unable to find access procedure for inflateValidate in zlib1.dll` (the word 'inflateValidate' was in english)

[2019-01-16 20:21] yakotsar commented on #2890
I have the same popup but about fife\libpng16-16.dll

[2019-01-16 20:36] jmdejong commented on #2890
When I run from within wine on my own computer it works fine (both in a 32bit and a 64bit wineprefix).
@LinuxDonald and @Beliaar does it also run work for you? and is this on real windows or wine?

[2019-01-16 20:36] pau1ie commented on #2894
I used the install from source instructions on the current git versions of fife. Pretty much as per
https://github.com/unknown-horizons/unknown-horizons/wiki/Linux#install-from-source, but followed the more detailed http://docs.fifengine.net/developer-manual/en/#_building_fifengine_on_linux
I didn't install pyenet as I wanted to play single player.

[2019-01-16 20:51] yakotsar commented on #2890
Should I set up some dependencies, fifeengine or smth, or installer must do it solo?

[2019-01-16 21:01] Beliaar commented on #2890
It works for me on a real Windows 10 (64). Just ran the installer and started the game.

[2019-01-16 21:39] jmdejong commented on #2890
FIFE is the game engine that unknown-horizons uses. See https://www.fifengine.net/ and https://github.com/fifengine/fifengine/
The installer installs FIFE along with unknown-horizons, together with the python interpreter.
To use the python interpreter that was supplied with the installer, do

    C:\Unknown-Horizons\unknown-horizons>..\python\python.exe run_uh.py --debug-log-only

or alternatively

[2019-01-16 21:43] jmdejong commented on #2890
@Beliaar is your computer in english? I notice that all the crashes happen on computers that are not in english. It would be weird though

[2019-01-16 22:06] yakotsar commented on #2890
Oh yea, now I understood, ty @jmdejong )
I want to try open run_uh.bat with admin rights, but in that case, I got the message:
"run_uh.py" is not an internal or external command, an executable program or a batch file.

is it a clue?

[2019-01-16 22:14] jmdejong commented on #2890
Does the file `C:\Unknown-Horizons\python\python.exe` exist?
because that's needed for the bat file.

[2019-01-16 22:16] yakotsar commented on #2890
yes, python.exe exists

[2019-01-16 22:21] yakotsar commented on #2890
btw, this is python 3.
and on https://github.com/fifengine/python-tutorials noticed python 2.7

is it a clue?

[2019-01-16 22:33] yakotsar commented on #2890
[fife.log](https://github.com/unknown-horizons/unknown-horizons/files/2766351/fife.log)
I found fife.log there are couple more strings before fife destroyed, maybe it helps

[2019-01-17 07:02] Beliaar commented on #2890
@jmdejong My Windows is set to german, so nope.

And procedure not found, I think, points it to being the wrong version. Though it would be strange that we get different results for the same set of files.

[2019-01-17 09:46] trailhunter commented on #2890
Hi Folks,
same Issue here.
Installed with Installer 2019.1.186-Setup-VC15-x86 as mentioned by LinuxDonald.

Following the Log:

 Unknown Horizons has crashed.

We are very sorry for this and want to fix the underlying error.
In order to do this, we need the information from the logfile:
C:\Users\walla\Documents\My Games\unknown-horizons\log\unknown-horizons-2019-01-17_10-23-14.log
Please give it t

[2019-01-17 10:03] yakotsar commented on #2890
See! I dont think that Frank - russian, so Its not about language intervention)

[2019-01-17 14:24] LinuxDonald commented on #2894
Do you use fifechan-git lastest fifengine-git lastets and UH min version 2019.1?

[2019-01-17 15:58] LinuxDonald commented on #2890
i will create tomorrow an new test version.

[2019-01-17 17:19] zezinho42 commented on #2894
I have the same crash packaging it for mageia, with latest tarballs.
fifechan-0.1.5
fife-0.4.2
UH 2019.1

First log launching with Hardware Open GL 2.1
Second log with LIBGL_ALWAYS_SOFTWARE=1 unknown-horizons -d

[unknown-horizons-2019-01-17_18-10-27.log](https://github.com/unknown-horizons/unknown-horizons/files/2769805/unknown-horizons-2019-01-17_18-10-27.log)
[unknown-horizons-2019-01-17_18-11-

[2019-01-17 17:33] zezinho42 commented on #2894
Ok, so for the second one I will continue in the 2892 bug report.
But for the first one, does UH accept OpenGL 2.1 hardware (Intel HD from 2010 in my system)?

[2019-01-17 17:34] LinuxDonald commented on #2894
i think yes but i dont have test hardware here.

[2019-01-17 17:44] jmdejong commented on #2894
@pau1ie I think you problem is in the settings.
You should go to your settings file (`$HOME/.config/unknown-horizons/settings.xml` by default) and ensure that the entry for "LogToPrompt" is either `True` or `False`.

If your settings file is more messed up, just copy the default from https://github.com/unknown-horizons/unknown-horizons/blob/master/content/settings-template.xml

[2019-01-17 22:35] zezinho42 commented on #2894
I have fixed the atlas.sql missing, but unfortunately I can just confirm that UH just crashes in GL2 hardware. I could try it with software rendering, and it is not too bad, so an enhancement could be to switch to software mode whan an extension is missing ;-)

[2019-01-18 22:07] pau1ie commented on #2894
@jmdejong Thanks, that fixed it. For some reason that variable was defined as an integer rather than boolean. Maybe I had an old config left over from ages ago. I'm happy to close this but I'll leave it open in case @zezinho42 needs it.

[2019-01-19 10:13] zezinho42 commented on #2894
You can close it. For me this was fixed too, except the hardware limitation.

[2019-01-19 10:15] #2894 closed

[2019-01-22 19:14] petterreinholdtsen opened #2895 "Please make default user name translatable"
I just had a look at the norwegian translation of the game, as the updated version showed up in Debian, and it look great.  But one misfeature was the fact that the default user name ("Unnamed Traveler") is not translated.  Please make it possible to translate the default user name.  I would like to translate it to "Navnløs oppdagelsesreisende" in the Norwegian translation.

[2019-01-22 20:41] petterreinholdtsen commented on #2895
It would be useful to be able to translate the boat names too.  For example 'Black Beard' should be 'Svartskjegg' in Norwegian.

[2019-01-22 20:57] jmdejong commented on #2895
I'm not sure if translating boat names is a good idea since the boat names are already in different languages.
Maybe we could add 'Svartskjegg' as a new boat name (or another norwegian boat name).

[2019-01-23 18:19] artarik commented on #2890
I have the same error:"..Failed loading libpng16-16.dll."

[2019-01-23 18:36] Xearoxde commented on #2890
Yeah, me too. LinuxDonald tried to fix it.

Windows 10 Pro x64 rev 1809

[2019-01-23 18:43] LinuxDonald commented on #2890
At the weekend i will create again new installer we have some changes on engine side.

[2019-01-24 07:52] baka0815 commented on #2895
Looking through the list I recognized that the German umlauts are not used but ae, oe, ue instead.
https://github.com/unknown-horizons/unknown-horizons/blob/86ac8f70736329f71764c5abb56bd0118998c9bc/content/names.sql#L97
Is there a reason we're not using ä, ö, ü here? So this would be
[code]

[2019-01-26 15:31] LinuxDonald commented on #2890
I hope this version will fix all problems: https://ci.appveyor.com/api/buildjobs/y5kepr6qasmj7qs2/artifacts/Unknown-Horizons-2019.1.209-Setup-VC15-x86.exe

[2019-01-26 15:38] jakoch commented on #2890
Nope :)
- the Dlls should be fine now, but:
- Atlas Generation is deactivated, you can see this here: https://github.com/unknown-horizons/uh-installer/blob/master/appveyor.yml#L18
  - you will run into Issue #2829 `FileNotFoundError: [Errno 2] No such file or directory: 'content/atlas.sql'`
  - the Atlas Generation fails, because PIL/Pillow can not be imported, https://github.com/unknown-horizons/

[2019-01-26 15:51] LinuxDonald opened #2896 "build_i18n appveyor"
running build_i18n
[00:00:45] setup.py:42: DeprecationWarning: dist() and linux_distribution() functions are deprecated in Python 3.5
[00:00:45]   if platform.dist()[0].lower() in ('debian', 'ubuntu'):
[00:00:45] warning: _build_i18n: Can't generate desktop files, needs intltool-merge. Try installing the package 'intltool'.

[2019-01-26 15:56] LinuxDonald commented on #2890
Okay finaly fixed: https://ci.appveyor.com/api/buildjobs/svvo97871g81l6vt/artifacts/Unknown-Horizons-2019.1.211-Setup-VC15-x86.exe

[2019-01-26 16:05] jakoch commented on #2890
Yes! Works now.

[2019-01-26 16:07] jakoch opened #2897 "crash on quit"
When quitting the game (on Windows), the game crashes.

[2019-01-26 20:32] Xearoxde commented on #2890
I can confirm it. It's now working. Thanks to God @LinuxDonald

[2019-01-26 23:53] #2890 closed

[2019-01-28 04:12] fcarsten opened #2898 "Crash: TypeError: '<' not supported between instances of '_ExtCallbackObject' and '_ExtCallbackObject'"
Game crashed while creating first tutorial game:

Starting Unknown Horizons
output will be written to logfile "unknownhorizons-DATETIME.log"
Logging to b'C:\\Users\\carsten\\Documents\\My Games\\unknown-horizons\\log\\unknown-horizons-2019-01-28_14-49-55.log' and D:\games\download\Unknown-Horizons\unknown-horizons\fife.log
Discovered old settings file, auto-upgrading: 1 -> 38
Press any key to cont

[2019-01-28 16:58] MartinKondor commented on #2898
Same with me
[code]

__Desktop__:
 - OS: Windows 10
 - Version: 1803

__When__:
Occured when I clicked to place a town.

[2019-01-28 19:12] hyst329 commented on #2898
Same with me (Windows 10 1803, game version 2019.1.211). Error shows upon accessing the settings, for example

[2019-01-28 19:45] jmdejong commented on #2898
does this happen consistently when you do some action, or only randomly?

[2019-01-29 05:56] hyst329 commented on #2898
@jmdejong it's consistent, at least for me

[2019-01-29 09:17] jmdejong commented on #2898
I have not been able to reproduce this, but based on the backtrace I can guess what's going on.

In #2899 I made '<' supported between two _ExtCallbackObject instances.

[2019-01-31 11:56] jmdejong commented on #2897
I think this is not just windows. I've had this a few times on linux as well

[2019-01-31 11:57] jmdejong commented on #2898
@LinuxDonald Do we have a new windows installer with the latest PR?

[2019-01-31 22:39] LinuxDonald commented on #2897
Is this bug fixed? We could do than an hot fix release.

[2019-01-31 22:54] jmdejong commented on #2897
I haven't been able to reproduce it right now and I don't remember the circumstances in which I had it earlier.
I think it would be easy to fix though if we'd move the "Thank you" print before the closing of the log file.

[2019-02-03 21:35] theMarix commented on #2892
I also ran into this when working on the SUSE package. Weirdly, while the `setup.py`  would generate an atlas, that was actually broken. However, this only showed when starting a game. I would get messages like `Something was searched, but not found :: content/gfx/atlas/054.png` as the `atlas.sql` contained more entries than there actually were images in `content/gfx/atlas`. Weirdly, if I run the

[2019-02-04 00:36] fcarsten commented on #2898
If there is a new installer I'm happy to test if this still happens on my machine.

[2019-02-05 11:24] LinuxDonald commented on #2898
I will create an new this weekend. Sorry for the delay

[2019-02-07 16:45] DreamingFairy opened #2900 "Crashing on tutorial"
Game crashes when trying to play tutorial. It loads the boat at the beginning then crashes.

[2019-02-07 16:57] jmdejong commented on #2900
Probably the same as https://github.com/unknown-horizons/unknown-horizons/issues/2898

The problem has been fixed in the source code, but we still have to create a windows installer with the fix.

[2019-02-07 17:24] DreamingFairy commented on #2900
Great. Thanks for your response. How will i get the fix? Just re-download when it is released?

[2019-02-09 15:24] LinuxDonald commented on #2900
Just redownload the installer if an new one is out. I will post it in #2898

[2019-02-09 15:24] #2900 closed

[2019-02-09 15:41] LinuxDonald commented on #2898
https://ci.appveyor.com/api/buildjobs/rf7waf53sttsii66/artifacts/Unknown-Horizons-2019.1.212-Setup-VC15-x86.exe

I hope this works now.

[2019-02-10 16:34] dsgagi commented on #2898
Unfortunately, now it crashes on startup. :)

[code]

[2019-02-10 17:03] LinuxDonald commented on #2898
New installer will come I forgot to comment out an line....

[2019-02-10 20:35] hyst329 commented on #2898
@LinuxDonald Is it possible to test the installer in AppVeyor to prevent such cases (i.e. not only _build_ the installer, but also _run_ it and try to run the installed game)?

[2019-02-12 09:14] LinuxDonald commented on #2898
https://ci.appveyor.com/api/buildjobs/ds5x08en0xm0jdb3/artifacts/Unknown-Horizons-2019.1.214-Setup-VC15-x86.exe

@hyst329 i dont know.

[2019-02-14 02:06] Ittiz opened #2902 "Random crashes on Win10"
I seem to get random crashes.  I don't know the source of the issue but I've provided the log.  I've attached the bottom of the log files, the whole thing is too big for github:

S(t:464): (_move_tick,100801)
S(t:464): (_move_tick,104605)
S(t:464): (_move_tick,101041)
S(t:464): (_move_tick,100180)
S(t:464): (_move_tick,104078)
S(t:464): (_move_tick,102285)
S(t:464): (_move_tick,103568)
S(t:464): (

[2019-02-14 08:12] LinuxDonald commented on #2902
@jmdejong an idea?

[2019-02-14 09:10] jmdejong commented on #2902
I have the feeling that I've seen problems with this code before, but maybe I just had a hard time wrapping my head around it when trying to understand the savegame structure.

The problem is that all tiles of a building should always have the same owner as the building itself.
Here is situation where that is not the case.
The specific trigger in this case is the AI building or expanding a settlem

[2019-02-14 12:04] Ittiz commented on #2902
A random map with 7 players.  I've had the game randomly crash several times.  It happened the first time without me loading from save.  Also after loading from a save too.  Then it's been happening every subsequent time less than a minute after I load from the last save. Like the last time I saved it what ever causes the crash was already set in motion.  I've attached the game save if you're inte

[2019-02-14 16:49] jmdejong commented on #2902
I can reproduce the crash with that savegame; it's not just windows.

I suspect that this problem is rare when there are few players, but with many players it gets more likely to trigger.

[2019-02-14 23:37] Ittiz commented on #2902
Yeah I played around with the game save and it seems one of the AI players is trying to build a town too near the the player's buildings.  I found if I quickly build an outpost in the area so he can't build his town there and he moves on somewhere else and the crash is avoided.

[2019-02-17 19:42] theGeneralTom opened #2904 "very frequent crashes making the game unplayable (win10): 4 logfiles"
[unknown-horizons-2019-02-17_20-27-33.log](https://github.com/unknown-horizons/unknown-horizons/files/2873321/unknown-horizons-2019-02-17_20-27-33.log)
[unknown-horizons-2019-02-17_20-27-51.log](https://github.com/unknown-horizons/unknown-horizons/files/2873322/unknown-horizons-2019-02-17_20-27-51.log)
[unknown-horizons-2019-02-17_20-28-04.log](https://github.com/unknown-horizons/unknown-horizons/

[2019-02-18 13:43] jmdejong commented on #2904
Looks like this is the same as https://github.com/unknown-horizons/unknown-horizons/issues/2898

Have you tried the installer in the latest comment in that thread?

[2019-02-18 16:36] theGeneralTom commented on #2904
Now in tried the installer and it works. No more crashes. Thank you! :-)

[2019-02-18 16:37] #2904 closed

[2019-02-20 22:09] fcarsten commented on #2898
Fix confirmed. Just tried the version in the link by @LinuxDonald and it no longer crashes when starting the tutorial.

[2019-04-15 10:54] flupke256 opened #2905 "Crash"
Hi,

Here is the log produced :

Arguments: (<horizons.ai.aiplayer.AIPlayer object at 0x07D72B70>, <horizons.ai.aiplayer.goal.donothing.DoNothingGoal object at 0x132C7370>)
--- Logging error ---
Traceback (most recent call last):
  File "E:\Unknown-Horizons\python\lib\logging\__init__.py", line 983, in emit
    msg = self.format(record)
  File "E:\Unknown-Horizons\python\lib\logging\__init__.py",

[2019-04-15 20:31] jmdejong commented on #2905
What were you doing when this crash occured? How did you install the game?

[2019-04-16 07:26] flupke256 commented on #2905
The game has been installed from the official site yesterday, latest Windows version with installer, on my computer which is Windows 10 64 bits.
I think I was placing some buildings ( normal house, depot, ... ), when a freeze occured, and then a crash with the log.

[2019-04-27 21:26] j-richey opened #2907 "Fails to run on Win 10 if installed to path containing spaces"
After installing Unknown Horizons on Windows, launching the game from the desktop shortcut I get the following error:

[code]

When installing the game I changed the install path from ``C:\Unknown-Horizons`` to  ``C:\Program Files\Unknown-Horizons``. I suspect the space in the path is causing this problem.

**Operating System:** Windows 10 Home
**Unknown Horizons version:** Unknown-Horizons-2019.1

[2019-05-07 22:32] arie-itecho opened #2908 "Segfault on start"
The game segfaults when I run it. Here's what I got from gdb:

[code]

[2019-05-10 05:42] arie-itecho commented on #2908
OK, since I didn't get a reply on this issue yet, I decided to dig into the code myself.

I ran the project through my vscodium setup with the python fault finder enabled. The crash happens on line 109 of run_uh.py `import horizons.main`

Here's the output from the fault finder:
[code]

Any ideas?

[2019-05-10 06:14] arie-itecho commented on #2908
So I figured out how to do a backtrace in gdb. Here's the interesting part of the output:
[code]

Any ideas on what I should be looking for?

[2019-05-10 09:28] jmdejong commented on #2908
How did you install unknown horizons? And how did you install fife and fifechan?

[2019-05-11 09:38] arie-itecho commented on #2908
I built fife and fifechan from the source according to the instructions in the uh wiki. I installed uh by running setup.py

[2019-05-21 22:07] t-karcher opened #2909 "Trackpad scrolling crashes game"
Using two-finger scrolling on my touchpad immediately crashes the game, even in the start menu. Mouse wheel scrolling works as expected (does nothing in the menu, scrolls just fine in the game).

**Steps to reproduce:**
Start game, scroll anywhere (up, down, left, right) using the two-finger gesture on the touchpad. Game crashes.

Python version: sys.version_info(major=3, minor=7, micro=0, release

[2019-05-22 10:03] jmdejong commented on #2909
This looks similar to https://github.com/unknown-horizons/unknown-horizons/issues/2753 which I thought I fixed before (in https://github.com/unknown-horizons/unknown-horizons/pull/2829, which is in 2019.1).
Does this indeed happen with any horizontal scrolling?

[2019-05-22 11:11] t-karcher commented on #2909
Yes, moving two fingers anywhere in any game state leads to an immediate crash. I first came across this when I tried zooming in the map with the touchpad zoom gesture, but it also crashes in the menu directly after startup when moving two fingers in any direction on the touchpad.

[2019-05-22 12:37] jmdejong commented on #2909
ok, my guess now is that it's not related to the previous scrolling issues, but it is a problem in FIFE in handling the events.

The latest version of SDL has the SDL_FINGERMOTION event type, but [fife's eventmanager](https://github.com/fifengine/fifengine/blob/e876e86d09099e6f8a55d40c3db0ad4550c29c69/engine/core/eventchannel/eventmanager.cpp#L343) has a switch statement that does not include that

[2019-07-12 20:19] kyrios123 commented on #2908
I get the same problem

[2019-07-12 20:44] LinuxDonald commented on #2908
Guys what distro are you using? And fife/fifechan and uh lastest git version? Or last release version?

[2019-07-13 06:43] kyrios123 commented on #2908
I use Solus it's a x86_64 distro with kernel 5.1.14
Python 3.6.9
fifengine 0.4.2 / fifechan 0.1.5, both built from the latest tarball.

[2019-08-10 16:43] Jeeppler commented on #2700
I just installed Unknown Horizons in [PureOS](https://www.pureos.net/). It comes by default with version 2019.1.

PureOS is a free GNU/Linux distribution based on Debian.

[2019-08-10 16:48] Jeeppler opened #2911 "Sound effect options"
In Unknown-Horizon 2019.1, every time you hover with your mouse over menu buttons you hear a sound. This is annoying to me and I would love to see an option which allows me to disable those hover sounds.

Currently, I solved the issue by disabling all sound effects. However, I do want to hear other sound effects. What I would like to see is more options in the sound settings.

[2019-08-24 05:50] leela52452 opened #2912 "trailing stop issue on weblate for locale hindi [hi]"
hindi sentences usually end with vertical line.
see [wikipedia](https://en.wikipedia.org/wiki/Full_stop)

how to resolve this issue ?

[2019-09-11 09:26] MarkusHackspacher opened #2918 "pycodestyle"
In TravisCI show this warning:

[code]

Question: Is is possible to update pycodestyle to version 2.5 (now in requirements.txt v2.3.1)?

[2019-09-12 05:04] #2918 closed

[2019-09-22 08:08] wattsra commented on #2476
Since UH now supports only Python3. Can we close this issue?

Also I can't recreate this issue with Python3 as it stands.

[2019-09-22 09:28] #2476 closed

[2019-09-25 08:25] wattsra commented on #1938
Hi - new here, but trying to pick this one up to start getting more involved in this project.

The piece I am struggling with most of all is how to get the input from the "SelectSaveGameDialog" line.

I trace the route of the functions through multiple files but I seem to get lost in a loop of two files referencing each other and not getting anywhere. Any help would be greatly appreciated.

Just t

[2019-10-12 20:21] Endogen commented on #2329
I'd also like to have this great game working on macOS via cask. Any chance to get that working at some point?

[2019-10-14 12:11] mustafa1453 opened #2922 "Unable to join multiplayer game on Win10"
I've managed to start server on my machine, but I can't run game with parameter "--mp-master". Actually I can't run from command line at all, only using shorcut. I tried to launch game and then choose multiplayer mode. After a few seconds games tells me that it can't connect to master server.

So the question is - how to setup master server during launch of the game? Maybe there is some setup or c

[2019-10-14 14:19] LinuxDonald commented on #2922
UH multiplayer don't really works. We are already working of an complete rewrite of the game based with godot engine instand of fifengine.

[2019-10-16 17:40] TimSoethout commented on #2908
I have the same problem on OSX. Python 3.7.4.
After a lot of pain fifechan and fifengine from master.
Had to remove some build options, might influence this?

[code]

[2019-10-21 19:57] Translator5 commented on #437
AUR says "NO".

[code]

[2019-10-26 09:19] ditokp opened #2923 "Fullscreen Bug on Windows 10"
After I'm installing the game, I change the resolution to 1920 x 1080 and check the fullscreen. After the game restart it become like this:
![Unknown-Horizon-2019 1-Bug](https://user-images.githubusercontent.com/27815899/67617314-2543b100-f80c-11e9-8fe4-697b5da21a1e.png)

Re-installing the game is not fix the problem.

Specs:
Screen Resolution: 1920 x 1080

[2019-11-24 07:36] Wuzzy2 opened #2925 "Pigsty does not look like a pigsty"
Not a native English speaker here, but I believe in English, “pigsty” is a building/house for pigs. https://en.wikipedia.org/wiki/Pigsty

However, in UH 2019.1, the pigsty is just a dirty field with a fence around it. There's no house.

Is this name chosen by mistake, maybe?

[2019-11-24 07:45] Wuzzy2 opened #2926 "Incorrect Doctor tooltip"
The doctor building has the following tooltip:

This is wrong. The doctor consumes medical herbs, not herbs. Herbs and medical herbs are 2 separate resources.

* herbs: come from herbay
* medical herbs: farm turns herbs to medical herbs

Version: 2019.1.

[2019-11-24 08:01] Wuzzy2 opened #2927 "Infinite deposits"
In UH 2019.1, it seems all deposits are infinite, is this intentional?

How to reproduce:

1. Build a clay pit
2. Extract its resources until it runs out
3. Demolish it
4. Build another clay pit on the same spot

Boom! Now the resource count has reset to the full amount again. I don't know what's the point of adding a limit to deposits if you can circumvent it like this.

After you demolished the

[2019-11-24 09:25] Wuzzy2 opened #2928 "Incorrect tobacco-related tooltips"
The tobacconist building has the following tooltip:

This is wrong. In reality, this building produces tobaccos out of tobacco *leaves*.

---

The tobacco field has the following tooltip:

Also wrong. It produces tobacco plants.

Version: 2019.1.

[2019-11-24 09:29] Wuzzy2 opened #2929 "Incorrect weaver's hut tooltip"
Weaver's hut tooltip:

This is wrong. It turns wool into textile.

Version: 2019.1

[2019-11-24 09:35] Wuzzy2 opened #2930 "Weird size proportion sheep vs cattle"
Place a pasture (=sheep) and a cattle run (=cattle/cows) next to each other.
And watch.

Notice anything odd?

No?

Let me help you a little: Why are the sheep much larger than the cattle? XD

Version: 2019.1

[2019-11-24 09:59] Wuzzy2 opened #2931 "Forum is broken"
https://forum.unknown-horizons.org/

I get “502 Bad Gateway”. (also with `http://`)

[2019-11-24 13:01] LinuxDonald commented on #2931
I will remove all links about the forum. Because it no one used it.

[2019-11-24 13:03] LinuxDonald commented on #2927
Yeah we know about this bug. For years now. But it don't will get fixed in this version of UH. We don't have any devs that's are working on it. We porting UH over to Godot Engine.

[2019-11-24 13:06] #2898 closed

[2019-11-25 17:01] jmdejong commented on #2930
Could you add a screenshot?

[2019-11-25 21:34] Wuzzy2 commented on #2930
https://satoshiupload.com/images/lPtkJVBM53.png

Correction. Cows and sheep are roughly the same size in the game. This just looks so wrong.

Note: This issue is solely about the graphical design of the game.

[2019-11-25 21:37] Wuzzy2 commented on #2930
Also compare the size of cows with other animals, like pigs (from pigsty) and deer (wild animals). This makes cows appear really small.

[2019-12-05 20:50] winterwolf opened #2933 "Can you please release your game in AppImage format?"
Building from source it's a real PAIN! I waste a lot of time to get some unknown errors when building dependencies and can't provide any info because can't endure it longer. I'm just a user and wanna just play a game, I'm not a hacker! -__-

[2019-12-06 23:03] gorgobacka commented on #2908
I did the same and also get a Segmentation fault.

[2019-12-17 09:28] LsHallo commented on #2933
This is a project since 2017: https://github.com/unknown-horizons/unknown-horizons/projects/1
Not much has happened since as I can tell. I'm not on mac myself so I can not help with that endeavor.

[2019-12-29 20:03] tobiasjaster opened #2934 "Removed Package function in setup.py"
Since python3.8 python-module "platform" does not include dist() already. Setup.py uses this function to determinate installation path. Similar function can be found in "distro" module or wrapped from platform.platform()-String

[2020-01-15 16:06] clrg commented on #2931
Maybe you guys want a forum on the [FreeGameDev forums](https://forum.freegamedev.net/), a bit like SuperTux or STK?

[2020-01-15 18:09] Sawyer48 commented on #2931
Good idea to both.

On Wed, Jan 15, 2020, 08:06 Charles Goodwin <notifications@github.com>
wrote:

[2020-01-17 12:53] clrg commented on #2931
What layout would you like? Just a simple one? "General" & "Development"?

[2020-01-17 13:17] siccegge commented on #2931
@LinuxDonald want any data from the old system to store somehwere? otherwise I'm just going to kill it ;-)

[2020-01-17 17:25] LinuxDonald commented on #2931
You can kill it.

[2020-01-17 18:28] LinuxDonald commented on #2931
@clrg for the first an simple one would be nice.

[2020-01-22 13:25] clrg commented on #2931
Ok, I'll set it up. You guys will need to register and give me your usernames so I can add you as mods to the forum.

[2020-01-22 13:45] Wuzzy2 commented on #2931
Just amazing!

[2020-01-22 15:31] clrg commented on #2931
https://forum.freegamedev.net/viewforum.php?f=100

[2020-01-22 17:06] LinuxDonald commented on #2931
Can you give me mod rights or something? Same username as here.

[2020-01-22 18:04] Wuzzy2 commented on #2931
The website link in the forum description points to Valyria Tear homepage.

[2020-01-26 01:51] Wuzzy2 opened #2935 "Put this repository into archive mode"
If you don't plan to make any new commits to this repository, I highly recommend to put it into archive mode. This freezes the entire repo, including issues and PR and turns it read-only, but this decision can be reversed any time.

The good thing about archive mode is that is also adds a highly visible message above the repo so that people won't mistake it for the REAL repository.

[2020-01-26 01:53] Wuzzy2 commented on #2931
OK, there's now a new forum, great!

The forum works now.

New issue created here: https://github.com/unknown-horizons/unknown-horizons.github.io/issues/23

[2020-01-26 01:53] #2931 closed

[2020-02-22 17:42] jrgryph opened #2936 "Game not starting in Ubuntu 18.04"
Installed with apt.
here's my terminal output...
I have NVIDIA video drivers installed too.

 unknown-horizons -d
Logging to /home/jonsmith/.unknown-horizons/log/unknown-horizons-2020-02-22_10-34-39.log and /usr/share/unknown-horizons/fife.log
Python version: sys.version_info(major=2, minor=7, micro=17, releaselevel='final', serial=0)
Platform: Linux-4.15.0-88-generic-x86_64-with-Ubuntu-18.04-bion