[2016-08-30 10:00] CrafterSvK commented on #2451
It works for languages that have translated tutorial. If you have not it will select Catalana or something like that and than it doesn't recheck on the other scenario and keeps Catalana... (Sorry but I am ill. So i can't concentrate on what I am typing)

[2016-08-30 10:01] janexx commented on #2456
Does anyone know where the current backgrounds come from? Maybe I can make new ones...

[2016-08-30 10:02] MasterofJOKers commented on #2451
That's a much better explanation. Thank you.

[2016-08-30 10:03] CrafterSvK commented on #2456
Can you tell me location in the git so I can check them out?

[2016-08-30 10:05] janexx commented on #2456
https://github.com/unknown-horizons/unknown-horizons/tree/master/content/gui/images/background/mainmenu

[2016-08-30 10:08] CrafterSvK commented on #2456
They are painting of William Bradford

[2016-08-30 11:05] CrafterSvK commented on #2456
So I found a picture check it out if you can http://bestcraft.sk/cdn/uh/bg_1.png (That's my temporyry CDN)... I need someone to make scaling code.

[2016-08-30 11:29] janexx commented on #2456
Nice! Do find other images, too (maybe without ice)? And under which licence are the images?

[2016-08-30 11:31] CrafterSvK commented on #2456
Creative Commons license.

[2016-08-30 11:47] CrafterSvK commented on #2456
http://bestcraft.sk/cdn/uh/bg_1.png This one is with ice so It is not relevant
http://bestcraft.sk/cdn/uh/bg_2.png
http://bestcraft.sk/cdn/uh/bg_3.png
http://bestcraft.sk/cdn/uh/bg_4.png
http://bestcraft.sk/cdn/uh/bg_5.png
If they are okay let me know. :) (The script is needed)

[2016-08-30 12:09] janexx commented on #2456
The 5th one seems a bit pixelated, the others seem good to me. We need the ice image maybe later. There is an ice map planned (maybe someday in 10 years ;) ).

@LinuxDonald Is the script task maybe something you can do? As I understand it, we need a script to scale the big images above to smaller sizes for different displays (monitor, tablet,...)

[2016-08-30 12:11] CrafterSvK commented on #2456
Okay. I can replace it no problem.

@LinuxDonald Nothing extra hard. Just pick resolution from options and scale the image so it can fill the whole screen.

[2016-08-30 12:20] CrafterSvK commented on #2456
5th picture was updated. It is different picture but seems to be nice aswell. This paint pictures are hard to find in high resolutions cause they were digitally taken 12 years ago.

[2016-08-30 12:44] CrafterSvK commented on #2448
Is that a box with cost info and building info scripted or it is picture?

[2016-08-30 12:52] ChrisOelmueller commented on #2448
The bug here is that the icons inside the tooltip do not seem to resize. They're supposed to be much smaller (16x16 IIRC) and thus there should be more space for the text to fit in.

As far as tweaking the tooltips, once upon a time I started work on that, but it went nowhere.

[2016-08-30 12:56] CrafterSvK commented on #2448
They have to resize but they didn't?

[2016-08-30 12:58] ChrisOelmueller commented on #2448
The coins, boards, tools in the first line, yes.

[2016-08-30 13:01] CrafterSvK commented on #2448
That's weird. Can you send me a link onto exact python file please?

[2016-08-30 13:05] ChrisOelmueller commented on #2448
You can start digging here: https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/gui/tabs/buildtabs.py#L150

[2016-08-30 13:16] CrafterSvK commented on #2448
Too complicated for Java programmer. But it looks like it should work.

[2016-08-30 13:40] CrafterSvK commented on #2219
Easiest thing is remove the hover thing. It is confusing and I had to learn how it works. That would be much easier :)

[2016-08-30 13:45] CrafterSvK commented on #2456
There is another problem.
![snimka obrazovky z 2016-08-30 15-42-33](https://cloud.githubusercontent.com/assets/8365659/18091367/a95c01de-6ec8-11e6-891d-083c9902d5e8.png)
In this picture you can see that the fade effect at the bottom of the screen is not wide as picture and on 1920x1080 resolution it also floats. Need some fixing there.

[2016-08-30 13:57] jorgesumle commented on #2219
@CrafterSvK I like that feature :(

[2016-08-30 14:00] janexx commented on #2219
I always don't know, wheter the hover message tells me the state how is it now or how it should be, when I click on an arrow. I am always confused with this menu.

[2016-08-30 14:22] LinuxDonald commented on #2219
I think the gui needs that hover get removed and a little redesign.

[2016-08-30 14:49] CrafterSvK commented on #2219
It is okay I guess but it is confusing. If you remove it. It iwll be much better

[2016-08-30 15:04] CrafterSvK opened #2462 "Funny quotations cannot be translated"
I cannot find funny quotations on weblate. It leaves untraslated text when turning them on.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37415468-funny-quotations-cannot-be-translated?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2016-08-30 15:06] ChrisOelmueller commented on #2462
Could you give an example of what you expected to work, and what happened instead?

[2016-08-30 15:07] CrafterSvK commented on #2462
Funny quotations aren't translatable 'cause you can't find them on weblate

[2016-08-30 16:38] ChrisOelmueller commented on #2456
The "fade" effect is just another image: https://github.com/unknown-horizons/unknown-horizons/blob/master/content/gui/images/background/mainmenu/quotearea.png

Could try tiling that (displaying next to each other multiple times) or increasing its size.

[2016-08-30 16:41] CrafterSvK commented on #2456
Yeah that would be cool.

[2016-08-30 17:09] LinuxDonald commented on #2456
Sorry but I think that is an job for @MasterOfJokers.

[2016-08-30 17:52] MasterofJOKers commented on #2462
Funny quotes are in the database/an sql file, iirc.

[2016-08-30 18:49] MasterofJOKers commented on #2456
![too_much_pressure](https://cloud.githubusercontent.com/assets/697766/18102560/3b943d94-6ef3-11e6-8d91-fdc8975f48c9.jpg)

[2016-08-30 20:14] CrafterSvK commented on #2456
Don't worry you have time. :)

[2016-08-30 20:16] CrafterSvK commented on #2462
Maybe rewrite them so u can use them with weblate? Please?

[2016-08-30 20:29] MasterofJOKers commented on #2462
I was hoping for a revelation from @ChrisOelmueller after this additional fact. Or rather something like "yeah, that never worked".

[2016-08-30 20:32] CrafterSvK commented on #2462
Hopefully he will respond and make something about it.

[2016-08-31 06:11] ChrisOelmueller commented on #2462
Yeah, that never worked. ;-)

No, seriously, I don't have the time right now to look for my crystal ball and guess 75% of the information needed for me to have UH conversations. If you could prepare a short description of what you tried to do, what you expected to happen and what happened instead, that would be extremely helpful for me.

[2016-08-31 06:25] darmo1112 opened #2463 "ideas to win the game"
i like this game..... but when i play with no target..... i bored

i want to share myopinion
in game i saw pirate, so we can make gameplay about hunting pirate.... like the first player that kill 10 pirate will win....
with limiting ship we can build like 3 trade ship and 2 warship per settlement, make player that want to build more warship need many settlement too... many settlement make more run

[2016-08-31 07:06] MasterofJOKers commented on #2462
@CrafterSvK https://github.com/xseanl/unknown-horizons/blob/master/horizons/gui/modules/loadingscreen.py#L38
They are not supposed to be translated. Seems to be a design decision.

And the fact I added, was wrong, sorry.

[2016-08-31 07:09] MasterofJOKers commented on #2456
Because its simpler that way? Maybe we can update the loaded XML at run-time with the correct size. But is a cropped image better? Even so, what size would that image be?  x720? x1080? Aren't there 4K displays out there now? My laptop has x960 iirc. Scaling at run-time would be better, I guess but would also need additional computing resources.

[2016-08-31 07:12] MasterofJOKers commented on #2463
Thank you for your input. That's I good idea, but my guess would be, that we need to do some work on the game first, to make this happen. We'll keep the issue around to remember.

[2016-08-31 07:54] CrafterSvK commented on #2462
Okay. Your game your decision. :)

[2016-08-31 07:58] CrafterSvK commented on #2456
I made 1920x380ish picture that can be stretched when higher res and cropped when lower res. 4k displays will have a lot of problems because it will be small the ui and stuff.

[2016-08-31 12:16] CrafterSvK opened #2464 "Background of menu and loading screen"
Picture for main menu and loading screen

http://bestcraft.sk/cdn/uh/bg_2.png
http://bestcraft.sk/cdn/uh/bg_3.png
http://bestcraft.sk/cdn/uh/bg_4.png
http://bestcraft.sk/cdn/uh/bg_5.png

WARNING! Hell of a lot of Math
Because of fife engine there were a problem with positioning the loading screen.

There is something we call position_technique which is way better but works only in VBox, HBox and o

[2016-08-31 12:18] CrafterSvK commented on #2464
Also here is XML file which works with 1080p monitor so test it out...

`<?xml version="1.0"?>
<Container size="1920,1080" name="loadingscreen">
	<Icon image="content/gui/images/background/mainmenu/loading.png" position="835,471" />
	<Icon image="content/gui/images/background/mainmenu/quotearea.png" position="0,873" />

	<Label name="loading_label" position="860,471" text="Loading…" font="large_lo

[2016-08-31 14:34] jorgesumle commented on #2464
I have a 1080p, I can test it. Where is the code?

[2016-08-31 14:45] CrafterSvK commented on #2464
/content/gui/xml/mainmenu/loadingscreen.xml
But you need pictures above to do it. You wont see it anyways.

[2016-08-31 15:41] jorgesumle commented on #2464
OK, it seems to work fine for 1920x1080.
![captura de pantalla de 2016-08-31 17 31 59](https://cloud.githubusercontent.com/assets/14212780/18135185/4c4d2ec6-6fa1-11e6-9207-836fbd9b7d7d.png)
![captura de pantalla de 2016-08-31 17 32 28](https://cloud.githubusercontent.com/assets/14212780/18135215/6b90e58e-6fa1-11e6-8037-f0cbf3460562.png)
I have found though that the "Change background" text is very

[2016-08-31 15:47] CrafterSvK commented on #2464
Well thanks for testing. Now we need to automate it so it will pick right resolution on load :)

[2016-08-31 19:41] CrafterSvK commented on #2464
#2465

[2016-08-31 19:41] CrafterSvK commented on #2456
#2465

[2016-08-31 19:53] janexx commented on #2464
I have tested it, too. BG_5 has a bad image quality (pixelig). The other images are very good. And on my display the quote area is not large enough:

![neu_menu_footer_toosmall](https://cloud.githubusercontent.com/assets/6216898/18144044/0f35786c-6fc5-11e6-9245-336382f5eedf.png)
My screen resolution is 1680x1050.

[2016-08-31 19:55] MasterofJOKers commented on #2464
What resolution does your display have?

[2016-08-31 19:55] CrafterSvK commented on #2464
I have custom version. See #2465

[2016-08-31 19:55] janexx commented on #2464
1680x1050

[2016-08-31 19:58] CrafterSvK commented on #2464
You need to update /horizons/gui/modules/loadingscreen.py
with these http://bestcraft.sk/cdn/uh/loadingscreen.py

[2016-08-31 19:58] janexx commented on #2464
Ah sorry I wasn't in the branch GUI-Graphics-update. It works!

[2016-08-31 19:59] CrafterSvK commented on #2464
:) I will replace that pixelate picture I can't find any without ice with Creative Commons and no watermarks.

[2016-08-31 20:13] janexx commented on #2464
Maybe we could later add some graphics as background for the texts instead of using text-background? I mean it's ok, but not very beautiful and fancy. :)

[2016-08-31 20:14] CrafterSvK commented on #2464
Yeah that would be great :)

[2016-08-31 20:25] CrafterSvK opened #2466 "Game sometimes failed to exit"
Sometimes is game unquitable. I am running it with terminal so i can terminate i iwth clicking the cross.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37462286-game-sometimes-failed-to-exit?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2016-08-31 20:57] LinuxDonald commented on #2466
Yeah i know that bug but i dont know why i happens... I have it often too when i want to close uh :(

[2016-08-31 21:00] LinuxDonald commented on #2464
https://github.com/unknown-horizons/unknown-horizons/pull/2465

Fixed. Thx @CrafterSvK fot that :)

[2016-08-31 21:00] #2464 closed

[2016-08-31 21:01] #2456 closed

[2016-08-31 22:50] jorgesumle opened #2468 ""Change background" text in main menu is almost impossible to read"
![captura de pantalla de 2016-09-01 00 50 10](https://cloud.githubusercontent.com/assets/14212780/18149042/0eb735ce-6fde-11e6-9fba-fd42b9e6c19f.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37466325-change-background-text-in-main-menu-is-almost-impossible-to-read?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issu

[2016-08-31 22:52] CrafterSvK commented on #2468
I know about this thing. @janexx Can you please change changebackground image with semi-transparent background please

[2016-09-01 10:05] janexx commented on #2468
How can this be changed? It is a code thing, not a graphic one, isn't it? Or shoud I create a background graphic for this text?

[2016-09-01 10:10] ChrisOelmueller commented on #2468
A few ideas: The button color could be changed, you could introduce some kind of opacity to make it stand out more, the button could get a background image assigned (if that is possible).

[2016-09-01 14:20] CrafterSvK commented on #2468
I've tried with @MasterofJOKers some kind of label magic. Gotta finish this today.

[2016-09-01 14:55] CrafterSvK commented on #2468
#2467

[2016-09-01 14:55] CrafterSvK commented on #2219
#2467

[2016-09-01 17:57] CrafterSvK opened #2469 "Webpage typo"
http://www.unknown-horizons.org/download/sources/s-linux/ Check archlinux and add
"pacman -S". That command wont do anything.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37494179-webpage-typo?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2016-09-01 18:56] CrafterSvK commented on #2406
So what's going on with these.

[2016-09-01 19:55] CrafterSvK commented on #2455
AI works perfectly now. I think only small bug...

[2016-09-01 20:29] CrafterSvK commented on #2468
Latest merge solve the issue :)

[2016-09-01 20:31] MasterofJOKers commented on #2468
e3536a13

[2016-09-01 20:31] #2468 closed

[2016-09-01 23:56] LinuxDonald commented on #2469
I will fix that today. Thank you :-)

[2016-09-01 23:57] LinuxDonald commented on #2406
This needs a lot of work. Not an task for the next release.

[2016-09-02 05:36] jorgesumle commented on #1327
Solved #2434

[2016-09-02 05:36] #1327 closed

[2016-09-02 09:51] jorgesumle commented on #1786
This is a really confusing text from the tutorial, it also contains errors. I can hardly understand the last part. Suggestions to improve it?

Bla blab bla about the Signal Fire...

Errors:

- advertisment
+ advertisement

- it
+ he

[2016-09-02 10:00] LinuxDonald commented on #1786
The Ship is it not he ;)

[2016-09-02 10:01] CrafterSvK commented on #1786
@LinuxDonald the trader will also stop by and look into your Warehourse if HE planned to...

[2016-09-02 10:02] LinuxDonald commented on #2469
Fixed

[2016-09-02 10:02] #2469 closed

[2016-09-02 10:04] LinuxDonald commented on #1786
@janexx @MasterofJOKers is that correct?

[2016-09-02 10:05] CrafterSvK commented on #1786
If you say trader shop it is IT if it is only trader then HE

[2016-09-02 10:27] jorgesumle commented on #1786
The trader isn't a man?

[2016-09-02 10:46] LinuxDonald commented on #1786
No trader is an ship not an person.

[2016-09-02 10:47] CrafterSvK commented on #1786
How can be trader ship. Doesn't make sense

[2016-09-02 10:48] LinuxDonald commented on #1786
In the game the trader is an ship. Trade ship.

[2016-09-02 11:41] jorgesumle commented on #1786
I thought the Free Trader was a man XD.

[2016-09-03 12:18] janexx commented on #1786
I asked a native English speaking friend. :)  He says:

Thus the explanation should be that if you set a Signal Fire and the ship passes within range, the trader will then look into your (W)arehouse, even if he had planned to sail past it.
That would be the correct grammar . I can see there are probably more things like this, but the style is quite good from what I have seen here.

So maybe we sho

[2016-09-03 12:22] LinuxDonald commented on #1786
It gives Only one type of trader not more. And I think ingame we have there too only one trader ship?

[2016-09-03 12:37] janexx commented on #1786
Ok. I would correct it like this then:
![trader_tutorial_korrekturen](https://cloud.githubusercontent.com/assets/6216898/18224843/cb8d6bd0-71e3-11e6-8ff4-0ca2a0f5c405.png)

[2016-09-03 13:07] apoleon opened #2471 "Please do a new release of UH and fife to fix crash on startup with Swig >= 3"
Hello,

Unknown Horizons has become unplayable on Debian distributions due to the issue that was already reported at

https://github.com/unknown-horizons/unknown-horizons/issues/2295

Related Debian bug report is at

https://bugs.debian.org/797998

Debian ships the latest tagged releases of UH and fife and Swig 3 is now the default. Using Swig 2 is not an option. Could you do a new release for UH

[2016-09-03 13:36] CrafterSvK commented on #2471
Do you mean 2014.1 version?

[2016-09-03 13:40] CrafterSvK commented on #2462
Funny quotes are not supposed to be translated...

[2016-09-03 13:40] #2462 closed

[2016-09-03 13:48] apoleon commented on #2471
On 03.09.2016 15:36, Jakub Janek wrote:

Yes, 2014.1 is the latest tagged release which is also available in Debian.

[2016-09-03 13:48] CrafterSvK opened #2472 "Space optimalization"
As I looked at some code I saw that we are using full color version of icon and greyscale version of building in buildmenu. Does fife know how to do greyscale effect without needing another image? Game will require less space to install.

**Closing issue** 180KB is not really much

[2016-09-03 13:53] CrafterSvK commented on #2471
Unknown Horizons team didn't release stable version of this game for a long time. They are doing it in their free time. As I said 2016.1 will be released this year.

[2016-09-03 14:09] #2472 closed

[2016-09-03 14:45] LinuxDonald commented on #2471
Hello @apoleon the next stable release is planned for december. The new version of fife and fifechan will be release maybe before or togehther with UH.

[2016-09-03 16:25] LinuxDonald commented on #2013
@CrafterSvK do you want maybe work on this?

[2016-09-03 16:25] LinuxDonald commented on #1971
@CrafterSvK do you want maybe work on this?

[2016-09-03 17:24] CrafterSvK commented on #1971
Yeah sure I will take a look

[2016-09-03 17:39] LinuxDonald commented on #1971
For translation we have an script do only code changes :-)

[2016-09-03 18:14] CrafterSvK commented on #1971
#2473

[2016-09-03 19:25] jorgesumle commented on #1786
Thanks, janexx.

the missing part is

That needs to be solved, I'll open a new issue later because this issue is centered on the content. @LinuxDonald, what do you think about @janexx correction. If we all agree on that, I'll push the corrections tomorrow.

[2016-09-03 20:02] LinuxDonald commented on #1786
For me you can do it.

[2016-09-03 20:35] janexx commented on #1786
One last correction:
... Warehouse, even if he had planned to sail past it.

@jorgesumle I also think that you can push it tomorrow. :) Thanks!

[2016-09-03 21:55] jorgesumle opened #2474 "The Journal doesn't display some sentences well"
Sometimes, there are words that end on the next page of the Journal.
![error2](https://cloud.githubusercontent.com/assets/14212780/18227820/72e6a674-7231-11e6-9610-343b7ec14742.png)
![error3](https://cloud.githubusercontent.com/assets/14212780/18227823/7cdf07fc-7231-11e6-906a-9d1203ae1b8b.png)
We have also come across a missing end of sentence. But there may be more of these. I don't know.
![error

[2016-09-03 22:42] jorgesumle commented on #1786
Done with that!

[2016-09-03 23:01] LinuxDonald commented on #1786
Does the tutorial need more work or is this issue done?

[2016-09-03 23:02] CrafterSvK commented on #1786
This looks much better

[2016-09-03 23:10] jorgesumle commented on #1786
There may be more minor errors and we should at least make some of these improvements: http://wiki.unknown-horizons.org/w/Talk:Tutorial

[2016-09-04 01:58] jorgesumle commented on #2474
Changed line 220 from horizons/gui/widgets/logbook.py
[code]
\-				             min_size=(335, 0), max_size=(335, 508),
\+                                          min_size=(325, 0), max_size=(325, 335),

![captura de pantalla de 2016-09-04 02 48 56](https://cloud.githubusercontent.com/assets/14212780/18228338/85b465de-724a-11e6-8aa7-b6033f3141e8.png)
![captura de pantalla de 2016-09-04 02 50 30](

[2016-09-04 07:59] CrafterSvK commented on #2474
You changed maximal width of label which makes it smaller and i can fit onto page. min_size and max_size is little weird in fife.

[2016-09-04 09:03] ChrisOelmueller commented on #1786
Just chiming in here to mention that the Trader, in fact, can have more than one ship. I'd just go and assume the Trader to be an entity employing one or multiple ships to carry out the trading chores.

But yeah, even if the whole story didn't add up at all (it mostly does) I'm not sure investing days of valuable contributor time into small text tweaks like here makes much sense right now. Can we

[2016-09-04 09:08] ChrisOelmueller commented on #2191
@LinuxDonald

When your cursor hovers an area belonging to a settlement, it shows the cityinfo widget (contains e.g. the name of that settlement) at the top of your screen.

When you no longer hover a settlement, that widget is hidden.

Tooltips are shown when you hover the settlement name inside the cityinfo widget of player-founded settlements, to indicate that you can click there and go rename

[2016-09-04 09:43] CrafterSvK commented on #1786
@jorgesumle wiki has been moved to github So if you want to make changes make them there

[2016-09-04 11:05] LinuxDonald commented on #2191
Thx for the explanation :-)

[2016-09-04 12:19] LinuxDonald commented on #2474
+ min_size=(325, 0), max_size=(325, 335),
Bigger Valves not work?
For exmaple: min_size=(335, 0), max_size=(335, 400),

[2016-09-04 14:16] LinuxDonald commented on #2219
@CrafterSvK you could fix the other points from the issue too?

3. The "scrollbar" which adjusts item load-unload amount should have easily clickable arrows on top and bottom ends. Maybe pressing shift with will could load 5x amount, with ctrl 10x etc.
4. Currently only the area taken by "X" or "Item" is clickable. The "18t" area and area on right side of resource picture can be made clickable so

[2016-09-04 14:59] jorgesumle commented on #2474
min_size=(325, 0), max_size=(325, 400) work too. But min_size=(335, 0), max_size=(335, 508) not.

[2016-09-04 15:09] LinuxDonald commented on #2474
does with 400 it fix the language problem?

[2016-09-04 16:47] jorgesumle commented on #2474
It looks the same. I don't know how it works, from what I've read it is the second parameter from max_size is the height of the Label, but I'm not really sure. Also, I don't know if every page is an entire Label. I'm not sure and I'm not familiar with fife; this week I don't have enough time to solve this problem. @CrafterSvK, maybe you can solve this issue.

[2016-09-04 17:02] LinuxDonald commented on #2276
Moved to next milestone because of lack of feedback.

[2016-09-04 18:01] LinuxDonald opened #2475 "KeyError: 'produced_resource_5_Point(106, 125)_222'"
@janexx reported this error to me:
https://gist.github.com/janexx/b20f9cb81727d9c2b58f9c804ae0d537

I found the same crash log here:
https://github.com/unknown-horizons/unknown-horizons/issues/1916

but this should fixed by this:
https://github.com/unknown-horizons/unknown-horizons/pull/1810

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/i

[2016-09-04 18:04] LinuxDonald commented on #1468
https://github.com/unknown-horizons/unknown-horizons/commit/bed228cb7d1a4af0492e2561e852b96e382665ad

Last building is done @janexx thx :) Good Work :+1:

[2016-09-04 18:04] #1468 closed

[2016-09-05 23:44] jorgesumle commented on #2219
Here is a similar problem to #2474.
![captura de pantalla de 2016-09-06 01 39 10](https://cloud.githubusercontent.com/assets/14212780/18258290/06214582-73d3-11e6-88a4-0b2160ca51da.png)

[2016-09-06 01:03] jorgesumle opened #2476 "Diacritics doesn't display in the load game menu"
Maybe there is a problem with Unicode and Python 2.
![captura de pantalla de 2016-09-06 02 48 30](https://cloud.githubusercontent.com/assets/14212780/18258913/54f71474-73de-11e6-8622-3cc0f5c73d62.png)
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37602087-diacritics-doesn-t-display-in-the-load-game-menu?utm_campaign=plugin&utm_c

[2016-09-06 06:32] MasterofJOKers commented on #2476
Just a quick link to research this later: https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/savegamemanager.py#L123

[2016-09-08 18:47] janexx commented on #2410
Done with commit 96ae813c581fc7150a448888d557032088f43fa0
Hope that this graphic is suitable for a brewery...

[2016-09-08 18:47] #2410 closed

[2016-09-12 09:31] jorgesumle commented on #2409
@LinuxDonald, with your last merge pull request #2458 this is fixed and can be closed. Or is there anything else to do?

[2016-09-12 15:57] LinuxDonald commented on #2409
Oh sorry I forgot to close it here.

[2016-09-12 15:57] #2409 closed

[2016-09-14 07:40] MarkusHackspacher opened #2478 "No file horizons/network/client found."
Hello,

in file `development/networkclient.py` are in line 34 `from horizons.network.client import Client, ClientMode`, but there is no file horizons/network/client.py

I close my PR, was too late yesterday and it is better to discus and find a better solution like the PR.

[2016-09-14 07:45] MasterofJOKers commented on #2478
Maybe the best solution would be removing the `networkclient.py`? I haven't checked, when the `horizons.network.client` disappeared, but at least since then, the file has not been run by anyone ...

[2016-09-14 18:04] MarkusHackspacher commented on #2478
@manuelm Have you creacte this file?
https://github.com/unknown-horizons/unknown-horizons/commits/master/development/networkclient.py
What is your option?

[2016-09-14 18:44] manuelm commented on #2478
That's the console client I wrote and used while developing the (first and second version of the) network protocol and implementing the server. It's quiet handy if you want fix something without restarting UH all the time.

However it's broken since @squiddy removed the `horizons.network.client` (according to the commit log because of no use). I guess all it needs is some love.

[2016-09-14 19:20] squiddy opened #2479 "Run gui tests on travis CI"
I think we used to run the GUI tests on the old Jenkins server, however with the switch to Travis CI (85d0cb83d59800df71a619fb65a43ad7a3bf80da) this is no longer the case as far as I can see. Which is sad since we do have a good number of test cases there.

If we wanted to run those on travis, we need to at the very least the following:

- [ ] install X server on Travis (or more likely xvfb)
- [ ]

[2016-09-14 21:03] MasterofJOKers commented on #2479
Since we are planning to do nightly builds, the second part could be done by using our then-existing repo's packages.

[2016-09-15 13:19] MarkusHackspacher commented on #2479
The first point, install X server on Travis (or more likely xvfb):
Add the lines in .travis.yml "before_install"
[code]
It work fine in https://travis-ci.org/MarkusHackspacher/pyLottoSimu

[2016-09-16 09:20] MasterofJOKers commented on #2479
travis-ci only supports trusty, which has libstdc++6 of version 4.8. We need proper fife packages. Then we can use @MarkusHackspacher's work from here: https://github.com/MarkusHackspacher/unknown-horizons/edit/patch-3/.travis.yml

[2016-09-16 17:00] MasterofJOKers commented on #2325
Also happend on an 32-bit Ubuntu 16.04 LTS: https://usercontent.irccloud-cdn.com/file/DeXKSngJ/unknown-horizons-2016-09-16_18-46-25.log

He/she managed to play ~10min before a crash.

[2016-09-16 19:02] MasterofJOKers commented on #2325
A fife log of the problem: https://usercontent.irccloud-cdn.com/file/qDm0fm8S/fife.log https://usercontent.irccloud-cdn.com/file/yQoEDKGB/unknown-horizons-2016-09-16_21-51-24.log

[2016-09-16 21:09] MasterofJOKers commented on #2479
Done. Using packages manually built for Ubuntu trusty for now. Some tests are failing.

[2016-09-16 21:09] #2479 closed

[2016-09-16 21:20] MasterofJOKers opened #2480 "Fix the GUI tests"
The GUI tests are running with travis-ci, but some of them are failing. Someone™ needs to fix the tests.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37956478-fix-the-gui-tests?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/

[2016-09-17 10:04] squiddy commented on #2480
I'm looking into it right now.

[2016-09-17 10:20] squiddy opened #2482 "Discuss code style checks"
As someone that hasn't contributed to this project in years, it's easier for me to run a tool that will yell at me when code doesn't adhere to the style guide.

I guess we used to run the `pep8` tool, because there are some settings in `setup.cfg` related to it. However, c289a5173e744bf8f61adc8758ee7d982971e4c4 added a (seemingly more complete) configuration for pylint.

Unfortunately, running `py

[2016-09-17 11:04] LinuxDonald commented on #2219
@jorgesumle i cant reprdouce your text out of gui error.

[2016-09-17 11:46] squiddy commented on #2480
Most tests seem to fail because the map generation code changed in fb256e1436ed1cf1858135e8c345bc4df22f8b5b (verified with git bisect).

Unfortunately, now the dev map with seed 42 contains a mountain at the position where many tests try to found a settlement.

[2016-09-17 14:30] LinuxDonald commented on #2325
<prock> I wonder if we could get in contact with any of the other zero-projekt guys
<prock> move_as_redd  <-  is that the beginning of an image name?
<prock> actually.. seems to be related to actions
<prock> I can think of a few scenarios that may cause that.. but I'd have to think about it a bit more
<prock> for example...  if you free an action for an instance and try to use it again afterward
<

[2016-09-17 15:24] jorgesumle commented on #2482
We could start with trailing whitespaces:
I've run this: `find . -type f -name '*.py' -exec sed --in-place 's/ \+$//' {} \+`.
This only works for Python .py files. Change the extension to make it work for other formats. I'm not sure if that's necessary.

[2016-09-17 15:36] jakoch commented on #2482
What about adding it to `travis.yml`:

[code]

You could set it to report only - but don't let the build fail.
That should produce a log with things to fix and you can work through it step-by-step.

[2016-09-17 18:15] MasterofJOKers commented on #2325
When using atlases, fife is segfaulting. When not using atlases, it just doesn't find the action.

[2016-09-18 11:56] #1872 closed

[2016-09-19 06:53] MarkusHackspacher commented on #2482
In my fork, I use in travis.yml this:
`  - python pylint-recursive.py`
The output are https://travis-ci.org/MarkusHackspacher/unknown-horizons/builds/160466819
That was also the reason, that I ask for delete the file `development/networkclient.py ` see #2487

[2016-09-19 18:20] squiddy commented on #2482
We already have a `.pylintrc` in the master branch, so I'm not sure what you're actually suggesting here.

Can you explain what `pylint-recursive.py` is for? If I run `pytest` myself, it will already recurse into subdirectories.

The main issue to me here is that with the current configuration, pylint attempts to do a lot of static analyzing, which fails with the codebase. For example, we probably

[2016-09-19 18:38] squiddy opened #2485 "Consider using the nosetests flaky plugin for GUI tests"
Since we enabled gui tests on CI, about 10 tests showed inconsistent behaviour, i.e. sometimes they succeed and sometimes not.

We still have about 65 gui tests that succeed, in order to not fail the whole build I marked these inconsistent tests with a `mark_flaky` decorator that will simply mark the test as skipped if it fails. Obviously this is not a long-term solution.

I've briefly looked at h

[2016-09-19 18:51] squiddy commented on #2480
The build is fixed for now (https://travis-ci.org/unknown-horizons/unknown-horizons/builds/161119039).

There are about 4 tests that fail due to bugs (e.g. #2419) or incorrect implementation. The rest is flaky (see #2485).

[2016-09-21 14:16] EpikGamer101 opened #2487 "White screen on launch"
I started the game from my desktop with the shortcut, but when the window pops up, i see nothing but a white screen but some lines on it.
![untitled](https://cloud.githubusercontent.com/assets/22348199/18714660/7eeea8d4-7fe4-11e6-90ff-9a8b3f79ea9c.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37992565-white-screen-on-launch?ut

[2016-09-21 16:23] jorgesumle commented on #2487
You have used the [official installer](https://github.com/unknown-horizons/unknown-horizons/releases/download/2014.1/unknown-horizons-2014.1_win32.exe), right? Or have you launched Unknown Horizons from source code?

[2016-09-21 17:40] squiddy commented on #2487
Looks like it isn't using any images. The white outlines suggest that FIFE is at least rendering something.

[2016-09-21 21:04] EpikGamer101 commented on #2487
The official launcher from the "Downloads" Page. Thanks in advance for giving time to help me!

On September 21, 2016, at 12:23 PM, Jorge <notifications@github.com> wrote:

You have used the official installer, right? Or have you launched Unknown Horizons from source code?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread

[2016-09-22 07:44] jorgesumle commented on #2487
type `start "C:\Folder_where_unknown-horizons_is\unknown horizons.exe"` in the window console, also called cmd, and just copy and paste the error message here.

[2016-09-22 12:43] EpikGamer101 commented on #2487
Windows cannot find C:\Folder_where_unknown-horizons_is

From: Jorge [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 3:45 AM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc: EpikGamer101 <minecraftnerd736@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [unknown-horizons/unknown-horizons] White screen on launch (#2487)

type start "C:\

[2016-09-22 16:13] jorgesumle commented on #2487
In what folder do you have unknown horizons? That's the path. You have to replace `folder_where_unknown_horizons` is with the path. If you have trouble with finding the path, just make a snapshot and we will try to tell you the exact command to launch Unknown Horizons from the cmd.

[2016-09-22 21:48] EpikGamer101 commented on #2487
Ummmm idk right now but I'll check tommorow

On September 22, 2016, at 12:14 PM, Jorge <notifications@github.com> wrote:

In what folder do you have unknown horizons? That's the path. You have to replace folder_where_unknown_horizons is with the path. If you have trouble with finding the path, just make a snapshot and we will try to tell you the exact command to launch Unknown Horizons from the cm

[2016-09-23 13:24] EpikGamer101 commented on #2487
Here.

I trust you can get the path now?

From: Jorge [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 12:14 PM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc: EpikGamer101 <minecraftnerd736@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [unknown-horizons/unknown-horizons] White screen on launch (#2487)

In what folder do you have un

[2016-09-23 18:51] Pab0 opened #2489 "Debian dependencies discrepancy on website"
On the [Installing from sources in Linux](http://www.unknown-horizons.org/download/sources/s-linux/) page, the aptURL and the apt-get approaches for Debian are slightly different. Differences are:

- aptURL misses libtiny-xml-dev
- aptURL uses python2.6, apt-get python2.7
- apt-get lists swig twice

Also, when opening the aptURL link with aptURL on Ubuntu, it says:
`Url string 'apt:build-essential

[2016-09-24 09:56] jorgesumle commented on #2487
No

[2016-09-24 15:38] MasterofJOKers commented on #2418
I'll close this, as it seems fixed after writing a test. But it is possible, that old savegames with an already sent ship will still try to found a settlement in the wrong place.

[2016-09-24 15:38] #2418 closed

[2016-09-24 16:12] MasterofJOKers commented on #2418
Just found out, that it was still possible for the AI to choose a wrong location. Should be fixed with b670f52.

[2016-09-25 08:45] MarkusHackspacher opened #2491 "Error in isort test"
Have pull the last commit in my clone, I change in the file from tabs to 4 spaces.
And the travis isort test fails.
https://travis-ci.org/MarkusHackspacher/unknown-horizons/builds/162537253

My file:
https://github.com/MarkusHackspacher/unknown-horizons/blob/master/horizons/component/componentholder.py
Unknown-horizons:
https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/comp

[2016-09-25 09:26] squiddy commented on #2491
Check the `indent` setting in `.isort.cfg`. Since we're using tabs, we told isort to indent using tabs. If you change the file to spaces, isort will still insist on indenting with tabs.

[code]

You can't see it in this example, because tabs are converted to spaces by github I guess, but it's the indentation.

That beeing said, there is not really an issue here. :)

[2016-09-25 11:33] #2491 closed

[2016-09-25 14:44] EpikGamer101 commented on #2487
“the system could not find the path specified” when I typed “C:\Unknown-Horizons\unknown-horizons.exe”

I’ll keep trying

From: Jorge [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 3:45 AM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc: EpikGamer101 <minecraftnerd736@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [unknown-horizons/

[2016-09-25 15:54] LinuxDonald commented on #2489
Thx for te report i fixed it. With the to long error i dont know how to fix that. Maybe upstream error?

[2016-09-25 15:54] #2489 closed

[2016-09-25 16:25] Pab0 commented on #2487
@EpikGamer101 , the path should be "C:\Program Files (x86)\Unknown Horizons".

Could you try
`"C:\Program Files (x86)\Unknown Horizons\unknown-horizons-debug.bat"`
and then post the logs back here? There should be two log files:

- Documents\My Games\unkown-horizons\log\unknown-horizons-2016-date-and-time.log
- C:\Program Files (x86)\Unknown Horizons\fife.log

[2016-09-26 13:14] EpikGamer101 commented on #2487
So, do you want me to do this?

C:\Program Files (x86)\Unknown Horizons\unknown-horizons-debug.bat > C:/users/*******/desktop/_____.txt?

From: Pab0 [mailto:notifications@github.com]
Sent: Sunday, September 25, 2016 12:26 PM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc: EpikGamer101 <minecraftnerd736@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [u

[2016-09-26 21:02] Pab0 commented on #2489
Yes, it's a ~~bug~~ feature of aptURL, likely in response to a [bug](https://bugs.launchpad.net/ubuntu/+source/apturl/+bug/783594) which crashes the desktop environment with too long URLs.

The maximum allowed URL length seems to be [hardcoded](http://bazaar.launchpad.net/~ubuntu-core-dev/apturl/ubuntu/revision/108/AptUrl/Parser.py) to 255 characters. Seeing as the dependencies are already at 300+

[2016-09-26 21:27] Pab0 commented on #2487
I'm not sure this will work - but there's no need to put the debug output into another file. Everything should already be contained inside the two log files, one for Unknown Horizons and one for FIFE:
- Documents\My Games\unkown-horizons\log\unknown-horizons-2016-date-and-time.log
- C:\Program Files (x86)\Unknown Horizons\fife.log

Those two should contain any info that's needed.

[2016-09-27 13:09] EpikGamer101 commented on #2487
All I have in the unknown horizons folder in program files is:

content

depends

doc

horizons

po

python

README

run_server

run_uh

uninst

unknown-horizons

unknown-horizons-debug

Specificly in the order. where are the logs ?

From: Pab0 [mailto:notifications@github.com]
Sent: Monday, September 26, 2016 5:28 PM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc:

[2016-09-27 19:12] Pab0 commented on #2487
Weird, the FIFE log should be in the folder. But maybe the FIFE logging has to be turned on manually.

Regardless of the FIFE logs though, the Unknown Horizons log file ought to have been generated right after you ran unknown-horizons-debug. It's probably saved under My Documents\My Games\unkown-horizons\, as a simple .log text file.

[2016-09-27 19:53] EpikGamer101 commented on #2487
I ran the debug, I let it sit there for a bit, and then checked the files. There were still no log files. Can you please list your directory?

Folder

Folder

Folder

Folder

Folder

README

Python

unknown-horizons

unknown-horizons-debug

and so forth so I can see where the .log files will appear?

From: Pab0 [mailto:notifications@github.com]
Sent: Tuesday, September 27, 2016 3:12 PM
To: unknown

[2016-09-27 19:56] EpikGamer101 commented on #2487
oh wait, there in documents. here they are:

Python version: sys.version_info(major=2, minor=7, micro=8, releaselevel='final', serial=0)

Platform: Windows-7-6.1.7601-SP1

SYS.PATH: ['C:\\Program Files (x86)\\Unknown Horizons', 'C:\\Program Files (x86)\\Unknown Horizons\\python\\python27.zip', 'C:\\Program Files (x86)\\Unknown Horizons\\python\\DLLs', 'C:\\Program Files (x86)\\Unknown Horizons\\py

[2016-09-28 18:58] cmfrydos opened #2492 "Game crashing on Raspberry Pi 3"
I have installed fife and uh from source on a raspberry pi 3.
It ran very slow, I couldn't even move the mouse pointer without extreme stuttering
So I decided to activate an in-dev OpenGL driver, and the game ran perfectly until I tried to build something, which crashed me to desktop.
After a second try I was able to build my contor but It crashed when I clicked on the lumberjack icon to build it.

[2016-09-28 19:04] squiddy commented on #2492
Hi there. First of all, I applaud your effort to get this running on RPi 3, did not expect that one. :+1:

When starting UH in debug mode, it should write to stderr and a log file in `~/.unknown-horizons/logs/`. Could you check for logs there and, if possible, attach them to the issue?

[2016-09-28 19:09] squiddy commented on #2487
I had a quick look at the output you provided, and I couldn't find anything unusual.

Because your screenshot looks like some rendering is still happening, are you able to move your mouse cursor? It might be hard to see, my guess is it should show up as lighter rectangle as well.

If that doesn't work, try hitting the `Escape` key on the keyboard, does anything change? That at least would suggest

[2016-09-29 12:22] EpikGamer101 commented on #2487
When I press escape, the white areas get crowded up on the center, instead of the whole screen.

Specs:

Intel 4 core i3 1.70 MHZ

4 GB of RAM (Not very much is usable)

System manufacturer – Hewlett - Packard

Manufacturer – Microsoft corporation

Is this enough information?

From: Reiner Gerecke [mailto:notifications@github.com]
Sent: Wednesday, September 28, 2016 3:10 PM
To: unknown-horizons/un

[2016-09-29 12:22] EpikGamer101 commented on #2487
I was also able to move my mouse in the unknown horizons just fine. I was a white square though.

From: Reiner Gerecke [mailto:notifications@github.com]
Sent: Wednesday, September 28, 2016 3:10 PM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc: EpikGamer101 <minecraftnerd736@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [unknown-horizons/unknown-hori

[2016-09-29 18:40] squiddy commented on #2487
Thank you for your patience with this. From what you describe I can only assume that the game itself seems to be functional, but your graphics card / chipset might be a problem.

Unfortunately, it is missing information about your graphics card. Can you follow these steps on your PC and write the first 3 lines (name, manufacturer, chip type) of the DxDiag Diagnostic Tool (as shown on the last imag

[2016-09-29 20:54] EpikGamer101 commented on #2487
on the display tab, it has this

Name:

Manufacturer: N/A

Chip Type: N/A

It doesn’t display anything for you here in DxDiag

From: Reiner Gerecke [mailto:notifications@github.com]
Sent: Thursday, September 29, 2016 2:40 PM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc: EpikGamer101 <minecraftnerd736@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [u

[2016-09-30 04:04] rabbitandwolf opened #2493 "Game crashes after running for a while, also when loading a saved game."
The first issue I was unable to record it because it happened out of the blue while I was about over 2 hrs into the mission The Unknown. I noticed though that when I save a game, then tries to load the game again the game crashes and exits without warning or error message.

Below is the log file:

Traceback (most recent call last):
  File "C:\Program Files (x86)\Unknown Horizons\python\lib\site-pa

[2016-09-30 06:23] squiddy commented on #2487
Are other games, say Minecraft, working for you? Otherwise I think you need some kinda decent graphics chip / graphics card in order to play UH. Perhaps you're merely missing a graphics driver, it's hard to say at this point.

[2016-09-30 07:35] rabbitandwolf commented on #2493
I'm wondering whether it has something to do with the operating system using Chinese (traditional)

[2016-09-30 12:54] EpikGamer101 commented on #2487
not allowed Minecraft on this SCHOOL computer, but flash games on sites such as coolmath work. Slither.io lags a bit.

From: Reiner Gerecke [mailto:notifications@github.com]
Sent: Friday, September 30, 2016 2:24 AM
To: unknown-horizons/unknown-horizons <unknown-horizons@noreply.github.com>
Cc: EpikGamer101 <minecraftnerd736@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [unknown-hor

[2016-09-30 17:01] LinuxDonald commented on #2493
The problem here is that the version is very old. We have alot of changes in the git version. And we dont support the old version sorry :( I can only say that the next release is in December and than we will release an new windows version. For now we dont really have an newer version for testing. I will let this ticket open for now. When we have an version that you could test we will inform you he

[2016-09-30 17:26] LinuxDonald commented on #2493
When this error oucurs in the next Windows Version release too we will take an look on it :)

[2016-09-30 23:21] rabbitandwolf commented on #2493
Thanks for that. I wasn't aware about the version on git. I just went to the UH main website and assumed what's on there for windows is the newest available. Looks like I'll wait for the December release then try it.

The game only crashes when it attempts to open the saved files I think, also occasional freezes and the winery don't seem to do anything even when placed beside the grape field, but

[2016-09-30 23:39] rabbitandwolf opened #2494 "Some Ideas/suggestions for the game."
Just some suggestions from my short trial experience with the game. (milestone 2014.1 windows installer)

1. Highlighting of existing buildings of the same type when selecting a building to build. Sometimes I might forgot or not remember if I had built a particular building before, so this could be useful to prevent duplicates and and for better coverage optimisation for facilities like fire stati

[2016-09-30 23:44] MasterofJOKers commented on #2494
6. should be possible right now. You have to use your ship for it and have the appropriate amount of resources available. If you take a look at how the AI plays, you can see it having multiple settlements.

[2016-10-05 18:05] squiddy commented on #2482
@MarkusHackspacher

[2016-10-06 07:43] MarkusHackspacher commented on #2482
I saw the pylint-recursive.py in some other github projekts and tested it in my fork. Evaluate the style of each file. Best code style are 10 points.
But now I think this test need only lots of time and the assessment about the files is in the moment not important. As no major changes are made to the source text, than maybe could somebody look the rate goes down or up after the change.
In the mome

[2016-10-08 07:25] squiddy opened #2500 "Rare crash when exiting game after placing buildings"
**Steps**

Unfortunately I don't know yet. I think I placed a couple buildings, perhaps I was still in building mode when I pressed ESC and tried to exit the game.

**Error**
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38211008-rare-crash-when-exiting-game-after-placing-buildings?utm_campaign=plugin&utm_content=tracker%2F2

[2016-10-08 07:27] squiddy commented on #2500
Looking at `IngameGui.end`, the resource overview is set to None before calling `cursor.remove`, which will trigger this error.

The question remains, how does one manage to have the buildingtool active while exiting the game?

[2016-10-08 08:34] squiddy opened #2501 "Investigate using swig's -builtins flag"
http://www.swig.org/Doc2.0/Python.html#Python_builtin_types

We shortly experimented with it in #2461, but it's been too long to say whether there were issues, if it even worked..

[2016-10-08 22:13] squiddy commented on #2487
Because you mentioned school, I feel certain that the computer is missing a proper graphics chip. dxdiag showing no information at all isn't helping either.

I'm closing this, because I feel we can't make progress here. If you have new information / insights, feel free to comment here.

[2016-10-08 22:13] #2487 closed

[2016-10-08 22:21] MasterofJOKers opened #2504 "Add commandline options to update_translations.py"
So there's no need to comment out/in certain lines. See here: https://github.com/unknown-horizons/unknown-horizons/pull/2440

[2016-10-09 07:35] squiddy opened #2505 "Improve barriers"
The initial implementation in #2353 landed in master. We have some open questions / features that we can discuss here. Once it's clear what we want we can create separate issues.

### Open questions

* Should walls be buildable on coasts?

### Additional features

- [ ] Walls can be build over roads to allow people passing through. The existings graphics should suffice.
- [ ] Allow uninterrupted b

[2016-10-09 11:11] squiddy commented on #2492
Closing this since we have no information to act on. If you can provide, for example, the debug logs, feel free to post them here and reopen. :)

[2016-10-09 11:11] #2492 closed

[2016-10-09 11:35] squiddy commented on #2280
If I understand the integration correctly, translations on weblate are automatically pushed into the repository.

How about doing this manually? Have people translate stuff on weblate, and once a while, pull the changes manually and commit. Updating source files on weblate (if that is even necessary) could be done as part of CI.

This seems to be related to that idea:
https://docs.weblate.org/en/l

[2016-10-09 13:56] squiddy commented on #2142
I'm working on this right now, I've got an idea how to modify the source images to include appropriate border colors.

[2016-10-09 16:42] #2369 closed

[2016-10-09 17:55] #2419 closed

[2016-10-09 19:27] squiddy commented on #1840
Seems to work fine.

[code]

Unfortunately the link from the issue is dead, so I can't compare. None of the scenarios that we ship is using that action, so I'm closing this.

[2016-10-09 19:27] #1840 closed

[2016-10-09 19:38] squiddy opened #2507 "Starting scenario from commandline is broken"
I would expect that this loads the tutorial scenario in with the correct language, instead it doesn't find anything.

[code]

The [`find_matching_map`](https://github.com/unknown-horizons/unknown-horizons/blob/8ab63d15137625fd2079df4a8643dc3d1ca8f616/horizons/main.py#L480) function is the issue, or rather, its handling of the `savegames` parameter, which structure probably changed some time.

[2016-10-10 17:24] #2193 closed

[2016-10-10 18:27] squiddy commented on #2273
GUI test to reproduce the issue, you should revert ece8334e02dc760bb73734208ad46d00f0965a65 first though:

[code]

This will create 3 messages. Once you see them all, hover over the third (bottom) message and the game will crash.

**So what's the issue?**

When the messagewidget is drawn, each message is assigned a callback with its current index: https://github.com/unknown-horizons/unknown-horizo

[2016-10-10 18:40] squiddy commented on #2442
I think we can close this one. Looks like an issue with swig 3.0.8 specifically: https://github.com/swig/swig/issues/583

[2016-10-10 18:40] #2442 closed

[2016-10-10 18:44] squiddy commented on #2304
Tried it, seems to work. Only docs apparrantly.

[2016-10-10 19:38] squiddy commented on #2416
Whether it is an UH or Fifechan bug depends on ones point of view I guess. There is a comment in the code:

So yes, there is no exited event. Unfortunately, not when a container is hidden, `hide` isn't called on its children, so we can't even call `unset_cursor` in `Widget.afterHide`. :(

[2016-10-10 21:11] #1864 closed

[2016-10-11 17:29] squiddy commented on #2142
I've just activated mipmapping and texture filtering seperatily, made some screenshots for comparison.

I think mipmapping is good, especially if you some out all the crammed pixels don't look that harsh anymore (disregard the black lines for now).

On the other hand, I don't think we gain much from texture filtering. On the contrary, if fully zoomed in, some graphics looked washed out / blurry.

[2016-10-11 17:46] MasterofJOKers commented on #2142
In my opinion, the game loses charme when texture filtering is enabled. (And that stone deposit or whatever looks like it's from another world in both pictures.) Looking only at the ship, it looks nicer - but doesn't fit the world that good any more.

Some weeks ago, someone joined IRC and made a suggestion about upgrading the trees and gras graphics, because they are to pixelated. With updated gr

[2016-10-11 17:58] #2448 closed

[2016-10-11 18:25] squiddy commented on #2280
I wasn't aware that I resurrected a 2 year old ticket. It isn't that big an issue, is it? I don't think this is relevant for the 2016.2 milestone.

[2016-10-11 21:04] squiddy commented on #2302
Using awesome wm too and it shows up here as well.

Closing this, since implementing the icon for the atlas window isn't really beneficial overall, see https://github.com/unknown-horizons/unknown-horizons/pull/2509#issuecomment-253038095.

[2016-10-11 21:04] #2302 closed

[2016-10-11 21:20] iqualfragile commented on #2280
please reopen, this is not resolved yet.

[2016-10-11 21:33] LinuxDonald commented on #2142
I like the texture filter. Trees and gras needs really an upgrade i will ask janexx about that. When she have an new PC because her old on died....
And about the building Grafics i think they need maybe an own ground (grafic work) than they would like nicer and not thats an problem with texture filter.
I think we should add both function but per option in the Setting menu that very user could set

[2016-10-12 05:42] squiddy commented on #2280
I'd be happy to, but first we need to clarify some things, your original post didn't contain many information.

What's the problem here? Right now, you're merely proposing a solution.
Why is this important? Nothing happened in two years.
Whom does it affect? Our players, developers?

[2016-10-12 09:53] iqualfragile commented on #2280
i think its quite clear to everybody that the problem is that 90% of the commits in this repository are microscopic ones generated by some web-translation-service, spamming the git logs. this is a probem to everybody trying to follow the development of unknown horizons.
you don't just close an issue because no one is working on it, thats not how bugtrackers work.

[2016-10-12 10:06] squiddy commented on #2280
I don't appreciate your condescending tone. As far as I know you're the first one to raise this issue here, so I don't think you're in the position to speak for *everybody*.

Our resources are limited, as is in most communities. We always appreciate contributions from existing / new members of this project. Feel free to investigate this, I linked something possible relevant in https://github.com/u

[2016-10-12 10:07] squiddy commented on #2280
I will reopen it, but remove the milestone. Let's see how that goes.

[2016-10-12 10:14] MasterofJOKers commented on #2280
By squashing commits (and if I understand you correctly, you mean all weblate commits, i.e. for all languages and authors over a given time period) we are losing the ability to attribute changes to an author. Basically, we would have to include the diff per author in the commit message, to still keep that information. I don't like that.

I would prefer splitting the translations off into another r

[2016-10-12 11:05] ChrisOelmueller commented on #2280
We did use to have a separate repository, but that simply didn't play well with how we wanted to integrate in-game changes to text (and left quite something to be desired on the maintenance front too, due to submodules' inherent added complexity).

If the problem that's to be fixed here is indeed a lack of development progress information, instead of making certain processes worse for little to no

[2016-10-12 11:05] #2280 closed

[2016-10-12 17:56] squiddy commented on #2480
With the exception of the now deleted trade test, all tests have been stable for the last ~10 builds.

[2016-10-12 17:56] #2480 closed

[2016-10-12 18:07] squiddy commented on #2466
I've noticed something similar, didn't really happen before. I'm using awesome WM, and when running UH from the terminal, I can interrupt it with `CTRL+C`.

However, when I use the awesome WM shortcut `CTRL+SHIFT+C` to kill the current window, it just freezes (i.e. can't move the cursor inside the game) and I'm no longer able to interrupt on the terminal.

[2016-10-12 19:07] squiddy commented on #1901
Screenshot of the wheel issue

![](http://i.imgur.com/NwvoZS2.jpg)

Apart from the wheel not beeing centered, what else is this issue about? @ChrisOelmueller can you say more? You mentioned something about it beeing unusable about 4 years ago. :)

[2016-10-12 20:00] squiddy opened #2511 "CI build fails when committer has no repo set up at coveralls"
The offending line: https://github.com/unknown-horizons/unknown-horizons/blob/65dfcdd/.travis.yml#L29

One needs to link a repository in coveralls (which requires logging first), in order to submit coverage stats. Right now, check builds for PRs from most submitters will fail because of this.

There is probably not much use in submitting stuff to coveralls other than for branches in the `unknown-h

[2016-10-12 20:24] squiddy commented on #2475
Added a gui test to reproduce the problem.

However, I'm starting to wonder if this really is a bug in the icon manager. The traceback from janexx shows, that the **same building** produced the **same resource** more than once in the **same tick**. Should that even be possible?

[2016-10-12 20:25] ChrisOelmueller commented on #2511
Possibly check for inspiration: http://stackoverflow.com/questions/39501417/how-can-i-connect-coveralls-and-travis-in-github

[2016-10-12 20:49] squiddy commented on #2475
So, the butchery has 2 productionlines for food (cattle and pigs), so the case I described above can actually happen. So I guess we need to further specialize the key function of the icon manager, to prevent that as well.

I *guess* using the production line ID should help. I don't think the same production line can finish two times in the same tick.

[2016-10-12 21:17] squiddy commented on #2475
Also, any building with more than one production line producing the same resource (e.g. pastry shop) could be affected.

[2016-10-13 01:14] LinuxDonald commented on #2471
See #2963

[2016-10-13 01:14] #2471 closed

[2016-10-13 01:18] #1821 closed

[2016-10-13 18:43] #2500 closed

[2016-10-13 20:37] #2273 closed

[2016-10-14 20:07] #2475 closed

[2016-10-14 21:47] LinuxDonald commented on #2478
@squiddy could you maybe take an look here please?

[2016-10-14 22:01] LinuxDonald commented on #2219
https://github.com/unknown-horizons/unknown-horizons/issues/1688

[2016-10-14 22:35] squiddy opened #2513 "Introduce type hints for static type checking"
[PEP-484](https://www.python.org/dev/peps/pep-0484/) introduced new syntax to declare type hints. The interpreter makes no use of them, other then to expose them on e.g. function objects.

Third party tools like [mypy](http://mypy-lang.org/) understand the syntax and can check programs statically.

Note: this won't affect the game at runtime at all. It won't run faster, it won't run slower. It wil

[2016-10-14 23:00] MasterofJOKers commented on #2513
I've read in an article about mypy, that one should start with getting '--check-untyped-defs' running and then continue to add explicit typing to the rest of the code, once this runs without errors and is added to the CI.

[2016-10-15 06:54] squiddy commented on #2513
Indeed. The article in question (I believe it's [the one from Tulip](http://blog.zulip.org/2016/10/13/static-types-in-python-oh-mypy/)), says to start off with `mypy --py2 --silent-imports --fast-parser -i <paths>`. Once that works, one should add `--check-untyped-defs` what you mentioned.

I've updated the issue accordingly.

[2016-10-15 06:59] squiddy commented on #2513
I'd say we skip checking the tests for now, especially in GUI tests a lot of monkey-patching is going on.

[2016-10-15 07:27] squiddy opened #2515 "Remove uses of Dummy in horizons package"
mypy has an issue with the magic Dummy code (who doesn't?):

I was going to move it to the tests package, since that's where we need it. However, we have a handful of places where we use that code inside horizons, which is a bad idea really, so:

- [ ] Move horizons.ext.dummy to tests
- [ ] Fix imports of Dummy in tests (mostly setup I think)
- [x] Find alternative to Dummy, or better, refactor th

[2016-10-15 07:42] squiddy commented on #2513
I'm working on the first step and I'm wondering how we should handle the following problem (so far I haven't found clues in the documentation):

[code]

This is `horizons/globals.py` with type hints. Even when using comments, one needs to import types. Running this would error since `typing` is not installed. An easy solution could be to ship `typing` with UH, but that doesn't sound right.

[2016-10-15 08:31] squiddy opened #2516 "Remove __builtin__ modification for gettext"
Right now, we're doing a single `gettext.install('de', ...)` once in the code, and the rest of the modules magically have access to `_`, `_N` and other things.

This has some issues:
- danger of local shadowing by using `_` as "unused argument", e.g. when unpacking
- need to configure linters to ignore "not defined" errors when looking at `_`
- mypy doesn't understand it, because builtins aren't r

[2016-10-15 13:28] squiddy opened #2518 "Simplify horizons.util.color by dropping metaclass magic"
While experimenting with mypy (see #2513), I got the following error:

[code]

I can't claim to understand that, and a related issue (python/typing#79) doesn't help, but the code seems overly complicated.

The main object here is the `Color' class. Certain default colors are stored in the database with an id and name.

[code]

By dropping the metaclass, we would loose the last two features. Howeve

[2016-10-15 13:30] squiddy commented on #2518
Another thought: do we even need colors in the database? We might as well hardcode them in my opinion.

[2016-10-15 15:13] MasterofJOKers commented on #2518
Do we need all the other stuff in the database?

[2016-10-15 15:20] squiddy commented on #2518
I don't know. I was asking in the context of simplying the color code, not questioning the whole database.

Some of the stuff in `game.sql` is nice to have outside the source, e.g. related_buildings, resources. If a database is the right fit is a different question.

Those 14 colors haven't changed in at least 4 years now, I don't see them changing in the future. But we can keep them in there, thi

[2016-10-15 15:26] MasterofJOKers commented on #2518
I don't get the whole database thing for reading only simple values. Could as well load it from yaml, as far as I am concerned. Maybe some values are filtered on a specific column. That would be the only reason for me. On the other hand, one could still create a database out of yaml, if one has to do sql queries.

[2016-10-15 15:30] MasterofJOKers commented on #2516
I was wondering, how that worked. :+1: for changing it. "explicit is better than implicit"

[2016-10-15 15:42] MasterofJOKers commented on #2513
If I understand it correctly, one can do something along the lines of `if False: import bla`. It's mentioned in the article you linked for python2 code. Although typing.TYPE_CHECKING seems to be the new way to do it.

[2016-10-15 15:45] squiddy commented on #2513
I thought that was merely about imports solely for the purpose of type hints, that if always imported, could cause import cycles. But you're right, the following should work:

[code]

[2016-10-15 15:48] squiddy commented on #2513
However, once we move to python3 this won't work I think, because the type hints become part of the code. Therefore they need to be imported unconditionally. I've read something about forward references, where types are written as strings. But that probably won't work for the basic types like `List`, `Dict`. I'll ask at mypy's gitter channel, see if they have any insights.

[2016-10-15 16:17] MarkusHackspacher opened #2519 "One or two whitespaces before inline comment?"
This point we discus [2014](https://github.com/unknown-horizons/unknown-horizons/pull/2290#issuecomment-58741299) and today [2016](https://github.com/unknown-horizons/unknown-horizons/pull/2514#discussion_r83527304) both time with **only one spaces before inline comment** from two long term maintainers.

But I think:
Python's official style guide, PEP 8, is very clear about this issue:

- Other py

[2016-10-15 17:00] prock-fife commented on #2416
I'd say this is a pychan bug, however, it might need some more discussion.  I'd suggest that when hide gets called on a widget that afterHide gets called for each child widget recursively.  Would this solve it for you guys?   My original thought was to fire the exit even however that's not really the case because the mouse never did exit.

[2016-10-15 17:04] squiddy commented on #2416
Hi prock. I think calling afterHide recursively should work, I can try that later today. Not that familiar with pychan, I'm wondering about possible performance implications.

[2016-10-15 17:36] MasterofJOKers commented on #2416
Another solution would be the ability to set the mouse cursor to another cursor (without manually using mouseEnter and mouseExit) while it's hovering a widget.

[2016-10-15 17:45] squiddy commented on #2416
But when do you reset the cursor?

[2016-10-15 17:46] MasterofJOKers commented on #2416
That's not our problem to solve then ;)

[2016-10-15 17:47] squiddy commented on #2416
Oh, I misunderstood you. You mean, specifying on a widget which icon to show when hovering. Got it. That neatly pushes responsibility to someone else. :D

[2016-10-15 19:28] squiddy commented on #2294
Closing in favor of #2416

[2016-10-15 19:28] #2294 closed

[2016-10-15 19:28] squiddy commented on #1747
Closing in favor of #2416

[2016-10-15 19:28] #1747 closed

[2016-10-15 19:32] squiddy commented on #970
Not sure I get the problem here.

When would that happen? Is this really a bug?

[2016-10-15 19:40] MasterofJOKers commented on #970
If I understand it correctly, this refers to e.g. making a trade in the background or having resources produced or something like that, while the tab is open.

[2016-10-15 19:40] squiddy commented on #2416
dulrich mentioned a new event in pychan here https://github.com/unknown-horizons/unknown-horizons/issues/2294#issuecomment-56252815

https://github.com/fifengine/fifengine/blob/ea7ec6f2427bdd6d5c7b845a1a47e414ee0cb9ea/engine/python/fife/extensions/pychan/events.py#L88

Perhaps this is relevant.

[2016-10-15 19:43] squiddy commented on #970
Ah yes, good point. At least that applies to the fillbars showing the current amount. However, I'm not sure how the trade slots themselves change. Who other than the player can decide what to buy/sell?

[2016-10-15 19:53] squiddy commented on #1765
On archlinux, the cursor is hidden on loading screens. When I move it outside the window it is visible.

Do we consider that a bug? Is there a problem on windows where the cursor is hidden even outside the window? @LinuxDonald perhaps you can clear things up a bit here

[2016-10-15 20:15] squiddy opened #2520 "Verify uses of decorators.bind_all"
By folding constants lookups into the bytecode of decorated functions/classes, subtle bugs can occur, see #1357.

Make sure that everywhere we use it, it is actually safe to use.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38848855-verify-uses-of-decorators-bind_all?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issu

[2016-10-15 20:15] #1357 closed

[2016-10-15 21:40] squiddy commented on #1379
Updated the issue with a screenshot. @LinuxDonald If I had to guess, it's this line https://github.com/unknown-horizons/unknown-horizons/blob/8049731/horizons/world/units/__init__.py#L92

The `:shift:center+0,bottom+8` part. We could adjust that for every angle until it works in all rotations.

[2016-10-15 21:46] squiddy commented on #2180
Definitly related to #1957. If you move the slider until it almost switches its value to 2, internally it's about 1.89.

Which means one would expect the game to be saved every 1 * 60seconds, but it's actually 1.89 * 60 = 113seconds.

[2016-10-15 22:17] LinuxDonald commented on #1379
Must I change only the numbers in that line?

[2016-10-15 23:51] LinuxDonald commented on #2466
For me it sometimes freeze when i click on the X in window mode.

[2016-10-15 23:53] LinuxDonald commented on #2219
i will take an look at this branch how it looks on it and what is done there: https://github.com/unknown-horizons/unknown-horizons/pull/2307

[2016-10-15 23:54] LinuxDonald commented on #2169
An Scrollbar would be nice here and should be easy to add it. It should like as in the Credits menu for example.

[2016-10-15 23:55] LinuxDonald commented on #1901
I think only the wheel issue is here. Because stubb already added an scrollbar here.

[2016-10-15 23:57] LinuxDonald commented on #1765
I dont use. UH on Windows. Maybe the cursor should be visable in window mode on loding screen. But on fullscreen this should now be needed. An this have only i think low priority.

[2016-10-16 00:00] LinuxDonald commented on #641
Maybe this need retesting because we have some update about foucs on fifechan: https://github.com/fifengine/fifechan/pull/26 or the changes could help to fix the problem maybe. Example code is in fife demos repo.

[2016-10-16 00:01] LinuxDonald commented on #1298
i will take on look today what must be done here.

[2016-10-16 00:26] jorgesumle commented on #2519
I prefer two, as it is more readable and also compliant with PEP8.

[2016-10-16 01:07] jorgesumle commented on #2474
The bug is now worse, but the file horizons/gui/widgets/logbook.py hasn't changed since the issue was reported. Only @squiddy changed the order of the imports and there is nothing weird in that change, so maybe the problem is not in horizons/gui/widgets/logbook.py
![captura de pantalla de 2016-10-16 03 05 36](https://cloud.githubusercontent.com/assets/14212780/19414436/9d415f30-934d-11e6-9d3d-4429

[2016-10-16 01:35] LinuxDonald commented on #2474
I will take on look today on it maybe I can fix it.

[2016-10-16 02:05] MasterofJOKers commented on #1379
Well yes and no. We need to change the numbers in that line based on the rotation. My guess would be, that it's always 8, but sometimes center+8, then center-8 and bottom-8 ... but that's just a guess. If you only change the numbers in that line, it should only look correct in one rotation, I guess.

[2016-10-16 07:55] squiddy commented on #2466
I'm pretty sure this is caused by locks in threads, with the preloading thread I can reproduce it. If I start the game, and shortly after seeing the menu try to end it (either by shortcut or clicking X), it will hang. `strace` reports this:

`futex(0x558d5704f400, FUTEX_WAIT_BITSET_PRIVATE|FUTEX_CLOCK_REALTIME, 0, NULL, ffffffff`

I can get the process to hang repeatedly. If however I disable the

[2016-10-16 07:56] squiddy commented on #1765
Since we do not have other reports of this causing issues, we might as well close it?

[2016-10-16 08:05] squiddy commented on #1379
Buildings have an issue as well:

![uh-bug-1379](https://cloud.githubusercontent.com/assets/50333/19416094/c099d022-9387-11e6-875b-c6cd0e9ed675.png)

On the right it almost looks like the building is hovering above ground. When activating the grid, it seems like grid and building are aligned correctly, but don't seem to match the tiles, they should be moved down a bit.

[2016-10-16 08:26] squiddy commented on #1379
-- eoc on irc

[2016-10-16 11:11] LinuxDonald commented on #1379
Charcoal Burning is broken too.
![2016-10-16 12-16-52 759167](https://cloud.githubusercontent.com/assets/1757651/19417032/fee121f4-93a1-11e6-9f6f-513b56c36fa8.png)
![2016-10-16 12-19-09 570352](https://cloud.githubusercontent.com/assets/1757651/19417033/fee1d504-93a1-11e6-93ac-b1f48d007453.png)

[2016-10-16 15:28] iqualfragile commented on #2280
@squiddy sorry, i was a bit out of sleep

[2016-10-16 16:29] #2474 closed

[2016-10-16 17:00] LinuxDonald commented on #2219
https://github.com/unknown-horizons/unknown-horizons/pull/2523

[2016-10-16 21:54] squiddy commented on #2474
I wonder if it's feasible to improve the layouting algorithm and have the content actually flow onto the second page, you know, like in a book.

If I remember correctly right now we're specifying what should be displayed on each page, we could instead specify the content, and the GUI should distribute the content across X pages of the logbook. Languages with longer translations (I'm looking at you

[2016-10-17 02:06] LinuxDonald commented on #2474
When we remove the scrollbars and add for example an third page what when the third page have only 3 sentence or some icons. Because there is no more from the text.

[2016-10-17 03:34] prock-fife commented on #2416
yeah I agree that is relevant.  I would go as far as saying we should perhaps add another event...   a parentWidgetHidden event.  Maybe this over-complicates things a bit.  I would have to put some more thought into it.

[2016-10-17 06:58] squiddy commented on #2474
Honestly, that's how it is then. I'm sure the current entries were written to fit into pages, which in the flow model wouldn't be necesssary anymore.

The issue I see here is that we present the user with an interface that looks like a book, acts like a book (you can click through pages)... but has scrollbars. Which means that in the worst case, I have two means of navigation: switching pages and

[2016-10-17 10:35] MasterofJOKers commented on #2474
I'm all for having a new layouting algorithm, but that is something, that has to be supported by the GUI, as we currently don't know the size of the text in the font of the GUI. Without that knowledge, it seems hard to get the correct size. We already have this problem with tooltips (e.g. #2365).

[2016-10-17 10:36] MasterofJOKers commented on #2513
Did mypy's gitter turn up with a solution?

[2016-10-17 10:40] squiddy commented on #2513
Oh noes. I completely forgot about it, because I was busy asking for help with contributing a bugfix. I can do that later today if no one else is quicker.

[2016-10-17 12:50] LinuxDonald commented on #1957
i found simething on the fifechan pychan_port branch:

https://github.com/fifengine/fifechan/pull/22/commits/0d44723afa67c1cb1c78bba6b357509988592715

[2016-10-17 12:53] MasterofJOKers commented on #2416
https://github.com/fifengine/fifechan/pull/22/commits/0d44723afa67c1cb1c78bba6b357509988592715 <- is that related?

[2016-10-17 13:01] LinuxDonald commented on #2416
I could add this change to fifechan this week when it is needed.

[2016-10-17 13:19] squiddy commented on #1957
I don't know if this is related. Our own implementation of StepSlider is buggy, and I'm working on it here: https://github.com/squiddy/unknown-horizons/commit/d2b1adf8f65d991f69c6e268167262b74fcfe258

[2016-10-17 14:57] LinuxDonald opened #2525 "Route Config for ships is broken/crashes."
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38436948-route-config-for-ships-is-broken-crashes?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_sou

[2016-10-17 14:58] LinuxDonald commented on #2525
And when i want to load that savegame where i have added an route config i become this crash: `[linuxdonald@linuxdonald-pc unknown-horizons]$ ./run_uh.py
The Python Imaging Library (PIL / Pillow) package is needed to run the atlas generator.
Atlas generation failed. Continuing without atlas support.
This just means that the game will run a bit slower.
It will still run fine unless there are other

[2016-10-17 14:59] LinuxDonald commented on #2525
Savegame file
[test-crash.sqlite.zip](https://github.com/unknown-horizons/unknown-horizons/files/533816/test-crash.sqlite.zip)

[2016-10-17 15:09] MasterofJOKers commented on #2525
Cannot reproduce with the save-game and `./run_uh.py --load-game test-crash`.

[2016-10-17 15:38] MasterofJOKers commented on #2525
@squiddy After using `git bisect`, b23f3468deb2c6f4c9b66cecd9a8959b141a9bee introduced the crash. Can you please have a look at it?

[2016-10-17 21:42] squiddy commented on #2525
Some information on how to reproduce the bug, or at least, which actions led to the crash, would be really helpful.

[2016-10-17 21:48] MasterofJOKers commented on #2525
Oh, `./run_uh.py --load-game test-crash` then click on the route menu symbol of the ship.

[2016-10-17 21:49] squiddy commented on #2525
The likely issue here is that when ending the game, `Session` does `self.ingame_gui = None`, which, besides setting that attribute to None (d'oh), also invokes the LivingObject magic that will call end on the old object. If any code during this function call accesses session.ingame_gui it will break, since it was already set to None.

I guess we could fix that by invoking end explicitly, and then

[2016-10-17 21:50] squiddy commented on #2525
@MasterofJOKers So the steps that lead to the crash are not known? I don't like having only a savegame to reproduce it, simple steps make it easier to write a test.

[2016-10-17 21:51] MasterofJOKers commented on #2525
Well, there are two crashes here. The one when loading the savegame is reproduced as above. The over one seems to be: create a trading route.

[2016-10-17 21:58] MasterofJOKers commented on #2525
Sorry, you're right. Creating a trading route works. @LinuxDonald You should write better tickets! Just creating  trading route works flawlessly for me.

[2016-10-18 01:59] LinuxDonald commented on #2525
The first crash: create an route add for example lumber to it don't start the route save the game. Than close the game it should crash.

Second crash: load the created savegame open the route config

[2016-10-18 10:18] MasterofJOKers commented on #2513
"Including it in the package" sounds like `horizons.ext` to me.

[2016-10-18 10:39] squiddy commented on #2513
Yeah, I really don't want to do that. Which is why I suggested somehow including it in the packaging process. mypy is a development tool, I should be able to use the latest version (especially because libraries around mypy are still in flux), without regularly updating the file in `horizons.ext`.

But, for the time beeing, I suppose we could go with `if False`, focus on the work with mypy, and fig

[2016-10-18 10:46] MasterofJOKers commented on #2513
IIRC we don't need it at runtime, so the better way for packaging would be to patch all the imports out of the project. As you said, it's only for development.

[2016-10-18 12:20] squiddy commented on #2513
That won't work in Python 3 as I said. There you'd write

[code]

instead of

[code]

which means you need Any & List defined at runtime. I guess we could patch those out as well, but I don't think this is something we actually should do.

[2016-10-18 12:23] MasterofJOKers commented on #2513
And python3 still hasn't typing included?

[2016-10-18 12:26] squiddy commented on #2513
I can't recall any plans to ever include it.

The PEP was written with no specific implementation in mind. You can define type hints, but the interpreter doesn't do anything with them (other than parsing and exposing the information e.g. on the func object). What to do with them is left to third-party packages.

AFAIK typing happens to be such a third-party package that is developed by (at least o

[2016-10-18 12:27] MasterofJOKers commented on #2513
[code]
It seems to be.

[2016-10-18 12:32] squiddy commented on #2513
Oh. Guess I was wrong. So the stuff `typing` does is then part of the PEP, I see. I'm a bit surprised, I thought they were actively developing typing as well.

So... sooner or later we will have `typing` imports unconditionally in the code then. Looking at typing's README:

I suppose at this point the library is pretty solid (at least for our use-case), and we can include it for python2? Adding so

[2016-10-18 12:40] squiddy commented on #2513
I think this then is the way to go:

1. include python2 backport of typing in `horizons.ext`
2. adapt imports to read `from horizons.ext.typing import Any, ...` (unconditionally)
3. once we switched to python3, replace `from horizons.ext.typing` with `from typing`
4. remove `horizons.ext.typing`

Does that sound good @MasterofJOKers ?

[2016-10-18 12:44] MasterofJOKers commented on #2513
Sounds good to me.

[2016-10-19 16:25] LinuxDonald commented on #2179
@squiddy @MasterofJOKers @janexx what ships of the list above you want to see ingame?

I like  Blendswap: Suzanne's Revenge/ Blendswap: HMS Aiax (frigate)/ Blendswap: HMS BOUNTY VESSEL

[2016-10-19 16:47] MasterofJOKers commented on #2179
We need to Black Pearl for the "get rid of all pirates in the bay" scenario!

[2016-10-19 16:53] LinuxDonald commented on #2179
But I think the black Pearl from above needs some love from janexx :-)

[2016-10-19 17:22] janexx commented on #2179
My favorites:
Blendswap: Suzanne's Revenge
Blendswap: La Couronne (frigate)

I like also:
Blendswap: HMS Aiax (frigate)
Blendswap: Black Pearl
Blendswap: Sailing Ship
Blendswap: Tall Ship Battle

[2016-10-19 22:05] squiddy commented on #2482
I'm probably going to remove the pylint config in the near future.

The config is huge, the warnings/errors are many and the tool tries to do a lot at once. For type checking we'll be implementing type hints for mypy, code style issues can be found with pep8 & co. If we later need code complexity (McCabe..) checks, we can readd pylint.

[2016-10-19 22:05] #2482 closed

[2016-10-20 04:03] prock-fife commented on #2416
@MasterofJOKers yeah I think you are onto something there.

[2016-10-20 07:01] squiddy commented on #2179
Well... what ships do we need? What's their purpose in the game?

[2016-10-20 08:46] MasterofJOKers commented on #2179
Purpose: Having enough cannons to "get rid of all the pirates in the bay" :grin:

[2016-10-20 12:23] LinuxDonald commented on #2416
I will make on the next days an pr for it.

[2016-10-20 15:46] squiddy commented on #2525
You don't even have to save the game to trigger the crash, all it takes is to have the route config open when closing the game.

[2016-10-20 15:57] #2511 closed

[2016-10-20 15:58] squiddy commented on #2511
@ChrisOelmueller Thanks for the hint.

[2016-10-20 16:39] LinuxDonald commented on #2525
The pr fix the first problem but not the second when you want to load the saved game and open route config it crashes.

[code]

[2016-10-20 16:48] squiddy commented on #2525
Ah yes, my bad. Forgot about the second traceback. :)

[2016-10-21 08:57] dotpot opened #2529 "Black screen, mouse cursor is not visible."
Running on **macOS Sierra** (Version 10.12).

<img width="1024" alt="screen shot 2016-10-21 at 11 54 46" src="https://cloud.githubusercontent.com/assets/524216/19592643/6111301c-9785-11e6-94c3-a0ccecfb74b5.png">

[2016-10-21 09:27] squiddy commented on #2529
If you're starting UH from the command line, you can add the `--debug` parameter. The messages printed on the terminal will be saved into a log file in `~/.unknown-horizons/log` as well. It will output things like python version, fife version (the engine), etc. Those could prove useful for figuring this out.

Did you install UH from git or is this a release package? (not familiar with macOS *at al

[2016-10-21 09:28] dotpot commented on #2529
I've just downloaded the mac os package (.dmg) from the site.

[2016-10-21 10:07] squiddy commented on #2529
I have access to a mac, I can try this later today and provide you with steps for running the game in debug mode. We should have a page in the wiki for that, otherwise it's time to write this down somewhere.

[2016-10-21 21:20] squiddy commented on #2529
So here's what I did:

1. Put Unknown Horizons into Applications
2. Open a terminal
3. Switch to horizons directory: `cd /Applications/Unknown Horizons.app/Contents/MacOS`
4. Run the game in debug mode: `./Unknown\ Horizons --debug`
5. View log file: `view ~/.unknown-horizons/log/unknown-horizons-XXX`

[2016-10-22 08:38] squiddy commented on #2525
@LinuxDonald I've updated the PR with a fix for the other crash.

[2016-10-22 16:42] #2525 closed

[2016-10-22 23:02] LinuxDonald commented on #2416
My job is here done add pr on fifechan: https://github.com/fifengine/fifechan/pull/39
When you need another new function from pychan_port branch i will create an pr for it.

[2016-10-23 13:44] squiddy commented on #2416
Can someone explain how Slider functions relate to this issue, which is about TextWidgets?

[2016-10-23 15:10] squiddy commented on #2169
I dislike the combination of showing a book-like interface and using a scrollbar. Especially since in this case, we would be wasting the space on the right.

I think each page (we've got two) offers space for 21 resource items, so 42 in total. Which might be still not enough. Adding scrollbars to each page is confusing in my opinion. I like the interface of the logbook where you actually scroll pa

[2016-10-23 15:13] LinuxDonald commented on #2169
That is an nice idea too. Or adding book tabs for different resource groups.

[2016-10-24 18:04] #2518 closed

[2016-10-25 00:37] lucasfevi commented on #2529
Any updates on this? I have the same problem and the log didn't show any error for me.

[2016-10-25 08:58] squiddy commented on #2529
Unfortunately there won't be more updates here unless we are given more information (a point I probably should have made clearer).

With the number of active developers (maybe 5?) and the subset of them owning a macbook (perhaps only 1), there isn't much we can do ourselves, we depend on your help in order to be able to help you.

So, to get this going, this is what I'd like to see:

* Installatio

[2016-10-25 15:52] LinuxDonald commented on #2169
![2016-10-25 17-51-17 443717](https://cloud.githubusercontent.com/assets/1757651/19693423/c7bee65c-9adb-11e6-8d7b-a730ea702460.png)
![2016-10-25 17-51-14 041771](https://cloud.githubusercontent.com/assets/1757651/19693424/c7c08408-9adb-11e6-8d86-62c8bc938733.png)

[2016-10-25 20:15] squiddy commented on #2466
Reopened, because this still happens when inside the editor.

[2016-10-25 20:21] LinuxDonald commented on #2466
I had the issue still to when uh crashes.

[2016-10-25 20:39] #2515 closed

[2016-10-25 20:46] squiddy commented on #2513
Packages like `horizons.gui.modules`, `horizons.gui.keylistener` and `horizons.gui.tabs` trigger an bug in mypy: https://github.com/python/mypy/issues/2052

We can work-around this by using relative imports there, however we haven't really decided if that's something we want to do (I'd prefer it).

[2016-10-25 21:03] LinuxDonald commented on #2513
I'm an code noob but does it makes code easier to ready?

[2016-10-25 21:19] squiddy commented on #2513
The advantage is that one can restructure whole modules (like `horizons.gui.tabs`) without renaming imports of files inside that directory. Which will rarely happen in our case though.

It's probably a matter of taste. I do find it superfluous to repeat the module path, e.g. in `horizons.gui.tabs` we do:

[code]

where we could write

[code]

instead.

However, I'm fine with both styles. It's just

[2016-10-25 21:22] LinuxDonald commented on #2513
I think the second style is better because.

(Weil man sich nicht mehr so sehr verschreiben kann)

[2016-10-25 21:31] squiddy commented on #796
Most likely a duplicate of #1379

[2016-10-25 21:31] #796 closed

[2016-10-26 00:52] lucasfevi commented on #2529
**Installation method:** website package
**macOS version:** masOS Sierra 10.12
**device version:** MacBook Pro, Retina, Early 2015
**graphics chip version:** Intel Iris Graphics 6100 1536 MB
**debug log:** https://gist.github.com/lucasfevi/43130b7101f25d68d74647be5e0d632c

[2016-10-26 06:44] squiddy commented on #2529
@lucasfevi Thanks for the update! So we have the same hardware, that's a good start. I need to read up on how to rollback to El Capitan in case of problems. After that, I can update to Sierra and see if I can reproduce and possible fix the issue. However I can work on this on the weekend at the earliest.

Building from source is a good idea, the package from the webseite was released in 2014 if I

[2016-10-26 20:52] #2169 closed

[2016-10-26 20:55] squiddy commented on #1298
@LinuxDonald Any news on this?

[2016-10-26 20:58] squiddy commented on #2466
Sorry, but I don't understand what you're trying to say. You can't close the game after it crashed?

[2016-10-26 21:20] squiddy opened #2534 "Provide nightly builds"
The idea to provide nightly builds popped up a while ago. I think this is a very useful task to accomplish, because we've automated the packaging process (and probably understand it) and can give people, that encounter bugs, an easy way to test a newer version.

I want to make sure we're talking about the same thing first:

* after every successful CI run of master, builds will be created (so for

[2016-10-26 21:33] squiddy commented on #2513
Step one is *almost* done. Ignoring errors from global gettext functions we get this: https://gist.github.com/squiddy/c6dd6479da8cd5b7495374fd4ba85acf

The majority of errors is of the form:
`Definition of "<A>" in base class "<B>" is incompatible with definition in base class "<C>"`

[2016-10-27 04:09] LinuxDonald commented on #2466
I can't close it after it crashed. It hangs then.

[2016-10-27 04:10] LinuxDonald commented on #1298
Oh sorry I completely forgot that...

[2016-10-27 04:41] LinuxDonald commented on #970
Could that maybe needed later for multiplayer?

[2016-10-27 04:46] LinuxDonald commented on #2179
For example War Ships.

[2016-10-27 04:48] LinuxDonald commented on #2505
I think it would look better when walls cant build on coast. (Sand Tiles)

[2016-10-27 04:58] LinuxDonald commented on #1298
![2016-10-27 06-49-37 329531](https://cloud.githubusercontent.com/assets/1757651/19754930/1e7bffb6-9c12-11e6-8f61-c2205cfcb97f.png)

As you can see when you move your mouse on to the Name of the ship it become the same problem as on den savegame error report. https://github.com/unknown-horizons/unknown-horizons/issues/2416
But about the style issue here maybe an Hover effect would be nice. When yo

[2016-10-27 04:59] LinuxDonald commented on #1298
![2016-10-27 06-51-54 583277](https://cloud.githubusercontent.com/assets/1757651/19755021/c8127690-9c12-11e6-9507-f2e81a4e95c7.png)
Here the same it would be nice to have here to an hover effect. That player can see that it is clickable.

[2016-10-27 04:59] LinuxDonald commented on #1298
![2016-10-27 06-52-16 442585](https://cloud.githubusercontent.com/assets/1757651/19755038/e732c0c0-9c12-11e6-9b6c-b25cc1bc4778.png)
For Trade gui the same.

[2016-10-27 05:00] LinuxDonald commented on #1298
If more information is needed please ask :)

[2016-10-27 05:08] LinuxDonald opened #2535 "Text is cut off in the gui"
~~Why there is an black icon? before the Free Trader in the gui?~~

![2016-10-25 17-33-45 638768](https://cloud.githubusercontent.com/assets/1757651/19755183/349b61d6-9c14-11e6-9fad-2c95d908f9b8.png)
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38718842-text-is-cut-off-in-the-gui?utm_campaign=plugin&utm_content=tracker%2F287396

[2016-10-27 15:35] squiddy commented on #2466
Does this happen after every crash? And what crash exactly? So far we only
have two documented crashes.

Am 27.10.2016 12:09 vorm. schrieb "Thomas Kowaliczek" <
notifications@github.com>:

[2016-10-27 17:56] squiddy commented on #2535
It's the player emblem, which in UH apparently is just a rectangle with the player's color. So certainly not a bug.

The screenshot shows other issues though: the gold icon is cut off (might be another case where we need to activate scaling) and the text below the resource selection is overflowing.

[2016-10-27 18:06] LinuxDonald commented on #2535
In the gui the text is a little bit out of gui to see: will buy tools for 21 gold whenever...

[2016-10-27 18:19] squiddy opened #2538 "Zooming the view continues when using mousewheel on GUI elements"
**Steps to reproduce**
1. Move mouse over GUI element
2. Use mousewheel

**What I expected**

The world view shouldn't zoom since my mouse is over the GUI.

**What happened**

The world view zoomed in and out as I used the mouse wheel. This is especially confusing when I'm focusing a scrollarea in the GUI, since now both the scrollarea and the world view change.

**Demo**

https://youtu.be/2OVtIh2

[2016-10-27 18:23] squiddy commented on #2535
@LinuxDonald If you're fine with the player emblem thing, can you simple rename the issue, because it's not about the black thing anymore?

[2016-10-27 18:26] LinuxDonald commented on #2535
For the moment I fine with it. I will create an extra ticket for it and rename this here one.

[2016-10-27 18:28] LinuxDonald commented on #2538
I have this error to when I in the gui and what use the mouse scroll for scrolls in the gui but at same time it is zooming.

[2016-10-27 18:37] squiddy commented on #1298
The problem is that not every player is going to move the mouse over elements to see whether they can be interacted with or not. The original post also suggested using a different background for clickable elements.

We might also try to reuse certain elements:

Take the ship naming example, let's say we show a pencil to the side of it and the player learned that when clicking the name, it can be c

[2016-10-27 18:39] squiddy commented on #1298
Hover alone isn't enough most of the time. This is a bit far fetched, but think about mobile games. If you play on a tablet, most likely there won't be any hover event (how would that even work?). Websites face the same issue.

[2016-10-27 18:45] squiddy commented on #2466
Interestingly enough, when I start the editor from the command line `run_uh.py --edit-map full-house` and wait until the game loaded I can exit the game just fine. If however I'm starting the editor from the main menu, exiting will hang the game.

[2016-10-27 19:54] squiddy opened #2539 "Rework preloading threads"
Currently we employ two threads for preloading game related data. These cause issues such as https://github.com/unknown-horizons/unknown-horizons/issues/2466

### AtlasLoadingThread

When atlases are activated, at startup the thread is started (which internally starts a subprocess to generate_atlases.py and waits for it), a TK window is shown, which itself waits for the thread to start.

So curren

[2016-10-28 05:40] LinuxDonald commented on #1298
Yeah maybe you are right.

[2016-10-29 05:08] #1901 closed

[2016-10-29 08:19] squiddy commented on #2513
All that's left are those incompatible errors. The one in production overview to me is not all clear whether that should be an error or not:

I've opened a new issue at mypy https://github.com/python/mypy/issues/2377.

The rest of the errors might actually be somewhat related. As far as I understand the code, we aren't doing super calls inside `__init` for example, since that's called done in `__i

[2016-10-29 08:23] squiddy commented on #1298
Is this something in the scope of the upcoming release? Because this is a rather broad issue and the solution(s) aren't that clear to me yet.

[2016-10-29 08:31] squiddy opened #2540 "Playtest multiplayer and decide how to proceed with MP"
Before the new release, we should test the multiplayer, confirm existing bugs / usability issues and. find new bugs and issues. Then try to estimate whether we can fix that in time, or if we should disable multiplayer alltogether.

Disabling it may not be a popular choice, but a broken feature is just annoying.

Perhaps there are other solutions. Like disabling MP, but focusing on pushing nightly

[2016-10-29 08:54] squiddy commented on #1957
Looking at the code, GreyGhost already did a lot of work on this: https://github.com/unknown-horizons/unknown-horizons/commits/step-slider

It even seems to include markers for the individual steps! Probably going to merge our changes.

[2016-10-29 10:02] LinuxDonald commented on #1957
I could test it on Monday because I'm not at home at this weekend.

[2016-10-29 10:05] squiddy commented on #1957
There is nothing to test yet, I meant merge GreyGhost' changes with my ongoing work.

[2016-10-29 10:06] LinuxDonald commented on #1957
Ah okay that would be nice :-)

[2016-10-29 21:07] #2466 closed

[2016-10-29 21:07] #2539 closed

[2016-10-30 08:23] squiddy opened #2542 "Don't place tress on sand tiles"
I think it would be better if we wouldn't place trees on sand tiles, it looks a bit odd. Once we've added climate zones, we can re-enable this for desert zones with palm trees.

![2016-10-30 09-20-02 905539](https://cloud.githubusercontent.com/assets/50333/19835298/276d5116-9e82-11e6-81c7-08a1c440a215.png)

Game version: 36c39724b38798a5da8a54d14035750fcb67bc33
Map: development
##

[2016-10-30 09:06] squiddy commented on #2451
@CrafterSvK Hi, I've submitted a patch with modified behaviour here: https://github.com/unknown-horizons/unknown-horizons/commit/3bc51f602a0f54fcf38fea9cdc035d196b409819 Perhaps you can try it out. :-)

[2016-10-30 09:12] LinuxDonald commented on #2542
Yes we should disable it. On climate branch u think we will find an way for it.

[2016-10-30 17:52] squiddy opened #2548 "Fix savegame upgrades or set SAVEGAME_LEAST_UPGRADABLE_REVISION"
Savegame upgrades are broken (no further information is available).

We should either repair it, or deny upgrade of savegames from 2014 (`VERSION.SAVEGAME_LEAST_UPGRADABLE_REVISION`).

[2016-10-30 18:35] LinuxDonald commented on #2548
I will look tomorrow If I could found the commit what broke it.

[2016-10-31 09:04] squiddy opened #2549 "Crash when dragging on minimap"
As reported by @fraang (https://github.com/unknown-horizons/unknown-horizons/commit/70de4b30a9065522b783e06d51399b297eb0105c#commitcomment-19626738)

Introduced by 70de4b30a9065522b783e06d51399b297eb0105c

**Steps to reproduce:**

1. Start a game
2. Start dragging the mouse on the minimap
[code]

[2016-10-31 13:02] LinuxDonald commented on #2451
I have tested it a bit. For me it works. That language that i select in the options get selectetd to in the scenario by default

[2016-10-31 13:25] LinuxDonald commented on #2548
i found what commit breaks the savegame updater.

[2016-10-31 20:41] #2549 closed

[2016-10-31 20:42] #2451 closed

[2016-11-01 01:16] LinuxDonald commented on #2394
I think we need an new forum. It is really outdated and I don't know who have access to it. I'm waiting now more than 6 months for an update here.

[2016-11-01 07:06] #2516 closed

[2016-11-01 07:56] squiddy commented on #2513
First step (`Fix issues raised when running mypy on clean codebase (mypy --py2 --silent-imports --fast-parser -p horizons)`) is done. We still get lots of issues related to inheritance (https://github.com/unknown-horizons/unknown-horizons/issues/2513#issuecomment-257078652), but that's nothing we can fix or ignore with mypy right now. I think we probably write some `run_mypy_check` script that ign

[2016-11-01 10:54] #2152 closed

[2016-11-01 12:16] Z-Fikar opened #2551 "No Terminology"
I made this issue because I found bugs in one of **Terminology** translation files and when I want to fix it, I couldn't **Terminology** in the [Weblate](https://hosted.weblate.org/projects/uh/).

So, I recently submit a Pull Request to fix it #2550 instead using Weblate.

The solution here is either you add **Terminology** in the Weblate so I can fix it there or just merge my PR.
<br>

<bountysou

[2016-11-01 14:59] #2551 closed

[2016-11-01 15:13] squiddy opened #2553 "Figure out weblate integration regarding glossary/terminology"
weblate has a glossary feature that is used to provide hints to translaters regarding specific words: https://docs.weblate.org/en/latest/user/translating.html#glossary

It seems one can edit this directly on weblate, but it's not a weblate component (domain in gettext speech).

What's confusing is that we still have files related to terminology in our repository `po/terminology/` (which leads to P

[2016-11-01 15:14] squiddy commented on #2551
I created #2553 to figure out how to deal with this in the future.

[2016-11-01 15:16] Z-Fikar commented on #2551
👍

[2016-11-01 15:30] jorgesumle commented on #2553
It's confusing. I changed three months ago the terminology from spanish, but the po/terminology files are not synchronized with weblate.

For many languages I've seen that the date of creation and revision of those files are 4 years old and haven't been updated in a very long time. I think that the Weblate glossary is the most updated one.

In my opinion, we should replace the old terminology file

[2016-11-01 15:41] ChrisOelmueller commented on #2553
To shed some light here:

We used to maintain our translations with [Pootle](http://pootle.translatehouse.org/). Pootle has glossary/terminology support. It maintains the glossary as `.po` files if configured to do so, and thus glossary edits made in Pootle would be reflected in the UH repository.

We now use [Weblate](https://weblate.org/) to maintain our translations. Weblate has glossary/termin

[2016-11-01 18:19] jayvdb commented on #2553
@nijel, maybe you know where weblate is heading with glossaries, and where other people might be able to help?

[2016-11-01 19:37] squiddy commented on #1695
Can't reproduce it, we will see it it comes up again later. Closing in the meantime.

[2016-11-01 19:37] #1695 closed

[2016-11-01 21:39] LinuxDonald commented on #1284
Maybe the minimap should rotated as the map it self?

[2016-11-01 21:57] LinuxDonald commented on #2219
I like the gui from #2523 but i dont how to fix and it need changes too. As you can see here we have an Text problem on the gui: https://cloud.githubusercontent.com/assets/1757651/19618863/9b0ab366-9856-11e6-800e-3a3f6d9bfd31.png

I think the Name of the Island and the player name shoud be above the Trade slots?

[2016-11-02 01:46] LinuxDonald commented on #2416
https://github.com/fifengine/fifechan/pull/39 is now merged maybe it could help.

[2016-11-02 01:47] LinuxDonald commented on #1957
https://github.com/fifengine/fifechan/pull/39 is now merged. maybe it could help.

[2016-11-03 19:00] squiddy commented on #2548
-- LinuxDonald (IRC)

I checkout the commit (e2adf80cd62ce) before the one that supposedly breaks the savegames, build a brewery and loaded it into master (7b9aed499a809), it seems to work fine?!

[2548.sqlite.zip](https://github.com/unknown-horizons/unknown-horizons/files/569866/2548.sqlite.zip)

[2016-11-03 19:06] squiddy commented on #2219
I agree.

Not sure I like the button with the red arrow on the right. Is that intuitive? Why is it near the controls, that either remove a waypoint or move it?

[2016-11-03 21:35] LinuxDonald commented on #2219
I think as tooltip say it unload the compelte inventory but i dont know exactly because double click on it crashes uh. Crash log is in the pr.

[2016-11-05 12:23] ChrisOelmueller commented on #2131
@janexx

Does the brickyard support animated production/inventory overlays now?

I seem to remember testing this code with lumberjacks exclusively, so the ticket was about also using the same feature for brickyards (by only showing certain amount of "finished" bricks in its yard) I believe.

[2016-11-05 13:26] LinuxDonald commented on #2548
Yeah i have tested it now too with your savegame. and it works then i think it can be closed here.

[2016-11-08 14:09] nijel commented on #2553
That's good question :-). Having them stored in VCS is certainly interesting idea which would nicely fit into existing Weblate workflows (this would also allow to implement https://github.com/nijel/weblate/issues/243 on the repository side rather than doing that in Weblate).

[2016-11-10 14:07] #2548 closed

[2016-11-10 16:24] janexx opened #2554 "Wishes for xmas specials"
Hey everyone, I would like to have a special xmas-edition of UH or at least a small easteregg for christmas. Nothing big, just replacing/adding some graphics. What do you all think about that? What would you like to see in UH?
Examples:
- a christmastree at the marketplace
- some gifts appearing randomly somewhere (would need additional code)
- ?

[2016-11-11 15:59] janexx commented on #1586
For the pirate ship I made a seesaw animation. But whats missing for all ships is some water which is pushed away by the ship.
Is it possible to implement this water animation as overlay? Then I would not have to render all ships again.

[2016-11-12 07:24] oz123 opened #2555 "Can't emerge on gentoo following the official instructions in the website."
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39169367-can-t-emerge-on-gentoo-following-the-official-instructions-in-the-website?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2016-11-12 07:53] oz123 commented on #2555
sorry, layman missconfiguration....

[2016-11-12 07:53] #2555 closed

[2016-11-12 17:35] LinuxDonald commented on #2326
I close this because we install an new forum. Because we dont have access to the old one.

[2016-11-12 17:35] #2326 closed

[2016-11-12 17:35] #2394 closed

[2016-11-12 22:50] janexx commented on #1586
Draft:

![wateranim2_klein](https://cloud.githubusercontent.com/assets/6216898/20242569/b9b12952-a932-11e6-920b-750771a4180d.png)

[2016-11-12 22:51] LinuxDonald commented on #1586
@squiddy could we add ship overlays that janexx dont must rerender all move ship animations for the animating water?

[2016-11-13 07:08] squiddy commented on #1586
@LinuxDonald I can't say at this point. Have to become familiar with overlays first.

[2016-11-13 17:17] LinuxDonald commented on #1849
https://github.com/unknown-horizons/unknown-horizons/pull/2570

[2016-11-13 23:32] LinuxDonald opened #2576 "Break everything the TabWidget does"
**! Do not merge this PR !**
It serves as TODO list for a rather ambitious branch. Base branch is `unify-tabs` resp. `tabw`.

See [`tabwidget`](https://github.com/unknown-horizons/unknown-horizons/wiki/Tabwidget) for more details.
- [x] Create a custom widget for our tabs
- [x] Dynamically load tabs into one parent tab widget
- [x] Fix hackish placement of tab buttons and diverging tab-container s

[2016-11-13 23:33] LinuxDonald commented on #2576
Pr for this: https://github.com/unknown-horizons/unknown-horizons/pull/2012

[2016-11-13 23:34] LinuxDonald commented on #1548
See PR: https://github.com/unknown-horizons/unknown-horizons/pull/2573

[2016-11-13 23:38] LinuxDonald opened #2577 "Review some closed PR´s"
Review some closed PR´s

* [ ] #2571 Dynamic game speed

* [ ] #2570 Message panel

* [ ] #2569 Incr

* [ ] #2568 Loaders

* [ ] #2566 Datacollect

* [ ] #2563 Simulation cleanup

* [ ] #2560 Wide tooltips

* [ ] #2460 [DONT MERGE] Needs big review - Multiplayer improvement

* [ ] #2459 Menu game separation

* [ ] #2575 Attack via minimap

<bountysource-plugin>
---
Want to back this issue? **[Post

[2016-11-14 09:37] jakoch commented on #2577
Why do you need to review closed PRs?
Do you want to extract features from non-merged PRs?

[2016-11-14 09:44] MasterofJOKers commented on #2577
The branches backing these PRs are really old. They need to be updated to have any chance of getting merged. That's why the PRs are closed. He wants to figure out, if we still want any of the features implemented in these branches. E.g. #2459 is probably a good thing when we want to split off the AI at some point in time, but does not apply to the current master at all.

[2016-11-14 09:55] jakoch commented on #2577
Ok, that makes sense. So, it's feature extraction from branches. Thanks for explaining!

[2016-11-14 17:23] #2577 closed

[2016-11-15 13:15] LinuxDonald commented on #2554
What about an future that we automatically activate from December 1 to 31 Xmas setting in UH?

[2016-11-15 13:58] janexx commented on #2554
Good idea @LinuxDonald. Woulde this cause much work?
OK two people seem to like the idea, with me 3. :) Maybe I start with the christmas tree. And when I get more hearts, I will do more christmas stuff. :)

[2016-11-15 14:00] LinuxDonald commented on #2554
I dont know about the work but i asked MasterOfJoker allready and he dont have time at the moment. Maybe @squiddy could do this but i dont know :(

[2016-11-15 23:10] #2576 closed

[2016-11-17 20:57] janexx commented on #2131
Finished with commit 33377593ed512b6d65431ac9e972cafe3d9e1f3c
I've tested it already. Thanks @ChrisOelmueller for helpful informations! :)

[2016-11-17 20:57] #2131 closed

[2016-11-18 15:58] janexx commented on #2219
Hey all, here an edited screenshot how it could look like / a propsal how it could be implemented:
![poposal_route_menu_janexx](https://cloud.githubusercontent.com/assets/6216898/20436223/a39c6b14-adaf-11e6-9989-43bb04c5b679.png)

Instead of the red arrow for unloading everything on board I find a symbol with a red arrow more intuitiv. I have created the button by myself, it doesn't exists yet.
I

[2016-11-18 16:02] LinuxDonald commented on #2219
Looks good

[2016-11-28 16:49] janexx commented on #2554
How it could look like...
![xmas_market_citizens](https://cloud.githubusercontent.com/assets/6216898/20677304/ed90e4b2-b592-11e6-8453-2299a91b7289.png)

[2016-11-28 16:53] LinuxDonald commented on #2554
That's nice :-)

[2016-12-04 12:58] LinuxDonald opened #2579 "Change Windows Installer to Inno Setup"
Change Windows Installer to Inno Setup

https://github.com/unknown-horizons/uh-installer

[2016-12-04 12:59] LinuxDonald opened #2580 "Create an MAC Package"
We need an new MAC Package.

[2016-12-04 13:17] LinuxDonald commented on #2579
PyYAML Windows Installer: http://pyyaml.org/wiki/PyYAML

[2016-12-11 02:20] LinuxDonald commented on #2396
https://github.com/fifengine/fife-windows-sdk/issues/6

[2016-12-12 22:26] Cesar1990 opened #2582 "The games closes abrupted (after 10 seconds)."
Because this i can't play. How can i solve it? Help please.

[2016-12-12 23:04] LinuxDonald commented on #2582
What version of unknown-horizons and fife do you use?

[2016-12-14 20:56] Niektory opened #2583 "Update handling of FIFE exceptions"
A recent FIFE patch (https://github.com/fifengine/fifengine/pull/945) changed the types of exceptions thrown to Python clients. Previously they were all converted to `RuntimeError`, while now they have custom types such as `fife.NotFound`. Because of this they are no longer caught properly by Unknown Horizons.

I see two ways to fix it:
- Update all exception handlers to the new types. This is dif

[2016-12-14 21:56] LinuxDonald commented on #2583
Only new version because next uh release will need current fife release.

[2016-12-15 03:00] LinuxDonald commented on #2583
I like the second option. But i think when we hack/workaround this bug we should let open this ticket or open new one to remove (for lone time turn) the hack fix.

[2016-12-15 14:28] Jeeppler commented on #2396
@LinuxDonald are you still considering to release a new UH version for this year?

[2016-12-15 14:32] LinuxDonald commented on #2396
I hope it really. We are still working on it. We have two problems at the moment. One is the fife Windows SDK and after that UH windows installer. And we have fixed an bug/problem in the fife swig/python interface for that uh now need an fix/change too. After the fife change is fixed in UH we could release the new version of uh but only for Linux. And engine too only for Linux.

[2016-12-15 14:46] Jeeppler commented on #2396
It seems like you did a lot of progress over the past months. If you can not make it this year. Make a 2017 New Year edition :-)

[2016-12-16 01:55] Cesar1990 commented on #2582
Hi! Fife version  "0.3.5-1build" and game is "2014.1+ds1-2". My OS is Mint Sarah (18) XFCE.

Thanks!!!

[2016-12-16 02:05] LinuxDonald commented on #2582
Sorry this version is very old and yes the last stable from us. But we will make an new release this month or in the next one. Then UH should work again for you.
We are working on new release and have an open ticket for it: https://github.com/unknown-horizons/unknown-horizons/issues/2396

I close that here.

[2016-12-16 02:05] #2582 closed

[2016-12-21 16:04] LinuxDonald commented on #2396
Sorry but we can not do an release this year sorry for this. New release is planned for Q1 2017.

[2016-12-21 18:10] #2322 closed

[2016-12-22 15:36] Jeeppler commented on #2396
I hope you will make it for 2017. Keep me updated :-)

[2016-12-25 10:33] CrafterSvK commented on #2534
I can make AUR package for unknown-horizon nightly branch if it would be availbable. AUR can update itself every time something change in that repository so that means you will have the latest version. On debian/ubuntu would be great to do custom repository instead of .deb file

[2016-12-25 10:40] LinuxDonald commented on #2534
For AUR we already have git packages in the aur repo

[2016-12-25 10:41] CrafterSvK commented on #2534
Only for release 2013.1 and 2014.1

[2016-12-25 10:43] LinuxDonald commented on #2534
https://aur.archlinux.org/packages/unknown-horizons-git

That package use git version. It shows old version number because there is nothing new tagged in git.

[2016-12-25 10:45] CrafterSvK commented on #2534
It would be nice to be updated. Maybe I can work on debian/ubuntu repo if you'll agree

[2016-12-25 11:00] LinuxDonald commented on #2534
We plan to make an new release in the first quarter of 2017 after this we can make nightly packages for more distros. Windows: we are still working on an new fife Windows installer. That will be used to for uh and then we can easily provide nightly windows packages.

[2016-12-25 15:27] CrafterSvK opened #2585 "Scrolling in settings while in game scrolls the game too"
Changing settings while in game and scrolling through menu initiate scrolling in game too. Which looks kind of bad.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40385623-scrolling-in-settings-while-in-game-scrolls-the-game-too?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bountie

[2016-12-25 15:37] LinuxDonald commented on #2585
That's an know bug. I think we have already an bug report for it?

[2016-12-25 15:44] CrafterSvK commented on #2535
Probably fixed see #2586..

[2016-12-25 16:37] CrafterSvK opened #2587 "Weblate doesn't include all strings"
Weblate doesn't include this string. So it cannot be translated.
![screenshot_2016-12-25_17-36-26](https://cloud.githubusercontent.com/assets/8365659/21472067/56f5d024-cac0-11e6-938f-757b662f8d7b.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40386406-weblate-doesn-t-include-all-strings?utm_campaign=plugin&utm_content=tracker%2

[2016-12-25 17:04] LinuxDonald commented on #2587
Maybe it's not translated?

[2016-12-25 17:14] CrafterSvK commented on #2587
It is not translatable. Can't find any string with that name on weblate but it is included in the code.

[2016-12-25 17:27] LinuxDonald commented on #2587
Okay I will take an look on it tonight.

[2016-12-25 22:55] LinuxDonald commented on #2535
Fixed with: #2586

[2016-12-25 22:55] #2535 closed

[2016-12-25 23:38] LinuxDonald commented on #2587
fixed with: https://github.com/unknown-horizons/unknown-horizons/commit/0b03ebeb26ecbf85e3f02c92b41a8bd73fc257ac

[2016-12-25 23:38] #2587 closed

[2016-12-26 03:42] Niektory commented on #2516
I seems `run_uh.py` was left out and needs `from horizons.i18n import gettext as _` too. Not sure where exactly to put it considering this warning: https://github.com/unknown-horizons/unknown-horizons/blob/master/run_uh.py#L49

[2016-12-28 05:10] oz123 opened #2588 "Website links to outdated ebuild for gentoo"
The ebuild linked here http://www.unknown-horizons.org/download/linux/ for gentoo
is useless. It has not been maintained in over 5 years, and  it causes more headache then helps.

Please remove it from the listing ...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40439053-website-links-to-outdated-ebuild-for-gentoo?utm_campaign=plu

[2016-12-28 13:39] LinuxDonald commented on #2588
Fixed. I removed complete the linux download page and linked it now to wiki. There will be in the future an more up-to-date Page of Downloads.

[2016-12-28 13:39] #2588 closed

[2017-01-01 07:37] fangelion opened #2589 "Not found image"
`RuntimeError: _[NotFound]_ , Something was searched, but not found :: content/gui/images/buttons/close_d.png`

[2017-01-01 21:06] CrafterSvK commented on #1974
This problem still exists

[2017-01-06 12:59] LinuxDonald opened #2593 "No overlays defined for resource (brickyard)"
[code]

[2017-01-06 16:46] #2593 closed

[2017-01-08 12:46] LinuxDonald commented on #2075
Closed because creating new installer.

[2017-01-08 12:46] #2075 closed

[2017-01-09 14:17] LinuxDonald opened #2596 "Atlas Support is broken on Windows"
Changes in constans.py:
IS_DEV_VERSION = False
RELEASE_VERSION = u'2017.1'

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40767328-atlas-support-is-broken-on-windows?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_

[2017-01-09 14:22] jakoch commented on #2596
The zip file doesn't contain `content\atlas.sql`: https://github.com/unknown-horizons/unknown-horizons/blob/master/.gitignore#L28

[2017-01-09 14:26] LinuxDonald commented on #2596
yeah but on linux it works without any problem. That file will be created at first run with atlas.

[2017-01-09 14:29] jakoch commented on #2596
Well, then the Linux build process uses a `git clone` / `git checkout` of the repository, right?

[2017-01-09 14:33] LinuxDonald commented on #2596
We don't have this file in git. Or did I don't see it? When I'm correct ./run_uh.py with Atlas support enabled create the files locally.

[2017-01-09 14:42] jakoch commented on #2596
Well, that means the files are generated on the first run and the `.gitignore` prevents a check-in/upload to the repository. It also indicates that packaging was/is done locally and not automatically from Travis/Appveyor. We could adjust some things here to get automatic releases/deployments for UH.

[2017-01-09 14:51] LinuxDonald commented on #2596
I think the problem is not that the files are not there. It's more why it works on Linux but not on Windows? Why it don't get created at first start too on Windows?

[2017-01-09 16:28] LinuxDonald commented on #2596
Error from appveyor:
[code]

[2017-01-10 17:47] LinuxDonald commented on #2579
Done

[2017-01-10 17:47] #2579 closed

[2017-01-10 17:48] LinuxDonald commented on #2396
Windows installer is done. Its not perfect but it works :)

[2017-01-10 17:52] LinuxDonald commented on #2275
Fixed with: https://github.com/unknown-horizons/uh-installer/commit/7acd087a0bff149b7f3bd1a47e5f6808a6ae6940

But not activated yet.

[2017-01-10 17:52] #2275 closed

[2017-01-10 17:52] #2583 closed

[2017-01-10 18:46] Jeeppler commented on #2396
Nice, that means one step closer to a new release :-)

[2017-01-13 14:06] LinuxDonald commented on #2596
fixed in git.

[2017-01-13 14:06] #2596 closed

[2017-01-13 19:37] jakoch opened #2598 "modify run_uh.bat"
modify run_uh.bat
- [ ] to prefer a python installation one level above the game directory for running` run_uh.py`
- [ ] if python isn't found one level above, use the system python

------

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40935024-modify-run_uh-bat?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm

[2017-01-14 10:06] squiddy opened #2599 "Remove/repair bountysource integration"
Perhaps it's just me, but for the last couple months the bounty source link doesn't show up correctly at the bottom of issues.

**Screenshot**
![2017-01-14 11_04_21-modify run_uh bat issue 2598 unknown-horizons_unknown-horizons](https://cloud.githubusercontent.com/assets/50333/21954130/3dffc5fa-da49-11e6-8d3e-f24045361401.png)

Is this a configuration problem? Can we fix it? I couldn't find anythi

[2017-01-14 10:30] MasterofJOKers commented on #2599
IIRC @LinuxDonald already tried to remove it. He also said, we need to contact bountysource to get removed properly and cannot do it ourselves. Did you also look at "Authorized Applications"?

[2017-01-14 10:36] LinuxDonald commented on #2599
Yes I already removed it from my account and uh. I will write today an mail to bounty source.

[2017-01-14 12:00] squiddy commented on #2540
@LinuxDonald So if the current (unknown) state of the MP is no blocker, do we still care about its quality prior to the release?

[2017-01-14 12:02] LinuxDonald commented on #2540
I will disable it. Its better i think.

[2017-01-14 12:03] squiddy commented on #2585
Duplicate of #2538 (Zooming the view continues when using mousewheel on GUI elements)

[2017-01-14 12:03] #2585 closed

[2017-01-14 12:26] LinuxDonald commented on #2540
@squiddy how i can disable it? ...

[2017-01-16 13:47] LinuxDonald commented on #2599
Mail to bountysource is out.

[2017-01-16 17:37] LinuxDonald commented on #2396
Done :)

[2017-01-16 17:37] #2396 closed

[2017-01-16 19:11] squiddy commented on #2540
I suppose this can be closed then.

[2017-01-16 19:11] #2540 closed

[2017-01-16 19:28] MasterofJOKers commented on #2540
Right. @LinuxDonald decided, that we would rather have feedback from users, what exactly is broken in MP, than disabling it (and never enabling it because we cannot possibly play enough multiplayer to get into every corner case).

[2017-01-16 22:11] MasterofJOKers commented on #2598
This is fixed with 573cb497b1f95f5fedf0ecad8e80154046aca39c.

[2017-01-16 22:11] #2598 closed

[2017-01-17 08:44] jorgesumle opened #2600 "Update website"
Change "© The Unknown Horizons Developers 2016" to "© The Unknown Horizons Developers 2017".

Update [Windows downloads page](http://www.unknown-horizons.org/download/windows/):
change "Milestone 2014.1 is the latest official release of Unknown Horizons. Click to download it:" to "Milestone 2017.1 is the latest official release of Unknown Horizons. Click to download it:"

---
Want to back this iss

[2017-01-17 15:41] LinuxDonald commented on #2600
fixed.

[2017-01-17 15:41] #2600 closed

[2017-01-18 17:32] jorgesumle commented on #2599
Then we should also remove "But you can add a bounty if you want via BountySource." from https://github.com/unknown-horizons/unknown-horizons/wiki/Donation-History wiki page or change the donation method?

[2017-01-18 17:59] LinuxDonald commented on #2599
Done

[2017-01-20 17:19] MasterofJOKers commented on #1379
For the ship, changing the line @squiddy mentioned to +48 instead of +8 fixes the offset. I don't know what other units might be affected by that change, though. That's need investigation, as it might move other units to a wrong location.

[2017-01-21 16:53] helios2000 commented on #2538
Should also be fixed with https://github.com/fifengine/fifengine/commit/dad07deb991fa366480948bf64545ef81fafbbf4

[2017-01-21 17:27] LinuxDonald commented on #2538
Issue is fixed. Thx @helios2000

[2017-01-21 17:27] #2538 closed

[2017-01-21 21:37] shirishag75 opened #2602 "There should be a --mute or --no-audio option in unknown horizons"
As of

[code]
there is way to mute audio via CLI. The --help shows the following -

[code]

It would be nice if there was a way to also ask if the player wants the audio or not.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41198045-there-should-be-a-mute-or-no-audio-option-in-unknown-horizons?utm_campaign=plugin&utm_content=tracke

[2017-01-21 23:56] janexx opened #2603 "Add media/screenshots of the new release on the website"
I would like to see some new screenshots here:
http://www.unknown-horizons.org/media/screenshot-gallery/
:-)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41200149-add-media-screenshots-of-the-new-release-on-the-website?utm_campaign=plugin&utm_content=tracker%2F287396&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2017-01-22 01:40] LinuxDonald commented on #2603
I will do this on the next days :)

[2017-01-23 07:15] bentley opened #2604 "Game hangs on exit"
When I select the ‘quit’ menu option in unknown-horizons, sometimes the game freezes and I have to kill it manually.

Unfortunately I haven’t noticed any pattern to when it hangs or succeeds.

I’m testing on OpenBSD 6.0, with unknown-horizons-2017.1, fifechan-0.1.3, and fifengine-0.4.0.

[2017-01-23 18:37] squiddy commented on #2599
I've set the "Third-party application access policy" (https://github.com/organizations/unknown-horizons/settings/oauth_application_policy)  to restricted, which changes "Approved applications by organization members can access all data in this organization." to  "Only approved applications can access data in this organization.".

Hopefully this should do it. I couldn't find any trace of bountysour

[2017-01-23 23:49] LinuxDonald opened #2605 "Atlas Support need to fixed up for fife master version"
XML merge on fife broke our Atlas loader:

[code]

Helios sad that line: https://github.com/unknown-horizons/unknown-horizons/blob/master/horizons/util/loaders/sqliteanimationloader.py#L56
must be changed to: ani = fife.AnimationManager().getPtr(str(id))
but this gives new error:

[code]

Maybe that helps: https://github.com/fifengine/fifengine/blob/master/engine/python/fife/extensions/serializers

[2017-01-24 14:00] MasterofJOKers commented on #2603
There was someone on IRC asking about it, because they want to write an article about the new release. So please hurry :)

[2017-01-24 23:58] LinuxDonald commented on #2603
http://www.unknown-horizons.org/index.php?mact=Album,m037b7,default,1&m037b7albumid=36&m037b7returnid=53&page=53

Sorry not all buliding are on it. But the freeze bug is really not fun anymore. It will get longer and longer...

[2017-01-24 23:58] #2603 closed

[2017-01-25 00:02] LinuxDonald opened #2606 "cacaofield bm icon have wrong grey icon"
Buildicon if it can be build:
https://github.com/unknown-horizons/unknown-horizons/blob/master/content/gui/icons/buildmenu/060.png

Build icon greyed out:
https://github.com/unknown-horizons/unknown-horizons/blob/master/content/gui/icons/buildmenu/greyscale/060.png

[2017-01-25 06:15] squiddy commented on #2599
New issues don't get the bounty source code added afterwards, so the settings seems to have helped.

However, since that should affect all integrations we need to check if everything is still working:

We late
Travis CI
Coveralls

I'm probably missing some here.

[2017-01-25 07:38] MasterofJOKers commented on #2599
We could enable it again and kick users out of the organization instead. One by one. Someone seems to have it enabled ...

[2017-01-25 08:51] squiddy commented on #2599
If possible, the application access policy should stay restricted, as it is now. Approving applications for UH should be done on the organization level, so if e.g. Travis is broken now, we should approve it for the organization instead (if possible).

[2017-01-27 15:31] LinuxDonald commented on #2604
This is will be fixed in fife 0.4.1 fifechan 0.1.4 UH 2017.2

[2017-01-27 15:31] #2604 closed

[2017-01-27 15:36] LinuxDonald commented on #2446
Big lag problem is fixed with fife engine master git version. Fix with next stable release will be fife 0.4.1 and uh 2017.2.

[2017-01-27 15:36] #2446 closed

[2017-01-27 16:36] #2416 closed

[2017-01-27 23:27] LinuxDonald commented on #2606
fixed with: https://github.com/unknown-horizons/unknown-horizons/commit/d8c16664c1fe60b3fd6b960b94cb0d0678a688a8

[2017-01-27 23:27] #2606 closed

[2017-01-28 00:09] LinuxDonald commented on #2156
Should be fixed with sdl2.

[2017-01-29 08:55] #2519 closed

[2017-01-29 13:18] LinuxDonald opened #2609 "Update enet to version 1.3.13.2"
Our last enet version is 1.3.3 https://github.com/unknown-horizons/unknown-horizons/commit/e011d0fed373f521aa44e5c6f4de61cd85759bce

Newest version is: pyenet 1.3.13.2

https://pypi.python.org/pypi/pyenet

[2017-02-01 03:18] LinuxDonald commented on #2609
https://github.com/unknown-horizons/unknown-horizons/commit/542fa47ad257d2e4053ba728d88f041611070d7a

[2017-02-01 20:53] squiddy commented on #2599
Looks like bountysource isn't able to mess up new tickets anymore.

Authorized applications can be seen here (by admins I suppose): https://github.com/organizations/unknown-horizons/settings/oauth_application_policy

As of now, that is: travis, quantified code and coveralls

[2017-02-01 20:53] #2599 closed

[2017-02-04 14:04] sumpfralle commented on #2381
The new version (2017.1) was uploaded to Debian and migrated to "stretch" (the upcoming stable release; entering the freeze tomorrow).
It starts up fine.
Thus this issue can be closed.

[2017-02-04 14:23] #2381 closed

[2017-02-04 14:25] LinuxDonald commented on #2381
@sumpfralle is there any chance to get this git commit into the engine? https://github.com/fifengine/fifengine/commit/2efebb3a0940e2570d2e7abeb54957dcb6f110ea

Because it fixes an big memory leak in the engine :(

[2017-02-04 17:03] sumpfralle commented on #2381
@LinuxDonald: I am not a Debian Developer - thus I have no power over these issues :(

Debian's [freeze policy](https://release.debian.org/stretch/freeze_policy.html) describes the condiitions for uploads during freeze. Specifically here the following should be applicable:

The `python-fife` package is "optional" and your description sounds like "important" - thus the minimal requirements are met.

[2017-02-06 00:13] YomeKatsuma commented on #2529
Hi,

Just downloaded the dmg and have the same issue.

cheer.

[2017-02-06 00:26] LinuxDonald commented on #2529
The problem is we don't have an Mac OS packager. How could create package of uh 2017.1 with fife engine 0.4.0 :-(

[2017-02-07 17:00] LinuxDonald commented on #2605
Fixed in master

[2017-02-07 17:00] #2605 closed

[2017-02-07 17:28] LinuxDonald commented on #2529
Go to the settings.xml and Change this both to False:
<Setting name="GLUseFramebuffer" type="bool"> False </Setting>
<Setting name="GLUseNPOT" type="bool"> False </Setting>

[2017-02-08 18:37] shevegen commented on #2602
+1

[2017-02-17 18:41] LinuxDonald opened #2613 "Autoresizecontainer pychan"
Auto resize container looks like it is broken on pychan.
I dont now why.

See pr for pychan update: https://github.com/unknown-horizons/unknown-horizons/pull/2612

[2017-02-17 20:43] squiddy commented on #2613
Can you be more specific? If anyone wanted to fix it, they wouldn't have any clue what this is about.

[2017-02-18 02:48] LinuxDonald commented on #2613
The problem here is that on gui where we use AutoResizeContainer they not get "rendered" you only see am empty gui. And no error message get showed.

[2017-02-18 02:50] LinuxDonald commented on #2613
An option would be to completely remove it and rewrite the gui parts that it use.

[2017-02-18 16:41] LinuxDonald commented on #2613
Fixed with https://github.com/unknown-horizons/unknown-horizons/commit/386b90ec42494c0cf7f6f30284c5434dbf6cd808

[2017-02-18 16:41] #2613 closed

[2017-02-25 08:08] squiddy commented on #2609
Weird, it seems [pyenet on pypi](https://pypi.python.org/pypi/pyenet) is gone. It consistently returns 404 for me, and the search for `pyenet` only returns a match for `pygnetic`.

[2017-02-25 08:12] squiddy commented on #2485
Tests seem relatively stable now, we probably don't need that any time soon.

[2017-02-25 08:12] #2485 closed

[2017-02-26 18:11] squiddy commented on #2609
Obviously FIFE is free to do what they want with their time, but I don't think we would gain much, would we?

[2017-02-26 18:15] LinuxDonald commented on #2609
yeah maybe that it is. But fife itself needs network lib too. Not for us. We have it already.
But broken.... (Out-of-sync)

[2017-02-27 18:39] LinuxDonald opened #2623 "Create Tier 5 Residential house"
The first building that we need for tier5 is an Residential house.
The DD say only "estate".

@janexx thats something for you ;)

1 living tent
2 log house
3 half-timbered house
4 stone house
5 estate
6 manor

[2017-03-04 09:23] squiddy opened #2631 "Set up new branch for python 3 port"
But keep the old one around for reference.

[2017-03-04 09:24] squiddy opened #2632 "Run 2to3 against codebase"

[2017-03-04 09:24] squiddy opened #2633 "Build FIFE (python3 branch) for Travis"

[2017-03-04 09:27] squiddy opened #2634 "Repair/remove bind_all, make_constants in util/python/decorators"
These are bytecode hacks to improve performance apparantly. Either remove them or port them to python3 as well. In my previous attempt of the port the code didn't work out of the box. Might be a minor fix though.

[2017-03-04 09:30] squiddy opened #2635 "Get unittests / game tests working"
Figure out a good way to mock fife. The previous port kinda worked with some really ugly hacks around the Dummy object - there gotta be a better way.

[2017-03-04 09:31] squiddy opened #2636 "Get GUI tests working"

[2017-03-04 09:34] squiddy opened #2637 "Cleanup python 3 code / make it idiomatic"

[2017-03-04 09:37] squiddy opened #2638 "Update FIFE build for Travis CI"
Right now all the GUI tests are failing again because our FIFE build for Debian, that we use for Travis, is too old.

@MasterofJOKers Could you please update the build in your repository and/or explain the steps taken for the build?

[2017-03-04 10:31] MasterofJOKers commented on #2633
Just tell me, when you need it and I'll upload a package for travis to use. Can I replace the current one or do you need a new repo for the py3 branch to get the package from?

[2017-03-04 10:39] MasterofJOKers commented on #2638
I've written a build-script to build fife/fifechan packages for debian-base distros to get packages into https://debian.unknown-horizons.org/
I don't know if I feel comfortable with showing it yet, though. We should switch to https://debian.unknown-horizons.org with travis once nightly-builds and proper version dependencies are available in that repo.

[2017-03-04 10:40] squiddy commented on #2633
Actually, I've noticed that we would need two new builds.

1) A separate repo for the python3 branch (this issue)
2) An update on the current repo for master (#2638). We can't run tests on master currently, because of the merge of our pychan_port branch.

[2017-03-04 10:42] squiddy commented on #2638
Sure, no problem. We've all been there. :)

Is there still work to do? If yes, is anyone working on that? I'm pretty much clueless what's going on right now regarding packages.

[2017-03-04 10:44] squiddy commented on #2633
About the when.. well, the sooner the better. :) I'd like to start working on the py3 port again soon, if Travis could run tests as well, that would help a lot.

[2017-03-04 10:45] MasterofJOKers commented on #2638
These are official unofficial packages built by "us" (me) to bring older versions of debian/ubuntu new fife packages to run the latest UH release. The plan was (and still is) to also build UH packages and have two types of repos available: nightly builds and stable builds. Currently, there are only packages of the latest stable fife (0.4.1) for trusty, xenial, yakkety and stretch.

I'm working on

[2017-03-04 10:48] MasterofJOKers commented on #2633
I'll get to it later today and then tell you the repo you should use in the .travis.yaml for the py3 branch, once the packages are in place.

[2017-03-04 10:48] squiddy commented on #2633
Cool, thanks. :+1:

[2017-03-04 10:49] AndyMender commented on #2631
I opened a new branch called "py2_to_py3" and pushed it to my fork. Unless you would like to open a branch yourself, I think that's alright, yes?

The most important question, though is **which version of Python3?**.
The most recent version is Python3.6, but Ubuntu 16.04 LTS and Debian Stable have Python3.4 n their repositories. Luckily, FreeBSD offers Python3.4, 3.5 and 3.6 so I'm not really limi

[2017-03-04 10:58] squiddy commented on #2631
Well, I did say I was going to open a branch (since you asked me), but since you've started and I'll have to run some errands, I'd say go ahead. ;)

At some point we should move the branch into this repository though, then we both can work on it, submitting PRs etc.

For now we should stick to 3.4. I doubt we need anything from 3.5-3.6 to make this port work.

[2017-03-04 13:44] janexx commented on #2411
I made the icon, but where should it appear in the buildmenu? Will there be a new slot for it or will it replace the path icon from tier 1? Is this alredy implemented?

[2017-03-04 15:10] janexx commented on #756
I already created the ambient graphics for the temperate zone:
commit e641c246aad71c15cdbeda7d5d6e4765da622ebe

[2017-03-04 15:17] LinuxDonald commented on #2411
Its not implented yet. All coders are working now on the port of python 3. You can still upload it. I created already an new task for you ;)

[2017-03-04 17:27] MasterofJOKers commented on #2638
Updated.

[2017-03-04 17:27] #2638 closed

[2017-03-04 18:21] AndyMender commented on #2631
I will then stick with the branch I created and when I have something worthwhile, we can move it / merge it into the UH repository.

There are some improvements in 3.5 that might be useful (additional list/tuple unpacking contexts), however they're so minor that we should not concern ourselves with them most likely. Not sure about 3.6, since I only skimmed through the release notes at one point an

[2017-03-04 18:50] squiddy commented on #2631
What exactly are you working on now? We need to have a common base to start with, otherwise we're just duplicating work.

[2017-03-04 19:20] AndyMender commented on #2631
Issue "Run 2to3 against codebase #2632" and fixing manually things that 2to3 cannot do. As you said, you would like the Python3 version of UH in a workable state as soon s possible :).

[2017-03-05 07:59] AndyMender commented on #2632
I'm working my way through the many .py files with 2to3, but trying to tackle one file at a time, because:
- Python2.7.x was receiving incremental adjustments throughout past months to make the transition to Python3.x easier.
- Per above, some files may not need to be changed at all or require only a simple 2to3 run-through.
- Messing up the whole codebase with 2to3 and then randomly trying to fix

[2017-03-05 08:09] squiddy commented on #2632
Well, I don't agree with that approach, but I guess I'll just wait till your done.

[2017-03-05 08:14] AndyMender commented on #2632
How would you rather do this then? :)

[2017-03-05 17:16] squiddy commented on #2632
Never mind my comment. What's important is the result, not so much how we get there. :)

[2017-03-06 05:58] AndyMender commented on #2632
I managed to introduce some fixes, however I hit a wall in horizons/util/python/decorators.py. There is a strangely constructed recursive function called _make_constants. More details on the specific problem here: https://github.com/AndyMender/unknown-horizons/commit/3ac02a5e5e08732f2a6fe28627ba0b1caf0e3911

I noticed you removed _make_constants and bind_all in your python3 branch and used recursi

[2017-03-06 06:17] squiddy commented on #2632
See issue #2634

I replaced them with lambdas to make them no-op, because at the time I didn't want to waste time fixing some performance-bytecode-hacks, which may not even be needed, and therefore doesn't help the goal to complete the port.

Can't tell you more about it, because I haven't spend time looking into the issue, and honestly, don't plan to do so. Maybe after the port is working.

[2017-03-06 06:30] AndyMender commented on #2632
Ah, I remember that issue now. It was one of those "may or may not require extra attention". if I cannot find a clean fix for it quickly (as in, today), I will simply use the lambdas you suggested and proceed further.

[2017-03-06 06:32] squiddy commented on #2632
If you manage to fix it, we should evaluate later if these optimizations still help us.

[2017-03-06 12:49] AndyMender commented on #2634
So I looked into the code and it seems that the very source of the problem in the `_make_constants` function was `newcode = map(ord, co.co_code)` in the Python2 version.  The translated Python3 code is `newcode = list(map(ord, str(co.co_code, 'latin-1')))`. The problem was that `.co_code` is ISO8859-1 encoded type bytes, but the default for Python3 is utf-8. I fixed it by explicitly using latin-1/

[2017-03-06 18:38] squiddy commented on #2634
Yes it just isn't worth the hassle right now. The game will work without them. And they've been a source of bugs as well.

[2017-03-06 20:47] AndyMender commented on #2634
I removed function definitions for `_make_constants`, `bind_all` and `make_constants` from decorators.py then. We can probably close this issue for now, methinks.

[2017-03-06 20:50] squiddy commented on #2634
Did you also remove all *uses* of `bind_all`?

[2017-03-06 20:55] AndyMender commented on #2634
No, I'm doing it right now.

[2017-03-28 17:42] #2634 closed

[2017-03-28 17:42] #2631 closed

[2017-04-02 15:54] AndyMender opened #2641 "Consider enum from the Python3 standard library"
For now we have been using a custom `enum` implementation, which is more similar to the C/C++ enum type in behavior. The Python3 standard library offers its own `enum` module with a different API. However, it is more Pythonic.

It might be worth considering an API change for enum once more pressing matters are taken care of.

[2017-04-02 20:44] AndyMender commented on #2633
@LinuxDonald adjusted the .travis.yml config so that fifechan and fifengine are built on the Travis CI virtual machine, but it takes 10 min 30 sec to complete the tests each time. Therefore, we most likely still need packaged python3-fife for Debian/Ubuntu.

[2017-04-02 20:54] AndyMender commented on #2635
Some of the tests are already running, but others fail either when the `Dummy` object is compared to an `int` in `if` statements, or due to the way nose handles testing, causing `sys.stdout.fileno()` to not return 1. The latter can be handled, the former might need extra changes to the `Dummy` object.

[2017-04-02 21:11] AndyMender opened #2642 "Animations loaded with an x, y offset in a loop"
**CORRECTED:** This is a new issue that seems to have appeared in the Python 3 code base. Each animation has **only** the first frame in the animated object's correct position, while the remaining animation plays with an offset in x and y. In the case of animals and animated ships they look as if they were jumping. It's more problematic for buildings, because then it's difficult to place them prop

[2017-04-03 21:27] AndyMender commented on #2642
The culprit was looping overriding of the `XShift` and `YShift` parameters of the img object. If this happens again, consider using `getXShift` and `getYShift` calls of the img object to get/check the shift values.

[2017-04-04 12:51] LinuxDonald commented on #2642
Maybe we should fix isseu #1379
i dont like the idea about gif support. Because we have Atlas Support.

[2017-04-04 14:26] AndyMender commented on #2642
I discussed the matter of .gif loading and usage on the #python irc channel today and the general consensus is "find a different approach". It's doable, but involves dirty solutions and we don't want those.

[2017-04-06 21:57] janexx commented on #2411
Is created: 36f30805f6d65c6a4f2eb19213897dbd9ae8f4a4
But it still doesn't appear in buildmenu.

[2017-04-07 06:00] #2642 closed

[2017-04-07 06:18] AndyMender commented on #1379
It's theoretically possible to fix the offsets on the level of individual .png animation frames. This then would remove the need for the offset mechanics in UH entirely. Like so:
https://imgur.com/a/74tXF
However, since we have different dimensions for different unit/building objects, it's rather tricky.

Another thing is that the .png object images are loaded correctly (aligned with the grid), bu

[2017-04-09 08:38] AndyMender commented on #1379
@LinuxDonald  @MasterofJOKers @ChrisOelmueller and other long-time members/players, please do have a look at the building offsets in long-running games. If there are problems still, I'll try to find a better solution.

[2017-04-11 14:23] AndyMender commented on #2635
@LinuxDonald @squiddy I transferred some of the fixes from the other python3 branch and added an extra method to the `Dummy` object, but the tests now timeout instead of failing. The recent build is here: https://travis-ci.org/unknown-horizons/unknown-horizons/builds/220836056

Alongside Travis CI, it would probably be good to run the tests until the very end locally to exclude issues with the Tra

[2017-04-11 15:08] LinuxDonald commented on #2635
Travis have an max time for jobs. If an job is longer then this time it will get killed. We need pre-built fife and fifechan packages.

[2017-04-11 15:48] AndyMender commented on #2635
As far as I can tell, there is an official package in the Debian repositories called "python-fife" for Python2-compliant FIFE. If you don't mind, I can get the package from the deb-src repository and try to build it locally with the Debian deb tool suite, using Python3-compatible FIFE from the GIT repository as the base.

Unfortunately, I have no means of hosting it anywhere afterwards, unless we'

[2017-04-12 17:49] #2542 closed

[2017-04-12 17:50] LinuxDonald commented on #1379
Needed changes when offset is fixed: https://github.com/unknown-horizons/unknown-horizons/pull/2644

[2017-04-14 22:30] AndyMender commented on #2636
One of the issues thus far was that the Travis CI build virtual machine would call `coverage` in the Debian/Ubuntu way using either `python-coverage` or `python3-coverage` for Python 2.x or Python3.x, respectively. This was addressed here: a04a2d9fc6272471b0633943cfec218493a14f85

The other problem is that the Xorg dummy called Xvfb that we typically use for GUI tests has issues handling its GLX e

[2017-04-14 23:07] LinuxDonald commented on #2636
When i change the render to opengl then the gui tests work. Only 2 are failing.

`[linuxdonald@linuxdonald-pc unknown-horizons]$ RUNCOV=1 python3 run_tests.py -a gui tests/gui --verbose
Boatbuilder crashes when canceling a ship build. ... ok
Boatbuilder crashes when canceling a ship in the queue. ... ok
Boatbuilder crashes when saving/loading while a ship is being produced. ... ERROR
Boat builder

[2017-04-15 06:41] AndyMender commented on #2636
I can confirm that this is indeed the case. The only difference being that the name of the rendering back-end is in fact "OpenGL" as stated in the [Fifengine Developer Guide](http://docs.fifengine.net/developer-manual/en/#_engine). I'll see to it that the tests run properly on Travis CI and that the remaining tests are perhaps fixed.

[2017-04-15 23:29] LinuxDonald commented on #2636
@squiddy do you maybe know what gets wrong here?

`ERROR: Check that a ship's route is configured correctly after setting it up using the GUI.
----------------------------------------------------------------------
tests.gui.TestFailed:

Traceback (most recent call last):
  File "/home/andy/unknown-horizons/tests/gui/__init__.py", line 210, in _tick
    cooperative.schedule()
  File "/home/andy/unk

[2017-04-16 07:07] AndyMender commented on #2636
I had a look at the tests/gui/helper.py and tests/gui/ingame/test_traderoute.py files and for whatever reason this test fails even if a widget used for a previous test successfully is called via `gui.trigger()`.

[2017-04-16 12:22] AndyMender commented on #1688
Savegame file where routeconfig-related bugs occur: https://www.file-upload.net/download-12442723/trade.sqlite.html (courtesy of @LinuxDonald).

This issue definitely needs to be addressed.

[2017-04-17 13:44] technikamateur opened #2645 "Soldiers can't be selected (and some more bugs)"
Hi unknown-horizons developer,
first of all I want to say: Thank you for this game! It is awesome, what a free community can build. I've played the game for about 20 hours (in one savegame) and want to share some bugs / strange things with you:

- soldiers can't be selected - wich means if I click on a soldiers, the game insteandly crashes
- There is a huge imbalance with food and salt: On the one

[2017-04-17 14:09] melloskitten opened #2646 "python3 version bug"
Whenever I try to run the master branch, I get this error: (I'm using Python 3.4.3)
(Using the ```python3 ./setup.py build_i18n``` command)

[code]

Do I also have to update fife & fifengine, etc to make it work...?

[2017-04-17 14:12] LinuxDonald commented on #2646
Yes you need lastest fife git version. We changed to python3. And you need to rebuild.

[2017-04-17 14:23] melloskitten commented on #2646
So not the latest release but the master branch?

[2017-04-17 14:25] melloskitten commented on #2646
Ah alright then. Just one little question, because when I build fife, it always finds the python2.7 libs - do you know how i can manually choose py3 libs?

[2017-04-17 14:27] Beliaar commented on #2646
you need to set the PYTHON_EXECUTABLE cmake option to the path of python3.

From command like this would be like
"cmake -DPYTHON_EXECUTABLE=<path to the python binary>"

[2017-04-17 14:38] LinuxDonald commented on #2645
Thank you for the feedback.
The Solider problem is knowed problem. Because its not yet implmented.
For War Ships the same there is an bug.
For balance we want to fix that later after we fixed some bugs.

[2017-04-17 14:42] melloskitten commented on #2646
I'm sorry if I'm doing this wrong (I'm a noob), but when I try to run:
[code]

and this is the output I get ->
[code]

Thank you very much for the quick replies!

[2017-04-17 14:46] LinuxDonald commented on #2646
What linux distro do you have?

No spaces between -D and CMAKEXXXXX
`cmake -DPYTHON_EXECUTABLE=PATH=/usr/bin/python3 -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_C_COMPILER=clang-3.9 -DCMAKE_CXX_COMPILER=clang++-3.9 ..`

[2017-04-17 14:50] melloskitten commented on #2646
Oh sorry I overlooked the space. Same error even with the removed space.

I'm using Linux Mint 17.3 Cinnamon 64-bit, version 2.8.8.

[2017-04-17 14:51] LinuxDonald commented on #2646
You can join too irc folr help server freenode channel #unknown-horizons

[2017-04-17 14:51] melloskitten commented on #2646
will do :)

[2017-04-17 15:48] #2646 closed

[2017-04-17 18:08] AndyMender commented on #2645
@technikamateur Also, if the game ever crashes on something reproducibly and it's not a Segmentation Fault do open an issue ticket and we'll try to fix it :). Look through the issue tracker as well, since some issues and bugs have been there already.

[2017-04-18 06:03] technikamateur commented on #2645
Thanks for your replies. I'll keep that in mind.

[2017-04-18 06:03] #2645 closed

[2017-04-18 16:02] #2602 closed

[2017-04-18 16:07] AndyMender commented on #2632
As the py3 branch was merged into master, we assume everything is at least Python3-compliant :).

[2017-04-18 16:07] #2632 closed

[2017-04-18 21:28] LinuxDonald opened #2648 "Routeconfig gui item selection is broken"
Open Routeconfig gui. Select two islands and try to add ressources into the trade route.
Nothing will happen instand of that the clicked item is added to it.
I have added an savegame for faster testing.
[trade.sqlite.zip](https://github.com/unknown-horizons/unknown-horizons/files/931122/trade.sqlite.zip)

[2017-04-18 21:42] AndyMender commented on #2648
I'll have a look at it as soon as I can :).

[2017-04-19 05:49] squiddy commented on #2648
Pretty sure we have a GUI test for that.

[2017-04-19 05:51] squiddy commented on #2636
IMO it's better to disable the gui tests on Travis for now and at least fix the unit tests and code style issues. Right now the CI is completely broken and useless.

[2017-04-19 08:25] AndyMender commented on #2636
Done as suggested: 8319a47737e47f1f36a0797889bcbd64f8daf4aa.

[2017-04-19 08:27] AndyMender commented on #2648
@squiddy, might it be test 40 as visible in this traceback: https://pastebin.com/ePEfR58M ?

[2017-04-20 05:19] squiddy commented on #2648
@AndyMender It definitly sounds related. I might have a look at this later today.

[2017-04-20 05:56] AndyMender commented on #2648
We definitely need your input on this, since at least to me the matter is not exactly trivial. So far, I managed to narrow down the issue to the "resources" VBox widget in the "traderoute_resource_selection" VBox. Running UH with --gui-log shows that each resource is registered as "__unnamed__/__unnamed__" as this is the default name provided by the FIFE's pychan Widget class. Meaning, our code do

[2017-04-20 16:18] squiddy commented on #2648
Does this mean all the GUI tests run locally for you?

I did a blame on those files, and the last change was 3-4 years ago. One is 07ebe38417730bdcdcab3f1b9540f1ebc0e49b0f, which added a test for that code. There is also a comment here https://github.com/unknown-horizons/unknown-horizons/commit/07ebe38417730bdcdcab3f1b9540f1ebc0e49b0f#diff-5636f7df2c76037f66f02a1b0d5ee8b9L193:

[code]

`ImageFillS

[2017-04-20 16:26] squiddy commented on #2520
Was removed during python 3 port for now.

[2017-04-20 16:26] #2520 closed

[2017-04-20 20:06] squiddy commented on #2633
For the time being, we can evaluate the caching feature of Travis (https://docs.travis-ci.com/user/caching/) and/or experiment with `ccache` (whose output we can cache, see travis) to speed future compilations.

[2017-04-20 22:36] LinuxDonald commented on #2648
Maybe something with the merge of pychan. Helios changed very much in there.

[2017-04-21 05:27] AndyMender commented on #2648
@squiddy yes, the GUI tests run locally, though not via Xvfb, but Xorg. That's cumbersome, but at least works. Both me and @LinuxDonald had problems with Xvfb even locally. I'm running the GUI tests again to see whether test 40 now works.

[2017-04-21 05:44] squiddy commented on #2648
Also @ChrisOelmueller thought the theory about FIFE changing things sounds plausible. But I don't feel like digging in the history to check what happened with `ImageFillStatusButton`.

[2017-04-21 05:52] AndyMender commented on #2648
Test 40 still fails: https://pastebin.com/jH2L8XgN. Yet, the routeconfig menu now works properly except for the overlapping tooltips. That, however, should probably be addressed separately :).

[2017-04-23 12:56] LinuxDonald commented on #2633
@MasterofJOKers are you maybe avaliable for this task?

[2017-04-23 17:28] MasterofJOKers commented on #2633
@LinuxDonald Building packages for fife python3 you mean? I should find some time this week. Just have to look at what changed on fife's side. We did merge py3 into master, didn't we? So I don't need to keep the py2-stuff around and just change to py3, which would simplify the integration into my script.

[2017-04-23 18:24] LinuxDonald commented on #2633
Yes only python3 now. Python3 is now merged into master on fife and uh. Fife master support too py2 but we don't need it. But if your system defaults to python2 you need an switch see our travis file.

[2017-04-25 06:16] AndyMender commented on #2648
This is more of a dirty hack then a fix so I'll try to find a cleaner solution in the following days :).
For now, the routeconfig menu works, but looks ugly, because some of the widgets are loaded twice.

[2017-04-25 20:39] AndyMender commented on #2648
The current fixes are a result of trial-and-error. Apparently, if a VBox is part of a ScrollArea and it is directly attached to a child of a `self._gui` container (itself being a VBox):
`self._gui.findChild(name="traderoute_resources").addChild(dlg)`
a part of the tooltip properties of the directly attached VBox is lost. Also, the following cannot be done:
`self._gui.findChild(name="traderoute_res

[2017-04-26 19:15] #2648 closed

[2017-04-26 19:56] AndyMender commented on #2219
The routeconfig menu went through many changes, rearrangements, etc. One could probably polish it _ad infinitum_. Are further adjustments needed for this issue or may I close?

@LinuxDonald @squiddy @janexx thoughts? :)

[2017-04-26 20:02] squiddy commented on #2219
How does it look right now? Can you provide screenshots?

[2017-04-26 20:08] AndyMender commented on #2219
Like so:
![routeconfig_fixed](https://cloud.githubusercontent.com/assets/15969405/25454496/e78e52c0-2acc-11e7-98eb-e88344819191.png)

[2017-04-27 02:03] LinuxDonald commented on #2219
I will look today afternoon if I can place the player and city name over the trade slots. As in the Screenshot from janexx.

[2017-04-27 05:07] AndyMender commented on #2219
The icon with the trash bin to the right is handled by a different piece of Python code / xml template so that would need to be repositioned as well.

[2017-04-27 13:40] LinuxDonald commented on #2219
https://github.com/unknown-horizons/unknown-horizons/commit/30ea211b40c8d221f7be5912e60ccc5b9f790369

More gui fixes.

[2017-04-27 22:33] AndyMender commented on #2219
Adjusted maximum `player_name` length in routeconfig.py, since now `warehouse_name` and `player_name` are above trade_slots: https://github.com/unknown-horizons/unknown-horizons/commit/a81dd466fbe67528d693f1def2845b90f9c7d680

[2017-04-28 05:15] AndyMender commented on #2338
Will see whether it's possible to split/slice the text and/or adjust the tooltip width based on that. Some single-line tooltips really look strange with the empty space in the widget.

[2017-04-28 21:21] MasterofJOKers commented on #2633
Package python3-fife is available at `deb [trusted=yes] https://debian.unknown-horizons.org/travis/ /`

[2017-04-28 22:27] LinuxDonald commented on #2633
fixed with: https://github.com/unknown-horizons/unknown-horizons/commit/bf1420b25c06af95213569bc343ba2b7e95538a3

[2017-04-28 22:27] #2633 closed

[2017-04-29 13:29] #2455 closed

[2017-04-29 13:32] LinuxDonald commented on #2342
This bug is fixed with UH 2017.2

[2017-04-29 13:32] #2342 closed

[2017-04-29 13:32] LinuxDonald commented on #2311
Should be fixed in 2017.2

[2017-04-29 13:32] #2311 closed

[2017-04-29 13:33] #2276 closed

[2017-04-29 13:34] LinuxDonald commented on #2235
Should ne fixed with UH 2017.2

[2017-04-29 13:34] #2235 closed

[2017-04-29 13:43] LinuxDonald commented on #1987
Ticket needs to be retested.

[2017-04-29 13:54] #1765 closed

[2017-04-29 14:07] #535 closed

[2017-04-29 19:41] AndyMender commented on #2219
![routeconfig_fix2](https://cloud.githubusercontent.com/assets/15969405/25558329/79bc4e46-2d24-11e7-8c69-7d2b62435eed.png)
And I would leave it at that. Adding a ScrollArea would require redefining some of the ScrollArea widget attributes, since it behaves a bit differently than a regular VBox so we're limited to 5 trade slots.

[2017-04-29 19:53] AndyMender commented on #2529
Was this tested/addressed ever since? @squiddy, were you able to reproduce the issue?

[2017-04-29 20:28] AndyMender commented on #2513
Not sure how far this has gone, but I read recently in the Python 3.6 Release Notes that static typing is an optional built-in feature now. However, Ubuntu still uses 3.4 (Trusty) or 3.5 (Zesty) as the default Python3 version so we might want to wait a little longer :).

[2017-04-29 20:36] AndyMender commented on #2507
The output of zip(*savegames) is completely mangled. Will fix this if I can :).

[2017-04-29 23:02] AndyMender commented on #2507
Function rebuilt, supplied with extra safety checks and confirmed to work with the provided example:
`python3 run_uh.py --start-scenario=tutorial`

[2017-04-30 05:19] squiddy commented on #2513
Variable annotations (Not Übung comments) are now possible. Other than
that, we've already been using this. This thread and commits are proof of
that. There ist no point in waiting.

Am 29.04.2017 10:28 nachm. schrieb "Andrzej Bylicki" <
notifications@github.com>:

[2017-04-30 05:58] LinuxDonald commented on #2507
Maybe @squiddy could review the pr?

[2017-04-30 11:17] squiddy commented on #2507
Yes, please wait. There is no point in opening a pr if you're just going to merge it anyway.

[2017-04-30 15:52] AndyMender commented on #2325
Some of the segfaults in Unknown Horizons were caused by the tooltips being respawned too often. Since I introduced a timer into the `_Tooltip` class, I never had any segfaults. Related commit: https://github.com/unknown-horizons/unknown-horizons/commit/dcecd161fd9ef98aae75645bd4c278e91b8f0d3d

[2017-04-30 17:07] AndyMender commented on #2340
I will check whether the issue is reproducible still and generate a test savegame that later be shared.

[2017-05-01 07:14] squiddy commented on #2513
So apparantly we planned to switch over to python 3.5 when we started working on this. The typing module was only included in python3.5, that's why isort is complaining now because it detects typing as a third-party module. Will fix it now.

[2017-05-02 06:37] AndyMender commented on #2142
I think I agree with @MasterofJOKers on this. There is a lot of games out there which went from pixel art to strongly texture-filtered models and that made the models stand out from the background way too much. Imagine The Settlers II getting "the full treatment".

However, I also agree that the tree models need some improvements. Again, The Settlers II as reference (we probably don't need the ani

[2017-05-02 06:41] AndyMender commented on #2127
What about an "overfishing" scenario? As it is now, fisherman huts are an endless supply of meat. That makes food farms somewhat redundant. What I would suggest is to turn fish schools/deposits into regular resource deposits with limited capacity.

[2017-05-02 06:42] AndyMender commented on #2071
@ChrisOelmueller are any/all of these points still valid? :)

[2017-05-02 07:01] AndyMender commented on #1974
After refactoring to Python3 the problem is still there. An example solution is available: http://stackoverflow.com/questions/1112343/how-do-i-capture-sigint-in-python#1112350

@LinuxDonald, would you like me to have a look at this?

[2017-05-02 07:17] AndyMender commented on #1883
As it is now, when one clicks a tent or house, in addition to the yellow highlight circle, the "service provider" buildings like taverns, schools and churches are highlighted with a green glow. _Vice versa_, when you select a "service provider" building it shows which houses it can cover with the same green glow. Just as you mentioned. At least to me that's clear enough as the purpose of the build

[2017-05-02 08:15] AndyMender commented on #1689
I think some screenshots are required to understand the issue better.

[2017-05-02 08:18] AndyMender commented on #1417
Not sure how valid this still is, but I could tie it up with this issue that deals with the respawn of resource deposits: https://github.com/unknown-horizons/unknown-horizons/issues/2340

[2017-05-02 08:19] AndyMender commented on #1688
@LinuxDonald, how far are we on this in your opinion? :)

[2017-05-02 08:27] AndyMender commented on #960
I think this is a bit mandatory for multiplayer or vs AI games. We might think of adding this to a later milestone @LinuxDonald.

[2017-05-02 08:30] AndyMender commented on #1023
Possibly related to? https://github.com/unknown-horizons/unknown-horizons/issues/967

[2017-05-02 08:37] AndyMender commented on #1021
Seems to be related to: https://github.com/unknown-horizons/unknown-horizons/issues/967

[2017-05-02 09:18] LinuxDonald commented on #1974
Please do it :-)

[2017-05-02 09:24] LinuxDonald commented on #960
Okay

[2017-05-02 10:43] AndyMender commented on #1698
There were some changes to the tooltips done as part of the resoureconfig menu improvements (they don't reposition when hovering over an icon/widget and at least in the resourceconfig menu they don't linger anymore)., but there is a limit to how the tooltips can be positioned in respect to the highlighted icon/widget. Unfortunately, some positions are implicitly not allowed as that then breaks the

[2017-05-02 11:56] AndyMender commented on #915
@ChrisOelmueller, should be leave this opened or close it? Not clear whether this is still relevant.

[2017-05-02 12:37] AndyMender commented on #993
Definitely more information required here. To be closed otherwise?

[2017-05-02 12:38] AndyMender commented on #997
https://github.com/unknown-horizons/unknown-horizons/issues/994 was already implemented, while https://github.com/unknown-horizons/unknown-horizons/issues/995 is in discussion phase it seems. There is also https://github.com/unknown-horizons/unknown-horizons/issues/993 connected to this issue.

Perhaps we need means of monitoring the resource flow of settler-held resources (preferably on a per-set

[2017-05-02 12:51] AndyMender commented on #1379
I was thinking about this recently and I believe it would be best to have a static set of per-building offsets (as JSON?). I tried adjusting the algorithm we have implemented at the moment and fixing offsets for some buildings breaks them completely for others.

[2017-05-02 14:50] squiddy commented on #1379
Do we really need per-building offsets? Couldn't this also be an issue with inconsistent graphics where the bottom is misaligned? Offsets per tile configuration (2x2, 2x3, 4x2) perhaps, but for every building? Sounds like a hack.

[2017-05-02 16:07] AndyMender commented on #1379
I feel like the current offset system is already a hack, because we should be able to load the images onto the grid directly :(.

What do you mean by the bottom being misaligned? As in the render not being always in the centre of the image?

[2017-05-02 16:13] squiddy commented on #1379
Yes, kinda. Not sure if it really has to be in the centre, but anyway, I'm suggesting that not all the images are aligned consistently.

[2017-05-02 18:06] AndyMender commented on #1379
So far I have looked at the pirate ship, deer and the woodcutter's hut. I tried resizing and re-arranging a single render of a woodcutter's hut within an image, but even when moving the render to one of the edges, the alignment was imperfect and resizing is out of the question, because then FIFE scales the image up/down.

Apart from that, the renders are as close to the centre of their respective

[2017-05-02 18:50] AndyMender commented on #1701
@ChrisOelmueller, it seems the .avi video is no longer available. Still, could this issue be related to this one? https://github.com/unknown-horizons/unknown-horizons/issues/2642

[2017-05-02 19:01] AndyMender commented on #661
Per the refactored up-to-date Python3-based code base, the problem still persists. Interestingly, the offender is exclusively the main square. Might the main square being treated as a road be the source of the problem?

[2017-05-02 19:06] AndyMender commented on #2507
Fixed here: https://github.com/unknown-horizons/unknown-horizons/pull/2651
Will close in favour of a future issue listing unittests that we may still require.

[2017-05-02 19:06] #2507 closed

[2017-05-02 19:12] AndyMender commented on #2340
@LinuxDonald, @ChrisOelmueller, @squiddy, what do you think about the current resource deposit mechanics? Should the resources be respawnable and endless or should each deposit contain a fixed amount of a resource type, which is gone after depletion?

I removed the "bad usability" tag, because it's a game design thing and not a side-effect.

[2017-05-02 19:25] squiddy opened #2658 "Reset upgradable savegame revision to 76"
Currently our savegame upgrade (seems) to work for revisions as old as 46, which is part of of the 2012.1 release. That's 5 years of upgrades.

In my opinion we should remove the upgrade of versions older than 76, version 75 was part of release 2015.1. I doubt anyone is using such old versions and expect the savegames to upgrade. Even if, so many features were added that it's probably a better exp

[2017-05-02 19:35] AndyMender commented on #2658
This code? github.com/unknown-horizons/unknown-horizons/blob/master/horizons/util/savegameupgrader.py

I agree that we should not expect the game to be compatible with extremely old savegame files. So the assumption is that version 76 (current?) is the new `SAVEGAME_LEAST_UPGRADABLE_REVISION` as defined in `horizons.constants.VERSION`?

[2017-05-02 19:53] AndyMender commented on #1586
The pirate ship has a very nice swaying animation, though the trader vessel has none. @LinuxDonald, @janexx, should we work on that at one point also?

[2017-05-02 19:55] AndyMender commented on #1182
@ChrisOelmueller, is this still an issue? I haven't noticed any ships "jiving" on the water's surface.

[2017-05-02 19:56] squiddy commented on #2658
Yes.

[2017-05-02 19:58] AndyMender opened #2659 "Improved pathfinding system for ships needed?"
I looked through some old unresolved tickets and a number of them relate to our pathfinding system: https://github.com/unknown-horizons/unknown-horizons/issues/967, https://github.com/unknown-horizons/unknown-horizons/issues/1021, https://github.com/unknown-horizons/unknown-horizons/issues/1023, https://github.com/unknown-horizons/unknown-horizons/issues/1182.

@LinuxDonald mentioned that FIFE has

[2017-05-02 19:59] #1182 closed

[2017-05-02 20:00] #1023 closed

[2017-05-02 20:01] #1021 closed

[2017-05-02 20:01] AndyMender commented on #967
Closing in favor of a broader solution: https://github.com/unknown-horizons/unknown-horizons/issues/2659

[2017-05-02 20:01] #967 closed

[2017-05-02 20:05] ChrisOelmueller commented on #915
I don't feel like this should be a player option, but like @Xiong said: making collectors "smart" about intermediate resources without requiring player intervention sounds good (if it doesn't happen already).

[2017-05-02 21:00] squiddy opened #2660 "Starting editor from command line is broken"
[code]

A quick check suggests that the fix for #2507 (PR #2651) broke this functionality. @AndyMender

[2017-05-02 21:01] squiddy commented on #2660
I already added a test (currently failing) in e87bbdeaaaa2b77a0fca283c0478f0f87b4b21bb

[2017-05-02 21:09] AndyMender commented on #2660
@squiddy, thank you for letting me know. I will have a look at this asap. Not sure why the test would be failing, though. Maybe I should expand the "map-satisfying" conditions?

[2017-05-02 21:10] squiddy commented on #2660
Not sure I understand. The test is failing because the functionality is broken.

[2017-05-03 04:57] AndyMender commented on #2660
So it seems that when one tries to start a scenario from the command-line, the set of scenarios (object `savegames`) is a dict of the format defined in the `_find_matching_map` docstring. However, when the editor is launched, `savegames` is actually a zipped tuple (but not a `zip` object) of the format: ( (path1, path2, path3,...) , [map1, map2, map3,...] ), where pathN is the relative path of map

[2017-05-03 05:44] squiddy commented on #2660
IMO we should write more tests for the command line interface, similar to e87bbdeaaaa2b77a0fca283c0478f0f87b4b21bb. Every usage of `_find_matching_map` should be covered by a simple test. That would be:

- [ ] --start-scenario X (where X is a path to a file)
- [ ] --start-dev-map
- [ ] --start-map X
- [ ] --string-previewer

Once we got those covered we should have more confidence in refactoring t

[2017-05-03 05:45] squiddy commented on #2660
Without tests, the next change may break new things. We should strive to increase test coverage everytime we change things.

[2017-05-03 05:46] AndyMender commented on #2660
The issue closed by itself, apologies. For now the code covers the following:
[code]
I tried to make it compatible with both the `--start-scenario `option and the` --edit-map` option, but I feel it's far from perfect.

PS I agree on the tests, of course!

[2017-05-03 05:51] squiddy opened #2661 "Fix Travis IRC notifications"
Maybe it's just me, but I haven't seen any notifications from Travis on IRC in a while. When the tests fail we should be notified.

[2017-05-03 06:50] janexx commented on #1586
@AndyMender When I remember right, we wanted to implement the water animation around the ship as overlay. But maybe that is independent of each other? But if an overlay is not possible, then the ships would must be rendered again with water animation AND swaying animation.

[2017-05-03 09:44] AndyMender commented on #1586
I think we can probably leave it for now then, but it's up to @LinuxDonald and others to decide :).

[2017-05-03 09:46] LinuxDonald commented on #1586
The problem is here that we have an overlay system but we don't use it yet for ships. I don't know how much work is needed to let it work for ships too?

[2017-05-03 10:59] AndyMender commented on #2493
Since the last comment is old already and many things were improved since then, I'm closing this one.

[2017-05-03 10:59] #2493 closed

[2017-05-03 11:05] LinuxDonald commented on #2493
Yeah we have fixed a lot of crash bugs. When there is still an crash problem we need new clean ticket for it.

[2017-05-03 11:06] LinuxDonald commented on #2661
I will take later an look on travis config.

[2017-05-03 11:12] AndyMender commented on #2347
In the case of the main square it might be related to https://github.com/unknown-horizons/unknown-horizons/issues/661.

[2017-05-03 11:47] #2325 closed

[2017-05-03 11:49] AndyMender commented on #2303
To people running Unknown Horizons with non-English locales - is this still the case?
Will close if not as the screenshot can no longer be accessed.

[2017-05-03 13:20] squiddy commented on #2303
Just change your ingame language and see for yourself. You might have to build translations first though.

[2017-05-03 13:25] AndyMender commented on #2303
I will test it soon as this is rather quick.

[2017-05-03 14:17] squiddy commented on #2303
And I'm pretty sure this is still an issue. I can't remember that our gui learned to fit text into specific dimensions.

[2017-05-03 14:43] AndyMender commented on #1545
I think this is a good idea :).

[2017-05-03 20:30] squiddy commented on #2660
Added more tests in 4860a2d310f7096db9d8c708a0126c18a29c3930

Starting a scenario with a specific path seems to be broken.

[2017-05-03 21:06] AndyMender commented on #2660
That is correct since the _find_matching_map function does not yet handle such a scenario. I will add it, therefore :).

[2017-05-03 22:09] LinuxDonald commented on #1688
The routeconfig now looks really better than before. But what we need is player feedback on it.

[2017-05-03 22:12] LinuxDonald commented on #2340
I remeber that on Anno 1602 an Mountain had fixed Resources? But what is when an player play free to play mode/endless mode?
I think it should be an game option before you start an game what you want. Fixed ressources or endless. And for multiplayer its an setting that can makes alot different play sytle.

[2017-05-03 22:24] LinuxDonald commented on #2661
The problem is maybe that our channel have "+n" mode.

[2017-05-03 22:29] LinuxDonald commented on #2658
What about an complety savegame break? It would make it alot easier to fix this ticket for example: https://github.com/unknown-horizons/unknown-horizons/issues/2345

[2017-05-04 04:09] squiddy commented on #2661
I thought so top, but  that's why I set skip_join to false. However, if you click 'show config' in Travis, the notifications part doesn't even show up. It's really weird.

[2017-05-04 04:11] squiddy commented on #2658
I'm curious, why would it make it easier?

Also I wouldn't really break compatibility with other releases from this year unless necessary.

[2017-05-04 05:34] AndyMender commented on #2660
I added handling for the unittest that was failing:
`python run_uh.py --start-scenario content/scenarios/tutorial_uk.yaml`
and also for absolute paths to the savegame.map .sqlite and scenario .yaml files.

[2017-05-04 06:08] squiddy commented on #2660
Once we have tests for the load-game functionality, I'd like to revisit the current implementation. I feel like it is more complex than before. We did however fix the scenario bug.

Having one function for all these things isn't a good idea IMO

[2017-05-04 06:09] squiddy commented on #2660
I'm probably going to write these tests this evening. I don't like the workaround I have to do, but that's a minor issue compared with having no test at all.

[2017-05-04 07:17] AndyMender commented on #2660
The current `_find_matching_map` function is more complex than before, because it tries to address both the scenario-containing dict and the map tuple very explicitly. I don't think that's good at all, because the structure of the `savegames` object is vastly different for both (not to mention that it's not "savegames" anymore in the case of the map editor).

I think we also need a separate ticket

[2017-05-04 10:39] LinuxDonald commented on #2658
Wouldn't it break savegame when I/we change Produktion lines from numbers to "Words/Text"?

[2017-05-04 10:39] LinuxDonald commented on #2658
Yeah breaking an release from this year is really not an good idea...

[2017-05-04 10:40] LinuxDonald commented on #2661
I will open an ticket on travis about this problem.

[2017-05-04 11:01] squiddy commented on #2658
That's what the savegame upgrader is for. I'm not suggesting here to remove it entirely, just the upgrade path from everything < 76. Which essentially means all upgrade code will be removed, but the infrastructure stays.

[2017-05-04 16:03] squiddy commented on #2661
Can you please post a link to your ticket here once submitted?

[2017-05-04 19:07] squiddy commented on #2661
I've experimented a bit with it and I've identified two issues so far:

1. the default nick seems to either be blocked or taken already, changing it to something else works, but only if ..
2. ... I use a new channel, in this case #travistest on freenode. Specifying only this channel works, as soon as I add a UH channel, no notifications are received anywhere.

My guess is that the travis bot might

[2017-05-04 19:44] squiddy commented on #2660
We still need more tests, this whole refactoring basically broke all gui tests that relied on loading specific scenarios / maps that are not in the `content/` directory.

[code]

[2017-05-04 20:39] AndyMender commented on #2660
Unfortunately, I had to implement some gimmicks for the path string, because the alternative was extracting the path from the `savegames` dict, which would be equally hackish. I think we need some sort of a consensus on which scenario loading approaches do we support (like the custom path method you specified).

I'll have a look at the code again and see how can I rebuild it or implement custom sc

[2017-05-05 11:02] AndyMender commented on #2660
@squiddy, I need to separate this code to be handled by two different functions:
https://github.com/unknown-horizons/unknown-horizons/edit/master/horizons/main.py#L416

One would handle the regular `savegames` tuple and the other the dict with locales. Is that alright or should we rather have a single `_find_matching_map` function with an extra True/False toggle?

[2017-05-05 19:22] AndyMender commented on #2660
I split the `_find_matching_map` function into `_find_scenario` and `_find_map` functions. Both are quite verbose, but they cover multiple ways of loading the .sqlite and .yaml files. To that end, _find_scenario is used only by `_start_map` if a game language locale is specified.

[2017-05-05 20:48] AndyMender commented on #1451
Issue in question resolved here: https://github.com/unknown-horizons/unknown-horizons/pull/2241. Tooltips not disappearing or being spawned multiple times is a common problem of some GUI widgets, but needs to be addressed on a per-widget basis (for instance, by reducing widget complexity). See https://github.com/unknown-horizons/unknown-horizons/issues/2648 for reference.

[2017-05-05 20:48] #1451 closed

[2017-05-05 21:58] AndyMender commented on #2303
For now I cannot reproduce this issue, though it's clear we have problems with widget size vs text. I am leaving this one opened.

[2017-05-06 10:27] AndyMender commented on #1974
The current traceback is as follows:
[code]
I silenced it by handling the `RuntimeError` exception in Python, but I feel it might hide a deeper issue on the line Python <> FIFE. @helios2000, any ideas?

[2017-05-06 16:47] AndyMender commented on #1379
I still need to work on the 315 angle for the brickyard.

[2017-05-06 20:15] AndyMender commented on #1379
The dynamic algorithm (using a quadratic equation) was still imperfect so I had to group buildings into sets 3x3, 2x2, 1x1, etc. and apply static offsets per each angle (45, 135, 225, 315). The brickyard is handled individually (a 2x4 building) and so will the charcoal be (2x3 building). Alas, I couldn't find a better way of handling the offsets so this "hack" was needed.

[2017-05-07 07:21] AndyMender commented on #1974
Traceback when SIGINT is sent during game loading:
[code]
Still, everything boils down to the `exithandler` function in run_uh.py that lets the traceback through.

[2017-05-07 16:09] AndyMender commented on #1974
For whatever reason the dirty `SIGINT` traceback cannot be captured either via a log file or handling `sys.excepthook` (which is done anyway by the `excepthook_creator` in debug mode). I tried every possible means of redirecting I could come up with and the only thing that actually "works" is simply silencing all traceback via `sys.tracebacklimit = 0`. Granted, this is done in a way that in debug

[2017-05-07 16:09] #1974 closed

[2017-05-07 16:39] AndyMender commented on #2658
I removed all upgrade methods and all upgrade calls for all savegame revisions prior to 76. However, I left a `_upgrade_to_rev77` placeholder and a `rev > 77` check so that it's immediately obvious in the future how to apply savegame upgrades.

[2017-05-07 16:49] AndyMender commented on #2219
@LinuxDonald, I think this is completed, right? :)

[2017-05-07 16:57] AndyMender commented on #1379
@squiddy, could you possibly have a look at this and state whether the proposed solution is at least acceptable? :)

[2017-05-07 17:00] AndyMender commented on #804
This is a deeper issue with how we load images onto the building tiles. Closing as this is more explicitly discussed in #1379 and a possible hack/solution was produced.

[2017-05-07 17:00] #804 closed

[2017-05-07 18:32] squiddy commented on #2658
Aaaand you broke the tests again. :|

That's why I explicitly mentioned that the tests need fixing. Now the master is broken again.

Perhaps we should force change to go through pull requests for everyone to avoid this in the future...

[2017-05-07 18:38] AndyMender commented on #2658
My apologies and I agree :(. For future bigger commits I will branch and create pull requests to avoid problems.

[2017-05-07 18:39] squiddy commented on #1379
@andymender Pushing changes into master and THEN asking whether things are acceptable is really not the way to go about this.

I suppose the changes are fine (I don't have time right now to look into this) though. I'll get back to you on this later.

[2017-05-07 21:26] LinuxDonald commented on #2219
Yeah I think it can be closed. The gui will maybe need later more work. Based on player feedback.

[2017-05-07 21:26] #2219 closed

[2017-05-08 04:58] AndyMender commented on #2658
I also noticed that https://github.com/unknown-horizons/unknown-horizons/blob/master/tests/game/test_savegame_upgrade.py and https://github.com/unknown-horizons/unknown-horizons/blob/master/tests/game/test_traderoute.py relied on a revision 49 savegame file, but they could not be loaded due to a `KeyError` with map coordinates and were eventually removed from the test suite. Also, test test_savega

[2017-05-08 05:17] AndyMender opened #2667 "importlib to replace imp module"
The Python imp module is being deprecated:
[code]

To that end, we can do the following:
A) remove the `imp` interface as it is used only for loading FIFE from a specific path defined via a command-line parameter (a branch with the respective adjustments is already there - remove-fife-commandline-loading)
B) seamlessly replace` imp` with` importlib` (new branch 2667-imp_to_importlib)

In an attemp

[2017-05-08 06:09] squiddy commented on #2658
Yeah, that upgrade test should be removed now. Or, better yet, the fixture replaced with a new version and the mark-decorator removed. This way, once someone adds a new upgrade it will be tested automatically.

[2017-05-08 06:11] squiddy commented on #2658
And yes, all the tests should run. I've opted to skip the two failing tests because otherwise the test runs would be falling all the time and we'd gain nothing from automated tests.

[2017-05-08 06:12] squiddy commented on #2667
That warning is about nose though, which will be removed soon anyway. Also, I've already replaced most uses of imp with importlib sometime in the last two weeks. There is a commit somewhere.

[2017-05-08 06:14] squiddy commented on #2667
You might be right with the Fife loading, I may not have checked that. :) Anyway, sounds good!

[2017-05-08 08:46] AndyMender commented on #2667
Yes, FIFE loading in run_uh.py (function `find_fife()`) still uses the legacy `imp` interface. The problem is that the Python Foundation has deprecated all of the simple interfaces to module finding and loading offered by `importlib` so now I need a workaround relying on classes and class methods like so: https://github.com/unknown-horizons/unknown-horizons/blob/d2c3ec475670f9b1dfd9fb19a7e22efd5a3

[2017-05-08 15:47] squiddy commented on #2658
@AndyMender Sorry about my earlier comment, it was unnecessary harsh. I might be a bit too sensitive when it comes to tests. :) When I joined this project, there was a custom test runner (which I replaced  387b7a6cc7b5f82a46fa7a78ff3ff78953042c16) with maybe 3 tests, two of them broken. I invested a lot of time into the infrastructure for tests, so it's sad to see them broken.

I didn't mean to di

[2017-05-08 15:58] AndyMender commented on #2658
I was not discouraged in the least bit. Rather, more encouraged to test my work before submitting.. I would like to learn more about the test infrastructure as I too believe that unittests and proper coverage are important for larger projects. We don't want our commits to start breaking stuff allover the place, right? :)

[2017-05-09 05:41] AndyMender commented on #2667
I investigated the use of `importlib` a bit. The module is going through some rapid changes and basic functionalities are incomplete (`find_module` is deprecated in favor of `find_spec`, but it needs to be defined in a child class, because neither `PathFinder` nor `MetaPathFinder` provide it). I'll try to switch the interface to `importlib`, but will note in a comment that this may break soon anyw

[2017-05-09 12:23] squiddy commented on #2667
It probably shouldn't be relevant for users. In the past IIRC some devs used the cmdline option.

Is this all really that complicated? All we're trying to do is import FIFE from a set of directories, right? Before using a third-party package, we might as well modify `sys.path` to include the directory and attempt an import.

[code]

[2017-05-09 13:08] AndyMender commented on #2667
We might as well do that. I wanted to rely on modifying `sys.path` as a last resort, because that's usually discouraged :).

[2017-05-09 13:11] squiddy commented on #2667
True. But even though I haven't fully understood the whole importlib module, at **some** you have to point **something** (Loader, Finder whatever) at a directory to look into. I don't think those are magically looking everywhere in the file system.

[2017-05-09 13:15] squiddy commented on #2667
What I'm trying to say is, even though *explicit* `sys.path` manipulation might be discouraged, in this case it is probably justified. At least when compared to including a third-party package or 20 lines of `Finder` / `Spec` / `Loader` boilerplate. :)

Then again, importing python modules from some completely different non-standard directory good to begin with.

[2017-05-09 13:16] AndyMender commented on #2667
I will then implement a quick `.insert` and `.pop` for `sys.path` to transiently go through `path in paths` as you outlined :).

[2017-05-09 13:21] squiddy commented on #2667
Yeah. I had a quick look at `pluginbase` and while it's definitely cool (I can imagine that's what powered the `from flask.ext import something` magic), right now it feels like overkill.

We'll see. I haven't tried the code I suggested, it might not work after all. :)

[2017-05-09 14:43] AndyMender commented on #2667
@squiddy, I added the corrections and will test today.

[2017-05-09 20:16] AndyMender commented on #2667
@squiddy, I added the corrections and will test today.

**EDIT:** Committed extra fixes and tested with the default FIFE loading directory at /usr/lib64/python3.6/site-packages/fife. I implemented a quick check to get just the parent directory surrounding the FIFE module as later we do `from fife import fife`.

[2017-05-09 20:20] squiddy commented on #2667
If you want feedback feel free to open a new pull request.

[2017-05-10 05:21] AndyMender commented on #2667
Implemented and merged: 498e49b8a5850f42a9b6dc07f83bdd306074993

[2017-05-10 05:21] #2667 closed

[2017-05-12 15:38] LinuxDonald commented on #2623
@janexx any news about it? :(

[2017-05-12 17:10] janexx commented on #2623
Yes! I have a building. :)
![0](https://cloud.githubusercontent.com/assets/6216898/26008762/702c9fa8-3746-11e7-97b9-1d26ac6ff203.png)

 Where can I upload it for testing?

[2017-05-14 16:46] mbol8309 opened #2678 "i cant install"
hi, i have fedora 25 and i followed all the steps of several pages and cant installit, please need detailed instuction how to installit in fedora 25, the errors when i tried to run it is:
Failed to use FIFE from <module 'fife' from '/home/****/fifengine/engine/python/fife/__init__.py'>
cannot import name 'fife'
Error: Failed to load module fife
Below directory paths were tested:
/home/****/fifengi

[2017-05-14 16:50] AndyMender commented on #2678
Have you followed this guide? http://docs.fifengine.net/developer-manual/en/
Also, how do you launch Unknown Horizons from the command-line specifically? It seems like the game is trying to pick up the FIFE module from a non-standard path and fails.

[2017-05-14 16:56] mbol8309 commented on #2678
i download from github in my home folder
then i run ./setup.py build_i18n and then ./run_uh.py
i followed a guide that show me that. and that guide that you told me, i followed that

PD:sorry for my bad english.

[2017-05-14 17:55] AndyMender commented on #2678
Do you perhaps have both the unknown-horizons repository and the fifengine repository in the same parent directory like so?
parent_dir/unknown-horizons
parent_dir/fifengine

This is known to not work properly due to the way run_uh.py searches for the FIFE module. Just in case, whereto did you install the FIFE module?

[2017-05-14 21:30] LinuxDonald commented on #2678
@mbol8309 fedora rpms for the engine you can find here:
fifengine: https://github.com/unknown-horizons/linux-packages/tree/master/fedora/fife/RPMS/F25
fifechan: https://github.com/unknown-horizons/linux-packages/tree/master/fedora/fifechan/RPMS/F25

For UH i dont have rpms yet.

[2017-05-15 19:38] kruug opened #2679 "Game not starting for non-admin on Windows 7/10"
Operating System: Windows 10 x64
Game Version: 2017.2

Problem:
Go to start UH, CMD windows pops up with

    Starting Unknown Horizons
    Output will be written to logfile

A white windows appears, disappears, and then CMD says "Press any key to continue..."  No logfile appears to be written either.

Not a local admin.  Installed using admin account to C:\Unknown-Horizons.  Trying to run the gam

[2017-05-15 21:17] AndyMender commented on #2679
Are you running the game from cmd.exe / command line? Any extra error output, like Python tracebacks?

[2017-05-15 21:34] kruug commented on #2679
I am running the game from the Start Menu entry.  Points to `C:\Unknown-Horizons\unknown-horizons\run_uh.bat`

When trying to run it from CMD, same issue.

No extra error output.  Nothing from python.

[2017-05-15 21:43] AndyMender commented on #2679
Did you install the game by running setup.py in the git repository? Also, do you have FIFE and fifechan installed?

[2017-05-15 22:11] kruug commented on #2679
No, I installed the game by running the downloaded `Unknown-Horizons-2017.2.147-Setup-VC14-x86.exe`.

[2017-05-17 15:06] squiddy opened #2681 ""ValueError: I/O operation on closed file." when exiting UH started with "--debug""
**Steps to reproduce**

1. `$ python run_uh.py --debug`
... lots of messages appearing ...
2. Exit the game via the menu
3. Game stops, exception is raised:

[code]

[2017-05-17 15:51] squiddy opened #2682 "Release 2017.2 advertising 2017.1 as newer release"
Just installed `Unknown-Horizons-2017.2.147-Setup-VC14-x86.exe` on Windows 7 and was greeted with this:

![2017-05-17 17_47_21-program manager](https://cloud.githubusercontent.com/assets/50333/26163187/306f5158-3b29-11e7-894b-41d9afeb05ef.png)

I would expect to not see this message at all. Also, the logfile path seems broken, I'm assuming it has something to do with the formatting.

[2017-05-17 15:54] LinuxDonald commented on #2682
It's an error with Web server. Last time Nightraven must update it on server side. I don't know how and where to change it to an new system.

[2017-05-17 15:55] squiddy opened #2683 "Map visible behind loading screen on high resolutions"
**Steps to reproduce**

1. Run UH in high resolution (in this case 2560x1440px)
2. Start development map
3. Observe how the map becomes visible behind the loading screen

![2017-05-17 17_52_34-greenshot](https://cloud.githubusercontent.com/assets/50333/26163393/e06f9f86-3b29-11e7-97c3-c1f7e58ca4e1.png)
![2017-05-17 17_52_35-greenshot](https://cloud.githubusercontent.com/assets/50333/26163394/e2e9e

[2017-05-17 15:56] squiddy commented on #2682
I haven't put much thought into it, but essentially it's just some static information at a given URL. Probably some JSON with the newest release version and link.

Something we could easily host with GitHub on our new homepage, e.g. `http://unknown-horizons.org/release-data.json`

[2017-05-17 16:03] kruug commented on #2679
Works with an account with Admin rights.  Doesn't work on "Regular" user account.

[2017-05-17 16:13] squiddy commented on #2682
`http://updates.unknown-horizons.org/current_version.php` is the URL we're calling, the response is simply

[code]

I see no reason why we couldn't update the URL for the new release to `http://unknown-horizons.org/current-version.json` and host that information statically.

[2017-05-17 16:14] squiddy commented on #2682
@LinuxDonald It would still be good to have the current file be updated, I was quite surprised to see that pop up right after start.

[2017-05-17 16:17] LinuxDonald commented on #2682
@squiddy could you maybe add that file? I don't know how to write/ how it must look like.

[2017-05-17 16:19] squiddy commented on #2682
I'm going to open a new issue to track the implementation. We should leave this one open to fix the current version info.

[2017-05-17 16:26] squiddy commented on #2635
It's working fine now.

[2017-05-17 16:26] #2635 closed

[2017-05-17 17:44] squiddy opened #2684 "Use new version info hosted at uh.org for version hint"
We're currently using the information at `http://updates.unknown-horizons.org/current_version.php`. To be more independent and to make updating that easier, it will be hosted at our homepage (see https://github.com/unknown-horizons/unknown-horizons.github.io/issues/8).

[2017-05-18 06:20] AndyMender commented on #2681
Did the debug mode work properly previously? I might have a look at this.

[2017-05-18 06:22] squiddy commented on #2681
No clue, haven't used it in a while. The logging still works fine though, it's just that there are exception raised when closing the game. Minor issue really.

[2017-05-18 13:53] LinuxDonald opened #2686 "Port horizons/ext/speaklater.py to our codestyle"
Because last upstream update on this modul is 5 years ago.
We have own changes to it.
We could add .format to it (https://github.com/unknown-horizons/unknown-horizons/pull/2685)

[2017-05-18 16:14] squiddy commented on #2684
Because the file is now hosted on our static homepage, I'll proceed to change the update info feature accordingly.

[2017-05-18 17:15] squiddy opened #2687 "Layout of popups broken"
I've had at least two instances of `Popup` that looked like this. The title should be moved down, the message up.

![2017-05-18-191400_1062x801_scrot](https://cloud.githubusercontent.com/assets/50333/26214847/29f921a2-3bfe-11e7-8500-7632c87fdaaf.png)